Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/nix/extract.ts
  lib/modules/manager/nix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use named groups
  lib/modules/manager/nix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

prettier-fix
  lib/modules/manager/nix/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/asdf): add uv plugin (#32029)
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f7358b316916a04f5ab980976696af3b9aeacfa7
Due: ls-lint, prettier --cache --ignore-unknown --write

fix
  lib/modules/manager/nuget/package-tree.ts
  lib/modules/manager/pip-compile/utils.ts
  tsconfig.json
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove comment
  tsconfig.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Fix modules
  lib/config/decrypt/openpgp.spec.ts
  lib/config/index.spec.ts
  lib/modules/manager/npm/update/package-version/index.spec.ts
  lib/modules/platform/azure/azure-got-wrapper.spec.ts
  lib/modules/platform/azure/azure-helper.spec.ts
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/codecommit/index.spec.ts
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/renovate.spec.ts
  lib/util/exec/containerbase.ts
  lib/util/regex.spec.ts
  lib/util/s3.spec.ts
  lib/workers/global/config/parse/index.spec.ts
  tools/check-fenced-code.mjs
  tools/static-data/generate-distro-info.mjs
  tools/static-data/generate-node-schedule.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(maven): Exclude pom checks for jetbrains registry
  lib/modules/datasource/maven/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Avoid rejecting releases when `extractVersion` is used
  lib/modules/datasource/postprocess-release.spec.ts
  lib/modules/datasource/postprocess-release.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(pep621): set Git insteadOf directives when updating pdm/uv locks
  lib/modules/manager/pep621/processors/pdm.spec.ts
  lib/modules/manager/pep621/processors/pdm.ts
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
  lib/modules/manager/pep621/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  0ec39652cd211c719790e0108fa2f60ffe5b701a
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: debug log when a branch would not be created because of the internalChecksFilter not being met
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update rust.md
  docs/usage/rust.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore: improve text for 'auto:environment' label-actions
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f66b8f9ab783d122549a860c3e427f73c645cef9
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(worker/autodiscover): retain repo order on filtering
  lib/workers/global/autodiscover.spec.ts
  lib/workers/global/autodiscover.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(worker/autodiscover): retain repo order on filtering (#32402)
  lib/workers/global/autodiscover.spec.ts
  lib/workers/global/autodiscover.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add tests
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  63151a42146bd23befa03dacfa2afc6a86647019
Due: ls-lint, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

improve log message
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add warning
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: improve text for 'auto:environment' label-actions (#32394)
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Fix indents
  lib/modules/manager/nuget/util.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove duplicated test
  lib/modules/manager/nuget/util.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Avoid rejecting releases when `extractVersion` is used (#32376)
  lib/modules/datasource/postprocess-release.spec.ts
  lib/modules/datasource/postprocess-release.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e5820b235ad6b50b79d6c3ec51eec8b04087a92b
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  addf4116874e079e8094e62f0317a180ab094f81
Due: ls-lint, prettier --cache --ignore-unknown --write

improve log messages
  lib/workers/repository/init/merge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config): set `npmToken` in `npmrc` when not in encrypted (#31815)
  lib/config/decrypt.ts
  lib/config/decrypt/legacy.spec.ts
  lib/workers/repository/init/merge.spec.ts
  lib/workers/repository/init/merge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2194c226b465587dfff1719addaff3aa8b213417
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(bitbucket-server): update runtime pr list (#32192)
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat: add asdf supported tools
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/config-overview.md
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

apply suggestinos
  lib/workers/repository/init/inherited.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(preset): Add SlackNet monorepo (#31589)
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
