Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: write Handlebars in uppercase
  docs/usage/config-presets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: fix typo
  docs/usage/config-presets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: add missing colon
  docs/usage/config-presets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Change cache key
  lib/modules/datasource/docker/dockerhub-cache.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix tests
  lib/modules/datasource/docker/dockerhub-cache.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

make macos14 available
  lib/modules/datasource/github-runners/index.spec.ts
  lib/modules/datasource/github-runners/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: udpdate readme
  lib/modules/datasource/github-runners/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(github-runners): make macos14 available (#28506)
  lib/modules/datasource/github-runners/index.spec.ts
  lib/modules/datasource/github-runners/index.ts
  lib/modules/datasource/github-runners/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(worker/repository): add normalized match for pip alertPackageRules (#28214)
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6e/389d76808a2ac49ee7fdab471d0f84e063c279
Due: ls-lint, prettier --cache --ignore-unknown --write

instance properties
  lib/modules/datasource/python-version/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove type
  lib/modules/datasource/python-version/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update tests
  lib/modules/datasource/python-version/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  lib/workers/global/config/parse/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Reduce fixtures even more
  lib/modules/datasource/python-version/__fixtures__/release.json
  lib/modules/datasource/python-version/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  df/bb054aeb5743b1a04f521956116ca7be31af82
Due: ls-lint, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/versioning/same-major/index.ts
  lib/modules/versioning/same-major/readme.md
  lib/modules/versioning/semver-coerced/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: apply suggestion
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Reduce even more
  lib/modules/datasource/python-version/__fixtures__/release.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Update readme
  lib/modules/datasource/python-version/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/modules/datasource/python-version/index.ts
  lib/modules/datasource/python-version/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(host-rules): Simplify ordering and matching
  lib/util/host-rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/util/host-rules.ts
  lib/util/host-rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Lint
  lib/modules/datasource/python-version/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(manager/gradle): add support for dep matching in lists that are nested in Groovy maps
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/assignments.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/datasource/python-version/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(manager/gradle): add support for dep matching in lists that are nested in Groovy maps (#28517)
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/assignments.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b4/189c809328ea0877595f9f1621b392762258eb
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(docker): Long-term cache for Docker Hub tags (#28489)
  lib/modules/datasource/docker/dockerhub-cache.spec.ts
  lib/modules/datasource/docker/dockerhub-cache.ts
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  56/9f28bd33c437c37e68a26f0bfbd2203ad959dc
Due: ls-lint, prettier --cache --ignore-unknown --write

use snaps
  lib/modules/manager/gitlabci/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/gitlabci/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/self-hosted-configuration.md
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

remove snap
  lib/modules/manager/gitlabci/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix test
  lib/modules/manager/gitlabci/__snapshots__/extract.spec.ts.snap
Due: ls-lint, prettier --cache --ignore-unknown --write

Add replacement rule for renamed package eslint-config-standard-with-typescript
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor test
  lib/modules/manager/gitlabci/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(gitlabci): add support for multidoc yaml (#28521)
  lib/modules/manager/gitlabci/__fixtures__/gitlab-ci.multi-doc.yaml
  lib/modules/manager/gitlabci/extract.spec.ts
  lib/modules/manager/gitlabci/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(go-submodule): add a test for the submodule in gitlab
  lib/modules/datasource/go/__fixtures__/go-get-submodule-gitlab.html
  lib/modules/datasource/go/base.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  20/d76117dc7c923138685bca8559c1f769f27840
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(preset/regex): add biome $schema
  lib/config/presets/internal/regex-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
