Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(config): expect JSONC parsing error
  lib/config/parse.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(config): migrate fallback-dependent JSON fixtures
  lib/config/presets/local/index.spec.ts
  lib/modules/platform/codecommit/index.spec.ts
  lib/workers/global/config/parse/__fixtures__/.renovaterc
  lib/workers/repository/reconfigure/utils.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore!: remove deprecated dnsCache host rule option
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/validation.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(agents): give the stop hook its own coverage directory (#46586)
  docs/development/local-development.md
  tools/agents/hooks/readme.md
  tools/agents/hooks/stop-check.spec.ts
  tools/agents/hooks/stop-check.ts
  tools/check/index.ts
  tools/check/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(agents): skip the stop hook check when nothing changed (#46588)
  tools/agents/hooks/readme.md
  tools/agents/hooks/stop-check.spec.ts
  tools/agents/hooks/stop-check.ts
  tools/agents/hooks/utils/git.spec.ts
  tools/agents/hooks/utils/git.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(docker): correct source URLs for container tools
  lib/data/source-urls.json
Due: ls-lint, prettier

fix(manager/dockerfile): extract images from all leading run mounts
  lib/modules/manager/dockerfile/extract.spec.ts
  lib/modules/manager/dockerfile/extract.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(manager/helmfile): clarify that each credential variable is used separately
  lib/modules/manager/helmfile/readme.md
Due: ls-lint, markdown-lint, prettier

fix(http): skip throttle and queue for cached responses
  lib/util/http/http.ts
  lib/util/http/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/mise): support remote include and git task files (#46611)
  lib/modules/manager/mise/dep-types.ts
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/mise/extract.ts
  lib/modules/manager/mise/git-reference.ts
  lib/modules/manager/mise/include.ts
  lib/modules/manager/mise/index.ts
  lib/modules/manager/mise/readme.md
  lib/modules/manager/mise/schema.spec.ts
  lib/modules/manager/mise/schema.ts
  lib/workers/repository/update/branch/auto-replace.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): pass the http client through the Datasource constructor
  lib/modules/datasource/bitbucket-server-tags/index.ts
  lib/modules/datasource/bitbucket-tags/index.ts
  lib/modules/datasource/bitrise/index.ts
  lib/modules/datasource/datasource.ts
  lib/modules/datasource/forgejo-releases/index.ts
  lib/modules/datasource/forgejo-tags/index.ts
  lib/modules/datasource/gitea-releases/index.ts
  lib/modules/datasource/gitea-tags/base.ts
  lib/modules/datasource/gitea-tags/index.ts
  lib/modules/datasource/github-digest/index.ts
  lib/modules/datasource/github-release-attachments/index.ts
  lib/modules/datasource/github-releases/index.ts
  lib/modules/datasource/github-tags/index.ts
  lib/modules/datasource/gitlab-packages/index.ts
  lib/modules/datasource/gitlab-releases/index.ts
  lib/modules/datasource/gitlab-tags/index.ts
  lib/modules/datasource/hermit/index.ts
  lib/modules/datasource/maven/index.ts
  lib/modules/datasource/rubygems/index.ts
  lib/modules/datasource/sbt-package/index.ts
  lib/modules/datasource/sbt-plugin/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): add fetchJson() helpers to the Datasource base class
  lib/modules/datasource/bitbucket-server-tags/index.ts
  lib/modules/datasource/buildpacks-registry/index.ts
  lib/modules/datasource/cdnjs/index.ts
  lib/modules/datasource/dart/index.ts
  lib/modules/datasource/datasource.spec.ts
  lib/modules/datasource/datasource.ts
  lib/modules/datasource/dotnet-version/index.ts
  lib/modules/datasource/elm-package/index.ts
  lib/modules/datasource/endoflife-date/index.ts
  lib/modules/datasource/flutter-version/index.ts
  lib/modules/datasource/galaxy-collection/index.ts
  lib/modules/datasource/galaxy/index.ts
  lib/modules/datasource/gitlab-releases/index.ts
  lib/modules/datasource/gradle-version/index.ts
  lib/modules/datasource/hex/index.ts
  lib/modules/datasource/jsr/index.ts
  lib/modules/datasource/node-version/index.ts
  lib/modules/datasource/orb/index.ts
  lib/modules/datasource/puppet-forge/index.ts
  lib/modules/datasource/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): share a base class across the git host *-tags datasources
  lib/modules/datasource/azure-tags/index.spec.ts
  lib/modules/datasource/azure-tags/index.ts
  lib/modules/datasource/bitbucket-server-tags/index.ts
  lib/modules/datasource/bitbucket-tags/index.ts
  lib/modules/datasource/git-host-tags.ts
  lib/modules/datasource/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): derive github-release-attachments from github-releases
  lib/modules/datasource/github-release-attachments/index.ts
  lib/modules/datasource/github-releases/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): share the GitLab URL helpers across the GitLab datasources
  lib/modules/datasource/gitlab-packages/index.spec.ts
  lib/modules/datasource/gitlab-packages/index.ts
  lib/modules/datasource/gitlab-releases/index.spec.ts
  lib/modules/datasource/gitlab-releases/index.ts
  lib/modules/datasource/gitlab-tags/index.ts
  lib/modules/datasource/gitlab-tags/util.ts
  lib/modules/datasource/go/common.ts
  lib/util/gitlab/url.spec.ts
  lib/util/gitlab/url.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): normalise github getDigest signatures
  lib/modules/datasource/datasource.ts
  lib/modules/datasource/github-release-attachments/index.spec.ts
  lib/modules/datasource/github-release-attachments/index.ts
  lib/modules/datasource/github-releases/index.spec.ts
  lib/modules/datasource/github-releases/index.ts
  lib/modules/datasource/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): share git-refs and git-tags ref handling
  lib/modules/datasource/git-refs/base.ts
  lib/modules/datasource/git-refs/index.spec.ts
  lib/modules/datasource/git-refs/index.ts
  lib/modules/datasource/git-tags/index.spec.ts
  lib/modules/datasource/git-tags/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): collapse the go datasource into one cache layer
  lib/modules/datasource/datasource.spec.ts
  lib/modules/datasource/datasource.ts
  lib/modules/datasource/go/base.ts
  lib/modules/datasource/go/common.ts
  lib/modules/datasource/go/index.spec.ts
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/releases-direct.spec.ts
  lib/modules/datasource/go/releases-direct.ts
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
  lib/modules/datasource/go/tag-datasources.ts
  lib/modules/datasource/go/types.ts
  lib/modules/manager/gomod/line-parser.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/terraform): avoid caching private provider hashes
  .oxlintrc.json
  lib/modules/manager/terraform/lockfile/hash.spec.ts
  lib/modules/manager/terraform/lockfile/hash.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(workers/branch): dedupe updatedArtifacts by path
  lib/workers/repository/update/branch/get-updated.spec.ts
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  8f2ffc0e9032639b4e1f3450f0ffa6923ccbe027
Due: ls-lint

fix(http): skip throttle and queue for cached responses (#46622)
  lib/util/http/http.ts
  lib/util/http/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(http): share concurrent identical cache provider requests
  lib/util/http/cache/memory-http-cache-provider.spec.ts
  lib/util/http/http.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  f3ec5e6b5166b327833f63a531179d89fd8fc9db
Due: ls-lint

fix(versioning/vcpkg): Compare values for equality
  lib/modules/versioning/vcpkg/index.spec.ts
  lib/modules/versioning/vcpkg/index.ts
  lib/modules/versioning/vcpkg/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(versioning/vcpkg): Collapse validity predicates
  lib/modules/versioning/vcpkg/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(versioning/vcpkg): Reject cross-scheme upgrades
  lib/modules/versioning/vcpkg/index.spec.ts
  lib/modules/versioning/vcpkg/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(versioning/vcpkg): Note why sorting falls back to 0
  lib/modules/versioning/vcpkg/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/go): check GitHub Tags for a later release timestamp
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/readme.md
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
  lib/modules/manager/gomod/integration.spec.ts
  lib/workers/repository/process/lookup/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(npm): pass packageJsonResult directly to hasDevEnginesPackageManager
  lib/modules/manager/npm/extract/common/package-file.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/go): check GitHub Tags for a later release timestamp (#46631)
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/readme.md
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
  lib/modules/manager/gomod/integration.spec.ts
  lib/workers/repository/process/lookup/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(npm): simplify malformed devEngines fixture
  lib/modules/manager/npm/extract/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(http): reuse cache providers for npm and typst lookups
  lib/modules/datasource/npm/get.spec.ts
  lib/modules/datasource/npm/get.ts
  lib/modules/datasource/typst/index.ts
  lib/util/http/http.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  57bd81f3ac029c200bf6e9b23461bf37afab4f2e
Due: ls-lint

feat(npm): support devEngines.runtime and devEngines.packageManager (#43369)
  docs/usage/node.md
  lib/modules/manager/bun/extract.spec.ts
  lib/modules/manager/npm/artifacts.spec.ts
  lib/modules/manager/npm/artifacts.ts
  lib/modules/manager/npm/dep-types.ts
  lib/modules/manager/npm/extract/common/dependency.spec.ts
  lib/modules/manager/npm/extract/common/dependency.ts
  lib/modules/manager/npm/extract/common/package-file.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/post/locked-versions.spec.ts
  lib/modules/manager/npm/extract/post/locked-versions.ts
  lib/modules/manager/npm/extract/types.ts
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/utils.spec.ts
  lib/modules/manager/npm/post-update/utils.ts
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/npm/post-update/yarn.ts
  lib/modules/manager/npm/types.ts
  lib/modules/manager/npm/update/dependency/index.spec.ts
  lib/modules/manager/npm/update/dependency/index.ts
  lib/workers/repository/updates/branchify.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  ff0e5eed2431611f064085d0f4605178322662c8
Due: ls-lint

refactor(manager/npm): type npm, yarn, bun and deno manager data
  lib/modules/manager/bun/extract.ts
  lib/modules/manager/deno/artifacts.spec.ts
  lib/modules/manager/deno/compat.spec.ts
  lib/modules/manager/deno/compat.ts
  lib/modules/manager/deno/schema.ts
  lib/modules/manager/deno/types.ts
  lib/modules/manager/deno/update.spec.ts
  lib/modules/manager/npm/artifacts.ts
  lib/modules/manager/npm/extract/common/dependency.ts
  lib/modules/manager/npm/extract/common/overrides.ts
  lib/modules/manager/npm/extract/common/package-file.ts
  lib/modules/manager/npm/extract/post/monorepo.spec.ts
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/modules/manager/npm/post-update/npm.ts
  lib/modules/manager/npm/post-update/yarn.ts
  lib/modules/manager/npm/types.ts
  lib/modules/manager/npm/update/dependency/index.spec.ts
  lib/modules/manager/npm/update/dependency/index.ts
  lib/modules/manager/types.ts
  lib/workers/repository/update/branch/lock-files/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(manager/python): type pep621, poetry, pipenv and pip manager data
  lib/modules/manager/homeassistant-manifest/schema.ts
  lib/modules/manager/pep621/processors/pdm.spec.ts
  lib/modules/manager/pep621/processors/pdm.ts
  lib/modules/manager/pep621/schema.ts
  lib/modules/manager/pep621/utils.ts
  lib/modules/manager/pip-compile/extract.ts
  lib/modules/manager/pip_requirements/extract.ts
  lib/modules/manager/pipenv/extract.ts
  lib/modules/manager/pipenv/types.ts
  lib/modules/manager/poetry/schema.ts
  lib/modules/manager/poetry/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(manager): type manager data of the remaining managers
  lib/modules/manager/ansible-galaxy/collections.ts
  lib/modules/manager/ansible-galaxy/extract.spec.ts
  lib/modules/manager/ansible-galaxy/types.ts
  lib/modules/manager/bundler/extract.ts
  lib/modules/manager/bundler/types.ts
  lib/modules/manager/cargo/extract.ts
  lib/modules/manager/cargo/schema.ts
  lib/modules/manager/composer/schema.ts
  lib/modules/manager/flux/extract.spec.ts
  lib/modules/manager/flux/extract.ts
  lib/modules/manager/gomod/extract.ts
  lib/modules/manager/gomod/line-parser.ts
  lib/modules/manager/gomod/types.ts
  lib/modules/manager/gomod/update.ts
  lib/modules/manager/gradle/extract.ts
  lib/modules/manager/helmfile/artifacts.ts
  lib/modules/manager/helmfile/types.ts
  lib/modules/manager/jsonnet-bundler/artifacts.ts
  lib/modules/manager/jsonnet-bundler/extract.ts
  lib/modules/manager/jsonnet-bundler/types.ts
  lib/modules/manager/pub/artifacts.ts
  lib/modules/manager/sbt/extract.ts
  lib/modules/manager/sbt/types.ts
  lib/modules/manager/terraform/base.ts
  lib/modules/manager/terraform/extractors/others/modules.ts
  lib/modules/manager/terraform/extractors/terraform-block/required-provider.ts
  lib/modules/manager/terraform/lockfile/index.ts
  lib/modules/manager/terraform/types.ts
  lib/util/schema-utils/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  oxlint --import-plugin --fix: any of: *.{js,cjs,mjs,mts,ts}
  biome check --write: any of: *.{js,cjs,mjs,mts,ts}
  prettier --write: any of: *.{js,cjs,mjs,mts,ts}
