Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

ci(workflows): add build steps to lint and type-check jobs
  .github/workflows/build.yml
  tools/check-fenced-code.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f12975284982ce90a36828752cd5fa76f818cc2d
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(schema): add `requiredIf` property for conditional schema validation
  lib/config/options/index.ts
  lib/config/types.ts
  tools/docs/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1730dc2ca50ba9f4f88ea33c658db977fb38b097
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3f8e4f1f09a114c472cedd5fc8b1298d528dc1a4
Due: ls-lint, prettier --cache --ignore-unknown --write

Update tools/check-fenced-code.mjs
  tools/check-fenced-code.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions
  lib/modules/manager/cargo/extract.spec.ts
  lib/modules/manager/util.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix lint
  lib/modules/manager/cargo/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  tools/docs/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: lint issue
  lib/modules/manager/mise/backends.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactored azure tags datasource
  lib/modules/datasource/azure-tags/index.ts
  lib/modules/platform/azure/azure-helper.spec.ts
  lib/modules/platform/azure/azure-helper.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: lint issue (#38154)
  lib/modules/manager/mise/backends.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/modules/datasource/azure-tags/index.spec.ts
  lib/modules/datasource/azure-tags/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/datasource/azure-tags/index.spec.ts
  lib/modules/datasource/azure-tags/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(replacements): add `clang-format` maintenance fork (#38144)
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8b86b8cdb4a3e36d6211e47a2e6a201f25f674da
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager/composer): Add support for `composer bump`
  docs/usage/configuration-options.md
  docs/usage/php.md
  lib/config/options/index.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.ts
  lib/modules/manager/composer/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bazel-module): Set registryUrls for rules_img repo rule
  lib/modules/manager/bazel-module/extract.spec.ts
  lib/modules/manager/bazel-module/rules-img.spec.ts
  lib/modules/manager/bazel-module/rules-img.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Upgrade ast-grep and tree-sitter packages
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Apply all current CR suggestions
  lib/modules/platform/azure/index.ts
  lib/modules/platform/azure/issue.spec.ts
  lib/modules/platform/azure/issue.ts
  lib/modules/platform/azure/types.ts
  lib/modules/platform/azure/util-workitem.spec.ts
  lib/modules/platform/azure/util-workitem.ts
  lib/modules/platform/azure/util.spec.ts
  lib/modules/platform/azure/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(npm): support yarn catalogs via yarn-plugin-catalogs (#37293)
  lib/config/index.spec.ts
  lib/modules/manager/npm/extract/common/package-file.spec.ts
  lib/modules/manager/npm/extract/common/package-file.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/yarn.spec.ts
  lib/modules/manager/npm/extract/yarn.ts
  lib/modules/manager/npm/index.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/modules/manager/npm/readme.md
  lib/modules/manager/npm/schema.ts
  lib/modules/manager/npm/update/dependency/index.spec.ts
  lib/modules/manager/npm/update/dependency/index.ts
  lib/modules/manager/npm/update/dependency/yarn.spec.ts
  lib/modules/manager/npm/update/dependency/yarn.ts
  lib/workers/repository/extract/extract-fingerprint-config.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor ast-grep anchor node handling
  lib/modules/manager/bundler/parser/common.ts
  lib/util/ast-grep.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add ast-grep ROOT_NODE match comment for clarity
  lib/util/ast-grep.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  cb695e3907895955fbf14ca094d0344b11d687b7
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/modules/manager/nix/extract.ts
  lib/modules/manager/nix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: explicitly set log messages
  lib/modules/manager/nix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8f6a62b618e8c21376d3beb376472700338312c8
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(bundler): Strip platform suffixes from locked versions
  lib/modules/manager/bundler/__snapshots__/locked-version.spec.ts.snap
  lib/modules/manager/bundler/locked-version.spec.ts
  lib/modules/manager/bundler/locked-version.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add test coverage for Bundler version extraction
  lib/modules/manager/bundler/locked-version.spec.ts
  lib/modules/manager/bundler/locked-version.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update snapshots
  lib/modules/manager/bundler/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/bundler/__snapshots__/gemfile.spec.ts.snap
Due: ls-lint, prettier --cache --ignore-unknown --write

Fix
  lib/modules/manager/bundler/locked-version.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bazel-module): Only set registryUrls on non-empty repository
  lib/modules/manager/bazel-module/extract.spec.ts
  lib/modules/manager/bazel-module/rules-img.spec.ts
  lib/modules/manager/bazel-module/rules-img.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d99a87ef832597d2466075310a75fa7fb2da3a38
Due: ls-lint, prettier --cache --ignore-unknown --write

Remove `confirmIfDepUpdated` hack
  lib/modules/manager/nix/extract.spec.ts
  lib/modules/manager/nix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

WIP
  lib/modules/manager/nix/extract.ts
  lib/modules/manager/nix/index.ts
  lib/modules/manager/nix/range.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
