Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,mts,ts}": [
    "oxlint --import-plugin --fix",
    "biome check --write",
    "prettier --write"
  ],
  "!(*.{js,cjs,mjs,mts,ts})": "prettier --ignore-unknown --write"
}

Update readme.my
  readme.md
Due: ls-lint, markdown-lint, prettier

docs: add a deep dive for how the container gets built
  docs/usage/.pages
  docs/usage/docker-build-process.md
Due: ls-lint, markdown-lint, prettier

fixup! docs: add a deep dive for how the container gets built
  docs/usage/docker-build-process.md
Due: ls-lint, markdown-lint, prettier

test(datasource/jenkins-plugins): use correct versioning (#42923)
  lib/modules/datasource/jenkins-plugins/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(datasource): add missing parentheses
  lib/modules/datasource/common.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource): handle both config and release constraints as a range
  lib/modules/datasource/common.spec.ts
  lib/modules/datasource/common.ts
  lib/modules/datasource/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Remove duplicate function
  lib/util/exec/containerbase.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! docs(constraints): document the possible `constraints` and `installTools` (#42837)
  lib/util/exec/containerbase.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test: coverage
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! ci: never cancel in-progress release jobs
  .github/workflows/build.yml
Due: ls-lint, prettier

fixup! fix(versioning/github-actions): treat floating tags as equal (#42809)
  .github/workflows/build.yml
Due: ls-lint, prettier

ci: never cancel in-progress release jobs (#42817)
  .github/workflows/build.yml
Due: ls-lint, prettier

feat(manager/mise): add support for clang-format (#42912)
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/mise/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(managers): rename `renovate-config-presets` to `renovate-config`
  docs/usage/key-concepts/minimum-release-age.md
  lib/config/migrations/custom/enabled-managers-migration.spec.ts
  lib/config/migrations/custom/enabled-managers-migration.ts
  lib/config/migrations/custom/match-managers-migration.spec.ts
  lib/config/migrations/custom/match-managers-migration.ts
  lib/modules/manager/api.ts
  lib/modules/manager/renovate-config/extract.spec.ts
  lib/modules/manager/renovate-config/extract.ts
  lib/modules/manager/renovate-config/index.ts
  lib/modules/manager/renovate-config/readme.md
  lib/modules/manager/renovate-config/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor: use `execa`
  tools/static-data/generate-mise-registry.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: use explicit repo URL for checking commits
  .github/workflows/build.yml
Due: ls-lint, prettier

perf(mise): read the Mise registry once
  lib/modules/manager/mise/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource): handle both config and release constraints as a range (#42922)
  lib/modules/datasource/common.spec.ts
  lib/modules/datasource/common.ts
  lib/modules/datasource/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: use explicit repo URL for checking commits (#42939)
  .github/workflows/build.yml
Due: ls-lint, prettier

Notes added by 'git notes add'
  858e70851041d31791ee72a2c24e1ebb44f1b491
Due: ls-lint

Notes added by 'git notes add'
  423aa9ff3f3205199baa45508ace4f1f73084e1d
Due: ls-lint

refactor(datasource/npm): extract defaultRegistryUrl constant (#42794)
  lib/config/presets/npm/index.spec.ts
  lib/modules/datasource/npm/common.ts
  lib/modules/datasource/npm/get.spec.ts
  lib/modules/datasource/npm/get.ts
  lib/modules/datasource/npm/index.spec.ts
  lib/modules/datasource/npm/index.ts
  lib/modules/datasource/npm/npmrc.spec.ts
  lib/modules/datasource/npm/npmrc.ts
  lib/modules/manager/npm/update/locked-dependency/common/parent-version.spec.ts
  lib/modules/manager/npm/update/locked-dependency/index.spec.ts
  lib/workers/repository/process/lookup/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(tools): pre-format output JSON files
  tools/static-data/utils.mjs
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(package-rules): respect each dep update's fetchChangeLogs value (#42671)
  docs/usage/configuration-options.md
  docs/usage/key-concepts/changelogs.md
  lib/config/options/index.ts
  lib/types/index.ts
  lib/util/package-rules/index.spec.ts
  lib/workers/repository/changelog/index.spec.ts
  lib/workers/repository/changelog/index.ts
  lib/workers/repository/changelog/types.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs: note cleanup after `enabled=false`
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier

refactor: directly use `prettier`
  tools/static-data/utils.mjs
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test
  lib/util/git/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  28e4144ed2041d45b0dc77b8152e2ad6061bf81f
Due: ls-lint

perf(mise): pre-transform
  lib/data/mise-registry.json
  lib/modules/manager/mise/schema.ts
  lib/modules/manager/mise/upgradeable-tooling.ts
  tools/docs/manager-mise-supported-plugins.ts
  tools/static-data/generate-mise-registry.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(git): drop line count from v8 ignore next
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

sq
  lib/util/git/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/gomod): improve `commitMessageTopic` for `go`/`toolchain` directive bumps (#42891)
  lib/modules/manager/gomod/extract.spec.ts
  lib/modules/manager/gomod/line-parser.spec.ts
  lib/modules/manager/gomod/line-parser.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! refactor: directly use `prettier`
  tools/static-data/utils.mjs
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  01a01f6b884ba34900594bd668e06df95b1712f9
Due: ls-lint

feat(vulnerability): Add vulnerability alerts to deps-end + lein
  lib/util/vulnerability/ecosystem.spec.ts
  lib/util/vulnerability/ecosystem.ts
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/process/vulnerabilities.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(update-date-cache): implement caching for branch update dates
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/git/update-date-cache.spec.ts
  lib/util/git/update-date-cache.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore: Code review feedback
  lib/workers/repository/init/vulnerability.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager): address proto manager PR review feedback
  lib/modules/manager/proto/__fixtures__/Prototools.1.toml
  lib/modules/manager/proto/extract.spec.ts
  lib/modules/manager/proto/extract.ts
  lib/modules/manager/proto/index.ts
  lib/modules/manager/proto/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

replace regex with `ini` parse
  lib/modules/manager/npm/post-update/npm.spec.ts
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(terraform-provider): derive OpenTofu sourceUrl from registry naming policy
  lib/modules/datasource/terraform-provider/index.spec.ts
  lib/modules/datasource/terraform-provider/index.ts
  lib/modules/datasource/terraform-provider/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write
