Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci(close-answered-discussions): reduce risk of secondary rate limits
  .github/workflows/close-answered-discussions/script.js
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci(close-answered-discussions): log `pageNumber` (#39377)
  .github/workflows/close-answered-discussions/script.js
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci(close-answered-discussions): reduce risk of secondary rate limits (#39378)
  .github/workflows/close-answered-discussions/script.js
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: use `codeBlock` template helper
  lib/modules/manager/kustomize/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/kustomize): prevent setting replaceString for OCI chart extraction with registry aliases (#39346)
  lib/modules/manager/kustomize/extract.spec.ts
  lib/modules/manager/kustomize/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: mention useBaseBranchConfig
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Apply Suggestions
  lib/workers/repository/update/pr/index.ts
  lib/workers/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply Suggestions
  lib/modules/manager/copier/artifacts.ts
  lib/modules/manager/homebrew/extract.ts
  lib/modules/versioning/nuget/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply Suggestions
  lib/modules/manager/custom/regex/index.spec.ts
  lib/modules/manager/custom/regex/strategies.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci(lock-threads): correctly set inactive days for discussions
  .github/workflows/lock.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

refactor: precompute paths
  lib/modules/manager/custom/regex/index.ts
  lib/modules/manager/custom/regex/strategies.ts
  lib/modules/manager/custom/regex/types.ts
  lib/modules/manager/custom/regex/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use empty object instead of undefined
  lib/util/template/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

replace undefined with empty object
  lib/util/template/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci(lock-threads): correctly set inactive days for discussions (#39382)
  .github/workflows/lock.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

test: replace undefined with empty object (#39383)
  lib/util/template/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci(release): notify to Slack on release pipeline failures
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f6f1428a401ada76787235266ba9eeec4c77e2e9
Due: ls-lint, prettier --cache --ignore-unknown --write

ci(release): notify to Slack on release pipeline failures (#39340)
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore: log `prNotPendingHours` (#39287)
  lib/workers/repository/update/pr/index.ts
  lib/workers/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(baseBranchPatterns): mention `useBaseBranchConfig` (#39381)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor(datasource/crate): Use mutex lock instead of Promise-based sync
  lib/modules/datasource/crate/index.spec.ts
  lib/modules/datasource/crate/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(github/graphql): Use mutex lock instead of Promise-based sync
  lib/util/github/graphql/datasource-fetcher.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(changelog): Use mutex lock instead of Promise-based sync
  lib/workers/repository/update/pr/changelog/release-notes.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: sort imports
  lib/modules/datasource/crate/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix release notes import order and add missing mutex import
  lib/workers/repository/update/pr/changelog/release-notes.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove unused import of acquireLock
  lib/modules/datasource/crate/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(datasource/crate): Use mutex lock instead of Promise-based sync (#39389)
  lib/modules/datasource/crate/index.spec.ts
  lib/modules/datasource/crate/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(copier): broken log message (#39230)
  lib/modules/manager/copier/artifacts.spec.ts
  lib/modules/manager/copier/artifacts.ts
  lib/modules/platform/forgejo/pr-cache.ts
  lib/modules/platform/gitea/pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f02a41786b621530a906d665e4b2aad413201c0d
Due: ls-lint, prettier --cache --ignore-unknown --write

template(helpers/add): handle undefined/null
  lib/util/template/index.spec.ts
  lib/util/template/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a6395062b9a235199ef7a37db4e1ce89eb8f4fb6
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(datasource): azure tags datasource (#38027)
  docs/usage/self-hosted-configuration.md
  lib/constants/platforms.ts
  lib/modules/datasource/api.ts
  lib/modules/datasource/azure-tags/index.spec.ts
  lib/modules/datasource/azure-tags/index.ts
  lib/util/cache/package/namespaces.ts
  lib/util/common.spec.ts
  lib/util/common.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6900f21f379a35d1fd1a22af6003fdfc77f8316e
Due: ls-lint, prettier --cache --ignore-unknown --write

ci(release): refactor release failure notifications
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Fix eslint errors
  lib/modules/manager/pre-commit/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: clarify no Discussions in Issue Template
  .github/pull_request_template.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(presets): allow `replacement`s to not be governed by `minimumReleaseAge`
  lib/config/presets/internal/security.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(minimumReleaseAge): clarify `replacement` and `lockFileMaintenance` support
  docs/usage/key-concepts/minimum-release-age.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(presets): allow `replacement`s to not be governed by `minimumReleaseAge` (#39401)
  lib/config/presets/internal/security.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(minimumReleaseAge): clarify `replacement` and `lockFileMaintenance` support (#39402)
  docs/usage/key-concepts/minimum-release-age.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
