Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add fabric8-kubernetes-client monorepo
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(datasource): Use `Result` utility class for lookups
  lib/modules/datasource/index.ts
  lib/modules/datasource/types.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/modules/versioning/schema.spec.ts
  lib/modules/versioning/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix default param
  lib/modules/versioning/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add fabric8-kubernetes-client monorepo (#21492)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(datasource): Use `Result` utility class for lookups (#23067)
  lib/modules/datasource/index.ts
  lib/modules/datasource/types.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(manager/npm): add test coverage for 'unknown-volta'
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/npm): add support for Volta's pnpm
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(manager/npm): update test coverage for volta's pnpm
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(manager/npm): update description of supported volta engines
  lib/modules/manager/npm/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e2/7424c833519d16d34bdd6b2b7aa7bf8a4d8163
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager/npm): add support for Volta's pnpm (#23069)
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

use stricter types
  lib/modules/manager/git-submodules/extract.spec.ts
  lib/modules/manager/git-submodules/update.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  55/8535e463d6a05d8795d768bb4b57e383fa4a7a
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(git-refs/git-tags): support authentication for private git repositories (#22983)
  lib/modules/datasource/git-refs/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/git-refs/base.ts
  lib/modules/datasource/git-refs/index.spec.ts
  lib/modules/datasource/git-tags/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/git-tags/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/config/defaults.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config): replace default constants with default factories (#22587)
  lib/config/defaults.spec.ts
  lib/config/defaults.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d2/257e1593e263ba621b0fe37b9d255c19135c1a
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7c/637cc945ec8bb18d8c0cc169d2c715ae582c9b
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(automerge)!: default to platformAutomerge=true (#21327)
  docs/usage/configuration-options.md
  docs/usage/key-concepts/automerge.md
  lib/config/options/index.ts
  lib/modules/platform/gitea/index.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: allow post upgrade templating by default (#21326)
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets)!: remove compatibility:additionalBranchPrefix (#22015)
  lib/config/presets/common.ts
  lib/config/presets/internal/compatibility.ts
  lib/config/presets/internal/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(npm)!: disable rollbackPrs for npm by default (#21970)
  docs/usage/configuration-options.md
  lib/config/index.spec.ts
  lib/modules/manager/npm/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(post-upgrade-tasks)!: enable dot option for file filters (#21282)
  docs/usage/configuration-options.md
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: merge matchPaths and matchFiles into matchFileNames (#22406)
  docs/usage/configuration-options.md
  lib/config/__snapshots__/migration.spec.ts.snap
  lib/config/migration.spec.ts
  lib/config/migrations/custom/automerge-major-migration.spec.ts
  lib/config/migrations/custom/automerge-minor-migration.spec.ts
  lib/config/migrations/custom/automerge-patch-migration.spec.ts
  lib/config/migrations/custom/package-rules-migration.spec.ts
  lib/config/migrations/custom/package-rules-migration.ts
  lib/config/options/index.ts
  lib/config/presets/internal/default.ts
  lib/config/types.ts
  lib/config/validation.ts
  lib/modules/manager/npm/extract/index.ts
  lib/util/package-rules/files.spec.ts
  lib/util/package-rules/files.ts
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/matchers.ts
  lib/util/package-rules/paths.spec.ts
  lib/util/package-rules/paths.ts
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/updates/flatten.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(package-rules)!: remove fuzzy matchPaths matching (#22394)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/paths.spec.ts
  lib/util/package-rules/paths.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(platform/gitlab)!: prefer `commit_email` (#21122
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: replace `dockerImagePrefix` with `dockerSidecarImage` (#22708)
  docs/usage/self-hosted-configuration.md
  lib/config/global.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/manager/bundler/artifacts.spec.ts
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/cocoapods/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/cocoapods/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gradle-wrapper/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/helmfile/artifacts.spec.ts
  lib/modules/manager/helmv3/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/helmv3/artifacts.spec.ts
  lib/modules/manager/maven-wrapper/artifacts.spec.ts
  lib/modules/manager/mix/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/mix/artifacts.spec.ts
  lib/modules/manager/nix/artifacts.spec.ts
  lib/modules/manager/npm/post-update/lerna.spec.ts
  lib/modules/manager/npm/post-update/npm.spec.ts
  lib/modules/manager/npm/post-update/pnpm.spec.ts
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/nuget/artifacts.spec.ts
  lib/modules/manager/pep621/artifacts.spec.ts
  lib/modules/manager/pep621/processors/pdm.spec.ts
  lib/modules/manager/pip-compile/artifacts.spec.ts
  lib/modules/manager/pip_requirements/artifacts.spec.ts
  lib/modules/manager/pipenv/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/pipenv/artifacts.spec.ts
  lib/modules/manager/poetry/artifacts.spec.ts
  lib/modules/manager/pub/artifacts.spec.ts
  lib/util/exec/docker/index.spec.ts
  lib/util/exec/docker/index.ts
  lib/util/exec/index.spec.ts
  renovate.json
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: remove `skipInstalls` config option (#22648)
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/types.ts
  lib/workers/repository/extract/extract-fingerprint-config.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(npm): support constraintsFiltering=strict (#22447)
  docs/usage/configuration-options.md
  lib/modules/datasource/index.ts
  lib/modules/datasource/npm/get.spec.ts
  lib/modules/datasource/npm/get.ts
  lib/modules/datasource/npm/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(release-notes)!: support configurable fetching stage (#22781)
  docs/usage/configuration-options.md
  lib/config/migrations/custom/fetch-release-notes-migration.spec.ts
  lib/config/migrations/custom/fetch-release-notes-migration.ts
  lib/config/migrations/migrations-service.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/repository/changelog/index.spec.ts
  lib/workers/repository/changelog/index.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
  lib/workers/repository/updates/branchify.spec.ts
  lib/workers/repository/updates/branchify.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: Revert "feat!: remove `skipInstalls` config option (#22648)"
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/types.ts
  lib/workers/repository/extract/extract-fingerprint-config.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource)!: default to the central default versioning (#23020)
  lib/modules/datasource/flutter-version/index.ts
  lib/modules/datasource/hexpm-bob/index.ts
  lib/modules/datasource/index.spec.ts
  lib/modules/datasource/index.ts
  lib/modules/versioning/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: remove BUILDPACK env support
  lib/modules/manager/bundler/artifacts.spec.ts
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/cocoapods/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/cocoapods/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gradle-wrapper/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/helmfile/artifacts.spec.ts
  lib/modules/manager/helmv3/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/maven-wrapper/artifacts.spec.ts
  lib/modules/manager/mix/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/nix/artifacts.spec.ts
  lib/modules/manager/npm/post-update/lerna.spec.ts
  lib/modules/manager/npm/post-update/npm.spec.ts
  lib/modules/manager/npm/post-update/pnpm.spec.ts
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/nuget/artifacts.spec.ts
  lib/modules/manager/pep621/artifacts.spec.ts
  lib/modules/manager/pep621/processors/pdm.spec.ts
  lib/modules/manager/pip-compile/artifacts.spec.ts
  lib/modules/manager/pip_requirements/artifacts.spec.ts
  lib/modules/manager/pipenv/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/pipenv/artifacts.spec.ts
  lib/modules/manager/poetry/artifacts.spec.ts
  lib/modules/manager/pub/artifacts.spec.ts
  lib/util/exec/containerbase.spec.ts
  lib/util/exec/containerbase.ts
  lib/util/exec/index.spec.ts
  lib/util/exec/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: fix docker exec test
  lib/util/exec/docker/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(package-rules)!: match packageName for matchPackageNames (#22703)
  docs/usage/self-hosted-experimental.md
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/package-names.spec.ts
  lib/util/package-rules/package-names.ts
  lib/util/package-rules/package-patterns.spec.ts
  lib/util/package-rules/package-patterns.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets)!: rename `config:base` to `config:recommended` (#21136)
  docs/development/creating-editing-renovate-presets.md
  docs/usage/config-presets.md
  docs/usage/configuration-options.md
  docs/usage/docker.md
  docs/usage/examples/self-hosting.md
  docs/usage/getting-started/installing-onboarding.md
  docs/usage/getting-started/use-cases.md
  docs/usage/java.md
  docs/usage/key-concepts/dashboard.md
  docs/usage/key-concepts/presets.md
  docs/usage/modules/manager/index.md
  docs/usage/reading-list.md
  docs/usage/semantic-commits.md
  lib/config/presets/common.ts
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/config.ts
  lib/modules/platform/codecommit/index.md
  lib/modules/platform/gitea/index.md
  lib/workers/global/config/parse/cli.spec.ts
  lib/workers/global/config/parse/cli.ts
  lib/workers/global/config/parse/file.spec.ts
  lib/workers/repository/init/merge.spec.ts
  test/e2e/package.json
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: drop Node v19 support
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(versioning): Add schema transform (#23047)
  lib/modules/versioning/index.ts
  lib/modules/versioning/regex/index.spec.ts
  lib/modules/versioning/schema.spec.ts
  lib/modules/versioning/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

go module
  lib/modules/datasource/go/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
