Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(mix): redirect archives cache
  lib/modules/manager/mix/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  320eba3d82707254e218dc2553fb7c22e5e39f49
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7d33e365d377b5589e7af7e690a1285fcef8c0a1
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(reading list): remove link to release notes page (#35803)
  docs/usage/reading-list.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(npm/pnpm): redirect cache and store dir
  lib/modules/manager/npm/post-update/pnpm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(mix): redirect archives cache (#35806)
  lib/modules/manager/mix/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(npm/pnpm): redirect cache and store dir (#35807)
  lib/modules/manager/npm/post-update/pnpm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add docs to make clear that reviewers are only added on MR creation
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8fb6a9c89e7c293895c5a4ae861596c97601a189
Due: ls-lint, prettier --cache --ignore-unknown --write

build: drop obsolete re2 patch
  package.json
  patches/re2.patch
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

ci: fix node version install
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Implemented different branch merge strategies
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/update/branch/automerge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add necessary functions for dynamic Release file retrieval
  lib/modules/datasource/deb/__fixtures__/InReleaseBookworm
  lib/modules/datasource/deb/__fixtures__/InReleaseInvalid
  lib/modules/datasource/deb/__fixtures__/Release
  lib/modules/datasource/deb/packages.spec.ts
  lib/modules/datasource/deb/packages.ts
  lib/modules/datasource/deb/readme.md
  lib/modules/datasource/deb/release.spec.ts
  lib/modules/datasource/deb/release.ts
  lib/modules/datasource/deb/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: drop obsolete re2 patch (#35810)
  package.json
  patches/re2.patch
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  cc6a883df3645331ea92478be173aa2bcb5d5c5c
Due: ls-lint, prettier --cache --ignore-unknown --write

ci: fix node version install (#35811)
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c48922f8b0322045123dbf621f552713d06548c2
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor: Make package caching params explicit
  lib/modules/datasource/maven/util.ts
  lib/modules/datasource/npm/get.ts
  lib/util/http/cache/package-http-cache-provider.spec.ts
  lib/util/http/cache/package-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Added information about Developer Platform APIs to Credentials doc for Mend-hosted apps
  docs/usage/mend-hosted/credentials.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Added information about authenticating the APIs with GitHub tokens
  docs/usage/mend-hosted/credentials.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Minor tweak to wording
  docs/usage/mend-hosted/credentials.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

make sync optional
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.ts
  lib/workers/repository/process/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(bumpVersions): do not set allowed values as it is a template field
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update community.ts
  lib/modules/manager/github-actions/community.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(parser): support JSON5 parsing for URLs containing “.json5”
  lib/config/presets/gitlab/index.ts
  lib/util/common.ts
  lib/util/url.spec.ts
  lib/util/url.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(parser): support JSON5 parsing for URLs containing “.json5”
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add `mvdan-sh` replacement `sh-syntax`
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(bumpVersions): do not set allowed values as it is a template field (#35819)
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  deebaf204c7754715456702f2c0f88eca7a0fe42
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5cc3918986fbaeecbb1adfe053a3c60e1f7f35cb
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/modules/versioning/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor: Make package caching params explicit (#35815)
  lib/modules/datasource/maven/util.ts
  lib/modules/datasource/npm/get.ts
  lib/util/http/cache/package-http-cache-provider.spec.ts
  lib/util/http/cache/package-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  479266ff5200b67707d922bed47c4115da6a57a8
Due: ls-lint, prettier --cache --ignore-unknown --write

Fix tests
  lib/modules/platform/gitlab/index.ts
  lib/workers/repository/update/pr/code-owners.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1ccef360b24cbf2a0700273646e931bc72d21401
Due: ls-lint, prettier --cache --ignore-unknown --write

Reimplement Gitlab codeowners parser as a function
  lib/modules/platform/gitlab/code-owners.spec.ts
  lib/modules/platform/gitlab/code-owners.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d83c150e3d4352a5cb3c8d58b8b9b946c52054b3
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: fix bumpVersions example for charts
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5f712a81a4a19a214835545dce2b201beb45e43c
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: fix bumpVersions example for charts (#35830)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
