Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

fix(lerna): don’t use packages if v7 or higher (#23756)
  docs/development/adding-a-package-manager.md
  lib/modules/manager/npm/extract/__snapshots__/monorepo.spec.ts.snap
  lib/modules/manager/npm/extract/monorepo.spec.ts
  lib/modules/manager/npm/extract/monorepo.ts
  readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/pub): add to extract flutter as a dependency
  lib/modules/manager/pub/__fixtures__/extract.yaml
  lib/modules/manager/pub/__fixtures__/update.yaml
  lib/modules/manager/pub/artifacts.spec.ts
  lib/modules/manager/pub/artifacts.ts
  lib/modules/manager/pub/extract.spec.ts
  lib/modules/manager/pub/extract.ts
  lib/modules/manager/pub/schema.ts
  lib/modules/manager/pub/utils.spec.ts
  lib/modules/manager/pub/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  03/c8ef7344bc2b022c1790967d152d8b60a5d975
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(bundler): update patch, minor, major separately
  lib/modules/manager/bundler/artifacts.spec.ts
  lib/modules/manager/bundler/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add test coverage for extract
  lib/modules/manager/pub/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: possibility to change Repository Problems header in dependency dashboard issue (#23551)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.ts
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
  lib/workers/repository/dependency-dashboard.spec.ts
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  15/cfe4becec074da27bbf38ef9378d0636c1bd98
Due: ls-lint, prettier --cache --ignore-unknown --write

considered more pr comments
  lib/modules/datasource/github-runners/index.ts
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix test runs
  lib/modules/datasource/github-runners/index.ts
  lib/modules/manager/github-actions/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix linting
  lib/modules/datasource/github-runners/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

improve readability
  lib/modules/datasource/github-runners/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixed test data
  lib/modules/datasource/github-runners/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github-actions): support GitHub actions runners (#23633)
  lib/modules/datasource/api.ts
  lib/modules/datasource/github-runners/index.spec.ts
  lib/modules/datasource/github-runners/index.ts
  lib/modules/datasource/github-runners/readme.md
  lib/modules/manager/github-actions/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/index.ts
  lib/modules/manager/github-actions/readme.md
  lib/modules/manager/github-actions/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1e/caab241d4ffd769630eb3ac03797465fc2de7e
Due: ls-lint, prettier --cache --ignore-unknown --write

remove hollow fns from custom/index
  lib/modules/manager/custom/index.ts
  lib/modules/manager/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: readd size
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(bazelisk): use semver versioning
  lib/modules/manager/bazelisk/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: remove unsued import
  lib/modules/manager/bundler/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: prettier
  lib/modules/manager/bundler/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4c/933b655da4de8b04ab0157e266b3d0ceec8c88
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(bundler): update patch, minor, major separately (#23770)
  lib/modules/manager/bundler/artifacts.spec.ts
  lib/modules/manager/bundler/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(bazelisk): use semver versioning (#23771)
  lib/modules/manager/bazelisk/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5e/31c69a31a39361e7e227bfa89e0c14870d1a92
Due: ls-lint, prettier --cache --ignore-unknown --write

Improve error messsage
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: better description for `best-practices` preset
  lib/config/presets/internal/config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Mention advanced users
  lib/config/presets/internal/config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Prettier fix
  lib/config/presets/internal/config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use pgp when signature verification is enabled
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

call lockfile and verification cmd in one exec
  lib/modules/manager/gradle/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(configuration options): improve `vulnerabilityAlerts` text
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore: better description for `best-practices` preset (#23773)
  lib/config/presets/internal/config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  fe/1bd6b30d50eba8fe6ecf8d2e9655be36a81f00
Due: ls-lint, prettier --cache --ignore-unknown --write

Revert to old sentence
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(configuration options): improve `vulnerabilityAlerts` text (#23778)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

apply suggestions
  lib/config/index.ts
  lib/config/validation-helpers/managers.ts
  lib/config/validation.ts
  lib/modules/manager/index.ts
  lib/workers/repository/extract/extract-fingerprint-config.ts
  lib/workers/repository/extract/index.ts
  tools/docs/config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/modules/manager/custom/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix lint issue
  lib/modules/manager/custom/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/pub): extract missing version dependencies
  lib/modules/manager/pub/artifacts.ts
  lib/modules/manager/pub/extract.spec.ts
  lib/modules/manager/pub/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove feature from platorms with no html comment support in prs
  lib/workers/repository/onboarding/branch/rebase.spec.ts
  lib/workers/repository/onboarding/branch/rebase.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/rebase.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
