Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixup! feat(manager/helmfile): allow forward slashes in OCI chart names
  lib/modules/manager/helmfile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixup! feat(manager/helmfile): allow forward slashes in OCI chart names
  lib/modules/manager/helmfile/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/platform/bitbucket/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

platform(pr-cache): rename addPr -> setPr
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/pr-cache.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/gitea/pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(manager/haskell-cabal): fix pkg name extraction
  lib/modules/manager/haskell-cabal/extract.spec.ts
  lib/modules/manager/haskell-cabal/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(manager/haskell-cabal): fix spelling of boolean
  lib/modules/manager/haskell-cabal/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix implementation after #32789
  lib/modules/datasource/maven/index.spec.ts
  lib/modules/datasource/maven/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(platform): rename `addPr` to `setPr` (#33174)
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/pr-cache.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/gitea/pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(versioning): PVP only handles widen. Not auto.
  lib/modules/versioning/pvp/index.spec.ts
  lib/modules/versioning/pvp/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Inline poetry fixture
  lib/modules/manager/poetry/__fixtures__/pyproject.13.toml
  lib/modules/manager/poetry/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Inline pep621 fixture
  lib/modules/manager/pep621/__fixtures__/pyproject_with_template.toml
  lib/modules/manager/pep621/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixup! feat(manager/helmfile): allow forward slashes in OCI chart names
  lib/modules/manager/helmfile/extract.spec.ts
  lib/modules/manager/helmfile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6857f95cc75885295e8692ec4978055be9e9e26f
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/workers/repository/process/lookup/index.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(platform/bitbucket): ensure `getPrList()` runtime integrity (#32970)
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3ee48571b0aa39d81ce13fb44f01404a7f6a3bc4
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: revert #32968
  lib/util/promises.ts
  lib/workers/repository/process/fetch.spec.ts
  lib/workers/repository/process/fetch.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/buildpacks/extract.ts
  lib/modules/manager/buildpacks/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/datasource/buildpacks-registry/index.ts
  lib/modules/datasource/buildpacks-registry/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: revert lookup refactor from #32930 (#33184)
  lib/util/promises.ts
  lib/workers/repository/process/fetch.spec.ts
  lib/workers/repository/process/fetch.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/workers/repository/process/lookup/generate.ts
  lib/workers/repository/process/lookup/generate.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4daa85386b0525a27aa6ae97053b6ac3222c0260
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply Suggestions
  lib/workers/global/limits.ts
  lib/workers/repository/process/limits.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add file sizes (#2)
  lib/modules/datasource/artifactory/__fixtures__/releases-as-files.html
Due: ls-lint, prettier --cache --ignore-unknown --write

Adding a few opentelemtry and graphql related monorepos
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(yaml): less aggressive jinja2 stripping
  lib/util/yaml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

reduce regex
  lib/util/yaml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: Add support for Bun's text-format lockfile
  lib/modules/manager/bun/artifacts.spec.ts
  lib/modules/manager/bun/extract.spec.ts
  lib/modules/manager/bun/extract.ts
  lib/modules/manager/bun/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Adjust tests to removed replaceString
  lib/modules/datasource/buildpacks-registry/index.spec.ts
  lib/modules/manager/buildpacks/extract.spec.ts
  lib/modules/manager/buildpacks/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(git): cloneSubmodulesFilter (#33115)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/__snapshots__/index.spec.ts.snap
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/git/types.ts
  lib/workers/repository/init/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e27fe66980c5aa4b54ad2a4d30e425df3d318ada
Due: ls-lint, prettier --cache --ignore-unknown --write

chore(manager/haskell-cabal): on rangeStrategy=auto, set widen
  lib/modules/manager/haskell-cabal/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix prettier finding
  lib/modules/manager/buildpacks/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(manager/haskell-cabal): Run prettier again
  lib/modules/manager/haskell-cabal/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(preset): adding opentelemetry and graphql monorepos (#33188)
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Adjust debug logs
  lib/modules/manager/poetry/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Simplify file matcher for Bun package locks
  lib/modules/manager/bun/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
