Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Fix merge issue
  lib/modules/datasource/crate/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! review comments
  lib/modules/datasource/pypi/index.spec.ts
  lib/modules/datasource/pypi/index.ts
  lib/modules/datasource/pypi/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! fix(datasource/npm): handle absent `homepage`s
  lib/modules/datasource/npm/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  a1453aed50c932447366c9115e335f5698cad051
Due: ls-lint

chore(AGENTS.md): tune the PR template + PR raising etiquette
  AGENTS.md
Due: ls-lint, markdown-lint, prettier

test(git): disable Git's maintenance in test repositories
  lib/util/git/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! fixup! review comments
  lib/modules/datasource/pypi/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/pypi/index.spec.ts
  lib/modules/datasource/pypi/index.ts
  lib/modules/datasource/pypi/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(AGENTS.md): tune the PR template + PR raising etiquette (#45311)
  AGENTS.md
Due: ls-lint, markdown-lint, prettier

test(git): disable Git's maintenance in test repositories (#45310)
  lib/util/git/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/npm): handle absent `homepage`s (#45219)
  lib/modules/datasource/npm/schema.spec.ts
  lib/modules/datasource/npm/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(datasource/pypi): add regression
  lib/modules/datasource/pypi/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(datasource/pypi): add regression test for `constraintsFiltering=strict` (#45312)
  lib/modules/datasource/pypi/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  116c3d610cef921a21b0f9ab965a229a54b8fa8e
Due: ls-lint

test(datasource/pypi): cover which `upload_time` a version reports
  lib/modules/datasource/pypi/__fixtures__/numpy.json
  lib/modules/datasource/pypi/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/pypi): use the earliest `upload_time` of a version
  lib/modules/datasource/pypi/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/pypi/index.spec.ts
  lib/modules/datasource/pypi/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/pypi): use the earliest `upload_time` of a version (#45313)
  lib/modules/datasource/pypi/__fixtures__/numpy.json
  lib/modules/datasource/pypi/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/pypi/index.spec.ts
  lib/modules/datasource/pypi/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  e942788539ef6e39a054c3111f1fb8062a520474
Due: ls-lint

fix(datasource/go): prefer later `releaseTimestamp` from GitHub Releases
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/readme.md
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
  lib/modules/manager/gomod/integration.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(mise): handle empty lockfile AST
  lib/modules/manager/mise/artifacts.spec.ts
  lib/modules/manager/mise/update-locked.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(github): recognize another "needs approving review" message (#45052)
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/go): prefer later `releaseTimestamp` from GitHub Releases (#45315)
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/readme.md
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
  lib/modules/manager/gomod/integration.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  d8705054b0f0a1a9d866b767f6879d6cccf4305c
Due: ls-lint

Notes added by 'git notes add'
  01a6df82045004ffd379810d435d491e86d596cd
Due: ls-lint

Notes added by 'git notes add'
  803f154a6b6003343e6078c83a8126c398a0d19f
Due: ls-lint

feat(manager): add pants manager
  lib/modules/manager/api.ts
  lib/modules/manager/pants/__fixtures__/BUILD.pants
  lib/modules/manager/pants/__fixtures__/app-requirements.txt
  lib/modules/manager/pants/__fixtures__/empty/BUILD.pants
  lib/modules/manager/pants/__fixtures__/empty/requirements.txt
  lib/modules/manager/pants/__fixtures__/no-source/BUILD.pants
  lib/modules/manager/pants/__fixtures__/pyproject/BUILD.pants
  lib/modules/manager/pants/__fixtures__/pyproject/pyproject.toml
  lib/modules/manager/pants/__fixtures__/requirements.txt
  lib/modules/manager/pants/extract.spec.ts
  lib/modules/manager/pants/extract.ts
  lib/modules/manager/pants/index.ts
  lib/modules/manager/pants/parser.ts
  lib/modules/manager/pants/readme.md
  lib/modules/manager/pants/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(manager/pants): inline test data instead of fixtures
  lib/modules/manager/pants/__fixtures__/BUILD.pants
  lib/modules/manager/pants/__fixtures__/app-requirements.txt
  lib/modules/manager/pants/__fixtures__/empty/BUILD.pants
  lib/modules/manager/pants/__fixtures__/empty/requirements.txt
  lib/modules/manager/pants/__fixtures__/no-source/BUILD.pants
  lib/modules/manager/pants/__fixtures__/pyproject/BUILD.pants
  lib/modules/manager/pants/__fixtures__/pyproject/pyproject.toml
  lib/modules/manager/pants/__fixtures__/requirements.txt
  lib/modules/manager/pants/extract.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/pants): support poetry_requirements
  lib/modules/manager/pants/extract.spec.ts
  lib/modules/manager/pants/extract.ts
  lib/modules/manager/pants/parser.ts
  lib/modules/manager/pants/readme.md
  lib/modules/manager/pants/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/pants): support uv_requirements
  lib/modules/manager/pants/extract.spec.ts
  lib/modules/manager/pants/extract.ts
  lib/modules/manager/pants/parser.ts
  lib/modules/manager/pants/readme.md
  lib/modules/manager/pants/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor: remove escapeRegExp and replace with RegExp.escape
  lib/modules/datasource/deb/checksum.ts
  lib/modules/manager/ant/properties.ts
  lib/modules/manager/bazel/rules/http.ts
  lib/modules/manager/github-actions/community.ts
  lib/modules/manager/gradle/extract/catalog.ts
  lib/modules/manager/homebrew/utils.ts
  lib/modules/manager/mise/backends.spec.ts
  lib/modules/manager/mise/backends.ts
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/npm/update/dependency/index.ts
  lib/modules/manager/pip_requirements/artifacts.ts
  lib/modules/manager/swift/artifacts.ts
  lib/modules/manager/terraform/lockfile/index.ts
  lib/util/regex.ts
  lib/workers/repository/finalize/prune.ts
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/update/branch/auto-replace.ts
  vitest.config.mts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

apply suggestions
  lib/modules/datasource/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  2fb8ad4da9f555b81ea18c857d8c1f8c9c90af7b
Due: ls-lint

apply suggestions
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/git/instrument.ts
  lib/util/git/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor: remove escapeRegExp and replace with RegExp.escape (#45322)
  lib/modules/datasource/deb/checksum.ts
  lib/modules/manager/ant/properties.ts
  lib/modules/manager/bazel/rules/http.ts
  lib/modules/manager/github-actions/community.ts
  lib/modules/manager/gradle/extract/catalog.ts
  lib/modules/manager/homebrew/utils.ts
  lib/modules/manager/mise/backends.spec.ts
  lib/modules/manager/mise/backends.ts
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/npm/update/dependency/index.ts
  lib/modules/manager/pip_requirements/artifacts.ts
  lib/modules/manager/swift/artifacts.ts
  lib/modules/manager/terraform/lockfile/index.ts
  lib/util/regex.ts
  lib/workers/repository/finalize/prune.ts
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/update/branch/auto-replace.ts
  vitest.config.mts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! review comments
  lib/modules/datasource/pypi/index.spec.ts
  lib/modules/datasource/pypi/index.ts
  lib/modules/datasource/pypi/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! review comments
  lib/modules/datasource/pypi/readme.md
Due: ls-lint, markdown-lint, prettier

reword
  lib/modules/datasource/pypi/readme.md
Due: ls-lint, markdown-lint, prettier

fixup! review comments
  lib/modules/datasource/pypi/__fixtures__/numpy-simple.json
  lib/modules/datasource/pypi/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! fixup! review comments
  lib/modules/datasource/pypi/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  oxlint --import-plugin --fix: any of: *.{js,cjs,mjs,mts,ts}
  biome check --write: any of: *.{js,cjs,mjs,mts,ts}
  prettier --write: any of: *.{js,cjs,mjs,mts,ts}
