Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(development): add reference to PR template
  AGENTS.md
Due: ls-lint, markdown-lint, prettier

docs(development): reference filenames for Discussion templates
  AGENTS.md
Due: ls-lint, markdown-lint, prettier

feat(publish): generate npm-shrinkwrap.json at release time
  .gitignore
  package.json
  tools/generate-npm-shrinkwrap.mjs
  tools/prepare-release.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(config): mark `exposeAllEnv` as advanced
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(config): mark `exposeAllEnv` as advanced (#43438)
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs: add the `mise` version into docs (#43420)
  lib/data/mise-registry.json
  lib/modules/manager/mise/schema.ts
  lib/modules/manager/mise/types.ts
  lib/modules/manager/mise/upgradeable-tooling.ts
  tools/docs/manager-mise-supported-plugins.ts
  tools/static-data/generate-mise-registry.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/maven): treat rate-limit errors for Maven Central mirror as Maven Central (#43432)
  lib/modules/datasource/maven/common.spec.ts
  lib/modules/datasource/maven/common.ts
  lib/modules/datasource/maven/util.spec.ts
  lib/modules/datasource/maven/util.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(data): automatic update of static data
  lib/data/mise-registry.json
  lib/data/node-js-schedule.json
Due: ls-lint, prettier

docs(development): add start of agent-assisted contribution guidelines (#43437)
  .github/pull_request_template.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: ls-lint, markdown-lint, prettier

chore(config-validator): make it clearer how many file(s) are being validated (#43284)
  lib/config-validator.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  2832648ddab4ca3496d490b670ec5d6d5d90d3b9
Due: ls-lint

docs: add a "deep dive" on environment variables
  docs/usage/.pages
  docs/usage/environment-variable-handling.md
  lib/util/exec/env.ts
  tools/docs/env-vars.ts
  tools/docs/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! docs: add a "deep dive" on environment variables
  docs/usage/.pages
  docs/usage/environment-variable-handling.md
  lib/util/exec/env.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! docs: add a "deep dive" on environment variables
  docs/usage/environment-variable-handling.md
Due: ls-lint, markdown-lint, prettier

fixup! fixup! docs: add a "deep dive" on environment variables
  docs/usage/environment-variable-handling.md
Due: ls-lint, markdown-lint, prettier

fixup! docs: add a "deep dive" on environment variables
  docs/usage/.pages
  docs/usage/environment-variable-handling.md
  docs/usage/templates.md
Due: ls-lint, markdown-lint, prettier

docs(manager/mise): note when short tool name is no longer supported
  tools/docs/manager-mise-supported-plugins.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! docs: add a "deep dive" on environment variables
  tools/docs/env-vars.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  1f22c5eaf7208f6abfe3346bf67462e4c3131667
Due: ls-lint

refactor: prefer templates rather than `+`
  lib/logger/index.spec.ts
  lib/logger/pretty-stdout.spec.ts
  lib/modules/datasource/deb/index.spec.ts
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/hackage/index.spec.ts
  lib/modules/datasource/jsr/util.spec.ts
  lib/modules/datasource/maven/util.spec.ts
  lib/modules/datasource/rubygems/versions-endpoint-cache.spec.ts
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/haskell-cabal/extract.spec.ts
  lib/modules/manager/helmv3/artifacts.spec.ts
  lib/modules/manager/nix/artifacts.spec.ts
  lib/modules/platform/gerrit/client.spec.ts
  lib/modules/versioning/maven/index.spec.ts
  lib/util/cache/repository/impl/s3.spec.ts
  lib/util/exec/docker/index.spec.ts
  lib/util/git/index.spec.ts
  lib/util/git/private-key.spec.ts
  lib/util/github/graphql/cache-strategies/memory-cache-strategy.spec.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.spec.ts
  lib/util/http/gerrit.spec.ts
  lib/util/http/github.spec.ts
  lib/util/markdown.spec.ts
  lib/workers/repository/config-migration/branch/create.spec.ts
  lib/workers/repository/config-migration/branch/migrated-data.spec.ts
  lib/workers/repository/config-migration/branch/rebase.spec.ts
  lib/workers/repository/dependency-dashboard.spec.ts
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/onboarding/branch/rebase.spec.ts
  lib/workers/repository/process/vulnerabilities.spec.ts
  lib/workers/repository/update/pr/changelog/bitbucket-server/index.spec.ts
  lib/workers/repository/update/pr/changelog/bitbucket/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  6882582b9d5b552fedc14162f9fcd5fe0b27d6ac
Due: ls-lint

fix(gitea): retry automerge until mergeable + reattempt on update
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/rebar): address review feedback
  lib/modules/manager/rebar/extract.spec.ts
  lib/modules/manager/rebar/extract.ts
  lib/modules/manager/rebar/index.ts
  lib/modules/manager/rebar/readme.md
  tools/docs/manager.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(manager/mise): note when short tool name is no longer supported (#43421)
  tools/docs/manager-mise-supported-plugins.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/github-tags): use GitHub Release `published_at` for `releaseTimestamp`
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/github-tags/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/github-tags): use GitHub Release `published_at` for `releaseTimestamp` (#43451)
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/github-tags/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(poetry): remove pyproject.toml solver logic
  lib/modules/manager/poetry/artifacts.spec.ts
  lib/modules/manager/poetry/artifacts.ts
  lib/modules/manager/poetry/schema.spec.ts
  lib/modules/manager/poetry/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

style: apply prettier formatting
  lib/modules/manager/poetry/artifacts.spec.ts
  lib/modules/manager/poetry/schema.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor: prefer templates rather than `+` in test files (#43441)
  lib/logger/index.spec.ts
  lib/logger/pretty-stdout.spec.ts
  lib/modules/datasource/deb/index.spec.ts
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/hackage/index.spec.ts
  lib/modules/datasource/jsr/util.spec.ts
  lib/modules/datasource/maven/util.spec.ts
  lib/modules/datasource/rubygems/versions-endpoint-cache.spec.ts
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/haskell-cabal/extract.spec.ts
  lib/modules/manager/helmv3/artifacts.spec.ts
  lib/modules/manager/nix/artifacts.spec.ts
  lib/modules/platform/gerrit/client.spec.ts
  lib/modules/versioning/maven/index.spec.ts
  lib/util/cache/repository/impl/s3.spec.ts
  lib/util/exec/docker/index.spec.ts
  lib/util/git/index.spec.ts
  lib/util/git/private-key.spec.ts
  lib/util/github/graphql/cache-strategies/memory-cache-strategy.spec.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.spec.ts
  lib/util/http/gerrit.spec.ts
  lib/util/http/github.spec.ts
  lib/util/markdown.spec.ts
  lib/workers/repository/config-migration/branch/create.spec.ts
  lib/workers/repository/config-migration/branch/migrated-data.spec.ts
  lib/workers/repository/config-migration/branch/rebase.spec.ts
  lib/workers/repository/dependency-dashboard.spec.ts
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/onboarding/branch/rebase.spec.ts
  lib/workers/repository/process/vulnerabilities.spec.ts
  lib/workers/repository/update/pr/changelog/bitbucket-server/index.spec.ts
  lib/workers/repository/update/pr/changelog/bitbucket/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  5fa2c6a51941d188db445355a1dc67cd8a26ecba
Due: ls-lint

Apply suggestions from code review
  lib/modules/platform/azure/azure-got-wrapper.ts
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/issue.ts
  lib/modules/platform/azure/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(config/validation): skip validation for templated presets
  lib/config/validation.spec.ts
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(poetry): address review comments
  docs/usage/key-concepts/minimum-release-age.md
  lib/modules/manager/poetry/artifacts.spec.ts
  lib/modules/manager/poetry/artifacts.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix: revert unrelated types cleanup
  lib/util/exec/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(gitea): document RENOVATE_X_GITEA_AUTO_MERGEABLE_CHECK_* env vars
  docs/usage/self-hosted-experimental.md
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(manager/npm): apply post-update review nits
  lib/modules/manager/npm/post-update/pnpm.ts
  lib/modules/manager/npm/post-update/utils.ts
  lib/modules/manager/npm/post-update/yarn.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(logger): handle too-long ??
  lib/logger/with-sanitizer.spec.ts
  lib/logger/with-sanitizer.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  oxlint --import-plugin --fix: any of: *.{js,cjs,mjs,mts,ts}
  biome check --write: any of: *.{js,cjs,mjs,mts,ts}
  prettier --write: any of: *.{js,cjs,mjs,mts,ts}
