Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,mts,ts}": [
    "biome check --write --formatter-enabled=false --linter-enabled=false",
    "prettier --write"
  ],
  "!(*.{js,cjs,mjs,mts,ts})": "prettier --ignore-unknown --write"
}

feat(manager): add pkgbuild manager for Arch Linux packages
  lib/modules/manager/api.ts
  lib/modules/manager/pkgbuild/extract.spec.ts
  lib/modules/manager/pkgbuild/extract.ts
  lib/modules/manager/pkgbuild/index.spec.ts
  lib/modules/manager/pkgbuild/index.ts
  lib/modules/manager/pkgbuild/readme.md
  lib/modules/manager/pkgbuild/types.ts
  lib/modules/manager/pkgbuild/update.spec.ts
  lib/modules/manager/pkgbuild/update.ts
Due: ls-lint, markdown-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

review
  lib/modules/versioning/deno/index.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

Notes added by 'git notes add'
  44c535be5ee03cf33e570648e7360e04b1fe1a1f
Due: ls-lint

Notes added by 'git notes add'
  56ae9b15c753e39a14078ca7a961f9c1adda6949
Due: ls-lint

Add test case to improve coverage
  lib/modules/manager/cake/index.spec.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

docs: auto-generate config filenames
  docs/usage/configuration-options.md
  tools/docs/config.ts
Due: ls-lint, markdown-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

feat(manager): add cake-sdk manager for Cake.Sdk build scripts
  lib/modules/manager/api.ts
  lib/modules/manager/cake-sdk/index.spec.ts
  lib/modules/manager/cake-sdk/index.ts
  lib/modules/manager/cake-sdk/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

Fix typo
  lib/util/http/got.spec.ts
  lib/util/http/got.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

fix(datasource/docker): don't pass hostrule to http options
  lib/modules/datasource/docker/common.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

fix(got): set `rejectUnauthorized=false` when `NODE_TLS_REJECT_UNAUTHORIZED=0` is set (#41308)
  lib/util/http/got.spec.ts
  lib/util/http/got.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

chore: full coverage for platforms
  .github/workflows/build.yml
  lib/modules/platform/azure/azure-helper.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket-server/pr-cache.ts
  lib/modules/platform/bitbucket-server/utils.ts
  lib/modules/platform/bitbucket/comments.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/pr-cache.ts
  lib/modules/platform/bitbucket/utils.ts
  lib/modules/platform/codecommit/index.ts
  lib/modules/platform/comment.ts
  lib/modules/platform/forgejo/index.ts
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gerrit/scm.ts
  lib/modules/platform/gerrit/utils.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/massage-markdown-links.ts
  lib/modules/platform/github/schema.spec.ts
  lib/modules/platform/github/schema.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/gitlab/utils.ts
  lib/modules/platform/index.spec.ts
  lib/modules/platform/index.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

fix(datasource/docker): don't pass hostrule to http options (#41317)
  lib/modules/datasource/docker/common.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

Notes added by 'git notes add'
  3ac23ec833c8d50b6efef9b932c59ea67362e5e9
Due: ls-lint

Notes added by 'git notes add'
  f05c3eed57e7a39accd7b51d58262bc87019b873
Due: ls-lint

test: full coverage for platforms (#41318)
  .github/workflows/build.yml
  lib/modules/platform/azure/azure-helper.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket-server/pr-cache.ts
  lib/modules/platform/bitbucket-server/utils.ts
  lib/modules/platform/bitbucket/comments.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/pr-cache.ts
  lib/modules/platform/bitbucket/utils.ts
  lib/modules/platform/codecommit/index.ts
  lib/modules/platform/comment.ts
  lib/modules/platform/forgejo/index.ts
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gerrit/scm.ts
  lib/modules/platform/gerrit/utils.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/massage-markdown-links.ts
  lib/modules/platform/github/schema.spec.ts
  lib/modules/platform/github/schema.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/gitlab/utils.ts
  lib/modules/platform/index.spec.ts
  lib/modules/platform/index.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

fix(workers/global): migrate string-based `repositoryCacheForceLocal`
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

test(workers/global): clarify empty `X_REPO_CACHE_FORCE_LOCAL` does not get migrated
  lib/workers/global/config/parse/env.spec.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

chore(workers/global): improve error message on parsing environment vars
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

fix(workers/global): migrate string-based `repositoryCacheForceLocal` (#41323)
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

chore(workers/global): improve error message on parsing environment vars (#41324)
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

Notes added by 'git notes add'
  47460acce2d88903833d61e37760b611b078c63f
Due: ls-lint

build: use `@redis/client` instad of `redis`
  lib/util/cache/package/redis.spec.ts
  lib/util/cache/package/redis.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

feat: Add Hex V2 signature verification and public key caching
  lib/modules/datasource/hex/index.spec.ts
  lib/modules/datasource/hex/index.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

feat: Improve Hex V2 coverage tests
  lib/modules/datasource/hex/index.spec.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

fix: Address PR review comments
  lib/modules/datasource/hex/index.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

ci(build): don't cancel Workflow (if in-progress release)
  .github/workflows/build.yml
Due: ls-lint, prettier

fix: Replace protobuf enum with const object for Node.js strip-only TS mode
  .prettierignore
  lib/modules/datasource/hex/v2/package.ts
  lib/modules/datasource/hex/v2/readme.md
  lib/modules/datasource/hex/v2/signed.ts
Due: ls-lint, markdown-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

test(logger): clarify that `logger.once` doesn't use function parameters
  lib/logger/once.spec.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

test(logger): clarify that `logger.once` doesn't use function parameters (#41331)
  lib/logger/once.spec.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

fix(config): presets in repositories array are merged in wrong order (#40898)
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

feat: add `commitHourlyLimit` (#36226)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/presets/internal/default.preset.ts
  lib/config/types.ts
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/scm.spec.ts
  lib/modules/platform/gerrit/scm.ts
  lib/modules/platform/gerrit/types.ts
  lib/modules/platform/gerrit/utils.spec.ts
  lib/modules/platform/gerrit/utils.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/cache/repository/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/git/set-branch-commit.spec.ts
  lib/util/git/set-branch-commit.ts
  lib/workers/global/limits.spec.ts
  lib/workers/global/limits.ts
  lib/workers/repository/cache.ts
  lib/workers/repository/dependency-dashboard.ts
  lib/workers/repository/onboarding/pr/pr-list.spec.ts
  lib/workers/repository/onboarding/pr/pr-list.ts
  lib/workers/repository/process/limits.spec.ts
  lib/workers/repository/process/limits.ts
  lib/workers/repository/process/write.spec.ts
  lib/workers/repository/process/write.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

feat(logger): take function parameters into account for deduplication
  lib/logger/once.spec.ts
  lib/logger/once.ts
  lib/logger/renovate-logger.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

feat(manager/nuget): Support single file package directives (#40040)
  lib/modules/manager/nuget/extract.spec.ts
  lib/modules/manager/nuget/extract.ts
  lib/modules/manager/nuget/extract/single-csharp-file.ts
  lib/modules/manager/nuget/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

Notes added by 'git notes add'
  5505b52d75183e5d8efc2e0a09e9fcec493f0fab
Due: ls-lint

Notes added by 'git notes add'
  d955edf7943d1b41f61517012d22d06d6b0078e6
Due: ls-lint

feat(manager/mise): add support for gh
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/mise/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

fix(vulnerabilities): fix CJS interop for ae-cvss-calculator import
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

fix(vulnerability): handle alerts with null or missing `firstPatchedVersion`
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

build: use `@redis/client` instad of `redis` (#41326)
  lib/util/cache/package/redis.spec.ts
  lib/util/cache/package/redis.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, biome check --write --formatter-enabled=false --linter-enabled=false, prettier --write

Notes added by 'git notes add'
  5bdd5640c4f95882fd34cd133fa77dbae11896d3
Due: ls-lint
