Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(http/github): log warning if Github secondary rate limit is hit (#20074)
  lib/util/http/github.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: add new option `constraintsFiltering` (#19992)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/datasource/index.spec.ts
  lib/modules/datasource/index.ts
  lib/modules/datasource/pypi/index.spec.ts
  lib/modules/datasource/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(release-notes): Leverage cached GraphQL (#19717)
  lib/workers/repository/update/pr/changelog/github.spec.ts
  lib/workers/repository/update/pr/changelog/github/index.ts
  lib/workers/repository/update/pr/changelog/index.spec.ts
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
  lib/workers/repository/update/pr/changelog/release-notes.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(sbt): extract variableName (#19540)
  lib/modules/manager/sbt/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/sbt/extract.spec.ts
  lib/modules/manager/sbt/extract.ts
  lib/modules/manager/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cache): default cacheHardTtlMinutes to 24 hours
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: default to rangeStrategy=auto, prefer update-lockfile (#19942)
  lib/config/options/index.ts
  lib/config/presets/common.ts
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/config.ts
  lib/config/presets/internal/default.ts
  lib/modules/manager/cargo/index.ts
  lib/modules/manager/cargo/range.spec.ts
  lib/modules/manager/cargo/range.ts
  lib/modules/manager/circleci/extract.ts
  lib/modules/manager/circleci/index.ts
  lib/modules/manager/circleci/range.spec.ts
  lib/modules/manager/circleci/range.ts
  lib/modules/manager/composer/range.spec.ts
  lib/modules/manager/composer/range.ts
  lib/modules/manager/conan/index.ts
  lib/modules/manager/conan/range.spec.ts
  lib/modules/manager/conan/range.ts
  lib/modules/manager/gomod/extract.spec.ts
  lib/modules/manager/gomod/extract.ts
  lib/modules/manager/index.ts
  lib/modules/manager/npm/range.spec.ts
  lib/modules/manager/npm/range.ts
  lib/modules/manager/range.spec.ts
  lib/modules/manager/swift/index.ts
  lib/modules/manager/swift/range.spec.ts
  lib/modules/manager/swift/range.ts
  lib/workers/repository/config-migration/branch/__fixtures__/migrated-data-formatted.json
  lib/workers/repository/config-migration/branch/__fixtures__/migrated-data.json
  lib/workers/repository/config-migration/branch/__fixtures__/migrated-data.json5
  lib/workers/repository/config-migration/branch/__fixtures__/migrated.json
  lib/workers/repository/config-migration/branch/__fixtures__/renovate.json
  lib/workers/repository/config-migration/branch/__fixtures__/renovate.json5
  lib/workers/repository/config-migration/pr/__fixtures__/migrated-data.json
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c7/d4c39ac9a07d09b8838b51800d0d2f697b1b3a
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(go)!: default GOPROXY value
  lib/modules/datasource/go/index.spec.ts
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add missing test case
  lib/modules/manager/swift/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: deprecate node v16
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  01/c1c92771519403978553cacce12d4aea352e42
Due: ls-lint, prettier --cache --ignore-unknown --write

remove side effect
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: improve documentation around fileMatch being additive
  docs/usage/configuration-options.md
  docs/usage/modules/manager/index.md
  tools/docs/manager.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

style: one sentence per line
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(go)!: default GOPROXY (#20081)
  lib/modules/datasource/go/index.spec.ts
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/readme.md
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: non-zero defaults for PR concurrent, hourly limits (#19958)
  lib/config/options/index.ts
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/config.ts
  lib/modules/platform/codecommit/index.md
  lib/workers/repository/process/limits.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cache): default cacheHardTtlMinutes to 24 hours (#20079)
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: deprecate Node.js <18 for Renovate runtime
  docs/usage/self-hosted-experimental.md
  lib/workers/global/index.ts
  package.json
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/self-hosted-experimental.md
  docs/usage/self-hosted-experimental.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: add snippet on how to auth maven with gitlab pipelines
  docs/usage/java.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

move to private packages
  docs/usage/getting-started/private-packages.md
  docs/usage/java.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: issue 20064
  lib/modules/manager/maven-wrapper/artifacts.spec.ts
  lib/modules/manager/maven-wrapper/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: some cleaning
  lib/modules/manager/maven-wrapper/artifacts.spec.ts
  lib/modules/manager/maven-wrapper/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

main: add debug
  lib/modules/manager/maven-wrapper/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

info not warn
  lib/workers/global/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/getting-started/private-packages.md
  docs/usage/getting-started/private-packages.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

main: use extra env options instead of adding it to the command
  lib/modules/manager/maven-wrapper/artifacts.spec.ts
  lib/modules/manager/maven-wrapper/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

apply suggestion
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(rubygems): Fetch metadata for rubygems
  lib/config/presets/internal/workarounds.ts
  lib/modules/datasource/rubygems/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

sort
  docs/usage/configuration-templates.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

drop if
  lib/workers/global/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/woodpecker/index.ts
  lib/modules/manager/woodpecker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lib/util/http/github.spec.ts: clean environment in beforeEach
  lib/util/http/github.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: log when using fine-grained PATs
  lib/modules/platform/github/index.md
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/workers/global/config/parse/__snapshots__/env.spec.ts.snap
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs
  docs/usage/configuration-options.md
  lib/modules/manager/regex/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
