Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Update docs/usage/release-notes-for-major-versions.md
  docs/usage/release-notes-for-major-versions.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fixed links to credentials page
  docs/usage/getting-started/private-packages.md
  docs/usage/mend-hosted/migrating-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/release-notes-for-major-versions.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Be less surprised
  lib/modules/versioning/hex/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Handle `extractVersion` with release post-processing
  lib/modules/datasource/common.ts
  lib/modules/datasource/maven/index.ts
  lib/modules/datasource/postprocess-release.spec.ts
  lib/modules/datasource/postprocess-release.ts
  lib/modules/datasource/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix tests
  lib/modules/datasource/common.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(gradle): correct requirements to process verification-metadata (#32534)
  lib/modules/manager/gradle/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c238db058a957cc9e44296bf86913c690fe38a19
Due: ls-lint, prettier --cache --ignore-unknown --write

Drop punctuation at end of list item, small rewrite
  docs/usage/release-notes-for-major-versions.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(git): fix gpg commit signing (#32483)
  lib/util/git/private-key.spec.ts
  lib/util/git/private-key.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

rename Renovate Dashboard to Mend.io Dashboard
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Address lint error
  lib/util/git/private-key.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add rust toolchain to version/api.ts
  lib/modules/versioning/api.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Try to fix bad link
  docs/usage/release-notes-for-major-versions.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add getNewValue tests
  lib/modules/versioning/rust-toolchain/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(uv): support GCloud credentials for Google Artifact Registry when locking
  lib/modules/datasource/util.ts
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/gomod): Remove toolchain specifier - not needed now
  lib/modules/manager/gomod/__fixtures__/3/go-mod
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: release notes for Renovate v39 (#32504)
  docs/usage/release-notes-for-major-versions.md
  tools/mkdocs/mkdocs.yml
  tools/mkdocs/overrides/main.html
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add tests for Google auth not configured
  lib/modules/manager/pep621/processors/uv.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6c75b77ecd4ee1089d022650e05ddbcf28af8b37
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(datasource/go): support gitea tags
  lib/modules/datasource/go/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/go/base.spec.ts
  lib/modules/datasource/go/base.ts
  lib/modules/datasource/go/index.spec.ts
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/releases-direct.spec.ts
  lib/modules/datasource/go/releases-direct.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

allow multiple limits
  lib/config/types.ts
  lib/workers/global/limits.spec.ts
  lib/workers/global/limits.ts
  lib/workers/repository/process/limits.spec.ts
  lib/workers/repository/process/limits.ts
  lib/workers/repository/process/write.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove comment
  lib/workers/global/limits.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/global/limits.spec.ts
  lib/workers/global/limits.ts
  lib/workers/repository/process/write.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix types
  lib/workers/repository/process/limits.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/workers/global/limits.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/repository/update/branch/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove typos
  lib/workers/repository/update/pr/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a79fd606ebbce416d84a897d61d00281cdb38258
Due: ls-lint, prettier --cache --ignore-unknown --write

Revert to use toolchain, but later version
  lib/modules/manager/gomod/__fixtures__/3/go-mod
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(datasource/go): support gitea tags (#32555)
  lib/modules/datasource/go/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/go/base.spec.ts
  lib/modules/datasource/go/base.ts
  lib/modules/datasource/go/index.spec.ts
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/releases-direct.spec.ts
  lib/modules/datasource/go/releases-direct.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  85dd14938a21c673cf4ec2763ef29b606f79290b
Due: ls-lint, prettier --cache --ignore-unknown --write

chore(manager/gomod): Update go toolchain specifier in test (#32546)
  lib/modules/manager/gomod/__fixtures__/3/go-mod
Due: ls-lint, prettier --cache --ignore-unknown --write

fix linting
  lib/modules/manager/nuget/util.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bundler): add source variables support (#32337)
  lib/modules/manager/bundler/extract.spec.ts
  lib/modules/manager/bundler/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a1c51509770a734d06b8fb9b771fbc79ca4cea3c
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(logs): don't log all packageFiles when checking for deprecated
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Move disabledPackageSources closer to where it's used
  lib/modules/manager/nuget/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
