Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,mts,ts}": [
    "oxlint --import-plugin --fix",
    "biome check --write",
    "prettier --write"
  ],
  "!(*.{js,cjs,mjs,mts,ts})": "prettier --ignore-unknown --write"
}

fix(manager/github-actions): treat `flutter-version` as a range
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/known-actions/github-releases.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/github-actions): treat setup-beam's versions as ranges
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/known-actions/github-releases-dynamic.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/github-actions): don't pin partial `java-version`s
  lib/config/presets/internal/workarounds.preset.ts
  lib/config/presets/internal/workarounds.spec.ts
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/known-actions/java-version-dynamic.ts
  lib/modules/manager/github-actions/known-actions/multiple.ts
  lib/modules/manager/github-actions/known-actions/utils.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/github-actions): don't pin partial `install-crystal` versions
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/known-actions/github-releases-dynamic.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/github-actions): don't pin partial `ruby-version`s
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/known-actions/ruby-version.ts
  lib/modules/manager/github-actions/known-actions/utils.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/github-actions): treat GitVersion's `versionSpec` as a range
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/known-actions/github-releases.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/github-actions): treat `dotnet-version` as a range
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/known-actions/dotnet-version.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/terragrunt): detect forgejo-tags datasource for git-tag sources (#46202)
  lib/modules/manager/terragrunt/__fixtures__/2.hcl
  lib/modules/manager/terragrunt/__fixtures__/3.hcl
  lib/modules/manager/terragrunt/__fixtures__/4.hcl
  lib/modules/manager/terragrunt/extract.spec.ts
  lib/modules/manager/terragrunt/modules.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(util/template): Add uppercase helper (#46205)
  docs/usage/templates.md
  lib/util/template/index.spec.ts
  lib/util/template/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(mend-hosted): move environment variables to their own page
  docs/usage/mend-hosted/.pages
  docs/usage/mend-hosted/environment-variables.md
  docs/usage/mend-hosted/faq.md
Due: ls-lint, markdown-lint, prettier

docs(mend-hosted): clarify Enterprises can change `inheritConfig*`
  docs/usage/mend-hosted/hosted-apps-config.md
Due: ls-lint, markdown-lint, prettier

Notes added by 'git notes add'
  3abfaacabcb25ad6b6a6dfe6f1620ec44b3d91b0
Due: ls-lint

refactor(datasource/rpm): remove "gzip" from identifiers
  lib/modules/datasource/rpm/index.spec.ts
  lib/modules/datasource/rpm/index.ts
  lib/modules/datasource/rpm/providers/common.ts
  lib/modules/datasource/rpm/providers/xml.ts
  lib/modules/datasource/rpm/repomd.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/helm-values): support version in sibling tag/version key
  lib/modules/manager/helm-values/extract.spec.ts
  lib/modules/manager/helm-values/extract.ts
  lib/modules/manager/helm-values/readme.md
  lib/modules/manager/helm-values/util.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(mend-hosted): move environment variables to their own page (#46260)
  docs/usage/mend-hosted/.pages
  docs/usage/mend-hosted/environment-variables.md
  docs/usage/mend-hosted/faq.md
Due: ls-lint, markdown-lint, prettier

docs(mend-hosted): clarify Enterprises can change `inheritConfig*` (#46261)
  docs/usage/mend-hosted/hosted-apps-config.md
Due: ls-lint, markdown-lint, prettier

test(manager/renovate-config): guard `supportedPresetSources` against drift (#46256)
  lib/config/presets/index.ts
  lib/modules/manager/renovate-config/extract.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/dockerfile): extract `apk add` packages from `RUN` instructions
  lib/modules/datasource/apk/readme.md
  lib/modules/manager/dockerfile/apk.spec.ts
  lib/modules/manager/dockerfile/apk.ts
  lib/modules/manager/dockerfile/dep-types.ts
  lib/modules/manager/dockerfile/extract.spec.ts
  lib/modules/manager/dockerfile/extract.ts
  lib/modules/manager/dockerfile/index.ts
  lib/modules/manager/dockerfile/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! feat(manager/dockerfile): extract `apk add` packages from `RUN` instructions
  lib/modules/manager/dockerfile/dep-types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! feat(manager/dockerfile): extract `apk add` packages from `RUN` instructions
  lib/modules/manager/dockerfile/extract.spec.ts
  lib/modules/manager/dockerfile/extract.ts
  lib/modules/manager/dockerfile/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! feat(manager/dockerfile): extract `apk add` packages from `RUN` instructions
  lib/modules/manager/dockerfile/apk.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! feat(manager/dockerfile): extract `apk add` packages from `RUN` instructions
  lib/modules/manager/dockerfile/extract.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(github): attempt direct merge before falling back to the merge queue
  docs/usage/key-concepts/automerge.md
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

adding names for the regex capturing groups added
  lib/workers/repository/update/pr/changelog/release-notes.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  88e6c1a57ef5c1cb7b3999ba01001e5b551f606e
Due: ls-lint

fix: remove unreachable post-upgrade task fallback
  lib/workers/repository/update/branch/execute-post-upgrade-commands.spec.ts
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  d4400832295686967c0e45218263605845f93277
Due: ls-lint

test: align branch-mode post-upgrade task fixtures
  lib/workers/repository/update/branch/execute-post-upgrade-commands.spec.ts
  lib/workers/repository/update/branch/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  6475043afd82028e2448eab55afd53ff8f6c9bb7
Due: ls-lint

Notes added by 'git notes add'
  8e9dcc7db4222cf5f6a1f0717aa98a664b7185fc
Due: ls-lint

Notes added by 'git notes add'
  2732ccf8570b7386ffcdd75b04cac18c65501bd4
Due: ls-lint

fix(gomod): support cyclic tidy-all dependencies
  lib/modules/manager/gomod/artifacts-gomodtidyall.spec.ts
  lib/modules/manager/gomod/artifacts.ts
  lib/modules/manager/gomod/package-tree.spec.ts
  lib/modules/manager/gomod/package-tree.ts
  lib/modules/manager/gomod/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(workers/repository): cover four process guards
  lib/workers/repository/process/index.spec.ts
  lib/workers/repository/process/libyear.spec.ts
  lib/workers/repository/process/limits.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: ratchet the branch coverage threshold
  .github/workflows/build.yml
Due: ls-lint, prettier

test(workers/repository): cover the pr note and closed-pr guards
  lib/workers/repository/error-config.spec.ts
  lib/workers/repository/update/branch/handle-existing.spec.ts
  lib/workers/repository/update/pr/body/notes.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(workers/repository): cover the onboarding and reconfigure caches
  lib/workers/repository/onboarding/branch/check.spec.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.spec.ts
  lib/workers/repository/reconfigure/index.ts
  lib/workers/repository/reconfigure/reconfigure-cache.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: ratchet the branch coverage threshold to 99.87
  .github/workflows/build.yml
Due: ls-lint, prettier

test(workers/repository): cover three changelog embedding guards
  lib/workers/repository/update/pr/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(workers/repository): cover both extract failure paths
  lib/workers/repository/extract/manager-files.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(workers/repository): cover four changelog guards
  lib/workers/repository/update/pr/changelog/bitbucket-server/index.spec.ts
  lib/workers/repository/update/pr/changelog/bitbucket/index.spec.ts
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
  lib/workers/repository/update/pr/changelog/releases.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write
