Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/rebase.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update test case
  lib/util/cache/package/decorator.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

minimize diff
  lib/config/types.ts
  lib/util/cache/package/decorator.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wording
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: dryRun:true -> dryRun:full
  lib/util/cache/repository/index.spec.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/participants.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

log the old & new hashes when rebasing
  lib/workers/repository/onboarding/branch/rebase.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix logging message
  lib/workers/repository/onboarding/branch/rebase.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  aa/53df27a956d474526a496d7dd201f5f9a1f136
Due: ls-lint, prettier --cache --ignore-unknown --write

test: convert `dryRun=true` -> `dryRun='full'` (#24074)
  lib/util/cache/repository/index.spec.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/participants.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  lib/modules/manager/pnpm/extract/index.spec.ts
  lib/modules/manager/pnpm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

drop global detect
  lib/modules/manager/pnpm/detect.spec.ts
  lib/modules/manager/pnpm/detect.ts
  lib/modules/manager/pnpm/index.ts
  lib/modules/manager/yarn/detect.spec.ts
  lib/modules/manager/yarn/detect.ts
  lib/modules/manager/yarn/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/platform/azure/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/datasource/helm/index.ts
  lib/modules/datasource/helm/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(poetry): Use transforms for dependencies parsing (#23965)
  lib/modules/manager/poetry/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/poetry/extract.spec.ts
  lib/modules/manager/poetry/extract.ts
  lib/modules/manager/poetry/schema.ts
  lib/modules/manager/poetry/utils.spec.ts
  lib/modules/manager/poetry/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/helm): add digest to release (#23432)
  lib/modules/datasource/helm/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/helm/index.ts
  lib/modules/datasource/helm/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  aa/250175b876aeb27a208d9e893473c0ee23db5b
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(renovate-config-validator): support .renovaterc (#22991)
  lib/workers/global/config/parse/__fixtures__/.renovaterc
  lib/workers/global/config/parse/file.spec.ts
  lib/workers/global/config/parse/file.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove npm/pnpm from yarn
  lib/modules/manager/yarn/extract/index.ts
  lib/modules/manager/yarn/extract/locked-versions.spec.ts
  lib/modules/manager/yarn/extract/locked-versions.ts
  lib/modules/manager/yarn/extract/monorepo.ts
  lib/modules/manager/yarn/extract/npm.spec.ts
  lib/modules/manager/yarn/extract/npm.ts
  lib/modules/manager/yarn/extract/pnpm.spec.ts
  lib/modules/manager/yarn/extract/pnpm.ts
  lib/modules/manager/yarn/post-update/index.spec.ts
  lib/modules/manager/yarn/post-update/index.ts
  lib/modules/manager/yarn/post-update/npm.spec.ts
  lib/modules/manager/yarn/post-update/npm.ts
  lib/modules/manager/yarn/post-update/pnpm.spec.ts
  lib/modules/manager/yarn/post-update/pnpm.ts
  lib/modules/manager/yarn/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

prettier-fix
  lib/modules/platform/azure/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: Enhance lookup logs with repository problems (#23896)
  lib/util/cache/repository/index.spec.ts
  lib/workers/repository/common.ts
  lib/workers/repository/dependency-dashboard.ts
  lib/workers/repository/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/html/readme.md
  lib/modules/manager/html/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(platform/azure): check targetBranch when finding PRs (#23941)
  lib/modules/platform/azure/__snapshots__/index.spec.ts.snap
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/cache.ts
  lib/workers/repository/config-migration/branch/index.ts
  lib/workers/repository/config-migration/pr/index.ts
  lib/workers/repository/error-config.ts
  lib/workers/repository/finalize/prune.ts
  lib/workers/repository/onboarding/branch/check.ts
  lib/workers/repository/onboarding/pr/index.ts
  lib/workers/repository/process/limits.ts
  lib/workers/repository/update/branch/automerge.ts
  lib/workers/repository/update/branch/check-existing.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  dd/4200ae252e06b0e5e757ccbe778a575d113510
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  03/636915e4996971a31cd110d1c1bdd4f0de02e2
Due: ls-lint, prettier --cache --ignore-unknown --write

Fix bad link format
  docs/usage/upgrade-best-practices.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Capitalize CSS, fix whitespace, drop list punctuation
  lib/modules/manager/html/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Check one file per run, drop duplicate text
  docs/usage/config-validation.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(html): rewrite readme (#23232)
  lib/modules/manager/html/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(manager/cargo): support for cargo repository source replacement (#23956)
  lib/modules/manager/cargo/__fixtures__/cargo.6.config.toml
  lib/modules/manager/cargo/extract.spec.ts
  lib/modules/manager/cargo/extract.ts
  lib/modules/manager/cargo/types.ts
  lib/modules/manager/cargo/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  15/1435acfd1e96d8591935b437e5604e38f75fbf
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(azure): more external error catches for presets
  lib/modules/platform/azure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: improve autoreplace error logging (#24042)
  lib/workers/repository/update/branch/auto-replace.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update group.ts
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

custom-syntax for enabled-managers
  docs/usage/configuration-options.md
  lib/config/migrations/custom/enabled-managers-migration.spec.ts
  lib/config/migrations/custom/enabled-managers-migration.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/modules/manager/custom/index.ts
  lib/workers/repository/extract/extract-fingerprint-config.spec.ts
  lib/workers/repository/extract/extract-fingerprint-config.ts
  lib/workers/repository/extract/index.spec.ts
  lib/workers/repository/extract/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(azure): more external error catches for presets (#24078)
  lib/modules/platform/azure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixing unit tests
  lib/modules/versioning/composer/index.spec.ts
  lib/modules/versioning/composer/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix linitng
  lib/modules/versioning/composer/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: include newVersion in composer update command (#24057)
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add region configuration to aws-machine-image
  lib/modules/datasource/aws-machine-image/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
