Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

configure limiting security updates
  docs/usage/configuration-options.md
  lib/config/defaults.spec.ts
  lib/config/options/index.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: check TODOs for closed issues
  .github/workflows/check-todo-references.yml
Due: ls-lint, prettier

feat(config): add minimumReleaseAgeBuffer option
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/util/minimum-release-age.spec.ts
  lib/util/minimum-release-age.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(config): make minimumReleaseAgeBuffer a duration with 10 minutes default
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/util/minimum-release-age.spec.ts
  lib/util/minimum-release-age.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(linters): fix comment wrapping in exec/common
  lib/util/exec/common.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  ea176510027cdcc6698e2f0fedb368c9ec159807
Due: ls-lint

support AWS S3 as a chart repository
  lib/modules/datasource/helm/readme.md
  lib/util/s3.spec.ts
  lib/util/s3.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

support creds via hostRules
  lib/modules/datasource/helm/index.spec.ts
  lib/modules/datasource/helm/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix docs
  docs/usage/docker.md
Due: ls-lint, markdown-lint, prettier

fix and change helmv3 test - whyever it tests the behavior of the docker datasource through that module
  lib/modules/manager/helmv3/artifacts.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(tool-calling): centralise AWS configuration
  docs/usage/.pages
  docs/usage/calling-aws-services.md
  lib/modules/datasource/aws-eks-addon/readme.md
  lib/modules/datasource/aws-machine-image/readme.md
  lib/modules/datasource/aws-rds/readme.md
Due: ls-lint, markdown-lint, prettier

fixup! fixup! docs(mend-hosted): updates to environment variables and arbitrary scripts
  docs/usage/mend-hosted/faq.md
Due: ls-lint, markdown-lint, prettier

fix(util/markdown): preserve at signs in URLs (#45555)
  lib/util/markdown.spec.ts
  lib/util/markdown.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(datasource/aws-eks-addon): add host rule authentication (#45552)
  lib/modules/datasource/aws-eks-addon/index.spec.ts
  lib/modules/datasource/aws-eks-addon/index.ts
  lib/modules/datasource/aws-eks-addon/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat: uv to update requirements.txt if derived from uv.lock
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  7dce51dd2924656d51fb7eb99a1b46d78451ea17
Due: ls-lint

refactor(tools/check): convert to Commander
  tools/check/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: ensure scripts in `.github/` are linted
  .github/workflows/close-answered-discussions.yml
  .oxlintrc.json
  tools/close-answered-discussions.cjs
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(replacements): add replacement for OpenSSF Scorecard Docker images
  lib/data/replacements.json
Due: ls-lint, prettier

ci: check for `Closes #<discussion>`
  .github/workflows/check-commit-messages.yml
  tools/check-closes-discussion.cjs
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(mend-hosted): updates to environment variables and arbitrary scripts (#45496)
  docs/usage/configuration-options.md
  docs/usage/mend-hosted/faq.md
Due: ls-lint, markdown-lint, prettier

feat: address reviewer's feedback around regex, missing coverage and parentDir mismatch
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(github): distinguish GHEC from GHES
  lib/config/presets/internal/helpers.preset.ts
  lib/modules/datasource/bitrise/index.spec.ts
  lib/modules/datasource/go/base.ts
  lib/modules/datasource/go/releases-direct.spec.ts
  lib/modules/datasource/helm/__fixtures__/sample.yaml
  lib/modules/datasource/pod/index.spec.ts
  lib/modules/manager/github-actions/artifacts.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/nix/extract.spec.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/util/github/graphql/datasource-fetcher.ts
  lib/util/github/url.ts
  lib/util/http/github.spec.ts
  lib/util/http/github.ts
  lib/util/http/host-rules.spec.ts
  lib/workers/global/config/parse/__snapshots__/env.spec.ts.snap
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/repository/update/pr/changelog/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/github/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/github/index.spec.ts
  lib/workers/repository/update/pr/changelog/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(github): support GHEC data residency endpoints
  lib/modules/datasource/bitrise/index.spec.ts
  lib/modules/datasource/bitrise/index.ts
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/pod/index.spec.ts
  lib/modules/datasource/pod/index.ts
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/util/common.spec.ts
  lib/util/common.ts
  lib/util/github/url.spec.ts
  lib/util/github/url.ts
  lib/workers/repository/update/pr/changelog/github/index.spec.ts
  lib/workers/repository/update/pr/changelog/github/source.ts
  lib/workers/repository/update/pr/changelog/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Forward release fetching to existing npm datasource
  lib/modules/datasource/jsdelivr/index.spec.ts
  lib/modules/datasource/jsdelivr/index.ts
  lib/modules/datasource/jsdelivr/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(github): model GitHub hosts explicitly
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(github): document GHEC data residency support
  docs/usage/examples/self-hosting.md
  docs/usage/getting-started/running.md
  docs/usage/key-concepts/automerge.md
  docs/usage/key-concepts/changelogs.md
  lib/modules/datasource/github-releases/readme.md
  lib/modules/datasource/github-tags/readme.md
  lib/modules/manager/github-actions/readme.md
  lib/modules/platform/github/readme.md
Due: ls-lint, markdown-lint, prettier

Wrap raw regex via regEx
  lib/modules/datasource/jsdelivr/common.ts
  lib/modules/datasource/jsdelivr/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Fix V8 comment
  lib/modules/datasource/jsdelivr/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Move types to dedicated types.ts file
  lib/modules/datasource/jsdelivr/common.ts
  lib/modules/datasource/jsdelivr/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Update readme.md
  lib/modules/datasource/jsdelivr/readme.md
Due: ls-lint, markdown-lint, prettier

refactor(tools/check): convert to Commander (#45596)
  tools/check/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/jsr): accept scopes shorter than the JSR registration minimum (#45547)
  lib/modules/datasource/jsr/util.spec.ts
  lib/modules/datasource/jsr/util.ts
  lib/modules/manager/deno/schema.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(manager/npm): rename internal `managerData.pnpmShrinkwrap` to `pnpmLockFile` (#45390)
  lib/modules/manager/npm/artifacts.spec.ts
  lib/modules/manager/npm/artifacts.ts
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/__snapshots__/pnpm.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/pnpm.spec.ts
  lib/modules/manager/npm/extract/pnpm.ts
  lib/modules/manager/npm/extract/post/locked-versions.spec.ts
  lib/modules/manager/npm/extract/post/locked-versions.ts
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/modules/manager/npm/post-update/types.ts
  lib/modules/manager/npm/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/npm): add support for bun in the `packageManager` field (#45572)
  lib/modules/manager/npm/extract/common/dependency.ts
  lib/modules/manager/npm/extract/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: ensure scripts in `.github/` are linted (#45593)
  .github/workflows/close-answered-discussions.yml
  .oxlintrc.json
  tools/close-answered-discussions.cjs
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: check for `Closes #<discussion>` (#45462)
  .github/workflows/check-commit-messages.yml
  tools/check-closes-discussion.cjs
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  bf37a4abaa7bfe1d30d072df3ba67d6dfd845caa
Due: ls-lint

chore(manager/github-actions): use proper terminology for GHEC and GHES
  lib/modules/manager/github-actions/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  oxlint --import-plugin --fix: any of: *.{js,cjs,mjs,mts,ts}
  biome check --write: any of: *.{js,cjs,mjs,mts,ts}
  prettier --write: any of: *.{js,cjs,mjs,mts,ts}
