Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: improve constraintsFiltering description
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: improve constraintsFiltering description (#28082)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor: add experimental feature to disable nupkg download
  docs/usage/self-hosted-experimental.md
  lib/modules/datasource/nuget/v3.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: fix ignorePresets example (#28081)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: remove git install from result
  lib/modules/manager/vendir/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Improvements to config overview docs
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Drop trailing space
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: improvements to config overview docs (#28086)
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor: cache source urls
  lib/modules/datasource/nuget/__fixtures__/nlog/NLog.4.7.3-no-repo.nupkg
  lib/modules/datasource/nuget/index.spec.ts
  lib/modules/datasource/nuget/v3.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor for readability, improve coverage
  lib/modules/manager/pipenv/artifacts.spec.ts
  lib/modules/manager/pipenv/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(deps): drop eslint-config-prettier (#28080)
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

http access tokens must not have an user
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

setting password and token is invalid
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: fix tests
  lib/modules/platform/gitea/gitea-helper.spec.ts
  lib/modules/platform/gitea/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

don't use password for token based auth
  lib/modules/platform/bitbucket-server/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  97/959271f09f25144dccd3cd6f7a2509cc549a9a
Due: ls-lint, prettier --cache --ignore-unknown --write

token already sanitized
  lib/modules/platform/bitbucket-server/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

rify when token or password is valid
  lib/modules/platform/bitbucket-server/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/pipenv/artifacts.spec.ts
  lib/modules/manager/pipenv/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

reversed import order
  lib/modules/manager/pipenv/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

don't use snapshots
  lib/modules/platform/bitbucket-server/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket-server/__snapshots__/utils.spec.ts.snap
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/utils.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add aws-sdk-client-mock monorepo (#28078)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d9/53196f45cfd572e78c867214e2bde62049e8b7
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

prefer for of loop
  lib/modules/manager/pipenv/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor log messages
  lib/modules/manager/pipenv/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add standalone tests
  lib/config/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

drop unnecessary clear
  lib/workers/repository/init/inherited.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config): inheritConfig (#27864)
  docs/usage/self-hosted-configuration.md
  lib/config/index.spec.ts
  lib/config/index.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/constants/error-messages.ts
  lib/workers/repository/init/config.ts
  lib/workers/repository/init/inherited.spec.ts
  lib/workers/repository/init/inherited.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e4/ab753d8865a3f1784165231e585cfa86ea7d25
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: config overview (#28035)
  docs/usage/.pages
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

correctly redact err.body for ParseErrors
  lib/modules/datasource/npm/get.spec.ts
  lib/modules/datasource/npm/get.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/npm): respect `abortOnError` hostRule for registries (#26196)
  lib/modules/datasource/npm/get.spec.ts
  lib/modules/datasource/npm/get.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  04/45d3f4e07838b8cbba095ce63bc51dd8b6675f
Due: ls-lint, prettier --cache --ignore-unknown --write

Add log messages
  lib/modules/platform/github/issue.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix eslint
  lib/modules/platform/github/issue.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: condense fixtures to help make future changes easier fix: remove git, not installable on the fly fix: add back types.ts
  lib/modules/manager/vendir/__fixtures__/alias-contents.yaml
  lib/modules/manager/vendir/__fixtures__/git-contents.yaml
  lib/modules/manager/vendir/__fixtures__/invalid-vendir.yaml
  lib/modules/manager/vendir/__fixtures__/multiple-contents.yaml
  lib/modules/manager/vendir/__fixtures__/oci-contents.yaml
  lib/modules/manager/vendir/__fixtures__/one-contents.yaml
  lib/modules/manager/vendir/__fixtures__/valid-vendir.yaml
  lib/modules/manager/vendir/artifacts.spec.ts
  lib/modules/manager/vendir/extract.spec.ts
  lib/modules/manager/vendir/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Preload fixtures inside testing module
  lib/modules/datasource/unity3d/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Moves URL of stable stream to module scope
  lib/modules/datasource/unity3d/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(yarn): revert default proxy behavior
  docs/usage/self-hosted-experimental.md
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/npm/post-update/yarn.ts
  lib/modules/manager/npm/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
