Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

add default value
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update snaps
  lib/modules/platform/gitlab/__snapshots__/index.spec.ts.snap
Due: ls-lint, prettier --cache --ignore-unknown --write

Renamed monorepo.ts file to monorepos.ts (plural)
  lib/config/presets/internal/group.ts
  lib/config/presets/internal/index.ts
  lib/config/presets/internal/monorepos.spec.ts
  lib/config/presets/internal/monorepos.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(git-url): fix SSH to HTTPS conversion for bitbucket-server
  lib/constants/platforms.ts
  lib/util/common.ts
  lib/util/git/url.spec.ts
  lib/util/git/url.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Extend the test
  lib/util/git/url.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(git-url): fix SSH to HTTPS conversion for bitbucket-server (#29527)
  lib/constants/platforms.ts
  lib/util/common.ts
  lib/util/git/url.spec.ts
  lib/util/git/url.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config): allow constraints anywhere
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/hex): allow custom registries
  lib/modules/datasource/hex/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d5/60187db665e7821e99d549776e7c772b8bd3bf
Due: ls-lint, prettier --cache --ignore-unknown --write

fix tests
  lib/modules/datasource/hex/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/hex/index.spec.ts
  lib/modules/datasource/hex/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(gitlab): add note about group access token rotation (#29136)
  lib/modules/platform/gitlab/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: warn if empty allowedPostUpgradeCommands
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/hex): allow custom registries (#29534)
  lib/modules/datasource/hex/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/hex/index.spec.ts
  lib/modules/datasource/hex/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: warn if empty allowedPostUpgradeCommands (#29538)
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  67/49322cca416cf938d63ace6000d62a1dae0035
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b3/94f30fc1fa637cffc0aec7afa4e25c5597c304
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  54/10411b347f07a4fd17dcf24664342736bd2ba0
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  96/33cb658764ce72ad0c491fb2e6bb92b769c62e
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  99/d2e605e895af8e10f370bdbfa381d982672012
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4d/49bdab81f29bb3216ba460987a4a8100f1f9fc
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  75/b68a4f54ab5a86274747b51cf5b6437a91132a
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(datasource/custom): remove content limiter for plain
  lib/modules/datasource/custom/formats/plain.ts
  lib/modules/datasource/custom/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: new doc for Mend App secrets and secrets migration
  docs/usage/assets/images/app-settings/add-a-secret.png
  docs/usage/assets/images/app-settings/add-repo-secret.png
  docs/usage/assets/images/app-settings/app-credentials.png
  docs/usage/assets/images/app-settings/encrypted-secrets-error.png
  docs/usage/assets/images/app-settings/org-and-repo-secrets.png
  docs/usage/assets/images/app-settings/org-settings-button.png
  docs/usage/assets/images/app-settings/repo-settings-button.png
  docs/usage/assets/images/app-settings/stored-secret-encrypted.png
  docs/usage/assets/images/app-settings/stored-secret-plaintext.png
  docs/usage/getting-started/app-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: minor formatting updates to App Secrets doc
  docs/usage/getting-started/app-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(leiningen): support lein-parent
  lib/modules/manager/leiningen/__fixtures__/parent.clj
  lib/modules/manager/leiningen/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/leiningen/extract.spec.ts
  lib/modules/manager/leiningen/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: updated with prettier fixes
  docs/usage/getting-started/app-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: updated 'Encrypting secrets' of Private Packages page. Secrets now to be stored in App settings.
  docs/usage/getting-started/private-packages.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: formatting changes to secrets documentation
  docs/usage/getting-started/app-secrets.md
  docs/usage/getting-started/private-packages.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add schema validation
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bitbucket-server): autodetect gitAuthor if possible
  lib/modules/platform/bitbucket-server/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add schema validation
  lib/modules/platform/bitbucket-server/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Improve tests
  lib/modules/platform/bitbucket-server/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: stop publishing slim docker tags (#27993)
  tools/docker/bake.hcl
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(npm)!: drop transitiveRemediation option (#27985)
  docs/usage/configuration-options.md
  lib/config/migrations/migrations-service.ts
  lib/config/options/index.ts
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: change onboardingNoDeps from `boolean` to `enum` (#28133)
  docs/usage/config-overview.md
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/global/config/parse/index.spec.ts
  lib/workers/global/config/parse/index.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config)!: Use `depNameSanitized` in branch name for vulnerability alerts (#25166)
  lib/config/options/index.ts
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: * pattern matches everything (#28556)
  docs/usage/string-pattern-matching.md
  lib/util/string-match.spec.ts
  lib/util/string-match.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(logging)!: initialize file logging via env (#28104)
  docs/usage/config-overview.md
  docs/usage/examples/self-hosting.md
  lib/config/options/index.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/logger/index.ts
  lib/logger/utils.spec.ts
  lib/logger/utils.ts
  lib/workers/global/config/parse/index.spec.ts
  lib/workers/global/config/parse/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config)!: globalExtends merge order (#28145)
  docs/usage/self-hosted-experimental.md
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(gitea)!: use `Bearer` instead of `token` for auth (#28308)
  lib/util/http/auth.spec.ts
  lib/util/http/auth.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
