Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix retries debug logs
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(http): Return stale cache on revalidation errors (#33852)
  lib/util/http/cache/abstract-http-cache-provider.ts
  lib/util/http/cache/package-http-cache-provider.spec.ts
  lib/util/http/cache/package-http-cache-provider.ts
  lib/util/http/cache/types.ts
  lib/util/http/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/bazel.md
  lib/modules/manager/bazel-module/extract.spec.ts
  lib/modules/manager/bazel-module/rules.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c3814ab0adc3d91b7074c600e92c19a1d7c6a136
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(datasource): Add datasource for buildpack registry (#32721)
  lib/modules/datasource/api.ts
  lib/modules/datasource/buildpacks-registry/index.spec.ts
  lib/modules/datasource/buildpacks-registry/index.ts
  lib/modules/datasource/buildpacks-registry/schema.spec.ts
  lib/modules/datasource/buildpacks-registry/schema.ts
  lib/modules/manager/buildpacks/extract.spec.ts
  lib/modules/manager/buildpacks/extract.ts
  lib/modules/manager/buildpacks/index.ts
  lib/modules/manager/buildpacks/readme.md
  lib/modules/manager/buildpacks/schema.ts
  lib/util/cache/package/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d581af59bc82ec57a0bcd36ce0179e4e3ead671c
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(http): Create memory cache provider
  lib/util/http/cache/memory-http-cache-provider.spec.ts
  lib/util/http/cache/memory-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(http): Switch to memory cache provider
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/gerrit/client.ts
  lib/modules/platform/gitea/gitea-helper.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/gitea/pr-cache.ts
  lib/modules/platform/github/branch.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.ts
  lib/util/http/index.ts
  lib/util/http/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update find-issues-with-missing-labels.sh
  tools/find-issues-with-missing-labels.sh
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(http): Implement soft and hard TTL for all cache providers
  lib/util/http/cache/abstract-http-cache-provider.ts
  lib/util/http/cache/package-http-cache-provider.ts
  lib/util/http/cache/repository-http-cache-provider.spec.ts
  lib/util/http/cache/repository-http-cache-provider.ts
  lib/util/http/cache/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix tests
  lib/modules/platform/github/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Guard method name
  lib/util/http/cache/abstract-http-cache-provider.ts
  lib/util/http/cache/repository-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ff0af5f16aa3d1db0154e01ba106cce3ef944c7b
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply Suggestions
  docs/usage/configuration-options.md
  lib/modules/manager/custom/jsonata/readme.md
  lib/modules/manager/custom/jsonata/schema.ts
  lib/modules/manager/custom/jsonata/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

`react-aria` -> `react-spectrum`
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Clarify tests
  lib/modules/manager/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Move devbox packages variation logic into zod transform
  lib/modules/manager/devbox/extract.spec.ts
  lib/modules/manager/devbox/extract.ts
  lib/modules/manager/devbox/schema.spec.ts
  lib/modules/manager/devbox/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Allow overwriting default Renovate headers
  lib/util/http/host-rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Test that header replacement works correctly
  lib/util/http/host-rules.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Change names
  lib/util/http/host-rules.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): match on devDependencies or dev for dev dependencies-related presets
  lib/config/presets/internal/default.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: apply suggestions from code review
  lib/config/presets/internal/default.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): also add 'dev-dependencies' to the list of matching dependency types
  lib/config/presets/internal/default.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(nuget): don't check children of `ContainerBaseImage`
  lib/modules/manager/nuget/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix linting and formatting
  lib/util/http/host-rules.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/mix/artifacts.ts
  lib/modules/manager/mix/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix lint warnings
  lib/modules/manager/mix/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(http): allow overwriting default Renovate headers (#33907)
  lib/util/http/host-rules.spec.ts
  lib/util/http/host-rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(nuget): don't check children of `ContainerBaseImage` (#33910)
  lib/modules/manager/nuget/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/devcontainer): allow trailing commans in jsonc files
  lib/modules/manager/devcontainer/extract.spec.ts
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/devcontainer): allow trailing commans in jsonc files (#33913)
  lib/modules/manager/devcontainer/extract.spec.ts
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add `packageName`
  lib/modules/manager/ansible/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/ansible/extract.spec.ts
  lib/modules/manager/argocd/extract.spec.ts
  lib/modules/manager/buildpacks/extract.spec.ts
  lib/modules/manager/circleci/extract.spec.ts
  lib/modules/manager/cloudbuild/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/crossplane/extract.spec.ts
  lib/modules/manager/devcontainer/extract.spec.ts
  lib/modules/manager/docker-compose/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/docker-compose/extract.spec.ts
  lib/modules/manager/dockerfile/extract.spec.ts
  lib/modules/manager/droneci/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/droneci/extract.spec.ts
  lib/modules/manager/flux/extract.spec.ts
  lib/modules/manager/github-actions/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/gitlabci/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/gitlabci/extract.spec.ts
  lib/modules/manager/helm-values/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/kubernetes/extract.spec.ts
  lib/modules/manager/kustomize/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/kustomize/extract.spec.ts
  lib/modules/manager/nuget/extract.spec.ts
  lib/modules/manager/tekton/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/woodpecker/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager): retain `depName` when using `registryAliases`
  lib/modules/manager/ansible/extract.spec.ts
  lib/modules/manager/ansible/extract.ts
  lib/modules/manager/batect/extract.spec.ts
  lib/modules/manager/batect/schema.ts
  lib/modules/manager/bitbucket-pipelines/extract.spec.ts
  lib/modules/manager/circleci/extract.spec.ts
  lib/modules/manager/docker-compose/extract.spec.ts
  lib/modules/manager/dockerfile/extract.spec.ts
  lib/modules/manager/dockerfile/extract.ts
  lib/modules/manager/droneci/extract.spec.ts
  lib/modules/manager/fleet/extract.ts
  lib/modules/manager/flux/extract.ts
  lib/modules/manager/gitlabci/extract.spec.ts
  lib/modules/manager/gitlabci/utils.spec.ts
  lib/modules/manager/helm-values/extract.spec.ts
  lib/modules/manager/kubernetes/extract.spec.ts
  lib/modules/manager/kustomize/extract.spec.ts
  lib/modules/manager/kustomize/extract.ts
  lib/modules/manager/sveltos/extract.ts
  lib/modules/manager/terraform/extract.spec.ts
  lib/modules/manager/terraform/extractors/resources/helm-release.ts
  lib/modules/manager/vendir/extract.ts
  lib/modules/manager/woodpecker/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8deab52be473e5ef0162e9f1f26d2431fe78ea36
Due: ls-lint, prettier --cache --ignore-unknown --write

Resolve remaining PR comments
  lib/modules/manager/bazel-module/extract.spec.ts
  lib/modules/manager/bazel-module/rules.ts
  tools/test-shards.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: revert changes
  lib/modules/manager/ansible/extract.spec.ts
  lib/modules/manager/bitbucket-pipelines/extract.spec.ts
  lib/modules/manager/circleci/extract.spec.ts
  lib/modules/manager/docker-compose/extract.spec.ts
  lib/modules/manager/dockerfile/extract.spec.ts
  lib/modules/manager/dockerfile/extract.ts
  lib/modules/manager/droneci/extract.spec.ts
  lib/modules/manager/flux/extract.spec.ts
  lib/modules/manager/gitlabci/extract.spec.ts
  lib/modules/manager/gitlabci/utils.spec.ts
  lib/modules/manager/helm-values/extract.spec.ts
  lib/modules/manager/kubernetes/extract.spec.ts
  lib/modules/manager/kustomize/extract.spec.ts
  lib/modules/manager/terraform/extract.spec.ts
  lib/modules/manager/woodpecker/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Resolve eslint regression caused in refactor
  lib/modules/manager/bazel-module/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Resolve issues when spot checking the PR diff
  lib/modules/manager/bazel-module/extract.spec.ts
  tools/test-shards.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
