Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "**/*.{ts,js,mjs,json,md,yml}": "prettier --cache --ignore-unknown --write"
}

We need the existing body
  lib/modules/platform/bitbucket/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket/utils.ts
  lib/modules/platform/gitea/__snapshots__/index.spec.ts.snap
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/common.ts
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add renovate tags to the body
  lib/workers/repository/update/pr/body/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove the tags for platforms which don't support them
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/codecommit/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Support updating existing body with tags
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Cleanup, not needed
  lib/modules/platform/pr-body.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Additional unit tests
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/codecommit/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update documentation
  docs/usage/configuration-templates.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Strict tags
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/codecommit/index.spec.ts
  lib/modules/platform/codecommit/index.ts
  lib/modules/platform/pr-body.spec.ts
  lib/modules/platform/pr-body.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove unused import
  lib/modules/platform/github/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update .lintstagedrc.json
  .lintstagedrc.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix: update java LTS allowed versions expression
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: remove unneccessary regex capturing group
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/config/presets/internal/workarounds.ts
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/gradle): support separate registry URLs for plugins
  lib/modules/manager/gradle/extract.spec.ts
  lib/modules/manager/gradle/extract.ts
  lib/modules/manager/gradle/extract/catalog.ts
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser.ts
  lib/modules/manager/gradle/parser/handlers.ts
  lib/modules/manager/gradle/parser/registry-urls.ts
  lib/modules/manager/gradle/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/platform/pr-body.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Additional changes related to reviewers request
  lib/modules/platform/pr-body.spec.ts
  lib/modules/platform/pr-body.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use table string template syntax
  lib/modules/platform/pr-body.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/configuration-templates.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Simplify documentation
  docs/usage/configuration-templates.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

use normal if stmt to conditionally add dep.registryUrls
  lib/modules/manager/gradle/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove dep.registryUrls clause - it will never be true
  lib/modules/manager/gradle/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/gradle): support separate registry URLs for plugins (#19606)
  lib/modules/manager/gradle/extract.spec.ts
  lib/modules/manager/gradle/extract.ts
  lib/modules/manager/gradle/extract/catalog.ts
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser.ts
  lib/modules/manager/gradle/parser/handlers.ts
  lib/modules/manager/gradle/parser/registry-urls.ts
  lib/modules/manager/gradle/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/gradle): enable property accessors for registry URLs
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/common.ts
  lib/modules/manager/gradle/parser/registry-urls.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  0f/c1731eedf68cb9d56ed2aa548aab61adf3fdcf
Due: ls-lint

feat(manager/gradle): enable property accessors for registry URLs (#19609)
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/common.ts
  lib/modules/manager/gradle/parser/registry-urls.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  80/d53a12221e5883615a907d1c39380afe05eb69
Due: ls-lint

fix(presets/workarounds): update java LTS allowed versions expression (#19605)
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  fb/99f4e6f645a6768b4eab160a2056e61a9825f0
Due: ls-lint

test: use `toEqual`
  lib/workers/repository/updates/__snapshots__/generate.spec.ts.snap
  lib/workers/repository/updates/generate.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: fix test
  lib/workers/repository/updates/generate.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: separate pages for datasources
  docs/usage/modules/datasource/.pages
  docs/usage/modules/datasource/index.md
  tools/docs/datasources.ts
  tools/docs/platforms.ts
  tools/docs/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: update
  tools/docs/datasources.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: don’t pin upgrades
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: don’t pin upgrades (#19612)
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: remove datasources from meu
  docs/usage/modules/datasource/.pages
Due: ls-lint

fix: dedupe commit table (#18756)
  lib/workers/repository/updates/generate.spec.ts
  lib/workers/repository/updates/generate.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: update title
  tools/docs/datasources.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: readd nav
  docs/usage/modules/datasource/.pages
Due: ls-lint

Notes added by 'git notes add'
  a1/e0f379c2c88c77978703992ec18e9f70b3e23b
Due: ls-lint
