Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(tools/release-notes): prioritise modules and collapse `deps`
  tools/release-notes/module-changelog.spec.ts
  tools/release-notes/module-changelog.ts
  tools/release-notes/summarize.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(tools/release-notes): nest module scopes under their category
  tools/release-notes/module-changelog.spec.ts
  tools/release-notes/module-changelog.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(tools/release-notes): headings, and fold repeated dependency bumps
  tools/release-notes/module-changelog.spec.ts
  tools/release-notes/module-changelog.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Apply suggestion from `@RahulGautamSingh`
  lib/util/git/config.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(bun): cover npmrcMerge with existing .npmrc
  lib/modules/manager/bun/artifacts.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/apm): run apm update for lock file maintenance
  lib/modules/manager/apm/artifacts.spec.ts
  lib/modules/manager/apm/artifacts.ts
  lib/modules/manager/apm/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(replacements): add replacement for OpenSSF Scorecard Docker images (#45597)
  lib/data/replacements.json
Due: ls-lint, prettier

test: Validate `minimumReleaseAge` is ignored for security updates (#44272)
  lib/workers/repository/process/vulnerabilities.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  09ff8d22b6e70c4350d6c3ec79e004bbf2522998
Due: ls-lint

fix(bump-versions): collect bumpVersions from all upgrades, not just upgrades[0] (#44809)
  lib/workers/repository/update/branch/bump-versions.spec.ts
  lib/workers/repository/update/branch/bump-versions.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(tools/release-notes): fix real bugs found by an independent review
  tools/release-notes/module-changelog.spec.ts
  tools/release-notes/module-changelog.ts
  tools/release-notes/summarize.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

add missing fallback test for github-actions
  lib/modules/manager/github-actions/artifacts.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

revert(tools/release-notes): give every scope its own heading again
  tools/release-notes/module-changelog.spec.ts
  tools/release-notes/module-changelog.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(platform): replace file snapshots with explicit assertions (#45684)
  lib/modules/platform/azure/__snapshots__/azure-helper.spec.ts.snap
  lib/modules/platform/azure/__snapshots__/index.spec.ts.snap
  lib/modules/platform/azure/__snapshots__/util.spec.ts.snap
  lib/modules/platform/azure/azure-helper.spec.ts
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/util.spec.ts
  lib/modules/platform/bitbucket-server/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/github/__snapshots__/index.spec.ts.snap
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/gitlab/__snapshots__/index.spec.ts.snap
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/utils/__snapshots__/pr-body.spec.ts.snap
  lib/modules/platform/utils/pr-body.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(core): replace file snapshots with explicit assertions (#45660)
  lib/config/__snapshots__/index.spec.ts.snap
  lib/config/__snapshots__/migrate-validate.spec.ts.snap
  lib/config/__snapshots__/migration.spec.ts.snap
  lib/config/index.spec.ts
  lib/config/migrate-validate.spec.ts
  lib/config/migration.spec.ts
  lib/config/presets/__snapshots__/index.spec.ts.snap
  lib/config/presets/index.spec.ts
  lib/logger/__snapshots__/err-serializer.spec.ts.snap
  lib/logger/err-serializer.spec.ts
  lib/util/fs/__snapshots__/index.spec.ts.snap
  lib/util/fs/index.spec.ts
  lib/util/template/__snapshots__/index.spec.ts.snap
  lib/util/template/index.spec.ts
  lib/workers/global/config/parse/__snapshots__/env.spec.ts.snap
  lib/workers/global/config/parse/__snapshots__/file.spec.ts.snap
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/file.spec.ts
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
  lib/workers/repository/config-migration/pr/__snapshots__/index.spec.ts.snap
  lib/workers/repository/config-migration/pr/index.spec.ts
  lib/workers/repository/dependency-dashboard.spec.ts
  lib/workers/repository/extract/__snapshots__/file-match.spec.ts.snap
  lib/workers/repository/extract/file-match.spec.ts
  lib/workers/repository/onboarding/pr/__snapshots__/config-description.spec.ts.snap
  lib/workers/repository/onboarding/pr/__snapshots__/index.spec.ts.snap
  lib/workers/repository/onboarding/pr/config-description.spec.ts
  lib/workers/repository/onboarding/pr/index.spec.ts
  lib/workers/repository/update/branch/__snapshots__/get-updated.spec.ts.snap
  lib/workers/repository/update/branch/get-updated.spec.ts
  lib/workers/repository/update/pr/changelog/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/__snapshots__/release-notes.spec.ts.snap
  lib/workers/repository/update/pr/changelog/github/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/github/index.spec.ts
  lib/workers/repository/update/pr/changelog/gitlab/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/gitlab/index.spec.ts
  lib/workers/repository/update/pr/changelog/index.spec.ts
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
  lib/workers/repository/updates/__snapshots__/generate.spec.ts.snap
  lib/workers/repository/updates/generate.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(linters): forbid file-based snapshot matchers (#45661)
  .oxlintrc.json
  docs/development/best-practices.md
Due: ls-lint, markdown-lint, prettier

Notes added by 'git notes add'
  e10ef79236bdaadc38d75662bd9cb3e0dae4e206
Due: ls-lint

update tests
  lib/modules/datasource/git-refs/index.spec.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/nix/artifacts.spec.ts
  lib/util/git/auth.spec.ts
  lib/util/git/url.spec.ts
  lib/util/host-rules.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(tools/release-notes): show the release a change shipped in
  tools/release-notes/module-changelog.spec.ts
  tools/release-notes/module-changelog.ts
  tools/release-notes/summarize.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

consistently order tests
  lib/modules/datasource/git-refs/index.spec.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/github-actions/artifacts.spec.ts
  lib/modules/manager/mise/artifacts.spec.ts
  lib/modules/manager/nix/artifacts.spec.ts
  lib/util/git/auth.spec.ts
  lib/util/git/url.spec.ts
  lib/util/host-rules.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/pep621): support array form of tool.uv.sources (#44970)
  lib/modules/manager/pep621/extract.spec.ts
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
  lib/modules/manager/pep621/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/mix): run mix commands from the lock file's directory (#44971)
  lib/modules/manager/mix/artifacts.spec.ts
  lib/modules/manager/mix/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix test
  lib/modules/manager/composer/artifacts.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(presets): fix javaLTSVersions not preserving partial semver for mise Java versions (#44899)
  lib/config/presets/internal/workarounds.preset.ts
  lib/config/presets/internal/workarounds.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix
  lib/modules/manager/composer/artifacts.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(versioning/nuget): bare exact version bypasses ignoreUnstable (#45087)
  lib/modules/versioning/nuget/index.spec.ts
  lib/modules/versioning/nuget/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource): use release-level registryUrl in postprocessRelease (#45096)
  lib/modules/datasource/postprocess-release.spec.ts
  lib/modules/datasource/postprocess-release.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(config/validation): allow only capturing `currentDigest` in Custom Managers (#45671)
  lib/config/validation-helpers/utils.ts
  lib/config/validation.spec.ts
  lib/modules/manager/custom/jsonata/readme.md
  lib/modules/manager/custom/regex/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

add isScheduledNow check when deciding if we should return update-not-scheduled
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  8abbd14fe6df0e607ca86dcf05a8bf95d5c50359
Due: ls-lint

feat(datasource): add APK datasource support (#40250)
  lib/modules/datasource/api.ts
  lib/modules/datasource/apk/index.spec.ts
  lib/modules/datasource/apk/index.ts
  lib/modules/datasource/apk/parser.spec.ts
  lib/modules/datasource/apk/parser.ts
  lib/modules/datasource/apk/readme.md
  lib/modules/datasource/apk/types.ts
  lib/modules/datasource/apk/url.spec.ts
  lib/modules/datasource/apk/url.ts
  lib/util/cache/package/namespaces.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(pixi): import number coercion utility
  lib/modules/manager/pixi/extract.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Update lib/modules/manager/npm/npmrc-parser.ts
  lib/modules/manager/npm/npmrc-parser.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(preset): `@octokit` group preset (#45643)
  lib/config/presets/internal/group.preset.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(bun): use resolves matcher for oxlint
  lib/modules/manager/bun/artifacts.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(azure): wrap pull request queries
  lib/modules/platform/azure/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  795d083264ec1a086da8262d5b7920f251956acf
Due: ls-lint

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  oxlint --import-plugin --fix: any of: *.{js,cjs,mjs,mts,ts}
  biome check --write: any of: *.{js,cjs,mjs,mts,ts}
  prettier --write: any of: *.{js,cjs,mjs,mts,ts}
