Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove --ignore-scripts from dockerfile
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

testing dockerfile
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

remove test
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

test dockerfile
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

add rpm datasource support
  lib/modules/datasource/api.ts
  lib/modules/datasource/rpm/index.spec.ts
  lib/modules/datasource/rpm/index.ts
  lib/modules/datasource/rpm/readme.md
  lib/util/cache/package/types.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

update lock file
  pnpm-lock.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

test
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1367e68e834bb1b38c0fca2757c2d436d61feda8
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply Suggestions
  lib/config/secrets.ts
  lib/util/interpolator.ts
  lib/workers/global/config/parse/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4acc1bd26d2801c46869aac36596f180847b9278
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply Suggestions
  lib/util/http/http.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix test
  lib/util/http/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  95d4b4cdfc658a49997610f4e4ba5fdac6604329
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ad52f189bd8f7368ce6fefa640323b7781e573ac
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ab14aa3e49c71b2b67634dd9a35b168f18105ffb
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(presets): disable currently not supported gradle replacement PRs (#36357)
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/cargo): support git dependencies (#36289)
  lib/modules/manager/cargo/__fixtures__/Cargo.1.toml
  lib/modules/manager/cargo/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/cargo/artifacts.ts
  lib/modules/manager/cargo/extract.spec.ts
  lib/modules/manager/cargo/index.ts
  lib/modules/manager/cargo/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1776522aecc297fe389b0053385c18995af586b8
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: add support of Gitlab's sections for CODEOWNERS (#32061)
  lib/modules/platform/gitlab/code-owners.spec.ts
  lib/modules/platform/gitlab/code-owners.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/pr/code-owners.spec.ts
  lib/workers/repository/update/pr/code-owners.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  743ef8f29c3f0b52812d8e52f0beadbdab98d0b0
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(bazel): Add tag support for `git_repository` rules
  lib/modules/manager/bazel-module/extract.spec.ts
  lib/modules/manager/bazel-module/rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix schema
  lib/modules/manager/bazel-module/rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix types
  lib/modules/manager/bazel-module/rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
