Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/fleet): do not merge version into customization objects (#20223)
  lib/modules/manager/fleet/__fixtures__/valid_fleet_helm_target_customization.yaml
  lib/modules/manager/fleet/extract.spec.ts
  lib/modules/manager/fleet/extract.ts
  lib/modules/manager/fleet/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Include 'google-auth-library' in googleapis group
  lib/config/presets/internal/packages.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5c/5cde9d780626a9bc9d4d5fd33fdd33bb0d5847
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/util/exec/docker/index.ts
  lib/util/exec/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/kotlin-script/readme.md
  lib/modules/manager/kotlin-script/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

add OSV vulnerability alerts
  docs/usage/configuration-options.md
  lib/workers/repository/process/vulnerabilities.spec.ts
  lib/workers/repository/process/vulnerabilities.ts
  package.json
  yarn.lock
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/helmfile): Add missing helm dependency
  lib/modules/manager/helmfile/artifacts.spec.ts
  lib/modules/manager/helmfile/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

allow dep to override datasource default versioning
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/workers/repository/process/vulnerabilities.ts
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1a/d1d3159ab0a083fd9d8394e9abed439f694eda
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(packagist): Use schema for `extractDepReleases` method (#20034)
  lib/modules/datasource/packagist/index.spec.ts
  lib/modules/datasource/packagist/index.ts
  lib/modules/datasource/packagist/schema.spec.ts
  lib/modules/datasource/packagist/schema.ts
  lib/modules/datasource/packagist/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  23/36161d05a3e4ff0b950e10d955c6b590d83e26
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(util): Human readable duration helper
  lib/util/pretty-time.spec.ts
  lib/util/pretty-time.ts
  package.json
  yarn.lock
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Provide data for logging
  lib/util/pretty-time.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

run prettier
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

extract-update.spec.ts: remove superfluous jest.clearAllMocks
  lib/workers/repository/process/extract-update.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

configuration-options.md: vulnerabilities fixes -> vulnerability fixes
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

sortByFixedVersion: preprocess allowedVersions
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/repository/update/pr/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Test for error
  lib/util/pretty-time.spec.ts
  lib/util/pretty-time.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

extract version comparisons into separate methods
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestion from secustor
  lib/modules/manager/kotlin-script/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Link to Kotlin Script docs for more info
  lib/modules/manager/kotlin-script/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

index.ts: don't always pick the first release for OSV-based rules based on last_affected.
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Inline single use variable
  lib/modules/manager/helmfile/artifacts.spec.ts
  lib/modules/manager/helmfile/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/terraform): support OCI repos in helm_release
  lib/modules/manager/terraform/__fixtures__/helm.tf
  lib/modules/manager/terraform/extract.spec.ts
  lib/modules/manager/terraform/extractors/resources/helm-release.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f8/4a8f63710e1945b9008676e20fc023a0eba62b
Due: ls-lint, prettier --cache --ignore-unknown --write

replace as with partial
  lib/modules/manager/bundler/artifacts.spec.ts
  lib/modules/manager/cocoapods/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/helmv3/artifacts.spec.ts
  lib/modules/manager/jsonnet-bundler/artifacts.spec.ts
  lib/modules/manager/nix/artifacts.spec.ts
  lib/modules/manager/pip-compile/artifacts.spec.ts
  lib/modules/manager/pipenv/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): include 'google-auth-library' in googleapis group (#20224)
  lib/config/presets/internal/packages.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d1/e2f0c393fd47b31d9c07495d4a3206f00e4ed3
Due: ls-lint, prettier --cache --ignore-unknown --write

Update dep-types-migration.ts
  lib/config/migrations/custom/dep-types-migration.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: rename adoptium-java->java-version
  lib/config/presets/internal/workarounds.ts
  lib/modules/datasource/api.ts
  lib/modules/datasource/java-version/__fixtures__/jre.json
  lib/modules/datasource/java-version/__fixtures__/page.json
  lib/modules/datasource/java-version/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/java-version/common.ts
  lib/modules/datasource/java-version/index.spec.ts
  lib/modules/datasource/java-version/index.ts
  lib/modules/datasource/java-version/readme.md
  lib/modules/datasource/java-version/types.ts
  lib/modules/datasource/readme.md
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/index.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
  lib/util/exec/containerbase.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

add migrations
  lib/config/migrations/custom/match-datasources-migration.spec.ts
  lib/config/migrations/custom/match-datasources-migration.ts
  lib/config/migrations/migrations-service.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add test for the case that go dep major version is not valid
  lib/modules/manager/gomod/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

migrate + renamed dotnet -> dotnet-version
  lib/config/migrations/custom/datasource-migration.spec.ts
  lib/config/migrations/custom/datasource-migration.ts
  lib/config/migrations/custom/match-datasources-migration.spec.ts
  lib/config/migrations/custom/match-datasources-migration.ts
  lib/modules/datasource/api.ts
  lib/modules/datasource/dotnet-version/__fixtures__/releases-3.1.json
  lib/modules/datasource/dotnet-version/__fixtures__/releases-5.0.json
  lib/modules/datasource/dotnet-version/__fixtures__/releases-6.0.json
  lib/modules/datasource/dotnet-version/__fixtures__/releases-7.0.json
  lib/modules/datasource/dotnet-version/__fixtures__/releases-index.json
  lib/modules/datasource/dotnet-version/index.spec.ts
  lib/modules/datasource/dotnet-version/index.ts
  lib/modules/datasource/dotnet-version/readme.md
  lib/modules/datasource/dotnet-version/schema.ts
  lib/modules/manager/nuget/extract.spec.ts
  lib/modules/manager/nuget/extract/global-manifest.ts
  lib/modules/manager/nuget/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/modules/datasource/dotnet-version/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

more migrations
  lib/config/migrations/custom/datasource-migration.spec.ts
  lib/config/migrations/custom/datasource-migration.ts
  lib/modules/datasource/api.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
