Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Group similar changelog items
  docs/usage/release-notes-for-major-versions.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fix prettier
  lib/modules/datasource/go/base.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/argocd): Add support for Kustomize image overrides (#27670)
  lib/modules/manager/argocd/__fixtures__/validApplication.yml
  lib/modules/manager/argocd/extract.spec.ts
  lib/modules/manager/argocd/extract.ts
  lib/modules/manager/argocd/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Rewrite most changelog items
  docs/usage/release-notes-for-major-versions.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a18790c1e41978663ea5234b821cb015288fe672
Due: ls-lint, prettier --cache --ignore-unknown --write

Rewrite changelog items, draft topics for maintainers
  docs/usage/release-notes-for-major-versions.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Rename url parameter
  lib/modules/datasource/go/base.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(go): Detect repository name from the metadata URL instead of module name
  lib/modules/datasource/go/__fixtures__/go-get-submodule-gitlab.html
  lib/modules/datasource/go/base.spec.ts
  lib/modules/datasource/go/base.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor more
  lib/modules/datasource/go/base.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove unnecessary regex
  lib/modules/datasource/go/base.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  0af6470c70531f5d68d27f7c65c3d890a3953f67
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(go): Simplify `.git` suffix handling for GitLab EE (#30336)
  lib/modules/datasource/go/base.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(managers/git-submodules): support updating git-tag versions (#30104)
  lib/modules/manager/git-submodules/__fixtures__/.gitmodules.8
  lib/modules/manager/git-submodules/extract.spec.ts
  lib/modules/manager/git-submodules/extract.ts
  lib/modules/manager/git-submodules/readme.md
  lib/modules/manager/git-submodules/update.spec.ts
  lib/modules/manager/git-submodules/update.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ba7a39dec0b06dac47df0b30014b70ccfc6ae052
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(changelogs): Include `depName` in release name patterns
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
  lib/workers/repository/update/pr/changelog/release-notes.ts
  lib/workers/repository/update/pr/changelog/source.ts
  lib/workers/repository/update/pr/changelog/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: drop invalid file
  lib/util/package-rules/matchers.ts.orig
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: drop invalid file (#30393)
  lib/util/package-rules/matchers.ts.orig
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(package-rules): wrong prefix match glob
  lib/config/migrations/custom/package-rules-migration.ts
  lib/util/minimatch.spec.ts
  lib/util/package-rules/dep-names.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: fix tests
  lib/config/migration.spec.ts
  lib/config/migrations/custom/package-rules-migration.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(package-rules): wrong prefix match glob (#30394)
  lib/config/migration.spec.ts
  lib/config/migrations/custom/package-rules-migration.spec.ts
  lib/config/migrations/custom/package-rules-migration.ts
  lib/util/minimatch.spec.ts
  lib/util/package-rules/dep-names.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(git): enhance commit signing tests
  lib/util/git/private-key.spec.ts
  test/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4da584a9a2b772534273e169a6dfeff3cb8757a2
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager): add bitrise manager (#30256)
  lib/modules/manager/api.ts
  lib/modules/manager/bitrise/extract.spec.ts
  lib/modules/manager/bitrise/extract.ts
  lib/modules/manager/bitrise/index.ts
  lib/modules/manager/bitrise/readme.md
  lib/modules/manager/bitrise/schema.ts
  lib/modules/manager/bitrise/utils.spec.ts
  lib/modules/manager/bitrise/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d439f84bf9fdcb0955fd4cab79a4b4e53691b5bc
Due: ls-lint, prettier --cache --ignore-unknown --write

test(git): fix temp dir path
  lib/util/git/private-key.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gitea): wrong stae for merged PR
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/types.ts
  lib/modules/platform/gitea/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(git): enhance commit signing tests (#30396)
  lib/util/git/private-key.spec.ts
  test/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gitea): wrong state for merged PR (#30398)
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/types.ts
  lib/modules/platform/gitea/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6cc830a8d904b1b963b4ff70106e5bbd247bc363
Due: ls-lint, prettier --cache --ignore-unknown --write

`pnpm prettier --write`
  lib/workers/repository/update/pr/changelog/source.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

style: fix import order
  lib/util/git/private-key.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert stricter regex terminating `$`.
  lib/workers/repository/update/pr/changelog/release-notes.ts
  lib/workers/repository/update/pr/changelog/source.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(https): Separate rules lists by rate limit type
  lib/util/http/rate-limit.spec.ts
  lib/util/http/rate-limits.ts
  lib/util/http/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(http): Increase concurrency limit for npm registry
  lib/util/http/rate-limits.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(https): Separate rules lists by rate limit type (#30399)
  lib/util/http/rate-limit.spec.ts
  lib/util/http/rate-limits.ts
  lib/util/http/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(http): Increase concurrency limit for npm registry (#30400)
  lib/util/http/rate-limits.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c737c8acd048cd720b0622ccd14b86d756a2bc83
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4bf279480ac957eca2fa66639a65e42365626508
Due: ls-lint, prettier --cache --ignore-unknown --write

Remove CI changes, commit files, add gen docs
  .github/workflows/build.yml
  lib/modules/datasource/hex/.gitignore
  lib/modules/datasource/hex/package.ts
  lib/modules/datasource/hex/readme.md
  lib/modules/datasource/hex/signed.ts
  package.json
  tools/generate-hex-protos.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write
