Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: capitalize Dependency Dashboard in docs and config option description (#25569)
  docs/usage/configuration-options.md
  docs/usage/security-and-permissions.md
  lib/config/presets/internal/default.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: fix small typo in code example (#25535)
  docs/usage/config-validation.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(config): validate reconfigure branch (#24699)
  docs/usage/config-validation.md
  lib/util/cache/repository/types.ts
  lib/workers/repository/finalize/index.ts
  lib/workers/repository/finalize/prune.spec.ts
  lib/workers/repository/finalize/prune.ts
  lib/workers/repository/init/merge.ts
  lib/workers/repository/reconfigure/index.spec.ts
  lib/workers/repository/reconfigure/index.ts
  lib/workers/repository/reconfigure/reconfigure-cache.spec.ts
  lib/workers/repository/reconfigure/reconfigure-cache.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  32/340dbc47add900e149193528a51a3b9911192c
Due: ls-lint, prettier --cache --ignore-unknown --write

Update docs/usage/configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: fix typo in best-practices preset heading
  docs/usage/upgrade-best-practices.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: fix typo in best-practices preset heading (#25573)
  docs/usage/upgrade-best-practices.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(manager/git-submodules): Support for special branch value `.` (#25507)
  lib/modules/manager/git-submodules/__fixtures__/.gitmodules.7
  lib/modules/manager/git-submodules/extract.spec.ts
  lib/modules/manager/git-submodules/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b8/9c37033b8f14cddff25fdbe5c17cdad755fdf0
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(data): automatic update of static data
  data/debian-distro-info.json
  data/node-js-schedule.json
  data/ubuntu-distro-info.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

add edit-urls in meta of preset pages
  tools/docs/presets.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/key-concepts/how-it-works.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add Carthage support
  lib/modules/datasource/api.ts
  lib/modules/datasource/carthage/index.spec.ts
  lib/modules/datasource/carthage/index.ts
  lib/modules/datasource/carthage/types.ts
  lib/modules/manager/api.ts
  lib/modules/manager/carthage/__fixtures__/Cartfile.initial
  lib/modules/manager/carthage/__fixtures__/Cartfile.resolved.final_binary
  lib/modules/manager/carthage/__fixtures__/Cartfile.resolved.final_git
  lib/modules/manager/carthage/__fixtures__/Cartfile.resolved.initial
  lib/modules/manager/carthage/__fixtures__/Cartfile.sample
  lib/modules/manager/carthage/artifacts.spec.ts
  lib/modules/manager/carthage/artifacts.ts
  lib/modules/manager/carthage/extract.spec.ts
  lib/modules/manager/carthage/extract.ts
  lib/modules/manager/carthage/index.ts
  lib/modules/manager/carthage/readme.md
  lib/modules/manager/carthage/types.ts
  lib/modules/versioning/api.ts
  lib/modules/versioning/carthage/index.spec.ts
  lib/modules/versioning/carthage/index.ts
  lib/modules/versioning/carthage/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

use switch statement
  tools/docs/presets.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove unused import
  tools/docs/presets.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(changelogs): Migrate fetchReleaseNotes to fetchChangeLogs (#25364)
  docs/usage/configuration-options.md
  docs/usage/dependency-pinning.md
  docs/usage/examples/self-hosting.md
  docs/usage/getting-started/private-packages.md
  docs/usage/getting-started/running.md
  docs/usage/getting-started/use-cases.md
  docs/usage/key-concepts/automerge.md
  docs/usage/self-hosted-configuration.md
  lib/config/migrations/custom/fetch-release-notes-migration.spec.ts
  lib/config/migrations/custom/fetch-release-notes-migration.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
  lib/workers/repository/updates/branchify.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add advanced wf
  docs/usage/key-concepts/how-it-works.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f7/0f0c82beda4712f11f93a4a111ca4f56d4ea5a
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(presets): add extractVersion to regex managers
  lib/config/presets/internal/regex-managers.spec.ts
  lib/config/presets/internal/regex-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Format
  lib/config/presets/internal/regex-managers.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cargo): lint
  lib/modules/manager/cargo/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add hickory-dns and trust-dns monorepos
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Use `toml-eslint-parser` instead of `@iarna/toml`
  lib/modules/manager/cargo/extract.ts
  lib/modules/manager/gradle/extract/catalog.ts
  lib/modules/manager/pep621/utils.ts
  lib/modules/manager/pipenv/extract.ts
  lib/modules/manager/poetry/artifacts.ts
  lib/util/schema-utils.ts
  lib/util/toml.spec.ts
  lib/util/toml.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Parsing error test
  lib/util/toml.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix type error
  lib/modules/manager/cargo/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(kustomize): support image digest pinning in newTag
  lib/modules/manager/kustomize/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/kustomize/extract.spec.ts
  lib/modules/manager/kustomize/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  lib/modules/manager/kustomize/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add hickory-dns and trust-dns monorepos (#25593)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/util/toml.ts
  lib/util/toml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/util/toml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  39/35e2eb16aecdb51b3f85fc02baf8e4e430180b
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: predictible json/json5 handling (#24612)
  lib/config/presets/gitea/index.ts
  lib/config/presets/github/index.ts
  lib/config/presets/gitlab/index.ts
  lib/config/presets/local/common.ts
  lib/config/presets/util.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/codecommit/index.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
  lib/util/common.spec.ts
  lib/util/common.ts
  lib/workers/global/config/parse/file.ts
  lib/workers/repository/init/merge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

store labels in existing debugData
  lib/modules/platform/pr-body.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/pr/body/index.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
  lib/workers/repository/update/pr/labels.spec.ts
  lib/workers/repository/update/pr/labels.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  42/31b1ae09535ec88eef53f557d51c478e0d7afe
Due: ls-lint, prettier --cache --ignore-unknown --write

fix build issues
  lib/modules/platform/pr-body.ts
  lib/workers/repository/update/pr/index.ts
  lib/workers/repository/update/pr/labels.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(yarn): Don't parse empty yarnrc files
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/workers/repository/update/pr/labels.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(yarn): Don't parse empty yarnrc files (#25609)
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
