Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

build!: drop compatibility from docker image (#28588)
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(git)!: determine branch modification based on all branch commits (#28225)
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/finalize/prune.ts
  lib/workers/repository/onboarding/branch/index.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.spec.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/branch/reuse.ts
  lib/workers/repository/update/pr/automerge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ec/9f55354fb38a5682b3a19b79cbd963516227f1
Due: ls-lint, prettier --cache --ignore-unknown --write

rename and ignore from docs
  lib/config/options/index.ts
  lib/config/types.ts
  tools/docs/config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bitbucket): Cache reviewer sanitation requests
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

redo ts comment
  lib/config/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add monorepo astro
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add monorepo astro (#28698)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bitbucket): Cache reviewer sanitation requests (#28694)
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  CODE_OF_CONDUCT.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7b/fddb436c85196a3fa0acd946d0a89711f92b8c
Due: ls-lint, prettier --cache --ignore-unknown --write

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Update tools/docs/test/index.test.mjs
  tools/docs/test/index.test.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: update references to ubuntu versions
  docs/usage/configuration-options.md
  docs/usage/docker.md
  docs/usage/examples/self-hosting.md
  lib/modules/manager/azure-pipelines/readme.md
  lib/modules/manager/github-actions/readme.md
  lib/modules/versioning/ubuntu/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore: improve link to discussion select screen in issue template chooser
  .github/ISSUE_TEMPLATE/config.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore: improve link to discussion select screen in issue template chooser (#28703)
  .github/ISSUE_TEMPLATE/config.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

docs(faq): explain how to find version number of hosted app
  docs/usage/faq.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fix lint issue, expand instructions
  docs/usage/faq.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update .eslintrc.js
  .eslintrc.js
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: clarify enterprise naming
  docs/usage/self-hosted-experimental.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: refractor paragraph
  docs/usage/self-hosted-experimental.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ef/873f026375a747b7a2ac79d12958a7abd37b82
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(data): automatic update of static data
  data/node-js-schedule.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e3/90cae1926b832ec79f7de1aa733caea710bbaa
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(datasource/go): use @latest to determin pseudo version
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

stricter
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  81/1fc274319416d847e43a25f4c243f8b147b7c3
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix lint
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update readme
  lib/modules/datasource/go/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

major readme
  lib/modules/datasource/go/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: improve merge confidence api base url variable doc (#28532)
  docs/usage/self-hosted-experimental.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(cargo): default to rangeStrategy=update-lockfile
  lib/modules/manager/cargo/range.spec.ts
  lib/modules/manager/cargo/range.ts
  lib/modules/manager/cargo/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(npm)!: remove RENOVATE_CACHE_NPM_MINUTES
  docs/usage/self-hosted-experimental.md
  lib/config/presets/npm/index.spec.ts
  lib/modules/datasource/npm/get.ts
  lib/modules/datasource/npm/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config)!: globalExtends merge order (#28145)
  docs/usage/self-hosted-experimental.md
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/pep621)!: remove group name from depName (#28193)
  lib/modules/manager/pep621/extract.spec.ts
  lib/modules/manager/pep621/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(npm)!: drop transitiveRemediation option (#27985)
  docs/usage/configuration-options.md
  lib/config/migrations/migrations-service.ts
  lib/config/options/index.ts
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
