Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: only replace prefix with registry alias (#33922)
  lib/modules/manager/dockerfile/extract.spec.ts
  lib/modules/manager/dockerfile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix tests - return an object for repository/commits/<sha> api
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix tests
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5ffd464a8ffdd664cb9e13a05a57ba9fd363d5d9
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a3f4098852bf0ff90f8bf23ce60916409c2c99d7
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(presets): add tailwindcss monorepo
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(managers/custom): generic manager for json files (#32784)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/validation-helpers/utils.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/modules/manager/custom/api.ts
  lib/modules/manager/custom/index.spec.ts
  lib/modules/manager/custom/jsonata/index.spec.ts
  lib/modules/manager/custom/jsonata/index.ts
  lib/modules/manager/custom/jsonata/readme.md
  lib/modules/manager/custom/jsonata/schema.ts
  lib/modules/manager/custom/jsonata/types.ts
  lib/modules/manager/custom/jsonata/utils.ts
  lib/modules/manager/custom/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add tailwindcss monorepo (#33940)
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

detect lockfile read errors
  lib/modules/manager/mix/artifacts.spec.ts
  lib/modules/manager/mix/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bazel-module): support `bazel_dep` dependencies without the `version` parameter (#33496)
  docs/usage/bazel.md
  lib/modules/manager/bazel-module/context.spec.ts
  lib/modules/manager/bazel-module/extract.spec.ts
  lib/modules/manager/bazel-module/rules.spec.ts
  lib/modules/manager/bazel-module/rules.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4ca76e40b550ea75980a139015c3b3479478a932
Due: ls-lint, prettier --cache --ignore-unknown --write

test: coverage back to 100%
  lib/modules/manager/mix/artifacts.spec.ts
  lib/modules/manager/mix/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: correctly update missing labels issue (#33903)
  tools/find-issues-with-missing-labels.sh
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(presets): match on devDependencies or dev for dev dependencies-related presets (#33909)
  lib/config/presets/__snapshots__/index.spec.ts.snap
  lib/config/presets/internal/default.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  545bf31bc00f9661db8cd9c511fc862feaa24ab4
Due: ls-lint, prettier --cache --ignore-unknown --write

Refactor
  lib/modules/manager/cloudbuild/extract.ts
  lib/modules/manager/cloudbuild/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(versioning): aws-eks-addons urls back
  lib/modules/versioning/aws-eks-addon/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/datasource/aws-eks-addon/index.spec.ts
  lib/modules/datasource/aws-eks-addon/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions
  lib/modules/manager/devbox/extract.spec.ts
  lib/modules/manager/devbox/extract.ts
  lib/modules/manager/devbox/schema.spec.ts
  lib/modules/manager/devbox/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(logger): Add `withMeta` helper
  lib/logger/index.spec.ts
  lib/logger/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource): add eks addon datasource
  lib/modules/datasource/aws-eks-addon/index.spec.ts
  lib/modules/datasource/aws-eks-addon/index.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource): add eks addon datasource. merge with main
  pnpm-lock.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(schema): Add logging utilities for catch calls
  lib/modules/manager/composer/schema.ts
  lib/util/schema-utils.spec.ts
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/util/schema-utils.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bumpVersions): allow fileMatch in bumpVersions
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(pip-compile): support `uv pip compile`
  lib/modules/manager/pip-compile/artifacts.spec.ts
  lib/modules/manager/pip-compile/artifacts.ts
  lib/modules/manager/pip-compile/common.spec.ts
  lib/modules/manager/pip-compile/common.ts
  lib/modules/manager/pip-compile/readme.md
  lib/modules/manager/pip-compile/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

style: Remove unused var
  lib/modules/manager/terragrunt/modules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(schema): Add logging utilities for catch calls (#33950)
  lib/modules/manager/composer/schema.ts
  lib/util/schema-utils.spec.ts
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(logger): Add `withMeta` helper (#33948)
  lib/logger/index.spec.ts
  lib/logger/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: move bumpPackageVersion to a separate function
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3053a9ec4a43e82a1c0a16ccdbb3682f0c6f6b21
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  48ab56fcedca9bb36bdef674a062c36f2473b49f
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: do not flip when reusing branch
  lib/workers/repository/update/branch/bump-versions.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1e6ebecfbb81bae5c9e544abbd37ddc5c34b7f78
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ba0bbbbc2865ba0ceb962642ccb10e5ea61c807b
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  98ccb43514f6962e76e46fe03f759024f054f3d6
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(nix): rework to work with all flake inputs (#31921)
  lib/modules/manager/nix/extract.spec.ts
  lib/modules/manager/nix/extract.ts
  lib/modules/manager/nix/index.ts
  lib/modules/manager/nix/readme.md
  lib/modules/manager/nix/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(versioning): fix types
  tools/docs/versioning.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
