Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

fix(config-migration): fetch raw file from platform, not fs (#27049)
  lib/workers/repository/config-migration/branch/migrated-data.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ab/4d04b41551dad9c1f5aa62fb480a7d6f314bdf
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(platform): getRepoForceRebase -> getBranchForceRebase
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/codecommit/index.spec.ts
  lib/modules/platform/codecommit/index.ts
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/__snapshots__/index.spec.ts.snap
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/types.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/local/index.spec.ts
  lib/modules/platform/local/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/branch/reuse.spec.ts
  lib/workers/repository/update/branch/reuse.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

simplify bitbucket-server signature
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove unused
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/configuration-options.md
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/validation.ts
  lib/modules/manager/cargo/artifacts.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update index.spec.ts
  lib/modules/platform/bitbucket-server/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github): Add 30 minutes debounce between cache syncs
  lib/util/github/graphql/cache-strategies/abstract-cache-strategy.ts
  lib/util/github/graphql/cache-strategies/memory-cache-strategy.spec.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.spec.ts
  lib/util/github/graphql/datasource-fetcher.spec.ts
  lib/util/github/graphql/datasource-fetcher.ts
  lib/util/github/graphql/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Better comment
  lib/util/github/graphql/datasource-fetcher.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  31/67f46e01dc0cc0fb1dcdc2f8f3d6b25ac2ed36
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager/pep621): set currentVersion field for exact dependency versions
  lib/modules/manager/pep621/extract.spec.ts
  lib/modules/manager/pep621/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(packageRules/package*): consider packageNames for package* excludes (#27047)
  lib/util/package-rules/package-names.spec.ts
  lib/util/package-rules/package-names.ts
  lib/util/package-rules/package-prefixes.spec.ts
  lib/util/package-rules/package-prefixes.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  12/a902286abe200b9ec45d9406a8ce6bdc982e10
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  04/4f643cd7bf6e0862417f52637b3a79c4ae5636
Due: ls-lint, prettier --cache --ignore-unknown --write

Handle long-term cache invalidation while flag is still set
  lib/util/github/graphql/datasource-fetcher.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix test
  lib/util/github/graphql/datasource-fetcher.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add test
  lib/util/github/graphql/datasource-fetcher.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

make env top-level option
  lib/config/validation.spec.ts
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add env in commitFingerprint
  lib/workers/repository/process/fingerprint-fields.ts
  lib/workers/repository/process/write.ts
  lib/workers/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/config/options/index.ts
  lib/modules/manager/cargo/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/workers/repository/process/write.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/manager/maven/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: Obtain repository files without checkout
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/scm.ts
  lib/util/git/index.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  92/50a70d68d064317dfc736a462df9fbed3500e0
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b2/bc591922956387387adc9f73b9ed5332321404
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager/pep621): set currentVersion field for exact dependency versions (#27061)
  lib/modules/manager/pep621/extract.spec.ts
  lib/modules/manager/pep621/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ca/80f6c2ed45ff0e9e163b0a6692603ac6881c5e
Due: ls-lint, prettier --cache --ignore-unknown --write

remove pipeline count
  lib/modules/manager/tekton/__fixtures__/multi-doc-annotations.yaml
  lib/modules/manager/tekton/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(style guide): add spelling examples
  docs/development/style-guide.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(style guide): add spelling examples (#27071)
  docs/development/style-guide.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(about us): bump outside contributor count
  docs/usage/about-us.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/util/github/graphql/datasource-fetcher.ts
  lib/util/github/graphql/datasource-fetcher.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(about us): bump outside contributor number (#27073)
  docs/usage/about-us.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  52/c567f9c02cd8d4cdf279ad559680b3f763f0d0
Due: ls-lint, prettier --cache --ignore-unknown --write

Update outdated error message
  lib/workers/repository/error.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

prettier
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Quote args
  lib/modules/manager/pip-compile/artifacts.ts
  lib/modules/manager/pip-compile/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
