Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  9d5e9de4a9e443a47931b6443f359e8605f68bef
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(pnpm): de-duplicate version numbers in `minimumReleaseAgeExclude`
  lib/modules/manager/npm/artifacts.spec.ts
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Mention opting in after closing the PR
  docs/usage/getting-started/installing-onboarding.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(pnpm): de-duplicate version numbers in `minimumReleaseAgeExclude` (#40613)
  lib/modules/manager/npm/artifacts.spec.ts
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(onboarding): mention what happens when closing the onboarding PR (#40624)
  docs/usage/getting-started/installing-onboarding.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

ci: Adjust coverage thresholds
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

ci: Adjust coverage thresholds (#40626)
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3110c83e1d67a635423ffdff47ba1a29799c093a
Due: ls-lint, prettier --cache --ignore-unknown --write

test(onboarding): clarify that if cache is valid, no onboarding PR updates
  lib/workers/repository/onboarding/pr/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(onboarding): clarify that if cache is valid, no onboarding PR updates (#40628)
  lib/workers/repository/onboarding/pr/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(onboardingAutoCloseAge): close PRs when onboarding cache is up-to-date
  lib/workers/repository/onboarding/pr/index.spec.ts
  lib/workers/repository/onboarding/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(onboardingAutoCloseAge): close PRs when onboarding cache is up-to-date (#40629)
  lib/workers/repository/onboarding/pr/index.spec.ts
  lib/workers/repository/onboarding/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(flux): map Helm sourceRef names via registryAliases (#40158)
  lib/modules/manager/flux/extract.spec.ts
  lib/modules/manager/flux/extract.ts
  lib/modules/manager/flux/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2b6dbf48710980933efea1e51751f6a0e89b4821
Due: ls-lint, prettier --cache --ignore-unknown --write

ci: never cancel in-progress release jobs
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore(deps): switch to @jrnv/good-enough-parser
  lib/modules/manager/bazel-module/parser/common.ts
  lib/modules/manager/bazel-module/parser/context.ts
  lib/modules/manager/bazel-module/parser/extension-tags.ts
  lib/modules/manager/bazel-module/parser/index.spec.ts
  lib/modules/manager/bazel-module/parser/index.ts
  lib/modules/manager/bazel-module/parser/repo-rules.ts
  lib/modules/manager/bazel-module/parser/rules.ts
  lib/modules/manager/bazel/parser.ts
  lib/modules/manager/cpanfile/language.ts
  lib/modules/manager/cpanfile/parser.ts
  lib/modules/manager/gradle-wrapper/artifacts.ts
  lib/modules/manager/gradle/parser.ts
  lib/modules/manager/gradle/parser/apply-from.ts
  lib/modules/manager/gradle/parser/assignments.ts
  lib/modules/manager/gradle/parser/common.spec.ts
  lib/modules/manager/gradle/parser/common.ts
  lib/modules/manager/gradle/parser/dependencies.ts
  lib/modules/manager/gradle/parser/language-version.ts
  lib/modules/manager/gradle/parser/objects.ts
  lib/modules/manager/gradle/parser/plugins.ts
  lib/modules/manager/gradle/parser/registry-urls.ts
  lib/modules/manager/gradle/parser/version-catalogs.ts
  lib/modules/manager/gradle/types.ts
  lib/modules/manager/pip_setup/extract.ts
  lib/modules/manager/sbt/extract.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(github-actions): add comments to parsing functions
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/parse.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(versioning): Add `rust-release-channel` versioning scheme (#39859)
  lib/modules/versioning/api.ts
  lib/modules/versioning/rust-release-channel/index.spec.ts
  lib/modules/versioning/rust-release-channel/index.ts
  lib/modules/versioning/rust-release-channel/parse.spec.ts
  lib/modules/versioning/rust-release-channel/parse.ts
  lib/modules/versioning/rust-release-channel/readme.md
  lib/modules/versioning/rust-release-channel/types.ts
  lib/modules/versioning/rust-release-channel/util.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(github-actions): Simplify line parsing (#40096)
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/parse.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/crate): use `pubtime` when available (#40621)
  lib/modules/datasource/crate/__fixtures__/libc
  lib/modules/datasource/crate/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/crate/index.spec.ts
  lib/modules/datasource/crate/index.ts
  lib/modules/datasource/crate/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/mise): expand file patterns to match mise's config search (#40094)
  docs/usage/node.md
  lib/modules/manager/mise/index.spec.ts
  lib/modules/manager/mise/index.ts
  lib/modules/manager/mise/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/cpan): Handle modules with missing version (#40430)
  lib/modules/datasource/cpan/schema.spec.ts
  lib/modules/datasource/cpan/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci: never cancel in-progress release jobs (#40630)
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(datasource/github-digest): Add datasource for non-semver refs
  docs/usage/self-hosted-configuration.md
  lib/modules/datasource/api.ts
  lib/modules/datasource/github-digest/index.spec.ts
  lib/modules/datasource/github-digest/index.ts
  lib/modules/datasource/github-digest/readme.md
  lib/util/cache/package/namespaces.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github-actions): Support non-semver refs (tags and branches)
  lib/modules/manager/github-actions/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/index.ts
  lib/modules/manager/github-actions/parse.spec.ts
  lib/modules/manager/github-actions/parse.ts
  lib/modules/manager/github-actions/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c7586aee070c45a7919236e9b7ef27adaf849f7e
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(onboardingAutoCloseAge): mark repositories as "closed-onboarding" after close
  lib/workers/repository/onboarding/pr/index.spec.ts
  lib/workers/repository/onboarding/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(tools): reduce noise in generate-imports script
  tools/generate-imports.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add coverage (part1)
  .github/workflows/build.yml
  lib/util/cache/package/file.ts
  lib/util/cache/package/index.ts
  lib/util/cache/package/namespaces.ts
  lib/util/cache/repository/http-cache.ts
  lib/util/check-token.ts
  lib/util/clone.ts
  lib/util/emoji.ts
  lib/util/exec/common.ts
  lib/util/exec/docker/index.ts
  lib/util/exec/hermit.ts
  lib/util/fs/index.ts
  lib/util/git/auth.ts
  lib/util/git/index.ts
  lib/util/git/span-processor.spec.ts
  lib/util/git/span-processor.ts
  lib/util/git/url.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.ts
  lib/util/github/graphql/query-adapters/releases-query-adapter.ts
  lib/util/host-rules.ts
  lib/util/http/auth.ts
  lib/util/http/bitbucket-server.ts
  lib/util/http/bitbucket.ts
  lib/util/http/cache/abstract-http-cache-provider.ts
  lib/util/http/errors.ts
  lib/util/http/github.ts
  lib/util/http/gitlab.ts
  lib/util/http/got.ts
  lib/util/http/http.ts
  lib/util/http/index.ts
  lib/util/interpolator.ts
  lib/util/pretty-time.ts
  lib/util/schema-utils/index.ts
  lib/util/stats.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(types): document `ProcessStatus`
  lib/workers/repository/result.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(onboardingAutoCloseAge): mark repositories as "closed-onboarding" after close (#40633)
  lib/workers/repository/onboarding/pr/index.spec.ts
  lib/workers/repository/onboarding/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add coverage (part1) (#40636)
  .github/workflows/build.yml
  lib/util/cache/package/file.ts
  lib/util/cache/package/index.ts
  lib/util/cache/package/namespaces.ts
  lib/util/cache/repository/http-cache.ts
  lib/util/check-token.ts
  lib/util/clone.ts
  lib/util/emoji.ts
  lib/util/exec/common.ts
  lib/util/exec/docker/index.ts
  lib/util/exec/hermit.ts
  lib/util/fs/index.ts
  lib/util/git/auth.ts
  lib/util/git/index.ts
  lib/util/git/span-processor.spec.ts
  lib/util/git/span-processor.ts
  lib/util/git/url.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.ts
  lib/util/github/graphql/query-adapters/releases-query-adapter.ts
  lib/util/host-rules.ts
  lib/util/http/auth.ts
  lib/util/http/bitbucket-server.ts
  lib/util/http/bitbucket.ts
  lib/util/http/cache/abstract-http-cache-provider.ts
  lib/util/http/errors.ts
  lib/util/http/github.ts
  lib/util/http/gitlab.ts
  lib/util/http/got.ts
  lib/util/http/http.ts
  lib/util/http/index.ts
  lib/util/interpolator.ts
  lib/util/pretty-time.ts
  lib/util/schema-utils/index.ts
  lib/util/stats.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config)!: make `useCloudMetadataServices` environment-only
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/config/options/index.ts
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  9fe353adb41f3af1d344216137a2239737897df5
Due: ls-lint, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
