Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

test(pkgbuild): add tests for alternate file extensions
  lib/modules/manager/pkgbuild/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(pkgbuild): add tests for error paths in npm, CPAN, and git parsers
  lib/modules/manager/pkgbuild/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(pkgbuild): add tests for remaining edge cases and hostname variants
  lib/modules/manager/pkgbuild/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(pkgbuild): add tests for index.ts exports
  lib/modules/manager/pkgbuild/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(pkgbuild): add test for pkgver fallback to currentValue
  lib/modules/manager/pkgbuild/update.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(pkgbuild): support all architecture-specific checksums and filename fallback
  lib/modules/manager/pkgbuild/extract.spec.ts
  lib/modules/manager/pkgbuild/extract.ts
  lib/modules/manager/pkgbuild/readme.md
  lib/modules/manager/pkgbuild/types.ts
  lib/modules/manager/pkgbuild/update.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: Update note for pinDigestsDisabled
  lib/config/presets/internal/default.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update replacements.json
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(bitbucket): abandoned dependencies section heading formatting (#39817)
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update to only recommend lts versions
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e8f77e59265f940a26f4e0899fedd804b9443e4f
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(bitbucket-server): add support for platformAutomerge
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket-server/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

update test
  lib/modules/platform/bitbucket/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

collapsible formatting
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  db51445ab210bd5c0b294111bcff439cf97f7dd9
Due: ls-lint, prettier --cache --ignore-unknown --write

collapsible formatting
  lib/modules/platform/bitbucket/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

move to custom manager
  lib/config/presets/common.ts
  lib/config/presets/internal/custom-managers.spec.ts
  lib/config/presets/internal/custom-managers.ts
  lib/data/replacements.json
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update commit message extra
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

refactor(dashboard): only add count if has deps
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
  lib/workers/repository/package-files.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(replacements): add express-response-middleware
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore: fix trailing comma
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Use postupdateoptions.
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.ts
  lib/modules/manager/composer/utils.spec.ts
  lib/modules/manager/composer/utils.ts
  lib/modules/manager/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove the lock file before lock file maintenance upgrade.
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Import
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update bunfig.ts
  lib/modules/manager/bun/bunfig.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(rust-version): Implement `rust-release-channel` versioning scheme
  lib/modules/versioning/api.ts
  lib/modules/versioning/rust-release-channel/index.spec.ts
  lib/modules/versioning/rust-release-channel/index.ts
  lib/modules/versioning/rust-release-channel/parse.spec.ts
  lib/modules/versioning/rust-release-channel/parse.ts
  lib/modules/versioning/rust-release-channel/readme.md
  lib/modules/versioning/rust-release-channel/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Import isString
  lib/modules/manager/bun/bunfig.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/datasource/git-refs/index.ts
  lib/modules/datasource/git-refs/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  db824b9c85d3d2ceb8ec06a226d8e50ed945a2ae
Due: ls-lint, prettier --cache --ignore-unknown --write

Simplify BunfigRegistrySchema by removing unused fields
  lib/modules/manager/bun/bunfig.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: replace reduce usage with for..of loop
  lib/modules/manager/poetry/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

get integrity via getDigest
  lib/modules/datasource/npm/index.ts
  lib/modules/datasource/npm/types.ts
  lib/modules/manager/npm/artifacts.spec.ts
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add test for fallback to npm view
  lib/modules/manager/npm/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix packageurl
  lib/modules/datasource/npm/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Address review comments
  lib/modules/platform/gerrit/client.spec.ts
  lib/modules/platform/gerrit/client.ts
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gerrit/readme.md
  lib/modules/platform/gerrit/scm.spec.ts
  lib/modules/platform/gerrit/scm.ts
  lib/modules/platform/gerrit/types.ts
  lib/modules/platform/gerrit/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

better import
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update comment to not mention corepack
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(npm): triggers error if both datasource and cli fails
  lib/modules/manager/npm/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(npm): trim whitespace
  lib/modules/manager/npm/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
