Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(platform/gitlab): stabilize PR/MR auto-merge for Gitlab
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(logs): mention debug logging on exit if info level set (#27350)
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

quote --upgrade-package
  lib/modules/manager/pip-compile/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  17/9da735b67941cb682aecef8f725f3ff729dbf3
Due: ls-lint, prettier --cache --ignore-unknown --write

Add test
  lib/workers/repository/process/lookup/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(vulnerabilities): describe last_affected version as ecosystem-specific version constraint (#27363)
  lib/workers/repository/process/vulnerabilities.spec.ts
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix prettier
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add test
  lib/modules/manager/pip-compile/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  88/ab15c0227fa43d1b0142893fa7eac25580c15f
Due: ls-lint, prettier --cache --ignore-unknown --write

Revert update to pip-compile
  lib/modules/manager/pip-compile/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Use "Result" wrapper for "fetchDepUpdates" function
  lib/workers/repository/process/fetch.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix prettier
  lib/workers/repository/process/fetch.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3f/c76faa29323a2c2ab5b80e82a834c68d68e46f
Due: ls-lint, prettier --cache --ignore-unknown --write

Update docs/usage/configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

implemented changes suggested by rarkins
  lib/modules/platform/github/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(logger): Log level remapping (#26951)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/logger/index.ts
  lib/logger/remap.spec.ts
  lib/logger/remap.ts
  lib/logger/types.ts
  lib/workers/global/index.ts
  lib/workers/global/initialize.ts
  lib/workers/repository/index.ts
  lib/workers/repository/init/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Use "Result" wrapper for "fetchDepUpdates" function (#27365)
  lib/workers/repository/process/fetch.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix tests
  lib/workers/repository/process/fetch.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3b/3f4c10036d140a1c041112cb36e8af075be64c
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor: Flatten update lookup tasks
  lib/util/promises.ts
  lib/workers/repository/process/fetch.spec.ts
  lib/workers/repository/process/fetch.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Tweak tip
  lib/modules/platform/github/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

implemented changes suggested by viceice
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/schema.spec.ts
  lib/modules/platform/github/schema.ts
  lib/modules/platform/github/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  24/0d7b6a97b6e1a46a83172b79083f8a83b1ed99
Due: ls-lint, prettier --cache --ignore-unknown --write

test(manager/maven): refactor tests and remove snapshots
  lib/modules/manager/maven/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/maven/__snapshots__/index.spec.ts.snap
  lib/modules/manager/maven/extract.spec.ts
  lib/modules/manager/maven/index.spec.ts
  lib/modules/manager/maven/update.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add another unit test to cover the one missing line
  lib/modules/platform/github/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix linting issues
  lib/modules/platform/github/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add manual changelog URLs for logback and slf4j
  lib/modules/datasource/metadata-manual.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

package-rules: add newValue matcher
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/util/package-rules/index.ts
  lib/util/package-rules/matchers.ts
  lib/util/package-rules/new-value.spec.ts
  lib/util/package-rules/new-value.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(manager/maven): refactor tests and remove snapshots (#27371)
  lib/modules/manager/maven/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/maven/__snapshots__/index.spec.ts.snap
  lib/modules/manager/maven/extract.spec.ts
  lib/modules/manager/maven/index.spec.ts
  lib/modules/manager/maven/update.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Full artifact name
  lib/modules/datasource/metadata-manual.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "feat(presets/http): support subpresets/preset names"
  docs/usage/config-presets.md
  lib/config/presets/http/index.spec.ts
  lib/config/presets/http/index.ts
  lib/config/presets/index.spec.ts
  lib/config/presets/index.ts
  lib/config/presets/types.ts
  lib/config/presets/util.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Lint
  lib/modules/datasource/metadata-manual.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Sort
  lib/modules/datasource/metadata-manual.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: allow optional node args when calling renovate wrapper
  tools/docker/bin/renovate
Due: ls-lint, prettier --cache --ignore-unknown --write

de-capitalize datasource mappings
  lib/types/vulnerability-alert.ts
  lib/workers/repository/init/vulnerability.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: allow optional node args when calling renovate wrapper (#27376)
  tools/docker/bin/renovate
Due: ls-lint, prettier --cache --ignore-unknown --write

Change host type to `preset`
  lib/config/presets/http/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  75/d2d374c0c4bd5c3af90557ec67aa182710cf1a
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: skip commands if no upgrades
  lib/modules/manager/npm/post-update/pnpm.spec.ts
  lib/modules/manager/npm/post-update/pnpm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: handle pnpm in updateLockedDependency
  lib/modules/manager/npm/update/locked-dependency/index.spec.ts
  lib/modules/manager/npm/update/locked-dependency/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
