Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(datasource/custom): log data before jsonata processing (#30241)
  lib/modules/datasource/custom/index.ts
  lib/modules/datasource/custom/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a13ab2cffae271771156b89018cf1351c80b6b30
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(manager/woodpecker): Fix outdated hyperlinks
  lib/modules/manager/woodpecker/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3d54939fb488381604ec1adb057c80a0c915bf80
Due: ls-lint, prettier --cache --ignore-unknown --write

rename var
  tools/docs/presets.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/workers/global/config/parse/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): group flyway dependencies (add to 'recommended')
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(datasource/custom): rewrite debugging section
  lib/modules/datasource/custom/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(presets): group flyway dependencies (add to 'recommended') (#30248)
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/circleci): optional jobs parameter
  lib/modules/manager/circleci/__fixtures__/config4.yml
  lib/modules/manager/circleci/extract.spec.ts
  lib/modules/manager/circleci/extract.ts
  lib/modules/manager/circleci/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8a5e291b17938028f06f997c163ac8c08e8143c2
Due: ls-lint, prettier --cache --ignore-unknown --write

use json file request for now till raw fetching is ready, this will only work for files smaller than 1MB
  lib/modules/datasource/bitrise/index.spec.ts
  lib/modules/datasource/bitrise/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove github http util
  lib/util/http/github.spec.ts
  lib/util/http/github.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/circleci): optional jobs parameter (#30251)
  lib/modules/manager/circleci/__fixtures__/config4.yml
  lib/modules/manager/circleci/extract.spec.ts
  lib/modules/manager/circleci/extract.ts
  lib/modules/manager/circleci/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7272dd2d756ec7051b5e7c8e7433a853b26c1f0d
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: fix type issue and update test snapshot
  lib/modules/manager/cargo/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/cargo/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  07ad2e4035190c9589faf9f8d596a50dd0c53279
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: fix tests again, revert to previous missing dep behaviour
  lib/modules/manager/cargo/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/cargo/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: move back to conditional for missing deps
  lib/modules/manager/cargo/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/cargo/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/util/http/rate-limits.ts
  lib/util/http/rate-limits.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  lib/util/http/rate-limits.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove commitMessageTopic
  lib/modules/manager/bun-version/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add homepage
  lib/modules/datasource/bitrise/index.spec.ts
  lib/modules/datasource/bitrise/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager): start with bitrise manager
  lib/modules/manager/api.ts
  lib/modules/manager/bitrise/extract.spec.ts
  lib/modules/manager/bitrise/extract.ts
  lib/modules/manager/bitrise/index.ts
  lib/modules/manager/bitrise/schema.ts
  lib/modules/manager/bitrise/utils.spec.ts
  lib/modules/manager/bitrise/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

implement bitrise manager
  lib/modules/manager/api.ts
  lib/modules/manager/bitrise/extract.spec.ts
  lib/modules/manager/bitrise/extract.ts
  lib/modules/manager/bitrise/index.ts
  lib/modules/manager/bitrise/readme.md
  lib/modules/manager/bitrise/schema.ts
  lib/modules/manager/bitrise/utils.spec.ts
  lib/modules/manager/bitrise/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

add support for advanced step configurations
  lib/modules/manager/bitrise/extract.spec.ts
  lib/modules/manager/bitrise/extract.ts
  lib/modules/manager/bitrise/index.ts
  lib/modules/manager/bitrise/schema.ts
  lib/modules/manager/bitrise/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(lib/data): monorepo (#30210)
  lib/config/presets/internal/monorepos.ts
  lib/data/monorepo.json
  lib/data/readme.md
  tools/docs/presets.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ca638ef9a5d68aad8489b2190c1961e25643e47f
Due: ls-lint, prettier --cache --ignore-unknown --write

simplify section handling to make it more easily extendable in the future.
  lib/modules/manager/gleam/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix failing tests
  lib/modules/manager/gleam/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

move replacements to lib/data
  lib/config/presets/internal/replacements.ts
  lib/data/readme.md
  lib/data/replacements.json
  tools/docs/presets.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

update readme
  lib/data/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

move metadat-manual to lib/data
  lib/data/changelog-urls.json
  lib/data/readme.md
  lib/data/source-urls.json
  lib/modules/datasource/metadata-manual.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

update docs
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

test null condition
  lib/modules/manager/gleam/extract.spec.ts
  lib/modules/manager/gleam/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test null path
  lib/modules/manager/gleam/artifacts.spec.ts
  lib/modules/manager/gleam/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test returns null if cannot read lock file
  lib/modules/manager/gleam/artifacts.spec.ts
  lib/modules/manager/gleam/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test temporary error when reading the lock file
  lib/modules/manager/gleam/artifacts.spec.ts
  lib/modules/manager/gleam/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

improve readme
  lib/modules/manager/gleam/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore: trace logging for versionCompatibility
  lib/modules/datasource/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
