Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

feat(manager/gradle): extend support for property accessors
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/dependencies.ts
  lib/modules/manager/gradle/parser/version-catalogs.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use the proper format for poetry version constraint when updating lockfile
  lib/modules/manager/poetry/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/sbt/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/sbt/__snapshots__/extract.spec.ts.snap
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager/gradle): extend support for property accessors (#19974)
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/dependencies.ts
  lib/modules/manager/gradle/parser/version-catalogs.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint fix
  lib/modules/manager/sbt/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7a/6d1f06ac57dc1433a7a7fae9f4e893f7fcc5a9
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(manager/sbt): Support for updating Scala 3 (#19911)
  lib/modules/manager/sbt/extract.spec.ts
  lib/modules/manager/sbt/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  9e/ef71a72aa883d0ebf604c408ff90da296b318c
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(presets): add prettier, standard to linters
  lib/config/presets/__snapshots__/index.spec.ts.snap
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/packages.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/repository/process/limits.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(packagist): Use schema for `packages.json` file (#19930)
  lib/modules/datasource/packagist/index.spec.ts
  lib/modules/datasource/packagist/index.ts
  lib/modules/datasource/packagist/schema.ts
  lib/modules/datasource/packagist/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/datasource/npm/yarnrc.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/cargo/range.spec.ts
  lib/modules/manager/cargo/range.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/terraform/extractors/others/modules.ts
  lib/modules/manager/terraform/extractors/others/modules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ca/66adabdb103f62722d1b87710f9e7e7158f34f
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor: get rid of fixtures again
  lib/modules/datasource/npm/__fixtures__/malformed.yarnrc.yml
  lib/modules/datasource/npm/__fixtures__/multiple-scopes.yarnrc.yml
  lib/modules/datasource/npm/__fixtures__/registry-not-a-string.yarnrc.yml
  lib/modules/datasource/npm/__fixtures__/registry-only.yarnrc.yml
  lib/modules/datasource/npm/__fixtures__/scoped-registry-not-a-string.yarnrc.yml
  lib/modules/datasource/npm/__fixtures__/scopes-not-an-object.yarnrc.yml
  lib/modules/datasource/npm/__fixtures__/single-scope-not-an-object.yarnrc.yml
  lib/modules/datasource/npm/yarnrc.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(manager/terraform): remove usages of any and use types (#19815)
  lib/modules/manager/terraform/base.ts
  lib/modules/manager/terraform/extractors.ts
  lib/modules/manager/terraform/extractors/others/modules.ts
  lib/modules/manager/terraform/extractors/others/providers.ts
  lib/modules/manager/terraform/extractors/resources/generic-docker-image-ref.spec.ts
  lib/modules/manager/terraform/extractors/resources/generic-docker-image-ref.ts
  lib/modules/manager/terraform/extractors/resources/generic-docker-image.spec.ts
  lib/modules/manager/terraform/extractors/resources/helm-release.ts
  lib/modules/manager/terraform/extractors/resources/terraform-workspace.ts
  lib/modules/manager/terraform/extractors/terraform-block/required-provider.ts
  lib/modules/manager/terraform/extractors/terraform-block/terraform-version.ts
  lib/modules/manager/terraform/hcl/index.spec.ts
  lib/modules/manager/terraform/hcl/index.ts
  lib/modules/manager/terraform/hcl/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add prettier, standard to linters (#19978)
  lib/config/presets/__snapshots__/index.spec.ts.snap
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/packages.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: use zod to validate yarnrc yml
  lib/modules/datasource/npm/yarnrc.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8e/8cbba0e62ac5ccac0a24de295a468c5c2101b8
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(packagist): Improve fetch concurrency
  lib/modules/datasource/packagist/index.ts
  lib/modules/datasource/packagist/schema.ts
  lib/modules/datasource/packagist/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: no cycles
  .eslintrc.js
  lib/modules/manager/bazel/parser.spec.ts
  lib/modules/manager/bazel/parser.ts
  lib/modules/manager/bazel/rules/index.ts
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.ts
  lib/modules/manager/gradle/extract.spec.ts
  lib/modules/manager/gradle/extract.ts
  lib/modules/manager/gradle/parser.ts
  lib/modules/manager/gradle/parser/handlers.ts
  lib/modules/manager/nuget/artifacts.spec.ts
  lib/modules/manager/nuget/artifacts.ts
  lib/util/fs/index.spec.ts
  lib/util/fs/index.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/string.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add another chart
  lib/modules/manager/helmfile/__fixtures__/helmfile-two.lock
  lib/modules/manager/helmfile/__fixtures__/helmfile.lock
  lib/modules/manager/helmfile/__fixtures__/helmfile.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

test: Cover unchanged lockfile properly
  lib/modules/manager/helmfile/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: Add argocd to the asdf extract unit test
  lib/modules/manager/asdf/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

style(presets/regex-managers): use `codeBlock`
  lib/config/presets/internal/regex-managers.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  lib/modules/datasource/packagist/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: use codeBlock helper for inline YAML
  lib/modules/datasource/npm/yarnrc.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: infer YarnConfig from YarnrcYmlSchema
  lib/modules/datasource/npm/yarnrc.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(maven-wrapper): Add manager to update maven wrapper version (#15660)
  lib/modules/manager/api.ts
  lib/modules/manager/maven-wrapper/artifacts.spec.ts
  lib/modules/manager/maven-wrapper/artifacts.ts
  lib/modules/manager/maven-wrapper/extract.spec.ts
  lib/modules/manager/maven-wrapper/extract.ts
  lib/modules/manager/maven-wrapper/index.ts
  lib/modules/manager/maven-wrapper/readme.md
  lib/modules/manager/maven-wrapper/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets/regex-managers): allow 'actions' in GitHub Actions preset (#19966)
  lib/config/presets/internal/regex-managers.spec.ts
  lib/config/presets/internal/regex-managers.ts
  lib/modules/manager/hermit/default-config.spec.ts
  test/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7c/f131021a770c15c8b108297c29d5edea89f352
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(config): add new optin releaseConstraintFiltering
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/datasource/index.spec.ts
  lib/modules/datasource/index.ts
  lib/modules/datasource/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: correct path argument
  lib/modules/manager/helmfile/artifacts.spec.ts
  lib/modules/manager/helmfile/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(packagist): Improve fetch concurrency (#19981)
  lib/modules/datasource/packagist/index.ts
  lib/modules/datasource/packagist/schema.ts
  lib/modules/datasource/packagist/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update old tests
  lib/modules/datasource/pypi/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: test a bit more
  lib/modules/manager/helmfile/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: updated after review feedback
  lib/modules/manager/helmfile/artifacts.spec.ts
  lib/modules/manager/helmfile/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: no cycles (#19982)
  .eslintrc.js
  lib/modules/manager/bazel/parser.spec.ts
  lib/modules/manager/bazel/parser.ts
  lib/modules/manager/bazel/rules/index.ts
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.ts
  lib/modules/manager/gradle/extract.spec.ts
  lib/modules/manager/gradle/extract.ts
  lib/modules/manager/gradle/parser.ts
  lib/modules/manager/gradle/parser/handlers.ts
  lib/modules/manager/nuget/artifacts.spec.ts
  lib/modules/manager/nuget/artifacts.ts
  lib/util/fs/index.spec.ts
  lib/util/fs/index.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/string.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e7/8048dfc1d0d5321fd338748ded9a5db7e02d30
Due: ls-lint, prettier --cache --ignore-unknown --write
