Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

feat: Http cache stats (#27956)
  lib/modules/datasource/npm/get.ts
  lib/util/http/index.ts
  lib/util/stats.spec.ts
  lib/util/stats.ts
  lib/workers/repository/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add support for registryAliases feat: swap out non-vendir specific functions for well tested helm functions test: add test for registryAliases
  lib/modules/manager/vendir/__fixtures__/alias-contents.yaml
  lib/modules/manager/vendir/__fixtures__/non-helmchart.yaml
  lib/modules/manager/vendir/artifacts.spec.ts
  lib/modules/manager/vendir/artifacts.ts
  lib/modules/manager/vendir/extract.spec.ts
  lib/modules/manager/vendir/extract.ts
  lib/modules/manager/vendir/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5d/7372f917878e0366c7c5d20703974eeb2863c5
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: increase log level for misconfigured lockfiles fix: change wording for warn message
  lib/modules/manager/vendir/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: lint errors
  lib/modules/manager/vendir/artifacts.spec.ts
  lib/modules/manager/vendir/extract.spec.ts
  lib/modules/manager/vendir/readme.md
  lib/modules/manager/vendir/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: type errors
  lib/modules/manager/vendir/__fixtures__/empty-directories.yaml
  lib/modules/manager/vendir/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(platform/gitlab): move automerge re-attempt from updatePr to reattemptPlatformAutomerge
  docs/usage/configuration-options.md
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: update example
  lib/modules/manager/vendir/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

test(platform/gitlab): resolve coverage issue
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gitlab): Don't delete approval rules (report_approver, code_owner) that can't be deleted
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(manager/gitlabci) Add hint about environment variables not beeing used
  lib/modules/manager/gitlabci/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(http): Pluggable HTTP cache
  lib/modules/datasource/maven/util.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/pr.ts
  lib/util/cache/repository/types.ts
  lib/util/http/bitbucket-server.ts
  lib/util/http/bitbucket.ts
  lib/util/http/cache/abstract-http-cache-provider.ts
  lib/util/http/cache/repository-http-cache-provider.spec.ts
  lib/util/http/cache/repository-http-cache-provider.ts
  lib/util/http/cache/schema.ts
  lib/util/http/cache/types.ts
  lib/util/http/gitea.ts
  lib/util/http/github.ts
  lib/util/http/gitlab.ts
  lib/util/http/index.spec.ts
  lib/util/http/index.ts
  lib/util/http/jira.ts
  lib/util/http/types.ts
  lib/util/http/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix eslint
  lib/util/http/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gitlab): Fix linter
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(instrumentation/report): add problems to reports
  lib/config/validation.spec.ts
  lib/instrumentation/reporting.spec.ts
  lib/instrumentation/reporting.ts
  lib/instrumentation/types.ts
  lib/workers/global/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Test authorization
  lib/util/http/cache/repository-http-cache-provider.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add zod schema fix: remove ! from aliases
  lib/config/options/index.ts
  lib/modules/manager/vendir/extract.ts
  lib/modules/manager/vendir/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8d/c9705e93cff972123124baf45a46009ea6ce86
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(config/validation): fixup regression
  lib/config/validation.spec.ts
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update label check to not require status labels
  tools/check-unlabeled-issues.sh
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/config/options/index.ts
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix validation tests
  lib/config/validation.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/config/validation.ts
  lib/instrumentation/reporting.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(instrumentation/reporting): add report option (#26087)
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/instrumentation/reporting.spec.ts
  lib/instrumentation/reporting.ts
  lib/instrumentation/types.ts
  lib/util/cache/repository/types.ts
  lib/util/fs/index.spec.ts
  lib/util/fs/index.ts
  lib/workers/global/index.ts
  lib/workers/repository/finalize/repository-statistics.ts
  lib/workers/repository/index.ts
  test/s3.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  48/1aa216b22a5fd5c26a1bda8aafe3c5b41e719f
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(gitlab): Don't delete `report_approver` and `code_owner` approval rules (#27963)
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(versioning): Add Unity3D (#27307)
  lib/modules/versioning/api.ts
  lib/modules/versioning/unity3d/index.spec.ts
  lib/modules/versioning/unity3d/index.ts
  lib/modules/versioning/unity3d/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

more testing
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/workers/repository/init/inherited.spec.ts
  lib/workers/repository/init/inherited.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: use node 20 for .nvmrc
  .nvmrc
Due: ls-lint, prettier --cache --ignore-unknown --write

docs
  docs/development/local-development.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  28/e0123a3eab7a96dc0c1afd613211d6231fbf32
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: use node 20 for .nvmrc (#27970)
  .nvmrc
  docs/development/local-development.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

finish tests
  lib/config/index.ts
  lib/config/types.ts
  lib/workers/repository/init/inherited.spec.ts
  lib/workers/repository/init/inherited.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix merge error
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(ci): Shallow clone "codecov.yml" for coverage uploads
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore(ci): Upgrade "codecov-action" to v4.1.0
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

ci: Shallow clone "codecov.yml" for coverage uploads (#27973)
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write
