Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove templates when parsing toml schema
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add pep621 pyproject template test
  lib/modules/manager/pep621/__fixtures__/pyproject_with_template.toml
  lib/modules/manager/pep621/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/github-runners): deprecate ubuntu 20.04
  lib/modules/datasource/github-runners/index.spec.ts
  lib/modules/datasource/github-runners/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Drop draft npm manager only script execution
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Do not enumerate global config options
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(manager): add Cabal/Haskell manager using Hackage/PVP
  lib/constants/category.ts
  lib/modules/manager/api.ts
  lib/modules/manager/haskell-cabal/extract.spec.ts
  lib/modules/manager/haskell-cabal/extract.ts
  lib/modules/manager/haskell-cabal/index.spec.ts
  lib/modules/manager/haskell-cabal/index.ts
  tools/docs/manager.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(manager/haskell-cabal): Run prettier
  lib/modules/manager/haskell-cabal/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/development/issue-labeling.md
  docs/development/issue-labeling.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update tools/find-issues-with-missing-labels.sh
  tools/find-issues-with-missing-labels.sh
Due: ls-lint, prettier --cache --ignore-unknown --write

address code review comments
  lib/logger/index.spec.ts
  lib/logger/index.ts
  lib/logger/renovate-logger.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(manager/haskell-cabal): add readme
  lib/modules/manager/haskell-cabal/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/logger/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

restructure unit test
  lib/logger/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

review changes
  lib/logger/index.ts
  lib/logger/renovate-logger.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d6bf458b95e140b2fcdcc4daf8d087a7a420324f
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(datasource/github-runners): deprecate Ubuntu 20.04 (#33139)
  lib/modules/datasource/github-runners/index.spec.ts
  lib/modules/datasource/github-runners/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  365acffd50146fd4a650277983209fdf92a64c12
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: use permissions per job
  .github/workflows/find-issues-with-missing-labels.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore(manager/haskell-cabal): fix markdown link
  lib/modules/manager/haskell-cabal/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fix code coverage issue
  lib/modules/versioning/devbox/index.spec.ts
  lib/modules/versioning/devbox/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e8f192ad0e5510bf27a5d6c768ef794a2d13c121
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(config-overview.md): explain order of operations for final config (#32623)
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: change heading level for why updating often is easier (#33019)
  docs/usage/upgrade-best-practices.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(groups): add io.micrometer group (#33137)
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a32f1e4be77865aef0d7480f85c359d085245353
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: check for non-labeled issues (#32707)
  .github/workflows/find-issues-with-missing-labels.yml
  docs/development/issue-labeling.md
  tools/find-issues-with-missing-labels.sh
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  af6a80edcc5f917422164fb9d4ff104fd0fbce07
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager/helmfile): allow forward slashes in OCI chart names
  lib/modules/manager/helmfile/extract.spec.ts
  lib/modules/manager/helmfile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(logger): improve readability and modularity (#33058)
  lib/logger/index.spec.ts
  lib/logger/index.ts
  lib/logger/renovate-logger.ts
  lib/logger/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(go): Request only info for versions with the same major
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Ignore it for majors < 2
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add test
  lib/modules/datasource/go/releases-goproxy.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add comment
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(cache): add extract revision, stop deleting skipReason
  lib/util/cache/repository/types.ts
  lib/workers/repository/process/extract-update.spec.ts
  lib/workers/repository/process/extract-update.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/workers/repository/process/extract-update.ts
  lib/workers/repository/process/extract-update.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(cache): add extract revision, stop deleting skipReason (#33172)
  lib/util/cache/repository/types.ts
  lib/workers/repository/process/extract-update.spec.ts
  lib/workers/repository/process/extract-update.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixup! feat(manager/helmfile): allow forward slashes in OCI chart names
  lib/modules/manager/helmfile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8ae744857c18337dd0f8b9c47d5a70e9e4b17b73
Due: ls-lint, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
