Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,mts,ts}": [
    "oxlint --import-plugin --fix",
    "biome check --write",
    "prettier --write"
  ],
  "!(*.{js,cjs,mjs,mts,ts})": "prettier --ignore-unknown --write"
}

new changes
  lib/modules/manager/ant/extract.spec.ts
  lib/modules/manager/ant/extract.ts
  lib/modules/manager/ant/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix lints
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier

feat(package-rules): add disableChangeLog option
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/util/package-rules/index.spec.ts
  lib/workers/repository/changelog/index.spec.ts
  lib/workers/repository/changelog/index.ts
  lib/workers/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor: packageRules.fetchChangeLog
  docs/usage/configuration-options.md
  docs/usage/key-concepts/changelogs.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/util/package-rules/index.spec.ts
  lib/workers/repository/changelog/index.spec.ts
  lib/workers/repository/changelog/index.ts
  lib/workers/repository/changelog/types.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
  lib/workers/types.ts
  test/docs/documentation.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

restore errant deletion
  lib/workers/repository/update/branch/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Refactor comments for clarity in types.ts
  lib/workers/repository/changelog/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  9dd5810f2cd7a0408fcb5883480bf84e21a5cfa3
Due: ls-lint

Notes added by 'git notes add'
  7dd76a563062cd42ae3cc6e657d24d774a065fbb
Due: ls-lint

Notes added by 'git notes add'
  556773b85a0f6fa11b7ba6923432cd376b20f04e
Due: ls-lint

chore: fix coverage
  lib/modules/manager/npm/artifacts.ts
  lib/modules/manager/npm/detect.ts
  lib/modules/manager/npm/extract/common/package-file.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/post/locked-versions.ts
  lib/modules/manager/npm/extract/yarn.ts
  lib/modules/manager/npm/npmrc.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/modules/manager/npm/post-update/node-version.ts
  lib/modules/manager/npm/post-update/npm.ts
  lib/modules/manager/npm/post-update/pnpm.ts
  lib/modules/manager/npm/post-update/rules.ts
  lib/modules/manager/npm/post-update/utils.ts
  lib/modules/manager/npm/post-update/yarn.ts
  lib/modules/manager/npm/update/dependency/index.ts
  lib/modules/manager/npm/update/dependency/pnpm.spec.ts
  lib/modules/manager/npm/update/dependency/pnpm.ts
  lib/modules/manager/npm/update/dependency/yarn.ts
  lib/modules/manager/npm/update/locked-dependency/common/parent-version.ts
  lib/modules/manager/npm/update/locked-dependency/package-lock/dep-constraints.ts
  lib/modules/manager/npm/update/locked-dependency/package-lock/index.ts
  lib/modules/manager/npm/update/locked-dependency/yarn-lock/get-locked.ts
  lib/modules/manager/npm/update/locked-dependency/yarn-lock/index.ts
  lib/modules/manager/npm/utils.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(lint): Improve pnpm check (#42387)
  .github/contributing.md
  docs/development/local-development.md
  tools/check/coverage.ts
  tools/check/execution.ts
  tools/check/git.ts
  tools/check/index.ts
  tools/check/tui.ts
  tools/check/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(vulnerability): extract shared functionality into util functions (#42433)
  lib/util/vulnerability/utils.spec.ts
  lib/util/vulnerability/utils.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(vulnerability): check in case-insensitive manner
  lib/util/vulnerability/utils.spec.ts
  lib/util/vulnerability/utils.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Revert "build(deps): update dependency global-agent to v4 (main) (#41301)"
  package.json
  patches/global-agent.patch
  pnpm-lock.yaml
Due: ls-lint, prettier

fix: Revert "build(deps): update dependency global-agent to v4 (main)" (#42458)
  package.json
  patches/global-agent.patch
  pnpm-lock.yaml
Due: ls-lint, prettier

refactor(vulnerability): check in case-insensitive manner (#42457)
  lib/util/vulnerability/utils.spec.ts
  lib/util/vulnerability/utils.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(vulnerability): extract ecosystem<->datasource translation
  lib/util/vulnerability/ecosystem.spec.ts
  lib/util/vulnerability/ecosystem.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(presets): add BUN_CONFIG_MAX_HTTP_REQUESTS to safe global env
  lib/config/presets/internal/global.preset.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  2efa5514bbbd5ab3dd30d7365426f13e4f16dbe4
Due: ls-lint

order entry to fix tests
  lib/data/monorepo.json
Due: ls-lint, prettier

docs(manager/maven-wrapper): document private registry authentication support
  lib/modules/manager/maven-wrapper/readme.md
Due: ls-lint, markdown-lint, prettier

use updateDependency
  lib/modules/manager/ant/extract.ts
  lib/modules/manager/ant/index.ts
  lib/modules/manager/ant/update.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(types): use `BranchStatusConfig` for setting status checks
  lib/workers/repository/update/branch/status-checks.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  294f229c068814a5157b223fb48273b479b56883
Due: ls-lint

feat(npm): support pnpm workspace file overrides (#42247)
  lib/modules/manager/npm/artifacts.ts
  lib/modules/manager/npm/dep-types.ts
  lib/modules/manager/npm/detect.ts
  lib/modules/manager/npm/extract/common/package-file.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/pnpm.spec.ts
  lib/modules/manager/npm/extract/pnpm.ts
  lib/modules/manager/npm/extract/post/locked-versions.ts
  lib/modules/manager/npm/extract/yarn.ts
  lib/modules/manager/npm/npmrc.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/modules/manager/npm/post-update/node-version.ts
  lib/modules/manager/npm/post-update/npm.ts
  lib/modules/manager/npm/post-update/pnpm.ts
  lib/modules/manager/npm/post-update/rules.ts
  lib/modules/manager/npm/post-update/utils.ts
  lib/modules/manager/npm/post-update/yarn.ts
  lib/modules/manager/npm/schema.ts
  lib/modules/manager/npm/update/dependency/index.ts
  lib/modules/manager/npm/update/dependency/pnpm.spec.ts
  lib/modules/manager/npm/update/dependency/pnpm.ts
  lib/modules/manager/npm/update/dependency/yarn.ts
  lib/modules/manager/npm/update/locked-dependency/common/parent-version.ts
  lib/modules/manager/npm/update/locked-dependency/package-lock/dep-constraints.ts
  lib/modules/manager/npm/update/locked-dependency/package-lock/index.ts
  lib/modules/manager/npm/update/locked-dependency/yarn-lock/get-locked.ts
  lib/modules/manager/npm/update/locked-dependency/yarn-lock/index.ts
  lib/modules/manager/npm/utils.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  0afa852bbcacd20eee51faa0652124d0417487a4
Due: ls-lint

refactor(types): use `BranchStatusConfig` for setting status checks (#42463)
  lib/workers/repository/update/branch/status-checks.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(types): extract a `StatusCheckConfig`
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(otel): instrumentation needs to done first
  lib/renovate.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Apply suggestions from code review
  lib/renovate.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(instrumentation): ensure instrumentation is initialised first (#42471)
  lib/renovate.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  bd481ac73f4b0c1c599586cf3950fd64c5cb8c04
Due: ls-lint

Notes added by 'git notes add'
  83b89553262c67be6b706675536135654b57c6c2
Due: ls-lint

fix: use lockedVersion for currentVersionTimestamp lookup
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(types): extract a `StatusCheckConfig` (#42464)
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(vulnerability): extract ecosystem<->datasource translation (#42435)
  lib/util/vulnerability/ecosystem.spec.ts
  lib/util/vulnerability/ecosystem.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix coverage
  lib/modules/manager/ant/extract.spec.ts
  lib/modules/manager/ant/extract.ts
  lib/modules/manager/ant/update.spec.ts
  lib/modules/manager/ant/update.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! chore(enrichment): add basis for Enrichment module
  lib/workers/global/initialize.spec.ts
  lib/workers/global/initialize.ts
  lib/workers/repository/init/index.spec.ts
  lib/workers/repository/init/index.ts
  lib/workers/repository/process/extract-update.spec.ts
  lib/workers/repository/process/extract-update.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

sq
  lib/modules/enrichment/types.ts
  lib/workers/repository/process/lookup/generate.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(enrichment): add basis for Enrichment module
  lib/modules/enrichment/api.ts
  lib/modules/enrichment/index.spec.ts
  lib/modules/enrichment/index.ts
  lib/modules/enrichment/readme.md
  lib/modules/enrichment/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write
