Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "**/*.{ts,js,mjs,json,md,yml}": "prettier --cache --ignore-unknown --write"
}

feat: allow to install git-hook functions to local repositories
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add nuget/dotnet lockfile
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore: one more arrow conversion
  lib/modules/versioning/hashicorp/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: recommend set commitMessageTopic with packageRules
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(git): checkout branch in a safer way (#19681)
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6b/136998ede7ba24682b0365bbe1b9efd397e9af
Due: ls-lint

Add support for Azure DevOps Marketplace
  data/azure-pipelines-marketplace-tasks.json
  lib/modules/datasource/azure-pipelines-tasks/index.spec.ts
  lib/modules/datasource/azure-pipelines-tasks/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Adds test case to dataset
  data/azure-pipelines-marketplace-tasks.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Passes tests for marketplace tasks
  data/azure-pipelines-marketplace-tasks.json
  lib/modules/datasource/azure-pipelines-tasks/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use updated good-enough-parser
  lib/modules/manager/sbt/extract.ts
  lib/modules/manager/sbt/scala.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Downloads the latest Azure Pipelines Marketplace data
  tools/static-data/generate-azure-pipelines-marketplace-tasks.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  87/831e335b436c3c4bff9252c0263de40d24f1a1
Due: ls-lint

feat(git): allow to fetch with ref-specs
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github): GraphQL cache for datasources (#19059)
  lib/util/github/graphql/cache-strategies/abstract-cache-strategy.ts
  lib/util/github/graphql/cache-strategies/memory-cache-strategy.spec.ts
  lib/util/github/graphql/cache-strategies/memory-cache-strategy.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.spec.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.ts
  lib/util/github/graphql/datasource-fetcher.spec.ts
  lib/util/github/graphql/datasource-fetcher.ts
  lib/util/github/graphql/readme.md
  lib/util/github/graphql/types.ts
  lib/util/github/graphql/util.spec.ts
  lib/util/github/graphql/util.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update yarn.lock
  yarn.lock
Due: ls-lint

chore(eslint): Store custom eslint-plugin locally
  package.json
  tools/eslint/index.js
  tools/eslint/package.json
  yarn.lock
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  89/965bdcf2eeb99c9c66040808d410b19ec0d8e3
Due: ls-lint

build(deps): replace pretty-quick with lint-staged (#19388)
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  yarn.lock
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Ran prettier
  data/azure-pipelines-marketplace-tasks.json
  lib/modules/datasource/azure-pipelines-tasks/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix types
  tools/eslint/index.js
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add `automergeStableMinor` preset
  lib/config/presets/internal/default.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  33/9acee24e873362e9e12e794346a69f5fedf6e4
Due: ls-lint

feat(git): allow to fetch with ref-specs (#19697)
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint-fix and swap order of tests
  lib/util/git/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor
  lib/modules/datasource/github-releases/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ca/444bd9c16ab481e681256de3a891b86933a14d
Due: ls-lint

feat(git): more flexible git.hasDiff function (#19676)
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  64/4f559ea55abf4fdaa32a00158cf5b855a9d52d
Due: ls-lint

Update tools/eslint/package.json
  tools/eslint/package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix
  tools/eslint/index.js
  tools/eslint/index.mjs
  tools/eslint/package.json
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Cleanup yarn commands
  package.json
  tsconfig.strict.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Revert "fix"
  tools/eslint/index.js
  tools/eslint/index.mjs
  tools/eslint/package.json
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

refactor: Cleanup yarn commands (#19700)
  .github/workflows/build.yml
  package.json
  tsconfig.strict.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore(eslint): Store custom eslint-plugin locally (#19698)
  package.json
  tools/eslint/index.js
  tools/eslint/package.json
  yarn.lock
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(git): allow to install git-hook functions to local repositories (#19685)
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5b/4b64666880cfcb28b5b0611c8063d39c272780
Due: ls-lint

feat(github-tags): Leverage GraphQL for tag commit hashes (#19187)
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/github-tags/index.ts
  lib/util/github/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix types
  lib/modules/datasource/github-tags/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
