Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: update docs
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fixes
  lib/modules/datasource/docker/docker-hub-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(docker): Increase DockerHub items to 1000 per page
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(docker): Increase DockerHub items to 1000 per page (#24157)
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8f/7f941aaffead10e7dcefadae0cf4170b9deb9a
Due: ls-lint, prettier --cache --ignore-unknown --write

Create basic table, add links
  docs/usage/bot-comparison.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Improve table
  docs/usage/bot-comparison.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(cargo): revert back to bump strategy
  lib/modules/manager/cargo/range.spec.ts
  lib/modules/manager/cargo/range.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cargo): improve test coverage
  lib/modules/manager/cargo/__fixtures__/Cargo.8.lock
  lib/modules/manager/cargo/__fixtures__/Cargo.8.toml
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/cargo/artifacts.ts
  lib/modules/manager/cargo/extract.spec.ts
  lib/modules/manager/cargo/extract.ts
  lib/modules/manager/cargo/locked-version.spec.ts
  lib/modules/manager/cargo/locked-version.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cargo): revert docs back to bump strategy
  lib/modules/manager/cargo/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(docker): Support `releaseTimestamp` for DockerHub tag results
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: flux kustomization k8s api
  data/kubernetes-api.json5
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d8/abb2f1f22a07acc1ce718199041fa2a16b4e3a
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8b/de88333425d015e2fcea551129e1ff5dd3dd22
Due: ls-lint, prettier --cache --ignore-unknown --write

test: all migrationClasses aare present in customMigrations
  lib/config/migrations/migrations-service.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix lint issue
  lib/config/migrations/migrations-service.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: ensure presence of `CustomMigrationClasses` in `customMigrations` (#24171)
  lib/config/migrations/migrations-service.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  cf/d680d43e881e432637bfaae7d81c013c33dbe1
Due: ls-lint, prettier --cache --ignore-unknown --write

Fix `last_tag_pushed` nullability handling
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(cargo): lint
  lib/modules/manager/cargo/locked-version.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/kubernetes-api): flux kustomization k8s api (#24166)
  data/kubernetes-api.json5
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/modules/datasource/docker/schema.ts
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(github-tags): supprt digest lookups from secondary registry
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/github-tags/index.ts
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c5/739efad198dd32f08532d3a9ba44a05393a169
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(datasource/html-links): add html-links datasource
  lib/modules/datasource/api.ts
  lib/modules/datasource/html-links/__fixtures__/curl-downloads.html
  lib/modules/datasource/html-links/__fixtures__/nginx-downloads.html
  lib/modules/datasource/html-links/__fixtures__/simple.html
  lib/modules/datasource/html-links/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/html-links/common.ts
  lib/modules/datasource/html-links/index.spec.ts
  lib/modules/datasource/html-links/index.ts
  lib/modules/datasource/html-links/readme.md
  lib/util/http/bitbucket.spec.ts
  lib/util/http/index.spec.ts
  lib/util/http/index.ts
  lib/util/http/jira.spec.ts
  lib/util/http/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(docker): Support `releaseTimestamp` for DockerHub tag results (#24164)
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2f/4c7111b033898c89180d5526efe2b50c5d4bdb
Due: ls-lint, prettier --cache --ignore-unknown --write

Fixed pnpm lockfile
  pnpm-lock.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(docker): Support digests obtained from DockerHub
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/workers/repository/update/pr/changelog/gitea/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add debug message
  lib/workers/repository/update/pr/changelog/gitea/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(changelog): support gitea changelogs (#24144)
  docs/usage/configuration-options.md
  lib/constants/platforms.ts
  lib/modules/datasource/gitea-releases/schema.ts
  lib/modules/platform/gitea/schema.ts
  lib/util/common.spec.ts
  lib/util/common.ts
  lib/workers/repository/update/pr/changelog/api.ts
  lib/workers/repository/update/pr/changelog/gitea/index.spec.ts
  lib/workers/repository/update/pr/changelog/gitea/index.ts
  lib/workers/repository/update/pr/changelog/gitea/source.ts
  lib/workers/repository/update/pr/changelog/release-notes.ts
  lib/workers/repository/update/pr/changelog/source.ts
  lib/workers/repository/update/pr/changelog/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d3/da0bcef0fec9657fdf2ada17408970b64f691f
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: linting
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/docker): use schema and support annotations (#23758)
  lib/modules/datasource/docker/common.spec.ts
  lib/modules/datasource/docker/common.ts
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.spec.ts
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2b/245095e003e7a9a20548346be06bab00e4db42
Due: ls-lint, prettier --cache --ignore-unknown --write

oci support added to helmsman
  lib/modules/manager/helmsman/extract.ts
  lib/modules/manager/helmsman/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(flux): extract oci dependencies of type docker (#24185)
  lib/modules/manager/flux/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
