Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(versioning): fix parseint
  lib/modules/versioning/aws-eks-addon/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(versioning): aws-eks-addons
  lib/modules/versioning/aws-eks-addon/index.spec.ts
  lib/modules/versioning/aws-eks-addon/index.ts
  lib/modules/versioning/aws-eks-addon/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets/custom-managers): Expand acceptable datasource names
  lib/config/presets/internal/custom-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager): update terragrunt packageName
  lib/modules/manager/terragrunt/__fixtures__/2.hcl
  lib/modules/manager/terragrunt/__fixtures__/3.hcl
  lib/modules/manager/terragrunt/__fixtures__/4.hcl
  lib/modules/manager/terragrunt/extract.spec.ts
  lib/modules/manager/terragrunt/modules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: remove colons from depNameSanitized (#33672)
  lib/workers/repository/updates/flatten.spec.ts
  lib/workers/repository/updates/flatten.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: Allow to bypass certain policies in azure devops
  docs/usage/configuration-options.md
  lib/config/__snapshots__/validation.spec.ts.snap
  lib/config/options/index.ts
  lib/config/validation.spec.ts
  lib/modules/datasource/artifactory/__snapshots__/index.spec.ts.snap
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/azure/types.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/pr/automerge.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

style: Apply eslint fixes
  lib/modules/platform/azure/azure-helper.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Use constant AzurePolicyTypeId and reformat using prettier
  lib/modules/platform/azure/azure-helper.ts
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/azure/types.ts
  lib/workers/repository/update/pr/automerge.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3e7460238d2c0b435d700807eae1e6cc07b7db43
Due: ls-lint, prettier --cache --ignore-unknown --write

Add `ubuntu-22.04-arm` and `ubuntu-24.04-arm` support in GitHub Runners
  lib/modules/datasource/github-runners/index.spec.ts
  lib/modules/datasource/github-runners/index.ts
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update documentation
  lib/modules/datasource/github-runners/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Mark them as stable
  lib/modules/datasource/github-runners/index.spec.ts
  lib/modules/datasource/github-runners/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Consider latest-arm value, ignore it later
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  29385beb1e51685500cf309ac9b13ca8f39aae99
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(nuget): respect `global.json` for artifact updates (#33673)
  lib/modules/manager/nuget/artifacts.spec.ts
  lib/modules/manager/nuget/artifacts.ts
  lib/modules/manager/nuget/extract/global-manifest.ts
  lib/modules/manager/nuget/schema.ts
  lib/modules/manager/nuget/types.ts
  lib/modules/manager/nuget/util.spec.ts
  lib/modules/manager/nuget/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  beb8d2b81aee3bc3b3200dd0d33ccdbae4f93071
Due: ls-lint, prettier --cache --ignore-unknown --write

Don't skip the for loop if the value is unset
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add failed to retrieve commit pipeline test
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixup tests
  docs/usage/configuration-options.md
  docs/usage/key-concepts/changelogs.md
  lib/workers/global/config/parse/env.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove log message left in the repo
  lib/modules/manager/bazel-module/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bazel-module): support `bazel_dep` dependencies without the `version` parameter
  docs/usage/bazel.md
  lib/modules/manager/bazel-module/context.spec.ts
  lib/modules/manager/bazel-module/extract.spec.ts
  lib/modules/manager/bazel-module/extract.ts
  lib/modules/manager/bazel-module/rules.spec.ts
  lib/modules/manager/bazel-module/rules.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply Suggestions
  docs/usage/configuration-options.md
  lib/config/validation-helpers/utils.ts
  lib/modules/manager/custom/jsonata/index.spec.ts
  lib/modules/manager/custom/jsonata/index.ts
  lib/modules/manager/custom/jsonata/readme.md
  lib/modules/manager/custom/jsonata/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/config/validation.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix lint isue
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Apply Suggestions
  lib/workers/repository/config-migration/branch/create.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(preset): Add Protobuf monorepo group
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5f421474140c2f94075b4a10bad21741e92bedb7
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(preset): Add Protobuf monorepo group (#33686)
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d6264b663b957b49ffbb71c9b29170d06eda3f0b
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7df1d93a2819c7d39eadd288407eb71b699fc635
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8db105e115eb352cab84d3b1e8f59bd8b99093c2
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(gradle): add support for gradle repository content descriptors
  lib/modules/manager/gradle/extract.spec.ts
  lib/modules/manager/gradle/extract.ts
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser.ts
  lib/modules/manager/gradle/parser/common.spec.ts
  lib/modules/manager/gradle/parser/handlers.ts
  lib/modules/manager/gradle/parser/registry-urls.ts
  lib/modules/manager/gradle/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Update TimestampSchema to remove nullable handling across multiple schemas
  lib/modules/datasource/bitrise/schema.ts
  lib/modules/datasource/cpan/schema.ts
  lib/modules/datasource/crate/index.ts
  lib/modules/datasource/crate/schema.ts
  lib/modules/datasource/custom/schema.ts
  lib/modules/datasource/deno/schema.ts
  lib/modules/datasource/devbox/schema.ts
  lib/modules/datasource/dotnet-version/schema.ts
  lib/modules/datasource/endoflife-date/schema.ts
  lib/modules/datasource/galaxy-collection/schema.ts
  lib/modules/datasource/galaxy/schema.ts
  lib/modules/datasource/gitea-releases/schema.ts
  lib/modules/datasource/gitea-tags/schema.ts
  lib/modules/datasource/helm/schema.ts
  lib/modules/datasource/hex/schema.ts
  lib/modules/datasource/packagist/schema.ts
  lib/modules/datasource/python-version/schema.ts
  lib/modules/datasource/rubygems/schema.ts
  lib/util/timestamp.spec.ts
  lib/util/timestamp.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Replace TimestampSchema with MaybeTimestamp in multiple datasource schemas
  lib/modules/datasource/bitrise/schema.ts
  lib/modules/datasource/cpan/schema.ts
  lib/modules/datasource/crate/schema.ts
  lib/modules/datasource/custom/schema.ts
  lib/modules/datasource/deno/schema.ts
  lib/modules/datasource/devbox/schema.ts
  lib/modules/datasource/dotnet-version/schema.ts
  lib/modules/datasource/endoflife-date/schema.ts
  lib/modules/datasource/galaxy-collection/schema.ts
  lib/modules/datasource/galaxy/schema.ts
  lib/modules/datasource/gitea-releases/schema.ts
  lib/modules/datasource/gitea-tags/schema.ts
  lib/modules/datasource/helm/schema.ts
  lib/modules/datasource/hex/schema.ts
  lib/modules/datasource/packagist/schema.ts
  lib/modules/datasource/python-version/schema.ts
  lib/modules/datasource/rubygems/schema.ts
  lib/util/github/graphql/query-adapters/releases-query-adapter.ts
  lib/util/github/graphql/query-adapters/tags-query-adapter.ts
  lib/util/timestamp.spec.ts
  lib/util/timestamp.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/util/github/graphql/query-adapters/tags-query-adapter.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/haskell-cabal): Handle comments in Cabal file
  lib/modules/manager/haskell-cabal/extract.spec.ts
  lib/modules/manager/haskell-cabal/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(manager/haskell-cabal): Run ESLint
  lib/modules/manager/haskell-cabal/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Address PR comments
  lib/modules/manager/devbox/artifacts.ts
  lib/modules/manager/devbox/extract.spec.ts
  lib/modules/manager/devbox/extract.ts
  lib/modules/manager/devbox/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/haskell-cabal): Handle comments in Cabal file (#33695)
  lib/modules/manager/haskell-cabal/extract.spec.ts
  lib/modules/manager/haskell-cabal/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2fe8305a7c62aff5aa4e432a15f2f537ba17ca1f
Due: ls-lint, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
