Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixup: codecov
  lib/config/presets/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update index.ts
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip: remove extraneous try/catch
  lib/config/presets/gitlab/index.spec.ts
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip: add tests
  lib/config/presets/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: remove unused regex method call
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: linting fixes
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: do not reuse branch if cache fingerprint doesn't match (#36616)
  lib/workers/repository/process/write.spec.ts
  lib/workers/repository/process/write.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6528275f93164807b3ae8d53277263aa49343b92
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e994ca24ce7dfa5e0eb8ba4cab34cf6c103c1d6b
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8abfa2e61d55dbd356973e52798de947c001676b
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1555f8b416e387e0666c445f742a3993a343f184
Due: ls-lint, prettier --cache --ignore-unknown --write

add files
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/modules/manager/api.ts
  lib/modules/manager/crow/__fixtures__/.crow.yml
  lib/modules/manager/crow/extract.spec.ts
  lib/modules/manager/crow/extract.ts
  lib/modules/manager/crow/index.ts
  lib/modules/manager/crow/readme.md
  lib/modules/manager/crow/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/maven): remove tags (#37021)
  lib/modules/datasource/clojure/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/maven/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/maven/index.spec.ts
  lib/modules/datasource/maven/index.ts
  lib/modules/datasource/maven/readme.md
  lib/modules/datasource/maven/s3.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  9f63f4aa9364cdb88952d86a12896757a542b007
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f3cebb9b894ffa691a948fe2cfbd93835a103098
Due: ls-lint, prettier --cache --ignore-unknown --write

move to postUpdateOptions
  docs/usage/configuration-options.md
  docs/usage/php.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.ts
  lib/modules/manager/composer/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove stale section from config options
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Final cleanup
  lib/config/types.ts
  lib/modules/manager/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

period
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

update option name
  lib/modules/manager/composer/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f3ef8cadc02f6cc6dd8b81bbee7f4fc41b17b930
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(datasource/crate): return null instead of throwing an error
  lib/modules/datasource/crate/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6897dabac1e54ed9f387a45f250067ce43d5116b
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(dependency-dashboard): Refactor dependency dashboard logic to improve readability and reuse by introducing `getBranchesListMd` and `isCheckboxMarked` utilities.
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: Fix prettier
  lib/modules/datasource/crate/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d465b1c19d4dc4dc304786ccad2b903c9c8793cf
Due: ls-lint, prettier --cache --ignore-unknown --write

Include architecture when resolving latest JVM release version
  lib/modules/datasource/java-version/index.spec.ts
  lib/modules/datasource/java-version/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b1af9068e86d7dffe8d1d811a7f537a56ec6002b
Due: ls-lint, prettier --cache --ignore-unknown --write

Prevent early pagination termination in GitLab PR cache sync
  lib/modules/platform/gitlab/pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  82bd713b0197e71d4799b427c674c3be299caa93
Due: ls-lint, prettier --cache --ignore-unknown --write

Add support for uv workspaces
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add a note about supporting uv workspaces to PEP 621 documentation
  lib/modules/manager/pep621/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat: make dashboard branch/manager output in stable order
  lib/workers/repository/package-files.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update snapshot
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
Due: ls-lint, prettier --cache --ignore-unknown --write

also sort by package file
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
  lib/workers/repository/package-files.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(dashboard): update issue body language for consistency
  lib/workers/repository/__fixtures__/dependency-dashboard-with-10-PR.txt
  lib/workers/repository/dependency-dashboard.spec.ts
  package.json
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "refactor(dashboard): update issue body language for consistency"
  lib/workers/repository/__fixtures__/dependency-dashboard-with-8-PR.txt
  lib/workers/repository/dependency-dashboard.spec.ts
  package.json
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(dashboard): update issue body language for consistency
  lib/workers/repository/__fixtures__/dependency-dashboard-with-10-PR.txt
  lib/workers/repository/dependency-dashboard.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(dashboard): align verbiage for update type desc and interaction instructions (#36936)
  lib/modules/platform/utils/__fixtures__/issue-body.txt
  lib/modules/platform/utils/read-only-issue-body.ts
  lib/workers/repository/__fixtures__/dependency-dashboard-with-10-PR.txt
  lib/workers/repository/__fixtures__/dependency-dashboard-with-2-PR-closed-ignored.txt
  lib/workers/repository/__fixtures__/dependency-dashboard-with-2-PR-edited.txt
  lib/workers/repository/__fixtures__/dependency-dashboard-with-3-PR-in-approval.txt
  lib/workers/repository/__fixtures__/dependency-dashboard-with-3-PR-in-progress.txt
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
  lib/workers/repository/dependency-dashboard.spec.ts
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

composerUpdateAllDependencies -> composerWithAll
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
