Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(poetry): supersede `pep621`
  lib/modules/manager/poetry/index.ts
  lib/workers/repository/extract/supersedes.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use inline literal instead of fixture
  lib/modules/manager/pip-compile/__fixtures__/pyproject_with_setuptools.toml
  lib/modules/manager/pip-compile/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/nuget/extract.ts
  lib/modules/manager/nuget/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/nuget/extract.spec.ts
  lib/modules/manager/nuget/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c0887c703a34a2e1f5097d35f3bcae213f201be7
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: drop npmVersioning
  lib/modules/manager/pub/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3787141d097728f407eb2ffeb04ab9b0579ff278
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: remove unreachable if condition
  lib/modules/manager/pub/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(nuget): add simple check to skip non-xml files (#37453)
  lib/modules/manager/nuget/extract.spec.ts
  lib/modules/manager/nuget/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4f6bb056613d05779f3fc0e84649727ca75acbca
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6d47bcfe41c8844b83015a381d723e6dc935c345
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(pep621): Refactor PDM processor
  lib/modules/manager/pep621/processors/pdm.ts
  lib/modules/manager/pep621/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add comment explaining PEP 621 pypi URL handling
  lib/modules/manager/pep621/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/manager/pep621/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  bdadc72a2cff49c8d3538b0da6a16f58077c4416
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2a0b6f4474d50874c697db1f4e1701b83ef72f5c
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(static-config): attempt migration before aborting (#37456)
  lib/workers/repository/init/merge.spec.ts
  lib/workers/repository/init/merge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(pep621): Refactor PDM processor (#37465)
  lib/modules/manager/pep621/processors/pdm.ts
  lib/modules/manager/pep621/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ceeb69cade76cb4ef51a454402d59e0a9c3cb5aa
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(pr): warn when attestation removed
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Make property optional
  lib/modules/datasource/npm/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource): add attestation
  lib/modules/datasource/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/npm): remove snapshot
  lib/modules/datasource/npm/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/npm/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/npm): support attestation
  lib/modules/datasource/npm/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/npm/get.spec.ts
  lib/modules/datasource/npm/get.ts
  lib/modules/datasource/npm/index.spec.ts
  lib/modules/datasource/npm/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: address review feedback
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): add java 25 as next lts release
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix typo in regex
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(versioning/debian): future created versions are not valid
  lib/modules/versioning/debian/common.spec.ts
  lib/modules/versioning/debian/common.ts
  lib/modules/versioning/debian/index.spec.ts
  lib/modules/versioning/debian/index.ts
  lib/modules/versioning/distro.spec.ts
  lib/modules/versioning/distro.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: move nodejs schedule json out of generated data files
  lib/data/node-js-schedule.json
  lib/data/readme.md
  lib/modules/versioning/node/schedule.ts
  tools/static-data/generate-node-schedule.mjs
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestion from @rarkins
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Apply suggestion from @rarkins
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: move nodejs schedule json out of generated data files (#37481)
  lib/data/node-js-schedule.json
  lib/data/readme.md
  lib/modules/versioning/node/schedule.ts
  tools/static-data/generate-node-schedule.mjs
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): add java 25 as next lts release (#37475)
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(versioning/debian): future created versions are not valid (#37478)
  lib/modules/versioning/debian/common.spec.ts
  lib/modules/versioning/debian/common.ts
  lib/modules/versioning/debian/index.spec.ts
  lib/modules/versioning/debian/index.ts
  lib/modules/versioning/distro.spec.ts
  lib/modules/versioning/distro.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/crate): support 'dumb http' git registries (#36339)
  lib/modules/datasource/crate/index.spec.ts
  lib/modules/datasource/crate/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/nuget): support sourcing release notes from nuspec files (#36965)
  lib/modules/datasource/nuget/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/nuget/index.spec.ts
  lib/modules/datasource/nuget/v3.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f21b0e2c878ba5af202b7f21e8088ceebc895778
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager/composer): Add support for --with-all-dependencies (-W) (#36902)
  docs/usage/configuration-options.md
  docs/usage/php.md
  lib/config/options/index.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.ts
  lib/modules/manager/composer/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/github-release-attachments): support releases removed checksum files (#37151)
  lib/modules/datasource/github-release-attachments/digest.spec.ts
  lib/modules/datasource/github-release-attachments/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
