Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix formatting
  lib/config/validation.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/config/validation.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor again
  lib/config/validation.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

removed directory listing
  lib/modules/datasource/custom/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1e/edcf9cba82e505ced2b4a3ebde87e3cd517e25
Due: ls-lint, prettier --cache --ignore-unknown --write

unused imports
  lib/modules/datasource/custom/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(github-runners): add deprecation flag (#27291)
  lib/modules/datasource/github-runners/index.spec.ts
  lib/modules/datasource/github-runners/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  23/27ef121ca3be54ee04a617ecb6c8e8a320d55c
Due: ls-lint, prettier --cache --ignore-unknown --write

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/datasource/github-runners/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fix lint
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  57/ba14f677a701a883b5ca9f9a632b490fb13cfe
Due: ls-lint, prettier --cache --ignore-unknown --write

Wip
  lib/modules/manager/pip-compile/common.ts
  lib/modules/manager/pip-compile/extract.spec.ts
  lib/modules/manager/pip-compile/extract.ts
  lib/modules/manager/pip-compile/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Move to utils
  lib/modules/manager/pip-compile/common.ts
  lib/modules/manager/pip-compile/extract.ts
  lib/modules/manager/pip-compile/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Update lib/modules/datasource/github-runners/readme.md
  lib/modules/datasource/github-runners/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add more tests
  lib/modules/manager/pip-compile/utils.spec.ts
  lib/modules/manager/pip-compile/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/github-runners): add macos 14 beta (#27292)
  lib/modules/datasource/github-runners/index.spec.ts
  lib/modules/datasource/github-runners/index.ts
  lib/modules/datasource/github-runners/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage and refactor tests
  lib/modules/manager/sbt/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix path check?
  lib/modules/manager/pip-compile/common.spec.ts
  lib/modules/manager/pip-compile/common.ts
  lib/modules/manager/pip-compile/extract.spec.ts
  lib/modules/manager/pip-compile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci: Fix codecov uploads (#27278)
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix flawed logic
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/pip-compile/extract.ts
  lib/modules/manager/pip-compile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(pinDigests): support pinning digests when extractVersion is in use
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  74/5442897bcc6c5a1d512e7fd8ce3fbe71906d46
Due: ls-lint, prettier --cache --ignore-unknown --write

Simpler check
  lib/modules/manager/pip-compile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

pass error message in warning
  lib/modules/manager/pip-compile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove unused
  lib/modules/manager/pip-compile/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/workers/repository/process/lookup/index.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(pinDigests): support pinning digests when extractVersion is in use (#27297)
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github-actions): Group major updates of `upload-artifact` and `download-artifact`
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix prettier
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/config/presets/internal/group.ts
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix format
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github-actions): Group major updates of `upload-artifact` and `download-artifact` (#27298)
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  af/a5523fc14b4341a1aee4203f3c6276f8c1f154
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  78/f52537c67111df72181ca563e23bbb83920808
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b3/1d6d1687400dfed9d438c3d4b1c6148d7abac2
Due: ls-lint, prettier --cache --ignore-unknown --write

rename
  lib/modules/manager/pip-compile/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
