Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

feat(presets/workarounds): add `rancher/rke2` versioning
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix admonition
  lib/modules/datasource/aws-rds/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Replace amiFilter with rdsFilter
  lib/modules/datasource/aws-rds/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fix typo, simplify
  docs/usage/nuget.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(manager/pip_setup): set currentVersion field for exact dependency versions
  lib/modules/manager/pip_setup/__fixtures__/setup.py
  lib/modules/manager/pip_setup/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/pip_setup/extract.spec.ts
  lib/modules/manager/pip_setup/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/golang.md
  docs/usage/golang.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(golang): Minor grammar error in readme (#30938)
  docs/usage/golang.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(manager/pip_setup): set currentVersion field for exact dependency versions (#31021)
  lib/modules/manager/pip_setup/__fixtures__/setup.py
  lib/modules/manager/pip_setup/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/pip_setup/extract.spec.ts
  lib/modules/manager/pip_setup/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/gleam): extract locked versions (#31000)
  lib/modules/manager/gleam/extract.spec.ts
  lib/modules/manager/gleam/extract.ts
  lib/modules/manager/gleam/locked-version.spec.ts
  lib/modules/manager/gleam/locked-version.ts
  lib/modules/manager/gleam/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets/workarounds): sort keys
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f619736677af1b0981b2226221681c849ae79a28
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(docker): rewrite using short-lived access tokens (#30822)
  docs/usage/docker.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  77d8099486b68409c8a2368b41658b2d5865ca34
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(nuget): explain authenticated feeds on Azure DevOps need right username (#29987)
  docs/usage/nuget.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update switching-bot-identity.md
  docs/usage/switching-bot-identity.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(presets/workarounds): add `rancher/rke2` versioning (#31020)
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/github-runners): deprecate macOS 12 runners (#30931)
  lib/modules/datasource/github-runners/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

trace instead of debug
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

just log pr number
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  84dfce07058b3754997a018b48c1ec62606b197d
Due: ls-lint, prettier --cache --ignore-unknown --write

use zod validation
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/types.ts
  lib/modules/platform/bitbucket/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove underscore from variable
  lib/modules/platform/bitbucket/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

move to schema file
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/schema.ts
  lib/modules/platform/bitbucket/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix types in test file
  lib/modules/platform/bitbucket/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use redirect.github.com
  lib/modules/platform/github/__snapshots__/index.spec.ts.snap
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/massage-markdown-links.spec.ts
  lib/modules/platform/github/massage-markdown-links.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/platform/github/massage-markdown-links.spec.ts
  lib/modules/platform/github/massage-markdown-links.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  976a66b000b3d9b06cebc6e2adb4fe91f75ff188
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(cdnjs): Use single cache namespace
  lib/modules/datasource/cdnjs/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(conan): Use single cache namespace
  lib/modules/datasource/conan/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(deno): Use single cache namespace
  lib/modules/datasource/deno/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(docker): Use single namespace for cache
  lib/modules/datasource/docker/index.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(galaxy-collection): Use single cache namespace
  lib/modules/datasource/galaxy-collection/index.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/modules/datasource/deno/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(github): Use single cache namespace for release attachments
  lib/modules/datasource/github-release-attachments/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/util/cache/package/key.spec.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(gitlab-tags): Use single cache namespace
  lib/modules/datasource/gitlab-tags/index.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
