Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

review fixes: minimize the Gerrit REST-Response Typescript interfaces to contain only currently used props
  lib/modules/platform/gerrit/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

review fixes: remove (now) optional platform function "getVulnerabilityAlerts"
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(fs): allow `@` inside paths
  lib/util/fs/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(pull requests): rewrite (#21440)
  docs/usage/key-concepts/pull-requests.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(fs): allow `@` inside paths (#21476)
  lib/util/fs/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

extract locked version from pnpm-lock.yaml
  lib/modules/manager/npm/extract/locked-versions.ts
  lib/modules/manager/npm/extract/pnpm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2f/f75fb8e28919662c912c696e9f181d1229ddd2
Due: ls-lint, prettier --cache --ignore-unknown --write

applyy suggestions
  lib/modules/manager/npm/extract/locked-versions.ts
  lib/modules/manager/npm/extract/pnpm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(fs): allow `+$` inside paths
  lib/util/fs/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(fs): allow `+$` inside paths (#21482)
  lib/util/fs/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refresh links
  docs/development/creating-editing-renovate-presets.md
  docs/usage/config-presets.md
  docs/usage/noise-reduction.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add restriction
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: refresh links around presets (#21484)
  docs/development/creating-editing-renovate-presets.md
  docs/usage/config-presets.md
  docs/usage/noise-reduction.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: Add Maintaining AUR packages with Renovate user story (#21413)
  docs/usage/user-stories/.pages
  docs/usage/user-stories/maintaining-aur-packages-with-renovate.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Missed a duration calculation
  lib/util/github/graphql/cache-strategies/abstract-cache-strategy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: use UTC dates for cache strategy calculations
  lib/util/github/graphql/cache-strategies/abstract-cache-strategy.ts
  lib/util/github/graphql/cache-strategies/memory-cache-strategy.spec.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.spec.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.ts
  lib/util/github/graphql/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix prettier, wrap line, remove duplicate word.
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat: support depth URL argument in Terragrunt modules
  lib/modules/manager/terragrunt/__fixtures__/3.hcl
  lib/modules/manager/terragrunt/__fixtures__/4.hcl
  lib/modules/manager/terragrunt/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/terragrunt/extract.spec.ts
  lib/modules/manager/terragrunt/modules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presents): add fabric8-kubernetes-client monorepo
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(cache): use UTC dates for cache strategy calculations (#21488)
  lib/util/github/graphql/cache-strategies/abstract-cache-strategy.ts
  lib/util/github/graphql/cache-strategies/memory-cache-strategy.spec.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.spec.ts
  lib/util/github/graphql/cache-strategies/package-cache-strategy.ts
  lib/util/github/graphql/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: compare all branch authors when deciding if a branch is modified (#20739)
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/onboarding/branch/rebase.ts
  lib/workers/repository/onboarding/pr/index.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/branch/reuse.ts
  lib/workers/repository/update/pr/automerge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "chore(deps): update node.js to v18.16.0 (#21472)"
  .devcontainer/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ff/bf6e929d6af0b4910942027d09ab971ce43587
Due: ls-lint, prettier --cache --ignore-unknown --write

Reword and replace semver with just version
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update docs/usage/configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor: use orgGroups
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "feat: compare all branch authors when deciding if a branch is modified (#20739)"
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/onboarding/branch/rebase.ts
  lib/workers/repository/onboarding/pr/index.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/branch/reuse.ts
  lib/workers/repository/update/pr/automerge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Revert "feat: compare all branch authors when deciding if a branch is modified" (#21505)
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/onboarding/branch/rebase.ts
  lib/workers/repository/onboarding/pr/index.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/branch/reuse.ts
  lib/workers/repository/update/pr/automerge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: add restriction on matchCurrentVersion (#21485)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/config/presets/internal/monorepo.ts
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(vulnerabilities): rename `VulnerabilityGroup` to `DependencyVulnerabilities`
  lib/workers/repository/process/types.ts
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b5/48a938bcb30c220e1775f8ddddcc447f5627eb
Due: ls-lint, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/manager/npm/post-update/npm.spec.ts
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: support more containerbase tools
  lib/util/exec/containerbase.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6b/12beeb1b585eb6b6a5a4f1b0717c999e02d882
Due: ls-lint, prettier --cache --ignore-unknown --write

prettier
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add constraints handling
  lib/modules/manager/npm/extract/locked-versions.ts
  lib/modules/manager/npm/extract/pnpm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/npm/post-update/npm.ts
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
