Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/deb): use only suite as parameter (#35152)
  lib/modules/datasource/deb/index.spec.ts
  lib/modules/datasource/deb/index.ts
  lib/modules/datasource/deb/readme.md
  lib/modules/datasource/deb/url.spec.ts
  lib/modules/datasource/deb/url.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  059df43d60e4046e50c102a5babcde585eca63ce
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(util): parse jsonc as jsonc (#35177)
  lib/util/common.spec.ts
  lib/util/common.ts
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c1581761cbd8c0dc22093e70ca273f253e9599b5
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: allow user to pass git extra config
  lib/util/git/auth.spec.ts
  lib/util/git/auth.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feature(manager/maven): Also support cnb configuration in pom.xml
  lib/config/options/index.ts
  lib/modules/manager/buildpacks/extract.spec.ts
  lib/modules/manager/buildpacks/extract.ts
  lib/modules/manager/maven/__fixtures__/cnb.pom.xml
  lib/modules/manager/maven/extract.spec.ts
  lib/modules/manager/maven/extract.ts
  lib/modules/manager/maven/index.spec.ts
  lib/modules/manager/maven/index.ts
  lib/modules/manager/maven/readme.md
  lib/modules/manager/maven/update.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  42ba4c421d929a1f49a1a1d5020ca701e036e73b
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(nodejs-lambda-versioning): Addressing PR comments
  lib/modules/versioning/lambda-node/index.spec.ts
  lib/modules/versioning/lambda-node/index.ts
  lib/modules/versioning/lambda-node/schedule.ts
  tools/static-data/generate-lambda-node-schedule.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use zod schema and improve logging
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/gitlab/schema.ts
  lib/modules/platform/gitlab/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(gitlab): add reviewers from an existing approval rule in GitLab
  .python-version
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/gitlab/types.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

revert removal of .python-version file
  .python-version
Due: ls-lint, prettier --cache --ignore-unknown --write

Switch to debug log
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

resolve es-lint and markdownlint findings
  docs/usage/configuration-options.md
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Adding a way to detect when is a yaml or isn't
  lib/modules/manager/npm/update/dependency/index.spec.ts
  lib/modules/manager/npm/update/dependency/index.ts
  lib/modules/manager/types.ts
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

tests(manager/docker): add test for COPY --from with digest
  lib/modules/manager/dockerfile/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(manager/docker): add test for COPY --from with digest (#35195)
  lib/modules/manager/dockerfile/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add typing to reviewersIds array
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  35d3baa057b2b20b2a231e261182b375a9a331fa
Due: ls-lint, prettier --cache --ignore-unknown --write

Revert "add notice when nothing changed"
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

revert
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
  lib/modules/manager/gomod/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix version
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix test
  lib/modules/manager/gomod/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use join instead of string concat
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

handle major upgrade
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix lint
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

cov
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

cov
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(data): automatic update of static data
  data/debian-distro-info.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  280a7861ec4111b00e2c82bee92c85eb5b026480
Due: ls-lint, prettier --cache --ignore-unknown --write

extract sdk version from <Import> elem
  lib/modules/manager/nuget/extract.spec.ts
  lib/modules/manager/nuget/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/platform/azure/pr-cache.spec.ts
  lib/modules/platform/azure/pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add Azure Pipelines preset
  lib/config/presets/common.ts
  lib/config/presets/internal/custom-managers.spec.ts
  lib/config/presets/internal/custom-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/config/presets/internal/custom-managers.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add replacementVersionTemplate to packageRules
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/types.ts
  lib/workers/repository/process/lookup/utils.ts
  tools/schemas/replacements-schema.json
  tools/schemas/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(vulnerabilities): add support for CVSS 4.0 in OSV alerts
  lib/workers/repository/process/vulnerabilities.spec.ts
  lib/workers/repository/process/vulnerabilities.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add Unity3D Packages data source
  docs/usage/self-hosted-configuration.md
  lib/modules/datasource/api.ts
  lib/modules/datasource/unity3d-packages/__fixtures__/package.json
  lib/modules/datasource/unity3d-packages/index.ts
  lib/modules/datasource/unity3d-packages/schema.ts
  lib/modules/versioning/api.ts
  lib/modules/versioning/unity3d-packages/index.spec.ts
  lib/modules/versioning/unity3d-packages/index.ts
  lib/modules/versioning/unity3d-packages/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/versioning/unity3d-packages/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
