Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,mts,ts}": [
    "oxlint --import-plugin --fix",
    "biome check --write",
    "prettier --write"
  ],
  "!(*.{js,cjs,mjs,mts,ts})": "prettier --ignore-unknown --write"
}

refactor(tests): migrate file snapshots to explicit assertions (batch 8)
  lib/modules/datasource/__snapshots__/metadata.spec.ts.snap
  lib/modules/datasource/metadata.spec.ts
  lib/modules/manager/npm/post-update/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/workers/repository/onboarding/pr/__snapshots__/index.spec.ts.snap
  lib/workers/repository/onboarding/pr/index.spec.ts
  lib/workers/repository/updates/__snapshots__/generate.spec.ts.snap
  lib/workers/repository/updates/generate.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(tests): migrate file snapshots to explicit assertions (batch 10)
  lib/workers/repository/update/pr/changelog/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/github/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/github/index.spec.ts
  lib/workers/repository/update/pr/changelog/gitlab/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/gitlab/index.spec.ts
  lib/workers/repository/update/pr/changelog/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(tests): migrate regex/get-updated/release-notes file snapshots (batch 13)
  lib/modules/manager/custom/regex/__snapshots__/index.spec.ts.snap
  lib/modules/manager/custom/regex/index.spec.ts
  lib/workers/repository/update/branch/__snapshots__/get-updated.spec.ts.snap
  lib/workers/repository/update/branch/get-updated.spec.ts
  lib/workers/repository/update/pr/changelog/__snapshots__/release-notes.spec.ts.snap
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(tests): migrate file snapshots to explicit assertions (batch 7)
  lib/modules/manager/helm-requirements/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/helm-requirements/extract.spec.ts
  lib/modules/manager/helmfile/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/helmfile/extract.spec.ts
  lib/modules/manager/helmv3/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/helmv3/extract.spec.ts
  lib/modules/manager/mix/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/mix/artifacts.spec.ts
  lib/modules/manager/poetry/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/poetry/extract.spec.ts
  lib/modules/manager/sbt/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/sbt/extract.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(tests): migrate bitbucket-server platform file snapshots (batch 16)
  lib/modules/platform/bitbucket-server/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket-server/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(tests): migrate bitbucket platform file snapshots (batch 15)
  lib/modules/platform/bitbucket/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(tests): migrate github platform file snapshots (batch 14)
  lib/modules/platform/github/__snapshots__/index.spec.ts.snap
  lib/modules/platform/github/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(tests): migrate azure platform file snapshots, finish burndown (batch 17)
  lib/modules/platform/azure/__snapshots__/index.spec.ts.snap
  lib/modules/platform/azure/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(tests): use function declarations for new func-style rule
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/sbt/extract.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix prettier failure
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(platform-azure): initial bearer token auth support for Azure DevOps (#43888)
  lib/modules/platform/azure/__snapshots__/util.spec.ts.snap
  lib/modules/platform/azure/azure-got-wrapper.spec.ts
  lib/modules/platform/azure/azure-got-wrapper.ts
  lib/modules/platform/azure/readme.md
  lib/modules/platform/azure/util.spec.ts
  lib/modules/platform/azure/util.ts
  lib/util/http/jwt.spec.ts
  lib/util/http/jwt.ts
  test/jwt-util.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  0f06e635df16878b5a3e0d89e4773bdc131ed7a7
Due: ls-lint

Notes added by 'git notes add'
  37372a158bbc8a6d632f00585bcf8dccbfe6ac51
Due: ls-lint

fix(presets/monorepo): group ckeditor5-premium-features with ckeditor5
  lib/config/presets/internal/monorepos.preset.ts
  lib/data/monorepo.json
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(presets/monorepo): add description to ckeditor sub-rules
  lib/config/presets/internal/monorepos.preset.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(platform/azure): evaluate policies before attempting to merge PR
  lib/modules/platform/azure/azure-helper.spec.ts
  lib/modules/platform/azure/azure-helper.ts
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/azure/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(git): make recursive cloning of submodules optional
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/forgejo/index.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/__snapshots__/index.spec.ts.snap
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/git/types.ts
  lib/workers/repository/init/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(platform/azure): evaluate policies before attempting to merge PR (#44631)
  lib/modules/platform/azure/azure-helper.spec.ts
  lib/modules/platform/azure/azure-helper.ts
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/azure/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Apply suggestions from code review
  lib/modules/datasource/nuget/v3.ts
  lib/modules/manager/mix/artifacts.ts
  lib/modules/manager/npm/post-update/rules.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Update lib/util/regex.ts
  lib/util/regex.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  7ac677dc9b0c0aa818c9fd130f80a0c4cbcd591b
Due: ls-lint

fix(docker): include `global` and `inherited` JSON schemas (#44674)
  .dockerignore
Due: ls-lint

feat(data/monorepo): add joint monorepo preset
  lib/data/monorepo.json
Due: ls-lint, prettier

test: add linter for `as LongCommitSha` in test files (#44681)
  .oxlintrc.json
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/gitea/gitea-helper.spec.ts
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/pr-cache.spec.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/scm.spec.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/pr-cache.spec.ts
  lib/util/git/behind-base-branch-cache.spec.ts
  lib/util/git/set-branch-commit.spec.ts
  lib/workers/repository/onboarding/branch/check.spec.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.spec.ts
  lib/workers/repository/process/extract-update.spec.ts
  lib/workers/repository/process/write.spec.ts
  lib/workers/repository/reconfigure/index.spec.ts
  lib/workers/repository/reconfigure/validate.spec.ts
  lib/workers/repository/update/branch/commit.spec.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/pr/code-owners.spec.ts
  tools/lint/rules.js
  tools/lint/rules/prefer-fake-sha-in-specs.js
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  29ca969fe14ebb75fbbc3f10fd7f1ba8da756d31
Due: ls-lint

docs: fix outdated statement that Docker major updates are disabled by default (#44524)
  docs/usage/docker.md
Due: ls-lint, markdown-lint, prettier

fix(presets): scope crate release age by update type
  lib/config/presets/internal/security.preset.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs: wrap preset names in code blocks (#44234)
  tools/docs/presets.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  52907ef1665182a350a943f0a30674de5520183d
Due: ls-lint

fix: change from new containerbasePackageRules option to regular packageRules option
  docs/usage/configuration-options.md
  docs/usage/self-hosted-configuration.md
  lib/config/global.ts
  lib/config/options/index.ts
  lib/util/exec/containerbase.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(linters): add linting rule to enforce v8 ignore reason declaration (#44726)
  .oxlintrc.json
  lib/modules/datasource/aws-machine-image/index.ts
  lib/modules/datasource/docker/common.ts
  lib/modules/datasource/go/releases-goproxy.ts
  lib/modules/datasource/nuget/v3.ts
  lib/modules/manager/mix/artifacts.ts
  lib/modules/manager/npm/post-update/rules.ts
  lib/modules/platform/azure/azure-helper.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket-server/pr-cache.ts
  lib/modules/platform/bitbucket/comments.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/codecommit/codecommit-client.ts
  lib/modules/platform/codecommit/index.ts
  lib/modules/platform/gerrit/utils.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/massage-markdown-links.ts
  lib/modules/platform/github/pr.ts
  lib/modules/platform/gitlab/index.ts
  lib/util/cache/package/namespaces.ts
  lib/util/git/index.ts
  lib/util/http/errors.ts
  lib/util/http/index.ts
  lib/util/regex.ts
  lib/workers/global/config/parse/codespaces.ts
  lib/workers/repository/init/vulnerability.ts
  tools/lint/rules.js
  tools/lint/rules/v8-ignore-reason.js
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: periodically check for "too many releases"
  .github/workflows/check-npm-packument-size.yml
Due: ls-lint, prettier

chore: remove unnecessary extractVersion
  lib/modules/manager/github-actions/community.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! ci: periodically check for "too many releases"
  .github/workflows/check-npm-packument-size.yml
Due: ls-lint, prettier

test(github-actions): add jdx/mise-action extract cases
  lib/modules/manager/github-actions/extract.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: periodically check for "too many releases" (#44734)
  .github/workflows/check-npm-packument-size.yml
Due: ls-lint, prettier

fixup! feat(platform): get all branch update dates in a more performant manner
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/process/limits.spec.ts
  lib/workers/repository/process/limits.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/swift): use function declaration for collect helper
  lib/modules/manager/swift/registries-json.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write
