Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: separate pages for datasources (#19611)
  docs/usage/modules/datasource/.pages
  docs/usage/modules/datasource/index.md
  tools/docs/datasources.ts
  tools/docs/platforms.ts
  tools/docs/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(templates): add decodeURIComponent helper
  docs/usage/templates.md
  lib/util/template/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(tempalte): add test cases for {encode,decode}URIComponent helper
  lib/util/template/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(templates): add decodeURIComponent helper (#19616)
  docs/usage/templates.md
  lib/util/template/index.spec.ts
  lib/util/template/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ae/cfcdbb3c3caeca7b0f48a5a1fbb6b913b59997
Due: ls-lint

fix(data): automatic update of static data
  data/azure-pipelines-tasks.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3d/36438f656ef17e4a93dee90aa1e4a7795479cc
Due: ls-lint

feat(regex): add `regexManagers:githubActionsVersions` preset
  lib/config/presets/internal/regex-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/datasource/github-tags/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github-tags): Leverage GraphQL for tag commit hashes
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/github-tags/index.ts
  lib/util/github/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github-tags): Detect stability flags based on GitHub releases
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/github-tags/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github-releases): Fetch releases with cacheable GraphQL
  lib/modules/datasource/github-releases/index.spec.ts
  lib/modules/datasource/github-releases/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refine wording in ruby usage warning
  docs/usage/ruby.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add line break
  docs/usage/ruby.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(presets/monorepo): add Syncfusion dotnet monorepo
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert yarn.lock change
  yarn.lock
Due: ls-lint

Fix warning description in ruby usage readme
  docs/usage/ruby.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(presets/monorepo): add Syncfusion dotnet (#19627)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/gitlab/index.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1e/8b45422c133d8d1ba68c73d547599a66f5205c
Due: ls-lint

refactor(manager/gradle): reuse matching patterns and combine dependency string handling
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/apply-from.ts
  lib/modules/manager/gradle/parser/dependencies.ts
  lib/modules/manager/gradle/parser/handlers.ts
  lib/modules/manager/gradle/parser/plugins.ts
  lib/modules/manager/gradle/parser/version-catalogs.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: improve regex-managers for dockerfile
  lib/config/presets/internal/regex-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bundler): support for updateType patch and minor (#19446)
  docs/usage/ruby.md
  lib/modules/manager/bundler/artifacts.spec.ts
  lib/modules/manager/bundler/artifacts.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(manager/gradle): reuse matching patterns and combine dependency string handling (#19636)
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/apply-from.ts
  lib/modules/manager/gradle/parser/dependencies.ts
  lib/modules/manager/gradle/parser/handlers.ts
  lib/modules/manager/gradle/parser/plugins.ts
  lib/modules/manager/gradle/parser/version-catalogs.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e9/313aea2db46676d0c4779175932dc3e985e28e
Due: ls-lint

Update index.spec.ts
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(template): use environment variables in templates (#19301)
  docs/usage/self-hosted-configuration.md
  docs/usage/templates.md
  lib/util/exec/index.ts
  lib/util/template/index.spec.ts
  lib/util/template/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: Add grouping for nextra monorepo
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: better sanitize
  lib/config/secrets.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/go/index.ts
  lib/modules/manager/bundler/artifacts.ts
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Prettified
  lib/modules/platform/gitlab/http.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2c/d10769f219f6dede8c06388a2125928158bac6
Due: ls-lint

feat: better sanitize (#19646)
  lib/config/secrets.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/go/index.ts
  lib/modules/manager/bundler/artifacts.ts
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  39/b23d64fe5e194ee36e05314b485455dbca4776
Due: ls-lint

fix: better parsing of hashicorp versions
  lib/modules/versioning/hashicorp/convertor.spec.ts
  lib/modules/versioning/hashicorp/convertor.ts
  lib/modules/versioning/hashicorp/index.spec.ts
  lib/modules/versioning/hashicorp/index.ts
  lib/modules/versioning/npm/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/config/presets/internal/regex-managers.ts
  lib/config/presets/internal/regex-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: improve test converage
  lib/modules/versioning/hashicorp/convertor.spec.ts
  lib/modules/versioning/hashicorp/convertor.ts
  lib/modules/versioning/hashicorp/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add vendir to api
  lib/modules/manager/api.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: add readme.md for vendir manager
  lib/modules/manager/vendir/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: **/*.{ts,js,mjs,json,md,yml}
