Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

remove inRangeOnlyStrategy && rollbackPrs - this does not align with latest replacement version
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  ffe66e3681557fab6a3cbde16dcf43fb0146ce12
Due: ls-lint

feat(gitlab): enhance commit handling and add GitLab commit action types
  docs/usage/configuration-options.md
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/gitlab/types.ts
  lib/modules/platform/gitlab/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat: add support for fully qualified urls for Mint packages
  lib/modules/manager/mint/extract.spec.ts
  lib/modules/manager/mint/extract.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  5e11ad06d3905b3f4cc77c757137fe35e74f90ce
Due: ls-lint

Notes added by 'git notes add'
  4d1ec5b5880cb703b47e2d8fba181c5b48e4f76b
Due: ls-lint

remove todo
  lib/workers/repository/finalize/prune.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(platform/azure): use 1 for numbered lists
  lib/modules/platform/azure/readme.md
Due: ls-lint, markdown-lint, prettier

refactor(test): extract arrow function from buildTestJwt
  test/jwt-util.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Use isNonEmptyString to filter requires_python
  lib/modules/datasource/pypi/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/mise): install resolver tools during mise lock (#44174)
  lib/modules/manager/mise/artifacts.spec.ts
  lib/modules/manager/mise/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

added support for extracting integrity and tarball from npm datasource
  lib/modules/datasource/npm/get.spec.ts
  lib/modules/datasource/npm/get.ts
  lib/modules/datasource/npm/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  278ec320fb0dd13683ccbe6197912d0ff79ff4eb
Due: ls-lint

Notes added by 'git notes add'
  0744b7cdb3636a80d8a65a4256bd1b99286ab6d4
Due: ls-lint

fix(manager/swift): don't rewrite Package.resolved pins in unrelated packages
  lib/modules/manager/swift/artifacts.spec.ts
  lib/modules/manager/swift/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

address http ambiguity
  lib/modules/manager/mint/extract.spec.ts
  lib/modules/manager/mint/extract.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

increase coverage
  lib/modules/manager/mint/extract.spec.ts
  lib/modules/manager/mint/extract.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore: use pnpm catalog instead of $ refs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, prettier

ci: clean some disk space
  .github/workflows/build.yml
Due: ls-lint, prettier

fix(git): allow overriding `GIT_ASKPASS`
  docs/usage/self-hosted-experimental.md
  lib/util/git/config.ts
  lib/util/git/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(workers/branch): preserve caller-set rebaseRequested through rebaseCheck
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: do not fail `pnpm check` if the patterns do not match
  tools/check/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore: use pnpm catalog instead of $ refs (#44318)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ls-lint, prettier

ci: do not fail `pnpm check` if the patterns do not match (#44325)
  tools/check/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(utils/http/github): use zod schema for GitHub errors (#44267)
  lib/util/http/github.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: clean some disk space (#44321)
  .github/workflows/build.yml
Due: ls-lint, prettier

fix(datasource/repology): honor abortOnError instead of aborting the run on every error
  lib/modules/datasource/repology/index.spec.ts
  lib/modules/datasource/repology/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix: drop experimental options
  docs/usage/self-hosted-experimental.md
  lib/util/git/config.ts
  lib/util/git/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(packagist): Throw on transient errors
  lib/modules/datasource/packagist/index.spec.ts
  lib/modules/datasource/packagist/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Update index.ts
  lib/modules/datasource/packagist/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix coverage
  lib/modules/datasource/packagist/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(deno): lockfile update in presence of private registries (#43147)
  lib/modules/manager/deno/artifacts.spec.ts
  lib/modules/manager/deno/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(manager/pep621): rename variable `ms` to `minimumReleaseAgeMs`
  lib/modules/manager/pep621/processors/uv.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(versioning/debian): keep numeric value on dated codename update
  lib/modules/versioning/debian/index.spec.ts
  lib/modules/versioning/debian/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/nuget): detect MSBuild SDK updates in sqlproj files (#43831)
  docs/usage/nuget.md
  lib/modules/manager/nuget/extract.spec.ts
  lib/modules/manager/nuget/index.spec.ts
  lib/modules/manager/nuget/index.ts
  lib/modules/manager/nuget/integration.spec.ts
  lib/modules/manager/nuget/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: reorder release steps
  .github/workflows/build.yml
Due: ls-lint, prettier

ci: testing
  .github/workflows/build.yml
Due: ls-lint, prettier

ci: only cleanup on old vm
  .github/workflows/build.yml
Due: ls-lint, prettier

ci: fix reference
  .github/workflows/build.yml
Due: ls-lint, prettier

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  oxlint --import-plugin --fix: any of: *.{js,cjs,mjs,mts,ts}
  biome check --write: any of: *.{js,cjs,mjs,mts,ts}
  prettier --write: any of: *.{js,cjs,mjs,mts,ts}
