Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5a8be10758b81367ef5731ec1c8435746f371d29
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(galaxy-collection): make sure that `releaseTimestamp` is returned correctly
  lib/modules/datasource/galaxy-collection/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/galaxy-collection/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Flip to use composerNoMinimalChanges
  docs/usage/configuration-options.md
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.ts
  lib/modules/manager/composer/utils.spec.ts
  lib/modules/manager/composer/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Minor fixes.
  lib/config/options/index.ts
  lib/modules/manager/composer/utils.spec.ts
  lib/modules/manager/composer/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(dashboard): standardize blocked section headings (#39753)
  lib/workers/repository/__fixtures__/dependency-dashboard-with-2-PR-closed-ignored.txt
  lib/workers/repository/__fixtures__/dependency-dashboard-with-2-PR-edited.txt
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(deps): downgrade vitest monorepo to v4.0.15
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Update lib/workers/repository/process/lookup/filter.ts
  lib/workers/repository/process/lookup/filter.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  11ab31958d7597ba1753cc3321062d21b5d18c07
Due: ls-lint, prettier --cache --ignore-unknown --write

Update artifacts.spec.ts
  lib/modules/manager/composer/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add Home Assistant Manifest manager
  lib/modules/manager/api.ts
  lib/modules/manager/homeassistant-manifest/extract.spec.ts
  lib/modules/manager/homeassistant-manifest/extract.ts
  lib/modules/manager/homeassistant-manifest/index.ts
  lib/modules/manager/homeassistant-manifest/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(npm): coverage for undefined stdout
  lib/modules/manager/npm/artifacts.spec.ts
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Resolve ArgoCD OCI charts from repoURL if chart is specified
  lib/modules/manager/argocd/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

review comments
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add comment
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(npm): getDigest coverage
  lib/modules/datasource/npm/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Ignore tests for exception during lock file deletion (similar to npm, pnpm, etc)
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Move v8 comment.
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Remove chart from repoURL if chart is not specified
  lib/modules/manager/argocd/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(github-vulns): skip unsupported ecosystems early and centralize ecosystem list
  lib/constants/supported-ecosystems.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/schema.ts
  lib/types/vulnerability-alert.ts
  lib/workers/repository/init/vulnerability.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gerrit): correct comment normalization (#39016)
  lib/modules/platform/gerrit/client.spec.ts
  lib/modules/platform/gerrit/client.ts
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gerrit/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(lookup): add `maxMajorIncrement` (#38854)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/workers/repository/process/lookup/filter.spec.ts
  lib/workers/repository/process/lookup/filter.ts
  lib/workers/repository/process/lookup/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d32eedbb10c7066c44226fcf2d75983649fe3711
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b03b84fad57b2afffa1e907814404a4f634c8261
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/docker.md
  lib/config/presets/internal/default.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fallback to shasum if no integrity
  lib/modules/datasource/npm/index.ts
  lib/modules/datasource/npm/types.ts
  lib/modules/manager/npm/artifacts.spec.ts
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

log when limits are reached
  lib/workers/global/limits.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add Appium monorepo
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fixup! log when limits are reached
  lib/workers/global/limits.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor to use one npm view call
  lib/modules/manager/npm/artifacts.spec.ts
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: switch case instead of ternary
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(npm): cover array dist and normalize
  lib/modules/manager/npm/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

move shasum const to top
  lib/modules/manager/npm/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove composer lock removal
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: log when limits are reached (#39917)
  lib/workers/global/limits.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove composer lock file for lock maintenance.
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(composer): reword `composerNoMinimalChanges`
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fix Markdown formatting
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(composer): do not use `--minimal-changes` with `lockFileMaintenance` and add `postUpdateOption` for not using it (#39824)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/modules/manager/composer/utils.spec.ts
  lib/modules/manager/composer/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  01801296a7e5a4881620fdfdb56a8833ac47a3eb
Due: ls-lint, prettier --cache --ignore-unknown --write

remove unncecessary nullish coalescing operators
  lib/modules/manager/npm/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
