Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,mts,ts}": [
    "oxlint --import-plugin --fix",
    "biome check --write",
    "prettier --write"
  ],
  "!(*.{js,cjs,mjs,mts,ts})": "prettier --ignore-unknown --write"
}

Notes added by 'git notes add'
  bdb9f2efb6131495b65cbd52e0e0ee36fec28974
Due: ls-lint

refactor(datasource): share the Gitea datasources with Forgejo
  .oxlintrc.json
  lib/modules/datasource/forgejo-releases/index.ts
  lib/modules/datasource/forgejo-releases/schema.ts
  lib/modules/datasource/forgejo-tags/index.spec.ts
  lib/modules/datasource/forgejo-tags/index.ts
  lib/modules/datasource/forgejo-tags/schema.ts
  lib/modules/datasource/gitea-releases/index.ts
  lib/modules/datasource/gitea-tags/base.ts
  lib/modules/datasource/gitea-tags/index.spec.ts
  lib/modules/datasource/gitea-tags/index.ts
  lib/modules/datasource/gitea-tags/util.ts
  lib/workers/repository/update/pr/changelog/forgejo/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  a38abd52263be6697147abb695f8f9e86ec203f4
Due: ls-lint

refactor(changelog): share the Gitea changelog source with Forgejo
  lib/workers/repository/update/pr/changelog/forgejo/index.ts
  lib/workers/repository/update/pr/changelog/forgejo/source.ts
  lib/workers/repository/update/pr/changelog/gitea/common.ts
  lib/workers/repository/update/pr/changelog/gitea/index.ts
  lib/workers/repository/update/pr/changelog/gitea/source.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(presets): share the Gitea preset source with Forgejo
  lib/config/presets/forgejo/index.ts
  lib/config/presets/gitea/common.ts
  lib/config/presets/gitea/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(versioning): support ranges for the regex scheme (#44834)
  lib/modules/versioning/generic-range.ts
  lib/modules/versioning/regex/index.spec.ts
  lib/modules/versioning/regex/index.ts
  lib/modules/versioning/regex/readme.md
  lib/modules/versioning/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(platform): drop unreachable addLabel, commitFiles and getRepoForceRebase from the API
  lib/modules/platform/scm-manager/index.spec.ts
  lib/modules/platform/scm-manager/index.ts
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(platform): share matchesState and PR list matching across platforms
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/scm-manager/index.spec.ts
  lib/modules/platform/scm-manager/index.ts
  lib/modules/platform/scm-manager/utils.spec.ts
  lib/modules/platform/scm-manager/utils.ts
  lib/modules/platform/util.spec.ts
  lib/modules/platform/util.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(platform): share ensureComment/ensureCommentRemoval logic
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/comments.ts
  lib/modules/platform/codecommit/index.spec.ts
  lib/modules/platform/codecommit/index.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/utils/comments.spec.ts
  lib/modules/platform/utils/comments.ts
  lib/modules/platform/utils/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(platform): type getBranchStatusCheck context as string
  lib/modules/platform/scm-manager/index.spec.ts
  lib/modules/platform/scm-manager/index.ts
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(platform): share massageMarkdown building blocks
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/comments.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/codecommit/index.ts
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gitea/utils.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/scm-manager/utils.ts
  lib/modules/platform/utils/pr-body.spec.ts
  lib/modules/platform/utils/pr-body.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(platform): provide defaults for optional Platform methods once
  lib/modules/platform/api.ts
  lib/modules/platform/codecommit/index.spec.ts
  lib/modules/platform/defaults.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/gitea/types.ts
  lib/modules/platform/index.spec.ts
  lib/modules/platform/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/config-migration/branch/index.spec.ts
  lib/workers/repository/config-migration/branch/index.ts
  lib/workers/repository/dependency-dashboard.ts
  lib/workers/repository/init/index.spec.ts
  lib/workers/repository/init/index.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/onboarding/branch/index.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/branch/reuse.ts
  lib/workers/repository/update/pr/code-owners.spec.ts
  lib/workers/repository/update/pr/code-owners.ts
  lib/workers/repository/update/pr/labels.spec.ts
  lib/workers/repository/update/pr/labels.ts
  lib/workers/repository/update/pr/participants.ts
  test/setup.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  6a1a69c3efdfb3dbb534b970f08b7f49524cec8b
Due: ls-lint

Notes added by 'git notes add'
  37430aceff7056a26309583d25e3d65b643d2b93
Due: ls-lint

Notes added by 'git notes add'
  6de693abc61a7b30dc59ba6003d73ee0ac16689e
Due: ls-lint

test(datasource): cover the default registry fallback
  lib/modules/datasource/forgejo-tags/index.spec.ts
  lib/modules/datasource/gitea-tags/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/mise): support arrays of inline tables as tool versions (#46330)
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/mise/extract.ts
  lib/modules/manager/mise/readme.md
  lib/modules/manager/mise/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/crate): skip the web API of registries that do not implement it (#46329)
  lib/modules/datasource/crate/index.spec.ts
  lib/modules/datasource/crate/index.ts
  lib/util/cache/package/namespaces.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  e069399843178fc811e6451acf245483883ff24a
Due: ls-lint

Notes added by 'git notes add'
  8f5f238b8f2b2551b765b422194e3b949a7cba11
Due: ls-lint

fix(dashboard): handle OSV database fetch failures gracefully (#46306)
  lib/workers/repository/dependency-dashboard.spec.ts
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(manager/mise): support `pypi` backend
  lib/modules/manager/mise/backends.spec.ts
  lib/modules/manager/mise/backends.ts
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/mise/extract.ts
  lib/modules/manager/mise/index.ts
  lib/modules/manager/mise/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): share the Gitea datasources with Forgejo (#46095)
  .oxlintrc.json
  lib/modules/datasource/forgejo-releases/index.ts
  lib/modules/datasource/forgejo-releases/schema.ts
  lib/modules/datasource/forgejo-tags/index.spec.ts
  lib/modules/datasource/forgejo-tags/index.ts
  lib/modules/datasource/forgejo-tags/schema.ts
  lib/modules/datasource/gitea-releases/index.ts
  lib/modules/datasource/gitea-tags/base.ts
  lib/modules/datasource/gitea-tags/index.spec.ts
  lib/modules/datasource/gitea-tags/index.ts
  lib/modules/datasource/gitea-tags/util.ts
  lib/workers/repository/update/pr/changelog/forgejo/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(changelog): share the Gitea changelog source with Forgejo (#46096)
  lib/workers/repository/update/pr/changelog/forgejo/index.ts
  lib/workers/repository/update/pr/changelog/forgejo/source.ts
  lib/workers/repository/update/pr/changelog/gitea/common.ts
  lib/workers/repository/update/pr/changelog/gitea/index.ts
  lib/workers/repository/update/pr/changelog/gitea/source.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(presets): share the Gitea preset source with Forgejo (#46097)
  lib/config/presets/forgejo/index.ts
  lib/config/presets/gitea/common.ts
  lib/config/presets/gitea/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(platform): drop the GiteaLikeHttp alias
  lib/modules/platform/gitea/gitea-helper.ts
  lib/modules/platform/gitea/labels.ts
  lib/modules/platform/gitea/pr-cache.ts
  lib/modules/platform/gitea/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/gomod): match gofmt-style unindented closing paren in block end regex (#45781)
  lib/modules/manager/gomod/extract.spec.ts
  lib/modules/manager/gomod/line-parser.spec.ts
  lib/modules/manager/gomod/line-parser.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  0a9d15fdc6a537c3c1c97608d1ae5b30fac922f0
Due: ls-lint

fix(manager/quadlet): make Image optional for volume (#44959)
  lib/modules/manager/quadlet/extract.spec.ts
  lib/modules/manager/quadlet/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(docs): fix broken image rendering (#45893)
  docs/usage/user-stories/swissquote.md
  lib/modules/platform/gerrit/readme.md
Due: ls-lint, markdown-lint, prettier

refactor(datasource/rpm): remove "gzip" from identifiers (#46264)
  lib/modules/datasource/rpm/index.spec.ts
  lib/modules/datasource/rpm/index.ts
  lib/modules/datasource/rpm/providers/common.ts
  lib/modules/datasource/rpm/providers/xml.ts
  lib/modules/datasource/rpm/repomd.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  1762e246248ab7959c3c156dadfbacdaee4e45ca
Due: ls-lint

refactor(datasource/conda): match prefix.dev by hostname
  lib/modules/datasource/conda/common.spec.ts
  lib/modules/datasource/conda/common.ts
  lib/modules/datasource/conda/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  b31c429626ca8420dfdaac3f766052be029436db
Due: ls-lint

fix: collect branch-mode postUpgradeTasks from all upgrades
  lib/workers/repository/update/branch/execute-post-upgrade-commands.spec.ts
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix: remove unreachable post-upgrade task fallback
  lib/workers/repository/update/branch/execute-post-upgrade-commands.spec.ts
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test: align branch-mode post-upgrade task fixtures
  lib/workers/repository/update/branch/execute-post-upgrade-commands.spec.ts
  lib/workers/repository/update/branch/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(github): support allowed PR authors
  docs/usage/self-hosted-configuration.md
  lib/config/global.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/pr.ts
  lib/modules/platform/github/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(platform): drop the GiteaLikeHttp alias (#46098)
  lib/modules/platform/gitea/gitea-helper.ts
  lib/modules/platform/gitea/labels.ts
  lib/modules/platform/gitea/pr-cache.ts
  lib/modules/platform/gitea/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Apply suggestion from @secustor
  lib/constants/platforms.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write
