Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

feat: add support for clustered Redis caches (#31185)
  docs/usage/self-hosted-configuration.md
  lib/util/cache/package/redis.spec.ts
  lib/util/cache/package/redis.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  faa0902894a55edf46a413ac0cb2c0d6ec491bbe
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(datasource): Post-fetch interceptors for candidate release items
  lib/modules/datasource/types.ts
  lib/workers/repository/process/lookup/filter-checks.spec.ts
  lib/workers/repository/process/lookup/filter-checks.ts
  lib/workers/repository/process/lookup/intercept-release.spec.ts
  lib/workers/repository/process/lookup/intercept-release.ts
  lib/workers/repository/process/lookup/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: add glasskube configuration options
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fix lint
  lib/workers/repository/process/lookup/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  307417d3d36584dec11c24bd7c373fdc1e7725db
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: do not mask secrets templates
  lib/logger/utils.spec.ts
  lib/logger/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: do not mask secrets templates (#31240)
  lib/logger/utils.spec.ts
  lib/logger/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  50f1e29113b80586715f04eaca3f7b4bfec1b6b4
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  da4964ac05952f9fe0543ba1174fcd62ad083d48
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: add lock file implementation guide
  docs/development/adding-a-package-manager.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d6c79f32d5ada7070fc8244a18758e7325b5c517
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  10537afe095b8d1c43dbb0d4b106c0ec91495341
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3e73d3b0c130dffb49dbc84df3cfe48238c9b595
Due: ls-lint, prettier --cache --ignore-unknown --write

Add URL validation test for manager modules
  lib/modules/manager/index.spec.ts
  lib/modules/versioning/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use an starting uppercase letter for schemas
  lib/modules/platform/bitbucket/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  00a4cf733c0e88898cf9cb928c25c85ea4179ec2
Due: ls-lint, prettier --cache --ignore-unknown --write

typescript knows the types
  lib/modules/platform/bitbucket/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(manager/cargo): use `zod` to parse cargo manifest
  lib/modules/manager/cargo/extract.ts
  lib/modules/manager/cargo/schema.ts
  lib/modules/manager/cargo/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(manager/cargo): use `zod` to parse cargo config
  lib/modules/manager/cargo/extract.ts
  lib/modules/manager/cargo/schema.ts
  lib/modules/manager/cargo/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(manager/cargo): simplify `extractFromSection`
  lib/modules/manager/cargo/extract.ts
  lib/modules/manager/cargo/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Fix return type for `filterInternalChecks` function
  lib/workers/repository/process/lookup/filter-checks.spec.ts
  lib/workers/repository/process/lookup/filter-checks.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

schema validation done in http layer
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix prettier error
  lib/modules/platform/bitbucket/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(manager/cargo): transform deps in `zod`
  lib/modules/manager/cargo/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/cargo/extract.spec.ts
  lib/modules/manager/cargo/extract.ts
  lib/modules/manager/cargo/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Fix return type for `filterInternalChecks` function (#31259)
  lib/workers/repository/process/lookup/filter-checks.spec.ts
  lib/workers/repository/process/lookup/filter-checks.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(maven): Use release post-fetch processing
  docs/usage/self-hosted-experimental.md
  lib/modules/datasource/clojure/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/clojure/index.spec.ts
  lib/modules/datasource/maven/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/maven/index.spec.ts
  lib/modules/datasource/maven/index.ts
  lib/modules/datasource/maven/util.ts
  lib/util/cache/package/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Move helper and types to datasource
  lib/modules/datasource/postprocess-release.spec.ts
  lib/modules/datasource/postprocess-release.ts
  lib/modules/datasource/types.ts
  lib/workers/repository/process/lookup/filter-checks.spec.ts
  lib/workers/repository/process/lookup/filter-checks.ts
  lib/workers/repository/process/lookup/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix test
  lib/modules/datasource/postprocess-release.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix eslint
  lib/workers/repository/process/lookup/filter-checks.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fixes
  lib/modules/datasource/maven/index.spec.ts
  lib/modules/datasource/maven/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(pypi): support GCloud credentials for Google Artifact Registry
  lib/modules/datasource/pypi/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/pypi/index.spec.ts
  lib/modules/datasource/pypi/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(manager/uv): add back comments to `CargoDep` schema
  lib/modules/manager/cargo/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
