Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Used existing updateLockFile option instead of new skipArtifactUpdating option.
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/modules/manager/types.ts
  lib/workers/repository/update/branch/get-updated.spec.ts
  lib/workers/repository/update/branch/get-updated.ts
  lib/workers/repository/updates/__snapshots__/generate.spec.ts.snap
  lib/workers/repository/updates/generate.spec.ts
  lib/workers/repository/updates/generate.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

ignore catch
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add `react-spring` monorepo (#36177)
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

docs(faq): add explanation of differences between `depName` and `packageName` (#36063)
  docs/usage/faq.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(managers): quote more manager commands (#36163)
  lib/modules/manager/gleam/artifacts.spec.ts
  lib/modules/manager/gleam/artifacts.ts
  lib/modules/manager/helmv3/artifacts.spec.ts
  lib/modules/manager/helmv3/common.ts
  lib/modules/manager/hermit/artifacts.spec.ts
  lib/modules/manager/hermit/artifacts.ts
  lib/modules/manager/kustomize/artifacts.spec.ts
  lib/modules/manager/kustomize/artifacts.ts
  lib/modules/manager/npm/post-update/npm.spec.ts
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c3a6a73c7970414e8f65741b4e207f532d898a48
Due: ls-lint, prettier --cache --ignore-unknown --write

apply suggestions
  lib/config/types.ts
  lib/config/validation-helpers/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/util/git/index.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

prettier-fix
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(git): remotes sync (#36180)
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  dffabcbc8711f91c0b9594df7d43d20322bf8d6b
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(github-tags): Add support for even more nested GraphQL responses (#36166)
  lib/util/github/graphql/index.spec.ts
  lib/util/github/graphql/query-adapters/tags-query-adapter.spec.ts
  lib/util/github/graphql/query-adapters/tags-query-adapter.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7e5300f3ed114fb5425c9496231a8cf32e9f5cdb
Due: ls-lint, prettier --cache --ignore-unknown --write

fixing comments
  lib/modules/datasource/rpm/index.spec.ts
  lib/modules/datasource/rpm/index.ts
  lib/modules/datasource/rpm/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

update unit test
  lib/modules/datasource/rpm/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add more test coverage
  lib/modules/datasource/rpm/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  53218d9c7e0ead7cc10c7f5b502c9cdfb3ee856e
Due: ls-lint, prettier --cache --ignore-unknown --write

add test coverage
  lib/modules/datasource/rpm/index.spec.ts
  lib/modules/datasource/rpm/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a4b9dd3ef83988ea07bcf454d19567df0e0185ae
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  fbac05e2cda5163a782af000cccb73a809ac731d
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  793f7e9b7b4efa10c481c0d7b7b846ac756f7ee1
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: structured logger
  docs/usage/.pages
  docs/usage/errors.md
  lib/logger/error-codes.ts
  lib/logger/index.ts
  lib/logger/types.ts
  lib/logger/utils.ts
  lib/workers/global/config/parse/env.ts
  lib/workers/global/config/parse/file.spec.ts
  lib/workers/global/config/parse/file.ts
  lib/workers/global/index.ts
  tools/docs/errors.ts
  tools/docs/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

move types
  lib/logger/index.ts
  lib/logger/types.ts
  lib/types/exact.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use single fn for applying replacements
  lib/config/secrets.spec.ts
  lib/config/secrets.ts
  lib/config/variables.spec.ts
  lib/config/variables.ts
  lib/workers/global/index.ts
  lib/workers/global/initialize.ts
  lib/workers/repository/index.ts
  lib/workers/repository/init/index.spec.ts
  lib/workers/repository/init/index.ts
  lib/workers/repository/init/inherited.ts
  lib/workers/repository/init/merge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/config/secrets.ts
  lib/util/interpolator.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix type
  lib/modules/platform/gitlab/pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix types
  lib/modules/platform/gitlab/pr-cache.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: drop announcement bar text for Renovate v40
  tools/mkdocs/overrides/main.html
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: drop announcement bar text for Renovate v40 (#36201)
  tools/mkdocs/overrides/main.html
Due: ls-lint, prettier --cache --ignore-unknown --write

use helper fn
  lib/util/http/http.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e4eacd1f9b1315e44670634fe1033738d57c71b3
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  927e2e4eb18bf04f757dc66dcc96d8ed33cc81be
Due: ls-lint, prettier --cache --ignore-unknown --write

update tests
  lib/modules/manager/npm/post-update/pnpm.spec.ts
  lib/modules/manager/npm/post-update/yarn.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove custom merge commit message feature
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/update/branch/automerge.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Implement custom merge commit message
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/update/branch/automerge.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  756c11ed67f21202e5af8972289a8c923b16bf6d
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(gerrit): add comment when abandoning change due to Code-Review -2
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Save an API call
  lib/modules/platform/gerrit/client.ts
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use JSONC
  lib/util/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add some tests
  lib/modules/platform/gerrit/client.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
