Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

revert some change for debug
  lib/modules/datasource/conda/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/util/git/index.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add test for invalid range string
  lib/modules/versioning/composer/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Debugger launchers
  .vscode/launch.json
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

FEAT Support n-1 versioning
  lib/modules/versioning/index.spec.ts
  lib/modules/versioning/index.ts
  lib/util/registry.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(devbox): use new --no-install flag to prevent devbox from using the nix store (#34257)
  lib/modules/manager/devbox/artifacts.spec.ts
  lib/modules/manager/devbox/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  be2fa3c9f0ac11c1e1aa80d525835a10770c7529
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: fix Debugger launchers (#34647)
  .vscode/launch.json
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(manager/composer): use `intersects()` instead of `matches()` to compare tool constraint (#34256)
  lib/modules/manager/composer/utils.spec.ts
  lib/modules/manager/composer/utils.ts
  lib/modules/versioning/composer/index.spec.ts
  lib/modules/versioning/composer/index.ts
  lib/modules/versioning/index.spec.ts
  lib/modules/versioning/npm/index.spec.ts
  lib/modules/versioning/npm/index.ts
  lib/modules/versioning/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d300cd0f5c628e6bc06691fdec6f21ae9c281a59
Due: ls-lint, prettier --cache --ignore-unknown --write

implement pr handling
  lib/util/cache/repository/types.ts
  lib/workers/repository/reconfigure/index.ts
  lib/workers/repository/reconfigure/pr-comment.ts
  lib/workers/repository/reconfigure/reconfigure-cache.ts
  lib/workers/repository/reconfigure/validate.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add supported channel docs
  lib/modules/manager/pixi/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: add back the comma to appease the linter
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: remove duplicate import
  lib/modules/manager/composer/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: appease the linter
  lib/modules/manager/composer/utils.spec.ts
  lib/modules/manager/composer/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): improve grouping of symfony packages
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: revert wrong merge
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

Also exclude pack packages
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Exclude symfony/thanks as well
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Also manually exclude packages from the first 5 packagist pages
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2efdaa67ebd10a206535873b73db4fe1f5517b8e
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: optimize type checks
  lib/config/migrations/custom/rebase-stale-prs-migration.ts
  lib/config/validation.ts
  lib/modules/manager/bundler/artifacts.ts
  lib/modules/manager/mise/extract.ts
  lib/workers/repository/onboarding/pr/config-description.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: optimize type checks (#34654)
  lib/config/migrations/custom/rebase-stale-prs-migration.ts
  lib/config/validation.ts
  lib/modules/manager/bundler/artifacts.ts
  lib/modules/manager/mise/extract.ts
  lib/workers/repository/onboarding/pr/config-description.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gomod): read contraints from new `go.mod`
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
  lib/modules/manager/gomod/update.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gomod): read contraints from new `go.mod` (#34655)
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
  lib/modules/manager/gomod/update.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: migration
  lib/logger/utils.ts
  lib/modules/datasource/index.ts
  lib/modules/versioning/schema.ts
  lib/util/cache/package/decorator.ts
  lib/workers/global/config/parse/file.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3527f7a3037ba893099f947e3f5b1d7eb1dcb8c9
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ec6631c9f77af8f2d65e74d8ac21b5c38b129daa
Due: ls-lint, prettier --cache --ignore-unknown --write

merge trunk
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: non http alias in Helm
  lib/modules/manager/helmv3/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: non http alias in Helm -- test and lint
  lib/modules/manager/helmv3/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/helmv3/artifacts.spec.ts
  lib/modules/manager/helmv3/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add more comment about why
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github-actions): Add support for actions/setup-node with:node-version
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint-fix
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
