Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

switched from using the milestone title to the number
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/schema.spec.ts
  lib/modules/platform/github/schema.ts
  lib/modules/platform/types.ts
  lib/util/http/github.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(workers/repository): Extract processUpdateArtifactResults method (#27324)
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add getReport to allow extractions
  lib/instrumentation/reporting.spec.ts
  lib/instrumentation/reporting.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

force semver to remove prerelease suffix
  lib/modules/versioning/conan/range.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Extract another function
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Linting
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  46/2239685b7570cfba230ed82ec08e5726562854
Due: ls-lint, prettier --cache --ignore-unknown --write

chore(azure): increase logging when determining merge method
  lib/modules/platform/azure/azure-helper.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(lookup): try to match against allVersions first
  lib/workers/repository/process/lookup/current.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(azure): increase logging when determining merge method (#27382)
  lib/modules/platform/azure/azure-helper.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(semver-coerced): only coerce if not a valid semver version
  lib/modules/versioning/semver-coerced/index.spec.ts
  lib/modules/versioning/semver-coerced/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(semver-coerced): only coerce if not a valid semver version (#27384)
  lib/modules/versioning/semver-coerced/index.spec.ts
  lib/modules/versioning/semver-coerced/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix types
  lib/types/vulnerability-alert.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/repository/init/vulnerability.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/workers/repository/init/vulnerability.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/modules/platform/github/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(versioning/cargo): consistent range precision length
  lib/modules/versioning/cargo/index.spec.ts
  lib/modules/versioning/cargo/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7b/7a0b1ee90b0bd40993210879c8a88d5f448299
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/configuration-options.md
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

prettier-fix
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

separate tests
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
  lib/workers/repository/init/vulnerability.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: string pattern matching
  docs/usage/.pages
  docs/usage/self-hosted-configuration.md
  docs/usage/string-pattern-matching.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

matchRepositories
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

matchMessages
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor: minimatch -> glob renaming
  lib/logger/remap.ts
  lib/util/http/host-rules.ts
  lib/util/package-rules/repositories.ts
  lib/util/string-match.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(lookup): try to match against allVersions first (#27383)
  lib/workers/repository/process/lookup/current.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update string-pattern-matching.md
  docs/usage/string-pattern-matching.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2f/1f11a872b9b6ff06c627b3ff0199e97911a6ff
Due: ls-lint, prettier --cache --ignore-unknown --write

reoroder the tests
  lib/workers/repository/init/vulnerability.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint fix
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix covergae
  lib/workers/repository/init/vulnerability.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(workers/repository): Wrapper for get(manager, 'updateArtifacts') (#27380)
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(versioning/cargo): consistent range precision length (#27386)
  lib/modules/versioning/cargo/index.spec.ts
  lib/modules/versioning/cargo/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/string-pattern-matching.md
  docs/usage/string-pattern-matching.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

test(vulnerability-alerts): separate tests for readability (#27389)
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
  lib/workers/repository/init/vulnerability.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add failing test
  lib/util/string-match.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(regex): refactor to use configRegexPredicate
  lib/logger/remap.ts
  lib/util/string-match.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4c/77554ebda1b51540ed820776a150dd053a7ee5
Due: ls-lint, prettier --cache --ignore-unknown --write

fix any string match negative
  lib/util/string-match.spec.ts
  lib/util/string-match.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove unused branch
  lib/util/string-match.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
