Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/local/scm.ts
  lib/modules/platform/local/scm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(scm): use scm for mergeBranch, mergeToLocal (#23448)
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/index.ts
  lib/workers/repository/update/branch/automerge.spec.ts
  lib/workers/repository/update/branch/automerge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

call write metadata in separate command
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add .pnpm-store to .gitignore
  .gitignore
Due: ls-lint, prettier --cache --ignore-unknown --write

don't use unsafe hash types
  lib/modules/manager/gradle/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use full path for finding metadata file
  lib/modules/manager/gradle/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

write verification metadata after lockfile
  lib/modules/manager/gradle/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Reuse datasource filtering (#23716)
  lib/modules/datasource/common.spec.ts
  lib/modules/datasource/common.ts
  lib/modules/datasource/index.ts
  lib/workers/repository/process/lookup/index.ts
  lib/workers/repository/process/lookup/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/modules/manager/gradle/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  23/2f21451933827843e8663eb684f9123e587400
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: add .pnpm-store to .gitignore (#23739)
  .gitignore
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager/nuget): bump VersionPrefix in MSBuild project files (#23464)
  lib/modules/manager/nuget/extract.ts
  lib/modules/manager/nuget/update.spec.ts
  lib/modules/manager/nuget/update.ts
  lib/modules/manager/nuget/util.spec.ts
  lib/modules/manager/nuget/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4b/55b4e51102b78b11aa64021d2cb56b198b2232
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: lower pnpm engine constraint
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix: lower pnpm engine constraint (#23748)
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  de/f9bdf3f5458de33845a9c6a5b33624cb2d9560
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: PlatformScm.mergeToLocal overridden for Gerrit
  lib/modules/platform/gerrit/scm.spec.ts
  lib/modules/platform/gerrit/scm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

removed the (useless) "minimumReleaseAge" label support for Gerrit
  lib/modules/platform/gerrit/index.md
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gerrit/utils.spec.ts
  lib/modules/platform/gerrit/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix prettier
  lib/workers/repository/dependency-dashboard.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint-fix
  lib/modules/platform/gerrit/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/manager/gradle/artifacts.ts
  lib/modules/manager/gradle/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

test-coverage
  lib/modules/platform/gerrit/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/docker): add schema types
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.spec.ts
  lib/modules/datasource/docker/schema.ts
  lib/modules/datasource/docker/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

extract verification update method
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

coerce array
  lib/workers/repository/finalize/repository-statistics.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/docker): add schema types (#23752)
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.spec.ts
  lib/modules/datasource/docker/schema.ts
  lib/modules/datasource/docker/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2f/99b3cf25b1f9adde35d2a39c08b46528fdf55e
Due: ls-lint, prettier --cache --ignore-unknown --write

add test for default hashType
  lib/modules/manager/gradle/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: better validation before bumping package version (#23684)
  lib/modules/manager/helmv3/update.ts
  lib/modules/manager/maven/update.ts
  lib/modules/manager/npm/update/package-version/index.ts
  lib/modules/manager/nuget/update.ts
  lib/workers/repository/update/branch/get-updated.spec.ts
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  29/cec2cb915f4aaeb27256b92b4da929272e1b15
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ca/8e95e5b42855ed3af96451871f77fcd5946342
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(lerna): don’t use packages if v7 or higher
  lib/modules/manager/npm/extract/__snapshots__/monorepo.spec.ts.snap
  lib/modules/manager/npm/extract/monorepo.spec.ts
  lib/modules/manager/npm/extract/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs
  docs/development/adding-a-package-manager.md
  readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(github-actions): autodetect GitHub Actions registry urls for Enterprise Server (#23042)
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  85/3f02844d0ee6df667b256bcc690a4350e71cf2
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(datasource/docker): use schema and support annotations
  lib/modules/datasource/docker/common.ts
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.spec.ts
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove snapshots
  lib/modules/manager/npm/extract/__snapshots__/monorepo.spec.ts.snap
  lib/modules/manager/npm/extract/monorepo.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: fix coverage
  lib/modules/datasource/docker/common.spec.ts
  lib/modules/datasource/docker/common.ts
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
