Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: simplify check
  lib/modules/manager/homebrew/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/homebrew/extract.spec.ts
  lib/modules/manager/homebrew/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(homebrew): handle new github archive url format (#29138)
  lib/modules/manager/homebrew/__fixtures__/ibazel.rb
  lib/modules/manager/homebrew/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/homebrew/__snapshots__/update.spec.ts.snap
  lib/modules/manager/homebrew/extract.spec.ts
  lib/modules/manager/homebrew/extract.ts
  lib/modules/manager/homebrew/update.spec.ts
  lib/modules/manager/homebrew/update.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add test with python version missing from header
  lib/modules/manager/pip-compile/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Simplify tests
  lib/modules/manager/pip-compile/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix import order
  lib/modules/manager/pip-compile/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e0/35f0562d9ab4772c05116c3b753c820785a41c
Due: ls-lint, prettier --cache --ignore-unknown --write

Included the lookupname to validate that the getDigest function receives the correct parameters
  lib/workers/repository/process/lookup/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Removed blank line to keep that part as the original code because it shouldn't be modified
  lib/workers/repository/process/lookup/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add validation for negative numbers
  lib/config/__snapshots__/validation.spec.ts.snap
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor lockfile changes
  pnpm-lock.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

Revert "refactor lockfile changes"
  pnpm-lock.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: convert platformCommit to enum
  lib/config/migrations/custom/platform-commit-migration.spec.ts
  lib/config/migrations/custom/platform-commit-migration.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/scm.spec.ts
  lib/modules/platform/github/scm.ts
  lib/util/git/types.ts
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
  lib/workers/repository/config-migration/branch/create.spec.ts
  lib/workers/repository/config-migration/branch/create.ts
  lib/workers/repository/config-migration/branch/rebase.spec.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/onboarding/branch/create.spec.ts
  lib/workers/repository/onboarding/branch/create.ts
  lib/workers/repository/onboarding/branch/rebase.ts
  lib/workers/repository/update/branch/commit.spec.ts
  lib/workers/repository/update/branch/commit.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: change onboardingNoDeps from `boolean` to `enum` (#28133)
  lib/workers/global/config/parse/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: * pattern matches everything (#28556)
  docs/usage/string-pattern-matching.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(logging)!: initialize file logging via env (#28104)
  lib/config/validation.ts
  lib/workers/global/config/parse/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(deps): update dependency @types/node to v20
  pnpm-lock.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(vulnerability-alerts): move to REST API (#27378)
  pnpm-lock.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

add migration
  lib/config/migrations/migrations-service.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove unwanted changes
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add validation tests
  lib/config/validation.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/string-pattern-matching.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix extra changes
  docs/usage/string-pattern-matching.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(util/package-rules): allow glob pattens in match{Current,New}Value
  docs/usage/configuration-options.md
  lib/util/package-rules/current-value.spec.ts
  lib/util/package-rules/current-value.ts
  lib/util/package-rules/new-value.spec.ts
  lib/util/package-rules/new-value.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix config validation
  lib/config/options/index.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3c/75e4bfb3e6786508f57ead837af102d468f4ab
Due: ls-lint, prettier --cache --ignore-unknown --write

apply suggestions
  lib/config/migrations/custom/platform-commit-migration.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix import
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add tests
  lib/config/validation.spec.ts
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d0/b77e584a8dde76ef98ee402354f63978218f54
Due: ls-lint, prettier --cache --ignore-unknown --write

Fix examples
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

prPriority
  lib/config/validation.spec.ts
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ae/15a51554828bb3891268c16f180124a90ade55
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: change pdm update strategy to eager
  lib/modules/manager/pep621/processors/pdm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update test
  lib/modules/manager/pep621/artifacts.spec.ts
  lib/modules/manager/pep621/processors/pdm.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(asdf): Add rebar3 to asdf manager
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fixed lint errors and mocked funtion returns the correct value
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
