Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/docker): correctly split registry and repository
  lib/modules/datasource/docker/common.spec.ts
  lib/modules/datasource/docker/common.ts
  lib/modules/datasource/docker/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

newDigest
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: use matching digest from currentVersion if found
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: use matching digest from currentVersion if found (#24188)
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/datasource/docker/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: find newDigest for pin and digest updates
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(docker): Support digests obtained from DockerHub (#24177)
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f0/01df02bdb64c16eb6089af6ecd549098d7548b
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(github-tags): return hash as newDigest
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/github-tags/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  71/8a53b7cd7ba849fbda99b6f1b5331c0333c2ec
Due: ls-lint, prettier --cache --ignore-unknown --write

fix find
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove github-tags digest from PR
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/github-tags/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/docker): improve label efficiency
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update tests
  lib/modules/datasource/docker/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: find newDigest for pin and digest updates (#24189)
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(github-tags): return hash as newDigest (#24192)
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/datasource/github-tags/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6a/043e1075dcc8465753ac2c387df4c4cac58b88
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e5/c9cacf798e3e7dc16ce2e90e306cb812fcef64
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: value typo in test
  lib/util/http/host-rules.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add note for privateKey to avoid passing directly, also added suggested format for privateKey
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: split the assignment of attributes
  lib/util/http/host-rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add options to host rules to enable mTLS calls to host
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/types/host-rules.ts
  lib/util/http/host-rules.spec.ts
  lib/util/http/host-rules.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: clarify what httpsCertificateAuthority overrides
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: test attributes individually
  lib/util/http/host-rules.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: rename attributes with https prefix
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/types/host-rules.ts
  lib/util/http/host-rules.spec.ts
  lib/util/http/host-rules.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: use is.nonEmptyString instead
  lib/util/http/host-rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: prettier fix
  lib/util/http/host-rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f6/140e152f44a8acec2782feca6d3dfd895c2200
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(datasource): use registry from package lookup for digest lookups (#24175)
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8f/462ddfc6beea251735d7fe2148371cb6d354f9
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(datasource/docker): improve label efficiency (#24193)
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4b/ffe3110fef64d027345ddf8ed67e3719d4df14
Due: ls-lint, prettier --cache --ignore-unknown --write

chore(cargo): fix branch coverage
  lib/modules/manager/cargo/__fixtures__/Cargo.9.lock
  lib/modules/manager/cargo/__fixtures__/Cargo.9.toml
  lib/modules/manager/cargo/extract.spec.ts
  lib/modules/manager/cargo/locked-version.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Pending changes exported from your codespace
  lib/workers/repository/update/branch/handle-existing.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix merge
  lib/modules/manager/poetry/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(poetry): More artifacts refactoring (#24095)
  lib/modules/manager/poetry/artifacts.ts
  lib/modules/manager/poetry/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/docker): allow null in schema values
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
