Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  032a5cb289515bef32628d44ef7e20e643d2a755
Due: ls-lint

feat(manager): add pkgbuild manager for Arch Linux packages
  docs/usage/self-hosted-configuration.md
  lib/modules/manager/api.ts
  lib/modules/manager/pkgbuild/extract.spec.ts
  lib/modules/manager/pkgbuild/extract/cpan.ts
  lib/modules/manager/pkgbuild/extract/forgejo.ts
  lib/modules/manager/pkgbuild/extract/generic-git.ts
  lib/modules/manager/pkgbuild/extract/gitea.ts
  lib/modules/manager/pkgbuild/extract/github.ts
  lib/modules/manager/pkgbuild/extract/gitlab.ts
  lib/modules/manager/pkgbuild/extract/index.ts
  lib/modules/manager/pkgbuild/extract/npm.ts
  lib/modules/manager/pkgbuild/extract/packagist.ts
  lib/modules/manager/pkgbuild/extract/pypi.ts
  lib/modules/manager/pkgbuild/extract/utils.ts
  lib/modules/manager/pkgbuild/hash.spec.ts
  lib/modules/manager/pkgbuild/hash.ts
  lib/modules/manager/pkgbuild/index.spec.ts
  lib/modules/manager/pkgbuild/index.ts
  lib/modules/manager/pkgbuild/readme.md
  lib/modules/manager/pkgbuild/types.ts
  lib/modules/manager/pkgbuild/update.spec.ts
  lib/modules/manager/pkgbuild/update.ts
  lib/util/cache/package/namespaces.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource): address review comments on APK datasource
  lib/modules/datasource/apk/index.spec.ts
  lib/modules/datasource/apk/index.ts
  lib/modules/datasource/apk/parser.spec.ts
  lib/modules/datasource/apk/parser.ts
  lib/modules/datasource/apk/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Add test case for when no user:email scope
  lib/modules/platform/github/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fixup! fix: deno lockfile update in presence of private registries
  lib/modules/manager/deno/artifacts.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(scm-manager): add mapping of SCM-Manager specific PR states to the matching Renovate PR states (#43237)
  lib/modules/platform/scm-manager/index.spec.ts
  lib/modules/platform/scm-manager/mapper.spec.ts
  lib/modules/platform/scm-manager/mapper.ts
  lib/modules/platform/scm-manager/utils.spec.ts
  lib/modules/platform/scm-manager/utils.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(config-validator): log config migration diff (#43123)
  lib/config-validator.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor: centralize SimpleGit creation (#43035)
  .oxlintrc.json
  lib/modules/datasource/crate/index.spec.ts
  lib/modules/datasource/crate/index.ts
  lib/modules/datasource/git-refs/base.ts
  lib/modules/datasource/git-refs/index.spec.ts
  lib/modules/datasource/git-refs/index.ts
  lib/modules/datasource/git-tags/index.spec.ts
  lib/modules/manager/git-submodules/extract.spec.ts
  lib/modules/manager/git-submodules/extract.ts
  lib/modules/manager/git-submodules/update.spec.ts
  lib/modules/manager/git-submodules/update.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  e10a96bfd01256b5409dfe2add3c525a61d36b85
Due: ls-lint

fix(github): discover public email if available (#43186)
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/types.ts
  lib/modules/platform/github/user.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  219cb8b11e9478437c41587931149edc9afea8a3
Due: ls-lint

Notes added by 'git notes add'
  9e9929b63b489fcdb1c971392c1be1e23b4ad02b
Due: ls-lint

refactor(docs): don't use an `end` for autogenerated docs
  docs/usage/configuration-options.md
  docs/usage/modules/datasource/index.md
  docs/usage/modules/manager/index.md
  docs/usage/modules/platform/index.md
  docs/usage/modules/versioning/index.md
  docs/usage/templates.md
  lib/modules/manager/asdf/readme.md
  lib/modules/manager/mise/readme.md
  tools/docs/config.ts
  tools/docs/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs: add a "deep dive" on environment variables
  docs/usage/.pages
  docs/usage/environment-variable-handling.md
  lib/util/exec/env.ts
  tools/docs/env-vars.ts
  tools/docs/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

remove non-null assertions marks if appropiate
  lib/modules/datasource/docker/common.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/sbt-package/index.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/pip-compile/common.ts
  lib/modules/manager/terragrunt/modules.ts
  lib/modules/platform/bitbucket-server/utils.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/utils.ts
  lib/util/git/url.ts
  lib/util/http/github.ts
  lib/workers/repository/update/pr/changelog/github/source.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test: add additional tests
  lib/modules/datasource/docker/common.spec.ts
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/terragrunt/modules.spec.ts
  lib/modules/platform/bitbucket-server/utils.spec.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/gitlab/utils.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore: sync pnpm-lock.yaml after merge
  pnpm-lock.yaml
Due: ls-lint

Notes added by 'git notes add'
  07362101832a27ed63bf2dd34cf64bfea4bf17a3
Due: ls-lint

Notes added by 'git notes add'
  c6f47b8b5f6e9840f1db5b462ff2bf18f45972b1
Due: ls-lint

feat(presets): add Sentry Junior monorepo group
  lib/data/monorepo.json
Due: ls-lint, prettier

refactor(label-action/monorepos-preset): correctly indent list items
  .github/label-actions.yml
Due: ls-lint, prettier

refactor(manager/swift): always normalize URLs in parseUrl
  lib/modules/manager/swift/extract.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

apply suggestions
  lib/modules/platform/azure/issue.ts
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

add filePatterns and commands to the list
  lib/config/options/index.spec.ts
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(config/options): add `supportsTemplating` field (#41859)
  docs/usage/templates.md
  lib/config/options/index.spec.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.ts
  lib/util/template/index.ts
  tools/docs/config.ts
  tools/docs/templates.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Revert "fix"
  lib/modules/manager/deno/artifacts.spec.ts
  lib/modules/manager/deno/artifacts.ts
  lib/modules/manager/deno/extract.spec.ts
  lib/modules/manager/deno/extract.ts
  lib/modules/manager/deno/schema.spec.ts
  lib/modules/manager/deno/schema.ts
  lib/modules/manager/deno/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

always override frozen flag
  lib/modules/manager/deno/artifacts.spec.ts
  lib/modules/manager/deno/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test: add additional tests and ignore where it makes sense
  lib/modules/datasource/deb/url.spec.ts
  lib/modules/datasource/docker/index.ts
  lib/modules/datasource/sbt-package/index.spec.ts
  lib/modules/manager/custom/regex/utils.spec.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/github/index.ts
  lib/util/git/url.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(mise): avoid debug log noise for mise files with no tools
  lib/modules/manager/mise/schema.spec.ts
  lib/modules/manager/mise/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

implement suggestions
  lib/modules/manager/custom/regex/utils.ts
  lib/modules/manager/helmv3/utils.ts
  lib/modules/manager/pip-compile/common.ts
  lib/util/merge-confidence/index.ts
  tools/lint/rules/no-new-url.js
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(mise): updates existing test for valid toml with no tools
  lib/modules/manager/mise/utils.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  591765148caf5597ed061464c9108dabc615db94
Due: ls-lint

test: further improve coverage
  lib/modules/manager/cake/index.ts
  lib/modules/manager/pip-compile/artifacts.spec.ts
  lib/modules/manager/pip-compile/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

rm args
  lib/modules/manager/deno/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(templates): ensure whitespace before generated list
  tools/docs/templates.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Enabled some unsafe flags for SimpleGit.
  lib/util/git/config.spec.ts
  lib/util/git/config.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(templates): sort outputted options/fields
  tools/docs/templates.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(templates): wrap options/fields in code blocks
  tools/docs/templates.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(presets): add Sentry Junior monorepo group (#43253)
  lib/data/monorepo.json
Due: ls-lint, prettier

refactor(label-action/monorepos-preset): correctly indent list items (#43254)
  .github/label-actions.yml
Due: ls-lint, prettier

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  oxlint --import-plugin --fix: any of: *.{js,cjs,mjs,mts,ts}
  biome check --write: any of: *.{js,cjs,mjs,mts,ts}
  prettier --write: any of: *.{js,cjs,mjs,mts,ts}
