Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

feat(manager): CNB support for Spring Boot maven plugin (#35183)
  lib/config/options/index.ts
  lib/modules/manager/maven/__fixtures__/basic_cnb.pom.xml
  lib/modules/manager/maven/__fixtures__/empty_cnb.pom.xml
  lib/modules/manager/maven/__fixtures__/full_cnb.pom.xml
  lib/modules/manager/maven/__fixtures__/invalid_cnb.pom.xml
  lib/modules/manager/maven/extract.spec.ts
  lib/modules/manager/maven/extract.ts
  lib/modules/manager/maven/index.ts
  lib/modules/manager/maven/readme.md
  lib/modules/manager/maven/update.spec.ts
  lib/modules/manager/maven/update.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  dae2f1ffea657d801b62b6be9e661240db4c8fad
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(manager/docker-compose): update images used as anchors (#35844)
  lib/modules/manager/docker-compose/extract.spec.ts
  lib/modules/manager/docker-compose/extract.ts
  lib/modules/manager/docker-compose/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Move Git Credential Store setup to initPlatform()
  lib/modules/platform/gitlab/index.ts
  lib/workers/global/initialize.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  72bc1fba7c45caff2aa229f30c8a96dac9ce779a
Due: ls-lint, prettier --cache --ignore-unknown --write

reducing test coverage
  lib/modules/manager/terraform/__fixtures__/azureDevOpsModules.tf.json
  lib/modules/manager/terraform/__fixtures__/bitbucketModules.tf.json
  lib/modules/manager/terraform/__fixtures__/terraformBlock.tf.json
  lib/modules/manager/terraform/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Set Git credential.helper only if necessary
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor Git Credential Store setup
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/workers/global/initialize.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Undo refactor after new simple-git version
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gerrit): use change instead of change-request terminology
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(gerrit): save tons of api requests by caching changes in memory
  lib/modules/platform/gerrit/client.spec.ts
  lib/modules/platform/gerrit/client.ts
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gerrit/pr-cache.spec.ts
  lib/modules/platform/gerrit/pr-cache.ts
  lib/modules/platform/gerrit/scm.spec.ts
  lib/modules/platform/gerrit/scm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/mise): committed, hk, lefthook and ruff shortnames (#36252)
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/mise/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update instead of overwrite the Git Credentials Store
  lib/modules/platform/gitlab/index.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Sanitize imports
  lib/workers/global/initialize.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(modules/datasource/crate): replace snapshot test with `toMatchObject`
  lib/modules/datasource/crate/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/crate/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(modules/datasource/crate): support 'dumb http' git registries
  lib/modules/datasource/crate/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/crate/index.spec.ts
  lib/modules/datasource/crate/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(modules/datasource/crate): move async closure clone to its own function
  lib/modules/datasource/crate/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(modules/datasource/crate): also test error in retry shallow
  lib/modules/datasource/crate/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  95dac96f0dc45c0c94c660a90add5ed8bb066807
Due: ls-lint, prettier --cache --ignore-unknown --write

Link to regex documentation
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Clarify docs also apply to glob matching
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(s3): enhance S3 client with support for AWS credentials via environment variables
  docs/usage/self-hosted-configuration.md
  lib/util/s3.envvars.spec.ts
  lib/util/s3.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove url part
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

use env instead of uri changes
  lib/util/s3.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use private cache dir for data files
  lib/util/fs/index.ts
  lib/workers/repository/update/branch/execute-post-upgrade-commands.spec.ts
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
  lib/workers/repository/update/branch/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

forgot to remove test
  lib/modules/manager/terraform/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Improve wording
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(bazel): Parse `new_git_repository` rules
  lib/modules/manager/bazel-module/extract.spec.ts
  lib/modules/manager/bazel-module/parser/rules.ts
  lib/modules/manager/bazel-module/rules.ts
  lib/modules/manager/bazel/__fixtures__/WORKSPACE1
  lib/modules/manager/bazel/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/bazel/rules/git.ts
  lib/modules/manager/bazel/rules/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bazel): Parse `new_git_repository` rules (#36354)
  lib/modules/manager/bazel-module/extract.spec.ts
  lib/modules/manager/bazel-module/parser/rules.ts
  lib/modules/manager/bazel-module/rules.ts
  lib/modules/manager/bazel/__fixtures__/WORKSPACE1
  lib/modules/manager/bazel/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/bazel/rules/git.ts
  lib/modules/manager/bazel/rules/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update package.json and pnpm-lock.yaml for node-expat
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1247fcbe4cf1db483f5381ed46f2932dc3a5c358
Due: ls-lint, prettier --cache --ignore-unknown --write

add unit test
  lib/modules/datasource/rpm/index.spec.ts
  lib/modules/datasource/rpm/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add new lines
  lib/modules/datasource/rpm/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update node version
  pnpm-lock.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

update readme
  lib/modules/datasource/rpm/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

update package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(presets): disable gradle replacement PRs
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update dockefile
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

update dockerfile test
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

testing dockefile
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write
