Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Notes added by 'git notes add'
  ef/ed773f69dd7b413aff85c72b7380980582ad9a
Due: ls-lint, prettier --cache --ignore-unknown --write

build: ignore `dtrace-provider`
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

build: update lockfile
  pnpm-lock.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ba/5abba34a5610aa599f0e7a9f25423dadbdec2d
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  .github/workflows/check-unlabeled-issues.yml
  docs/development/issue-labeling.md
  tools/check-unlabeled-issues.sh
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(npm): support corepack packageManager URLs (#27852)
  lib/modules/manager/npm/post-update/utils.ts
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/npm/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: drop re2 workaround (#27858)
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

build: ignore `dtrace-provider` (#27860)
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  45/0f67ff3ffa4edb7bf9ffafde016d4c40aa4be6
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  28/9944ed0aa2deb1d3c2b2715f392478c91daca0
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: sort config types
  lib/config/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: config file parsing
  lib/config/parse.ts
  lib/workers/repository/init/merge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config): support inherited org config
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/constants/error-messages.ts
  lib/workers/repository/init/config.ts
  lib/workers/repository/init/inherited.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint
  lib/workers/repository/init/inherited.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

globalOnly
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add docs
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config): update `registryAliases` schema and managers
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: config file parsing (#27863)
  lib/config/parse.ts
  lib/workers/repository/init/merge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config): update `registryAliases` schema and managers (#27866)
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  30/281b76b1f972bcc073ff4684e1213e6948c1a6
Due: ls-lint, prettier --cache --ignore-unknown --write

chore(renovate): drop unused package rule
  renovate.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

build: override `bunyan` optional deps
  package.json
  packages/dtrace-provider/index.js
  packages/dtrace-provider/package.json
  packages/moment/index.js
  packages/moment/package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: fix paths
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

escape all slashes
  lib/util/merge-confidence/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix test after merge
  lib/modules/datasource/metadata.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(merge-confidence): escape all slashes within a package name (#27873)
  lib/util/merge-confidence/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(renovate): drop unused package rule (#27868)
  renovate.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(sbt): url resolution failures for sbt (#27856)
  lib/modules/manager/sbt/extract.spec.ts
  lib/modules/manager/sbt/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use different package in tests
  lib/modules/datasource/__snapshots__/metadata.spec.ts.snap
  lib/modules/datasource/metadata.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/npm): mark all releases deprecated if latest deprecated
  lib/modules/datasource/npm/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/npm/get.spec.ts
  lib/modules/datasource/npm/get.ts
  lib/modules/datasource/npm/types.ts
  lib/workers/repository/process/lookup/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github-actions): support ratchet comments (#27846)
  lib/modules/manager/github-actions/__fixtures__/workflow_4.yml
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d3/29c8a2592d9d2fa420aa8772a68733c4d9aa19
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor
  lib/modules/platform/bitbucket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(replacements): only replace mem v10
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  70/013563fee573beb1bc9d57e57318ef583111d0
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: add support for version tag prefixes to github-actions manager
  lib/modules/manager/github-actions/__fixtures__/workflow_4.yml
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: docs formatting
  lib/modules/manager/github-actions/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: rebase
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: the space controversy
  lib/modules/manager/github-actions/__fixtures__/workflow_4.yml
  lib/modules/manager/github-actions/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
