Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

fix(config)!: globalExtends merge order (#28145)
  docs/usage/self-hosted-experimental.md
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config)!: Use `depNameSanitized` in branch name for vulnerability alerts (#25166)
  lib/config/options/index.ts
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(gitea)!: use `Bearer` instead of `token` for auth (#28308)
  lib/util/http/auth.spec.ts
  lib/util/http/auth.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/pep621)!: remove group name from depName (#28193)
  lib/modules/manager/pep621/extract.spec.ts
  lib/modules/manager/pep621/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: stop publishing slim docker tags (#27993)
  tools/docker/bake.hcl
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(logging)!: initialize file logging via env (#28104)
  docs/usage/config-overview.md
  docs/usage/examples/self-hosting.md
  lib/config/options/index.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/logger/index.ts
  lib/logger/utils.spec.ts
  lib/logger/utils.ts
  lib/workers/global/config/parse/index.spec.ts
  lib/workers/global/config/parse/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: * pattern matches everything (#28556)
  docs/usage/string-pattern-matching.md
  lib/util/string-match.spec.ts
  lib/util/string-match.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(npm)!: drop transitiveRemediation option (#27985)
  docs/usage/configuration-options.md
  lib/config/migrations/migrations-service.ts
  lib/config/options/index.ts
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: change onboardingNoDeps from `boolean` to `enum` (#28133)
  docs/usage/config-overview.md
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/global/config/parse/index.spec.ts
  lib/workers/global/config/parse/index.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(package-rules)!: remove depName fallback (#28548)
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/package-names.spec.ts
  lib/util/package-rules/package-names.ts
  lib/util/package-rules/package-patterns.spec.ts
  lib/util/package-rules/package-patterns.ts
  lib/util/package-rules/package-prefixes.spec.ts
  lib/util/package-rules/package-prefixes.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/docker)!: prefer hub.docker.com over index.docker.io for tag lookups (#28400)
  docs/usage/self-hosted-experimental.md
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(packageRules)!: support glob/regex patterns for matchPackageNames (#28551)
  docs/usage/configuration-options.md
  lib/util/package-rules/dep-names.ts
  lib/util/package-rules/dep-patterns.spec.ts
  lib/util/package-rules/dep-patterns.ts
  lib/util/package-rules/package-names.ts
  lib/util/package-rules/package-patterns.ts
  lib/util/package-rules/package-prefixes.ts
  lib/util/package-rules/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(git)!: determine branch modification based on all branch commits (#28225)
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/finalize/prune.ts
  lib/workers/repository/onboarding/branch/index.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.spec.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/branch/reuse.ts
  lib/workers/repository/update/pr/automerge.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

build!: drop compatibility from docker image (#28588)
  tools/docker/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(packageRules)!: support regex or glob matching for all (#28591)
  docs/usage/configuration-options.md
  docs/usage/string-pattern-matching.md
  lib/util/package-rules/base-branches.ts
  lib/util/package-rules/categories.ts
  lib/util/package-rules/datasources.ts
  lib/util/package-rules/dep-types.ts
  lib/util/package-rules/files.ts
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/managers.ts
  lib/util/package-rules/sourceurls.ts
  lib/util/package-rules/update-types.ts
  lib/util/string-match.spec.ts
  lib/util/string-match.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(npm)!: remove RENOVATE_CACHE_NPM_MINUTES (#28715)
  docs/usage/self-hosted-experimental.md
  lib/config/presets/npm/index.spec.ts
  lib/modules/datasource/npm/get.ts
  lib/modules/datasource/npm/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: update wrong assertion (#28741)
  lib/util/package-rules/package-patterns.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(deps): update dependency @types/node to v20
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

refactor(vulnerability-alerts): move to REST API (#27378)
  lib/modules/platform/github/graphql.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/schema.ts
  lib/types/vulnerability-alert.ts
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(logging)!: drop `logFile` and `logFileLevel` (#29104)
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/workers/global/config/parse/file.spec.ts
  lib/workers/global/config/parse/index.spec.ts
  lib/workers/global/config/parse/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): replace `matchPackagePrefix/Patterns` with `matchPackageNames` (#29159)
  lib/config/presets/internal/replacements.ts
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github): convert `platformCommit` to enum (#29156)
  lib/config/migrations/custom/platform-commit-migration.spec.ts
  lib/config/migrations/custom/platform-commit-migration.ts
  lib/config/migrations/migrations-service.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/scm.spec.ts
  lib/modules/platform/github/scm.ts
  lib/util/git/types.ts
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
  lib/workers/repository/config-migration/branch/create.spec.ts
  lib/workers/repository/config-migration/branch/create.ts
  lib/workers/repository/config-migration/branch/rebase.spec.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/onboarding/branch/create.spec.ts
  lib/workers/repository/onboarding/branch/create.ts
  lib/workers/repository/onboarding/branch/rebase.ts
  lib/workers/repository/update/branch/commit.spec.ts
  lib/workers/repository/update/branch/commit.ts
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: prettier-fix docs
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(homepage): convert Markdown list to plain HTML list
  docs/usage/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(installing/onboarding): create section about security/privacy
  docs/usage/getting-started/installing-onboarding.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(installing/onboarding): create section about security/privacy (#29371)
  docs/usage/getting-started/installing-onboarding.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/config/validation.ts
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Search parent paths for yarnrc files
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c5/64eb6639d76f0b1032be9ba4b7e5bff25c2b46
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(homepage): convert Markdown list to plain HTML list (#29369)
  docs/usage/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fallback to s3 values from global config
  lib/instrumentation/reporting.spec.ts
  lib/instrumentation/reporting.ts
  lib/util/s3.spec.ts
  lib/util/s3.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ee/ac8cdb34a1ebf7ebba3d04cfd7b15334a2a36c
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8c/2f4d6485d9d9e1e06fc70f0a5953c1273e567c
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5b/18be5f795ed1c55f7052f56234dc3acfa496ee
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(pip_requirements): Move flags extraction to common.ts (#29360)
  lib/modules/manager/pip_requirements/common.spec.ts
  lib/modules/manager/pip_requirements/common.ts
  lib/modules/manager/pip_requirements/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/sbt): Improve scala 3 dependencies handling and meta-build classes (#29155)
  lib/modules/manager/sbt/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/sbt/extract.spec.ts
  lib/modules/manager/sbt/extract.ts
  lib/modules/manager/sbt/util.spec.ts
  lib/modules/manager/sbt/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5c/472e44d3861c97484ba451047ead2e1fa46541
Due: ls-lint, prettier --cache --ignore-unknown --write

add sourceUrl/Directory options
  docs/usage/configuration-options.md
  lib/config/options/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(cargo): Correct bump of non-range values
  lib/modules/versioning/cargo/index.spec.ts
  lib/modules/versioning/cargo/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
