Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Notes added by 'git notes add'
  56d82cae5aaf53b3ccc8d8f3c77a359e125856c5
Due: ls-lint, prettier --cache --ignore-unknown --write

Extract packageName instead of depName
  lib/modules/manager/buildpacks/extract.spec.ts
  lib/modules/manager/buildpacks/extract.ts
  lib/modules/manager/maven/extract.spec.ts
  lib/modules/manager/maven/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix missing curly bracket
  lib/modules/datasource/deb/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  231bfec979ff6a6553afa72b8482bca7c4664811
Due: ls-lint, prettier --cache --ignore-unknown --write

Also allow forward slash to separate semantic version from a tag prefix
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  905efc5a10a37bb01d67b1acb8173f15e00e48b2
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f3bd0f7f870adef6ea752d3b31a9887dd5aa163e
Due: ls-lint, prettier --cache --ignore-unknown --write

apply suggestions
  lib/workers/repository/init/index.spec.ts
  lib/workers/repository/init/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a0b18164a57a780944ca85a8e3c48df970d0c41d
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(datasource/deb): fix example typo (#35429)
  lib/modules/datasource/deb/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Remove unused luxon and use vi.setSystemTime in tests
  lib/modules/datasource/npm/get.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Mock time directly
  lib/modules/datasource/npm/get.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

adding new fixture for file based testing
  lib/modules/datasource/bazel/__fixtures__/registry/modules/rules_foo/metadata.json
  lib/modules/datasource/bazel/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint fix
  lib/modules/datasource/bazel/index.spec.ts
  lib/modules/datasource/bazel/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

adding fs-mock
  lib/modules/datasource/bazel/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

reverting typed maps
  lib/modules/datasource/bazel/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

adding new tests to handle null cases
  lib/modules/datasource/bazel/__fixtures__/registry/modules/rules_foo/metadata.json
  lib/modules/datasource/bazel/index.spec.ts
  lib/modules/datasource/bazel/index.ts
  lib/modules/datasource/bazel/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

cleaning up bazelrc code
  lib/modules/manager/bazel-module/bazelrc.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  lib/workers/repository/init/index.ts
  lib/workers/repository/process/index.spec.ts
  lib/workers/repository/process/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use utility fn
  lib/config/types.ts
  lib/util/multiple-base-branches.spec.ts
  lib/util/multiple-base-branches.ts
  lib/workers/repository/init/index.spec.ts
  lib/workers/repository/init/index.ts
  lib/workers/repository/process/index.spec.ts
  lib/workers/repository/process/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(data): automatic update of static data
  data/ubuntu-distro-info.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

adding tests to improve coverage
  lib/modules/manager/bazel-module/bazelrc.spec.ts
  lib/modules/manager/bazel-module/bazelrc.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

making minimal reproduction
  lib/modules/manager/bazel-module/bazelrc.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  595caf45a52aa871571f44bdbcd7ba4579dde751
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  25faac7d7beffee215d4aa0b94f7202efc3c50db
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5f72ec35e2211ff75019244d4cdbb196a6a9e89d
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  62bce431a904e21db47b75ea5be803654169bc09
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(bazel): Support local file based bcr (#35273)
  lib/modules/datasource/bazel/index.spec.ts
  lib/modules/datasource/bazel/index.ts
  lib/modules/datasource/bazel/readme.md
  lib/modules/datasource/bazel/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

es lint fix
  lib/modules/manager/bazel-module/bazelrc.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  345cb951a06e10a6499e22aa0da6e06075351ad0
Due: ls-lint, prettier --cache --ignore-unknown --write

fixup! WIP-replace-update
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixup! fixup! WIP-replace-update
  lib/modules/manager/gomod/update.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager): add renovate config presets manager (#32688)
  lib/modules/manager/api.ts
  lib/modules/manager/renovate-config-presets/extract.spec.ts
  lib/modules/manager/renovate-config-presets/extract.ts
  lib/modules/manager/renovate-config-presets/index.ts
  lib/modules/manager/renovate-config-presets/readme.md
  lib/modules/manager/renovate-config-presets/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d8e0f4bff309980eaacead08e1ece665c013fd29
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8f222df54913e673765a43a57ab6cbfd1da8a4af
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  35f6643e89b53e7991dbd7e20c844e5385ce3cae
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3d8fa3de2f5442bcd0b82ffc6c9e22c908cec285
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1acb4088f56670965ff22a22a2e104941d2c20e1
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1d28a695e5bf55b04f1b60a4d5a40ccf2ad2b772
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5fe91f64ec2fe5dd908caca6702206392e660773
Due: ls-lint, prettier --cache --ignore-unknown --write
