Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

ci: use markdownlint-cli2-action (#21946)
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(manager/poetry): Support tag as git-dependency on github (#21949)
  lib/modules/manager/poetry/extract.spec.ts
  lib/modules/manager/poetry/extract.ts
  lib/modules/manager/poetry/index.ts
  lib/modules/manager/poetry/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(managers/nix): pass github token to nix (#21568)
  lib/modules/manager/nix/artifacts.spec.ts
  lib/modules/manager/nix/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/asdf): Add maestro, detekt and ktlint (#21999)
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/gradle): Support properties map in gradle kts (#21792)
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/common.spec.ts
  lib/modules/manager/gradle/parser/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(managers/gradle): allow dot annotation in version.ref (#21820)
  lib/modules/manager/gradle/__fixtures__/1/libs.versions.toml
  lib/modules/manager/gradle/__fixtures__/3/libs.versions.toml
  lib/modules/manager/gradle/extract/catalog.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: switch hcl parser (#21988)
  lib/logger/index.spec.ts
  lib/modules/manager/bundler/artifacts.spec.ts
  lib/modules/manager/terraform/extract.ts
  lib/modules/manager/terraform/hcl/index.spec.ts
  lib/modules/manager/terraform/hcl/index.ts
  lib/util/git/private-key.spec.ts
  lib/workers/global/index.spec.ts
  package.json
  test/fixtures.ts
  yarn.lock
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(scm): use scm for getFileList, checkoutBranch (#22006)
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.ts
  lib/modules/manager/nuget/artifacts.spec.ts
  lib/modules/manager/nuget/package-tree.spec.ts
  lib/modules/manager/nuget/package-tree.ts
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/types.ts
  lib/workers/repository/config-migration/branch/create.spec.ts
  lib/workers/repository/config-migration/branch/create.ts
  lib/workers/repository/config-migration/branch/index.spec.ts
  lib/workers/repository/config-migration/branch/index.ts
  lib/workers/repository/config-migration/branch/migrated-data.spec.ts
  lib/workers/repository/config-migration/branch/migrated-data.ts
  lib/workers/repository/config-migration/branch/rebase.spec.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/extract/index.spec.ts
  lib/workers/repository/extract/index.ts
  lib/workers/repository/init/merge.spec.ts
  lib/workers/repository/init/merge.ts
  lib/workers/repository/onboarding/branch/check.spec.ts
  lib/workers/repository/onboarding/branch/check.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/index.ts
  lib/workers/repository/process/extract-update.spec.ts
  lib/workers/repository/process/extract-update.ts
  lib/workers/repository/update/branch/automerge.spec.ts
  lib/workers/repository/update/branch/automerge.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/terraform): correctly extract oci charts (#21974)
  lib/modules/manager/terraform/extract.spec.ts
  lib/modules/manager/terraform/extractors/resources/helm-release.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: replace as with partial/satisfies (#21982)
  lib/modules/datasource/github-tags/index.spec.ts
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/workers/repository/update/branch/__snapshots__/commit.spec.ts.snap
  lib/workers/repository/update/branch/artifacts.spec.ts
  lib/workers/repository/update/branch/check-existing.spec.ts
  lib/workers/repository/update/branch/commit.spec.ts
  lib/workers/repository/update/branch/get-updated.spec.ts
  lib/workers/repository/update/pr/automerge.spec.ts
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(docs): exclude References if urls empty (#21986)
  tools/docs/manager.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(composer): Use schema for parsing (#21520)
  lib/modules/manager/composer/artifacts.ts
  lib/modules/manager/composer/extract.spec.ts
  lib/modules/manager/composer/extract.ts
  lib/modules/manager/composer/schema.spec.ts
  lib/modules/manager/composer/schema.ts
  lib/modules/manager/composer/types.ts
  lib/modules/manager/composer/update-locked.ts
  lib/modules/manager/composer/utils.spec.ts
  lib/modules/manager/composer/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(`azure-pipelines` manager): explain missing features (#22005)
  lib/modules/manager/azure-pipelines/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

test(rubygems): Inline params for better readability (#22017)
  lib/modules/datasource/rubygems/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(regex-managers): improve `helmChartYamlAppVersions` description (#22024)
  lib/config/presets/internal/regex-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(gitlab): add hostType to registry hostRules guide (#22055)
  lib/modules/platform/gitlab/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

test(manager/terraform): refactor some tests (#22039)
  lib/modules/manager/terraform/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(config options): link to regex manager presets (#22023)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(manager/asdf): add ecspresso (#22021)
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: RENOVATE_X_CLEAR_HOOKS
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: platform=local (#22010)
  lib/config/presets/local/index.ts
  lib/constants/platforms.ts
  lib/modules/platform/api.ts
  lib/modules/platform/local/index.spec.ts
  lib/modules/platform/local/index.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/scm.ts
  lib/util/fs/index.spec.ts
  lib/util/fs/index.ts
  lib/util/git/index.ts
  lib/workers/global/autodiscover.spec.ts
  lib/workers/global/autodiscover.ts
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
  lib/workers/repository/process/index.ts
  package.json
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add pr:discussion-first and needs-details label actions (#22060)
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(pnpm): extract engine constraint (#21959)
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/terraform): support registry aliases for docker images and oci helm charts (#22022)
  docs/usage/configuration-options.md
  lib/modules/manager/dockerfile/extract.ts
  lib/modules/manager/terraform/__fixtures__/docker.tf
  lib/modules/manager/terraform/__fixtures__/helm.tf
  lib/modules/manager/terraform/base.ts
  lib/modules/manager/terraform/extract.spec.ts
  lib/modules/manager/terraform/extract.ts
  lib/modules/manager/terraform/extractors/resources/generic-docker-image-ref.spec.ts
  lib/modules/manager/terraform/extractors/resources/generic-docker-image-ref.ts
  lib/modules/manager/terraform/extractors/resources/helm-release.spec.ts
  lib/modules/manager/terraform/extractors/resources/helm-release.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: local platform
  lib/modules/platform/local/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore: add GitHub Actions VS Code extension (#21350)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

docs: add config-validation chapter (#21969)
  docs/usage/.pages
  docs/usage/config-validation.md
  docs/usage/getting-started/installing-onboarding.md
  docs/usage/troubleshooting.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(poetry): detect constraint from lock file (#22038)
  lib/modules/manager/poetry/__fixtures__/poetry12.lock
  lib/modules/manager/poetry/__fixtures__/poetry142.lock
  lib/modules/manager/poetry/artifacts.spec.ts
  lib/modules/manager/poetry/artifacts.ts
  lib/modules/manager/poetry/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(platform/github): Skip archived repos at earliest point when retrieving repo listings (#22057)
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(regex-managers): Support Contailerfile (#22115)
  lib/config/presets/internal/regex-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: rewrite local platform (#22067)
  lib/modules/platform/local/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(gradle/manager): add support for Kotlin objects in `buildSrc` files (#21892)
  lib/modules/manager/gradle/extract.spec.ts
  lib/modules/manager/gradle/extract.ts
  lib/modules/manager/gradle/index.ts
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser.ts
  lib/modules/manager/gradle/parser/assignments.ts
  lib/modules/manager/gradle/parser/common.spec.ts
  lib/modules/manager/gradle/parser/common.ts
  lib/modules/manager/gradle/parser/objects.ts
  lib/modules/manager/gradle/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(vulnerabilities): set, maintain and expose vulnerabilitySeverity for templated fields (#21939)
  lib/config/index.spec.ts
  lib/config/types.ts
  lib/config/utils.ts
  lib/modules/manager/types.ts
  lib/util/template/index.ts
  lib/util/vulnerability/utils.spec.ts
  lib/util/vulnerability/utils.ts
  lib/workers/repository/process/types.ts
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(regex): limit regex manager iterations to 10k to avoid OoM (#22084)
  lib/modules/manager/regex/utils.spec.ts
  lib/modules/manager/regex/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(platform/azure): Recreate Auto-Approve on PR-Update (#22028)
  lib/modules/platform/azure/__snapshots__/index.spec.ts.snap
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(utils/array): add isNotNullOrUndefined (#22081)
  lib/util/array.spec.ts
  lib/util/array.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: massage rebase check PR comment (#22079)
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/codecommit/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(asdf): Add support for more ASDF plugins (#21942)
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bitbucket): add paginate http option (#22135)
  lib/util/http/bitbucket.spec.ts
  lib/util/http/bitbucket.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: commitMessageLowerCase (#20930)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/codecommit/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.ts
  lib/workers/repository/updates/generate.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write
