Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

fix(presets): wrong package matchers (#31095)
  lib/config/presets/internal/packages.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(presets/workarounds): fix code formatting (#31071)
  lib/config/presets/internal/workarounds.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5f7d22e2a70ab4455d9d4ac067db1a4dda0df5e4
Due: ls-lint, prettier --cache --ignore-unknown --write

chore(sveltos): implement feedback
  lib/modules/manager/sveltos/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(manager/terraform): increased lock update logging (#31094)
  lib/modules/manager/terraform/lockfile/hash.ts
  lib/modules/manager/terraform/lockfile/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(replacements): add eslint-plugin-comments replacement
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

add tests
  lib/workers/repository/config-migration/branch/index.spec.ts
  lib/workers/repository/config-migration/branch/index.ts
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: replacement version
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix: match current version
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Update lib/modules/manager/sveltos/extract.ts
  lib/modules/manager/sveltos/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

throw Error
  lib/modules/datasource/repology/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix prettier
  lib/modules/datasource/aws-lambda-layer/index.spec.ts
  lib/modules/datasource/aws-lambda-layer/index.ts
  lib/modules/datasource/aws-lambda-layer/schema.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

log error as error and ignore for tests
  lib/modules/datasource/aws-lambda-layer/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cache): Create `Cacheable` wrapper for values
  lib/util/cache/package/cacheable.spec.ts
  lib/util/cache/package/cacheable.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  0d2a27379c69585b6a8d2a254467fdf66b071835
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  99cb52eaa1c04f3dcaf8bd8fb00096113ea8ff92
Due: ls-lint, prettier --cache --ignore-unknown --write

Add jsdoc
  lib/util/cache/package/cacheable.spec.ts
  lib/util/cache/package/cacheable.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactoring(presets/workarounds): use matchRegexOrGlob helper (#31071)
  lib/config/presets/internal/workarounds.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

docs(datasource/deb): document steps for Artifactory
  lib/modules/datasource/deb/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(datasource/deb): document supported repository types
  lib/modules/datasource/deb/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix prettier
  lib/modules/datasource/deb/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

simplify preflight
  lib/modules/manager/types.ts
  lib/workers/repository/extract/index.spec.ts
  lib/workers/repository/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

first draft
  lib/modules/manager/types.ts
  lib/workers/repository/extract/index.spec.ts
  lib/workers/repository/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add preflight function to manager API
  docs/development/adding-a-package-manager.md
  lib/modules/manager/types.ts
  lib/workers/repository/extract/index.spec.ts
  lib/workers/repository/extract/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(replacements): add eslint-plugin-eslint-comments replacement (#31103)
  lib/data/replacements.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  deefa65f6d73f8873f97384545474b08e44e9771
Due: ls-lint, prettier --cache --ignore-unknown --write

Update readme.md
  lib/modules/manager/gomod/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: allow to set release in comment
  lib/modules/datasource/deb/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(vulnerability-alerts): allow `null` for first_patched_version
  lib/modules/platform/github/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

more tests
  lib/workers/repository/config-migration/branch/index.spec.ts
  lib/workers/repository/config-migration/branch/index.ts
  lib/workers/repository/config-migration/index.spec.ts
  lib/workers/repository/config-migration/index.ts
  lib/workers/repository/dependency-dashboard.spec.ts
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

cleanup
  lib/workers/repository/config-migration/branch/index.spec.ts
  lib/workers/repository/config-migration/branch/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/datasource/deb/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

implement suggestions
  lib/modules/datasource/deb/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(gomod): clarify major updates limitations (#31119)
  lib/modules/manager/gomod/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(vulnerabilities): do not force exact patch version for NuGet datasource
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/process/vulnerabilities.spec.ts
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f3a9f46db10968e90ea093480b08f091e361762f
Due: ls-lint, prettier --cache --ignore-unknown --write

fix closed pr logic
  lib/workers/repository/config-migration/branch/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix failing tests
  lib/workers/repository/config-migration/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
