Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

fix(config): do no replace RegExp objects with empty objects
  lib/config/migration.spec.ts
  lib/config/migration.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/workers/repository/update/pr/labels.ts
  lib/workers/repository/update/pr/labels.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove non-null assertion
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/util/package-rules/matchers.ts
  lib/util/pretty-time.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ab/19df0de6aafdc23c5fbbb9b7f5de09d7aff143
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(reading-list): add custom datasources to the advanced reading list
  docs/usage/reading-list.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  64/c694c493f7acebb68091d3bb94d7ef2b519890
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(reading-list): add custom datasources to the advanced reading list (#25803)
  docs/usage/reading-list.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(config): mark `keepalive` for advanced users
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2f/64809a4e6a3398434901252e4b3f89b13d59d1
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(config options): `automerge` and GitHub branch protection rule
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Allow the `github-actions` manager to work in directory
  lib/modules/manager/github-actions/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(github-actions): allow subdirectories by default (#25813)
  lib/modules/manager/github-actions/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  da/0a7e1037b43f5c7405e61bc53a56727048b0be
Due: ls-lint, prettier --cache --ignore-unknown --write

Warning admonition only applies when platformAutomerge=true
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Create h3 for GitHub branch protection advice
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

test(datasource/custom): fix tests for localRead
  lib/modules/datasource/custom/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(puppet manager): rewrite
  lib/modules/manager/puppet/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

test(datasource/custom): add coverage for plain read
  lib/modules/datasource/custom/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(config): mark `keepalive` for advanced users (#25807)
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix whitespace
  lib/modules/manager/puppet/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Drop h3 for bold, grammar and style fixes
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(npm): use lockfileVersion to determine npm version
  lib/modules/manager/npm/post-update/npm.spec.ts
  lib/modules/manager/npm/post-update/npm.ts
  lib/modules/manager/npm/post-update/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

prettier-fix
  lib/modules/manager/npm/post-update/npm.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix typo
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

prettier-fix
  lib/config-validator.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/key-concepts/how-renovate-works.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

suggestions
  docs/usage/key-concepts/how-renovate-works.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(datasource/custom): remove useless ternary to improve coverage
  lib/modules/datasource/custom/formats/json.ts
  lib/modules/datasource/custom/formats/yaml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(datasource/custom): add test for unresolved plain file
  lib/modules/datasource/custom/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config-validator): throw an error when the config cannot be found (#23815)
  lib/config-validator.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  9b/33fee63983f993a0a57f552580c503573375e3
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(maven): Disable all parent packages by default
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(maven): Disable all parent packages by default (#25823)
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5c/3eade7d2c2dd44f309272892b1dd18f03c0fb5
Due: ls-lint, prettier --cache --ignore-unknown --write
