Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  97fcec199b2bb571f62d3c6a455a1511142589c1
Due: ls-lint

fix(composer): detect already-updated lockfile updates for dev dependencies (#44805)
  lib/modules/manager/composer/__fixtures__/composer5.lock
  lib/modules/manager/composer/update-locked.spec.ts
  lib/modules/manager/composer/update-locked.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

use codeblock
  lib/util/markdown.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  98b7710df5d552c0ae8360277d122fa126c56979
Due: ls-lint

Remove redundant mockReset in test
  lib/util/git/private-key.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(manager/pep621): cover array uv sources
  lib/modules/manager/pep621/extract.spec.ts
  lib/modules/manager/pep621/processors/uv.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(workers/repository): apply `minimumReleaseAge` to `pinDigest` updates
  docs/usage/key-concepts/minimum-release-age.md
  lib/workers/repository/process/lookup/filter-checks.spec.ts
  lib/workers/repository/process/lookup/filter-checks.ts
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/pep621): support array uv sources
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
  lib/modules/manager/pep621/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(contributing): clarify merge queue failures
  .github/contributing.md
Due: ls-lint, markdown-lint, prettier

ci: remove `auto:pls-merge-main`
  .github/workflows/merge-main.yml
  docs/development/issue-labeling.md
Due: ls-lint, markdown-lint, prettier

feat(templates): always expose `renovateVersion`
  lib/util/http/http.ts
  lib/util/template/index.spec.ts
  lib/util/template/index.ts
  lib/workers/repository/dependency-dashboard.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix test
  lib/util/markdown.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

chore(util/exec): fix typo (#44946)
  lib/util/exec/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(util/markdown): undo zero-width space chars when used inside codeblocks (#44933)
  lib/util/markdown.spec.ts
  lib/util/markdown.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(contributing): clarify the "don't merge `main`" (#44963)
  .github/contributing.md
  .github/pull_request_template.md
Due: ls-lint, markdown-lint, prettier

test(manager/pep621): cover unknown source fallback
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(workers/repository): apply `minimumReleaseAge` to `pinDigest` updates (#44968)
  docs/usage/key-concepts/minimum-release-age.md
  lib/workers/repository/process/lookup/filter-checks.spec.ts
  lib/workers/repository/process/lookup/filter-checks.ts
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(templates): always expose `renovateVersion` (#44969)
  lib/util/http/http.ts
  lib/util/template/index.spec.ts
  lib/util/template/index.ts
  lib/workers/repository/dependency-dashboard.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/mix): run mix commands from the lock file's directory
  lib/modules/manager/mix/artifacts.spec.ts
  lib/modules/manager/mix/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  69a629031b0a82c393fe57f9e1ef1da9ef747147
Due: ls-lint

Notes added by 'git notes add'
  8e1603a2a5d7b7030e3f493588783e94ebd40117
Due: ls-lint

Notes added by 'git notes add'
  e2dc290dc48f5cda22d3d8d82f7cf1d8b21eadd8
Due: ls-lint

refactor(datasource/apk): encode registry URL parts as query parameters
  lib/modules/datasource/apk/index.spec.ts
  lib/modules/datasource/apk/index.ts
  lib/modules/datasource/apk/readme.md
  lib/modules/datasource/apk/url.spec.ts
  lib/modules/datasource/apk/url.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  dfcc47a4e0a531b2dc33b185d401501fdac7533b
Due: ls-lint

Notes added by 'git notes add'
  58ce6fadc50c846c1c5545702ef3b5ff3403139d
Due: ls-lint

Notes added by 'git notes add'
  4c7bb1485273f97af9cf4f716f42bf15e043436a
Due: ls-lint

Update docs/usage/bot-comparison.md
  docs/usage/bot-comparison.md
Due: ls-lint, markdown-lint, prettier

docs: abandoned PRs
  docs/usage/configuration-options.md
  docs/usage/key-concepts/pull-requests.md
Due: ls-lint, markdown-lint, prettier

docs: abandoned PRs
  docs/usage/key-concepts/pull-requests.md
Due: ls-lint, markdown-lint, prettier

docs: add opengraph meta tags
  tools/mkdocs/overrides/main.html
Due: ls-lint

perf(manager/gemspec): skip Bundler exec when Gemfile lacks gemspec directive
  lib/modules/manager/gemspec/artifacts.spec.ts
  lib/modules/manager/gemspec/artifacts.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

docs(manager/gemspec): document static-parsing limitations
  lib/modules/manager/gemspec/extract.spec.ts
  lib/modules/manager/gemspec/extract.ts
  lib/modules/manager/gemspec/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  d1d254c25bbf84f4b0aaafc5c7660483d0c10c0e
Due: ls-lint

fix(cache): re-add cacache.verify() to garbage collect orphaned content from put() overwrites
  lib/util/cache/package/impl/file.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Fix lint
  lib/util/cache/package/impl/file.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(presets): warn about unsupported crate update types
  lib/config/presets/internal/security.preset.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(presets): use singular crate release age name
  lib/config/presets/internal/security.preset.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  oxlint --import-plugin --fix: any of: *.{js,cjs,mjs,mts,ts}
  biome check --write: any of: *.{js,cjs,mjs,mts,ts}
  prettier --write: any of: *.{js,cjs,mjs,mts,ts}
