Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,mts,ts}": [
    "oxlint --import-plugin --fix",
    "biome check --write",
    "prettier --write"
  ],
  "!(*.{js,cjs,mjs,mts,ts})": "prettier --ignore-unknown --write"
}

feat(config): add commitTrailers option
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/presets/internal/default.preset.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/modules/platform/gerrit/readme.md
  lib/modules/platform/gerrit/scm.spec.ts
  lib/modules/platform/gerrit/scm.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/git/types.ts
  lib/workers/repository/onboarding/branch/create.spec.ts
  lib/workers/repository/onboarding/branch/create.ts
  lib/workers/repository/update/branch/commit.spec.ts
  lib/workers/repository/update/branch/commit.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(manager/npm): cover npmrc failure paths
  lib/modules/manager/npm/npmrc.spec.ts
  lib/modules/manager/npm/npmrc.ts
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Simplify a bit
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  e64554c89d7db82761a4dc72a377b3b5b84715f2
Due: ls-lint

Simplify docs even more
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/modules/platform/gerrit/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Simplify another bit
  lib/modules/platform/gerrit/scm.ts
  lib/util/git/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Add comment about rawExec
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Drop runtime commit trailer verification
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(git): cover string commit message with trailers
  lib/util/git/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat: Identify private ECR registries across AWS partitions
  lib/modules/datasource/docker/ecr.ts
  lib/modules/datasource/docker/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(terraform): normalize lock file constraint order after provider update (#44530)
  lib/modules/manager/terraform/lockfile/index.spec.ts
  lib/modules/manager/terraform/lockfile/index.ts
  lib/modules/manager/terraform/lockfile/util.spec.ts
  lib/modules/manager/terraform/lockfile/util.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(github-actions): add jdx/mise-action to communityActions table
  lib/modules/manager/github-actions/community.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  2783859337317bca5a82f3db7c793015a9e121e8
Due: ls-lint

test: add linter for `as any` in test files (#44658)
  .oxlintrc.json
  lib/config/migrate-validate.spec.ts
  lib/config/migration.spec.ts
  lib/config/migrations/custom/automerge-migration.spec.ts
  lib/config/migrations/custom/base-branch-migration.spec.ts
  lib/config/migrations/custom/branch-name-migration.spec.ts
  lib/config/migrations/custom/branch-prefix-migration.spec.ts
  lib/config/migrations/custom/extends-migration.spec.ts
  lib/config/migrations/custom/host-rules-migration.spec.ts
  lib/config/migrations/custom/ignore-npmrc-file-migration.spec.ts
  lib/config/migrations/custom/path-rules-migration.spec.ts
  lib/config/migrations/custom/schedule-migration.spec.ts
  lib/config/migrations/custom/semantic-commits-migration.spec.ts
  lib/config/migrations/custom/semantic-prefix-migration.spec.ts
  lib/config/migrations/custom/unpublish-safe-migration.spec.ts
  lib/config/secrets.spec.ts
  lib/config/validation.spec.ts
  lib/modules/manager/bundler/host-rules.spec.ts
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/index.spec.ts
  lib/modules/manager/mise/backends.spec.ts
  lib/modules/platform/azure/azure-helper.spec.ts
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/util.spec.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/types.spec.ts
  lib/util/exec/index.spec.ts
  lib/util/host-rules.spec.ts
  lib/workers/repository/update/branch/index.spec.ts
  tools/lint/rules.js
  tools/lint/rules/prefer-partial-in-specs.js
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(github-actions): support `jdx/mise-action` version input
  lib/modules/manager/github-actions/community.ts
  lib/modules/manager/github-actions/extract.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci(linter): add prefer-partial-in-specs oxlint rule
  .oxlintrc.json
  tools/lint/rules.js
  tools/lint/rules/prefer-partial-in-specs.js
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test: drop unnecessary object-literal `as any` casts
  lib/config/migration.spec.ts
  lib/config/migrations/custom/automerge-migration.spec.ts
  lib/config/migrations/custom/base-branch-migration.spec.ts
  lib/config/migrations/custom/branch-name-migration.spec.ts
  lib/config/migrations/custom/branch-prefix-migration.spec.ts
  lib/config/migrations/custom/extends-migration.spec.ts
  lib/config/migrations/custom/host-rules-migration.spec.ts
  lib/config/migrations/custom/ignore-npmrc-file-migration.spec.ts
  lib/config/migrations/custom/path-rules-migration.spec.ts
  lib/config/migrations/custom/schedule-migration.spec.ts
  lib/config/migrations/custom/semantic-commits-migration.spec.ts
  lib/config/migrations/custom/semantic-prefix-migration.spec.ts
  lib/config/migrations/custom/unpublish-safe-migration.spec.ts
  lib/config/validation.spec.ts
  lib/modules/manager/bundler/host-rules.spec.ts
  lib/modules/manager/index.spec.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/util/exec/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test: replace object-literal `as any` casts with partial<T>()
  lib/config/validation.spec.ts
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/platform/azure/azure-helper.spec.ts
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/util.spec.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/types.spec.ts
  lib/workers/repository/update/branch/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test: suppress prefer-partial-in-specs for intentionally-invalid inputs
  lib/config/migrate-validate.spec.ts
  lib/config/migration.spec.ts
  lib/config/migrations/custom/host-rules-migration.spec.ts
  lib/config/secrets.spec.ts
  lib/config/validation.spec.ts
  lib/modules/manager/mise/backends.spec.ts
  lib/util/host-rules.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(presets): add `security:minimumReleaseAgeCrates` preset
  lib/config/presets/internal/security.preset.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(github-actions): support `jdx/mise-action` version input (#44660)
  lib/modules/manager/github-actions/community.ts
  lib/modules/manager/github-actions/extract.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  2c7060849dcda1b303ee706994db75c7e8c2333a
Due: ls-lint

feat(manager/npm): read private registries from pnpm-workspace.yaml (#44083)
  docs/usage/getting-started/private-packages.md
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/pnpm.spec.ts
  lib/modules/manager/npm/extract/pnpm.ts
  lib/modules/manager/npm/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(datasource/docker): Identify private ECR registries across AWS partitions (#44655)
  lib/modules/datasource/docker/ecr.ts
  lib/modules/datasource/docker/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(post-upgrade): preserve executable file modes (#44505)
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/git/types.ts
  lib/workers/repository/update/branch/execute-post-upgrade-commands.spec.ts
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(presets): add Error Prone Support monorepo group (#44628)
  lib/data/monorepo.json
Due: ls-lint, prettier

feat(presets): add Size Limit monorepo group (#44627)
  lib/data/monorepo.json
Due: ls-lint, prettier

feat(presets): add Serwist monorepo group (#44626)
  lib/data/monorepo.json
Due: ls-lint, prettier

Notes added by 'git notes add'
  19a38430ebfd2f1ad7c796ccc0e523c42fe79077
Due: ls-lint

fix(presets/workarounds): keep major-only Java Docker tags rolling (#44603)
  lib/config/presets/internal/workarounds.preset.ts
  lib/config/presets/internal/workarounds.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  768fd6c4b1a7c79ef77bbbd2ce611e5d9ce0c0d3
Due: ls-lint

fix(manager/hermit): propagate git credentials to hermit install (#43524)
  lib/modules/manager/hermit/artifacts.spec.ts
  lib/modules/manager/hermit/artifacts.ts
  lib/modules/manager/hermit/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  556b1be775ea0d92733a4bcc985cb87623e80e5f
Due: ls-lint

Address review feedback
  lib/modules/platform/gerrit/scm.spec.ts
  lib/util/git/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  7bdb71336dfc31aef968fa1b9baf21da724b2b33
Due: ls-lint

refactor(manager/apm): parse dependency path with named capture groups
  lib/modules/manager/apm/extract.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(gerrit): resolve relative submodule URLs for nested project paths
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/utils.spec.ts
  lib/modules/platform/gerrit/utils.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  c92de215459453f91853e1117b6e34dac433e85b
Due: ls-lint

Notes added by 'git notes add'
  6dee5c4b99b9631fed338c22cad7fbb4cd29da32
Due: ls-lint
