Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  84/e17317d6a6d1a362fe076ebd925c19f888b091
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/modules/manager/maven/lockfile.ts
  lib/modules/manager/maven/lockfile.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/manager/maven/lockfile.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixup! fix: make errors during conan package url determination non fatal
  lib/modules/datasource/conan/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove debug line
  lib/modules/datasource/rubygems/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add artifact error
  lib/modules/manager/maven/lockfile.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: use cron-parser (#23142)
  docs/usage/configuration-options.md
  lib/workers/repository/update/branch/schedule.spec.ts
  lib/workers/repository/update/branch/schedule.ts
  package.json
  yarn.lock
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e6/35f0e2961a2cd4ff6d095735c120da802be37d
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/util/package-rules/managers.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update tools/generate-imports.mjs
  tools/generate-imports.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/workers/repository/extract/index.spec.ts
  lib/workers/repository/extract/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(github-actions): simplify sample
  lib/modules/manager/github-actions/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor: replace verb renovating with plain english
  docs/usage/configuration-options.md
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(github-actions): simplify sample (#23407)
  lib/modules/manager/github-actions/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Remove extra data from new test fixture
  lib/modules/datasource/helm/__fixtures__/index_emptypackage.yaml
Due: ls-lint, prettier --cache --ignore-unknown --write

add wip testcase
  lib/modules/manager/maven/__fixtures__/simpleprojectWithLockfile/pom.xml
  lib/modules/manager/maven/lockfile.spec.ts
  lib/modules/manager/maven/lockfile.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(lerna): revert changes to lerna
  lib/modules/manager/npm/post-update/lerna.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add datatables.net preset
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add comments and restrict error type inherence
  lib/util/result.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: fix devcontainer on codespaces
  .devcontainer/devcontainer.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

add test coverage
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: extract postCreate into a script
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(datasource/helm): Skip helm charts with no listed versions (#23223)
  lib/modules/datasource/helm/__fixtures__/index_emptypackage.yaml
  lib/modules/datasource/helm/index.spec.ts
  lib/modules/datasource/helm/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ab/7f6793649f80d4443bc25dccfd6fce9e5e5962
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: align shebang with the ones from renovate docs repo
  .devcontainer/post-create.sh
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor: move to module scope
  lib/workers/repository/update/pr/changelog/release-notes.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Re-throw uncaught error when unwrapping result
  lib/util/result.spec.ts
  lib/util/result.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Rename
  lib/util/result.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: fix devcontainer on codespaces (#23412)
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

One more comment
  lib/util/result.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): use orgGroups instead of patternGroups
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add rollup preset
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Doc
  lib/util/result.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: use zod schema validation
  lib/modules/manager/pub/__fixtures__/pubspec.1.lock
  lib/modules/manager/pub/__fixtures__/pubspec.2.lock
  lib/modules/manager/pub/__fixtures__/pubspec.lock
  lib/modules/manager/pub/artifacts.spec.ts
  lib/modules/manager/pub/artifacts.ts
  lib/modules/manager/pub/schema.ts
  lib/modules/manager/pub/types.ts
  lib/modules/manager/pub/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/util/pretty-time.ts
  lib/util/pretty-time.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use utc timezone for comparison
  lib/util/pretty-time.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(yarn): support corepack constraint (#23395)
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/npm/post-update/yarn.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
