Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource/docker): allow null in schema values (#24205)
  lib/modules/datasource/docker/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  22/3cee19cd87fdd6da7dff98da1d0db6aac2d837
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(lookup): Don't use config destructuring
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(lookup): Don't use config destructuring (#24206)
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(lerna)!: remove explicit lerna support (#23907)
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/monorepo.spec.ts
  lib/modules/manager/npm/extract/monorepo.ts
  lib/modules/manager/npm/post-update/__snapshots__/lerna.spec.ts.snap
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/modules/manager/npm/post-update/lerna.spec.ts
  lib/modules/manager/npm/post-update/lerna.ts
  lib/modules/manager/npm/post-update/types.ts
  lib/modules/manager/npm/readme.md
  lib/modules/manager/npm/types.ts
  lib/util/exec/containerbase.ts
  lib/workers/repository/update/branch/lock-files/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/config/index.spec.ts
  lib/config/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix error
  lib/util/package-rules/managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

simplify, get tests passing
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/__snapshots__/pnpm.spec.ts.snap
  lib/modules/manager/npm/extract/__snapshots__/yarn.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/locked-versions.spec.ts
  lib/modules/manager/npm/extract/locked-versions.ts
  lib/modules/manager/npm/extract/monorepo.spec.ts
  lib/modules/manager/npm/extract/monorepo.ts
  lib/modules/manager/npm/extract/pnpm.spec.ts
  lib/modules/manager/npm/extract/pnpm.ts
  lib/modules/manager/npm/extract/yarn.spec.ts
  lib/modules/manager/npm/extract/yarn.ts
  lib/modules/manager/npm/extract/yarnrc.spec.ts
  lib/modules/manager/npm/extract/yarnrc.ts
  lib/modules/manager/npm/post-update/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/post-update/__snapshots__/pnpm.spec.ts.snap
  lib/modules/manager/npm/post-update/__snapshots__/yarn.spec.ts.snap
  lib/modules/manager/npm/post-update/index.spec.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/modules/manager/npm/post-update/pnpm.spec.ts
  lib/modules/manager/npm/post-update/pnpm.ts
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/npm/post-update/yarn.ts
  lib/modules/manager/pnpm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/pnpm/extract/index.spec.ts
  lib/modules/manager/pnpm/post-update/__snapshots__/index.spec.ts.snap
  lib/modules/manager/pnpm/post-update/index.spec.ts
  lib/modules/manager/pnpm/update/dependency/index.spec.ts
  lib/modules/manager/yarn/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/yarn/extract/index.spec.ts
  lib/modules/manager/yarn/extract/locked-versions.spec.ts
  lib/modules/manager/yarn/extract/monorepo.spec.ts
  lib/modules/manager/yarn/post-update/index.spec.ts
  lib/workers/repository/update/branch/lock-files/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

simplify
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/pnpm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor npm extract
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

common
  lib/modules/manager/npm/extract/common.ts
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor extract
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

postExtractPackageFile
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor to common
  lib/modules/manager/npm/extract/common.ts
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

No pnpm npmLock
  lib/modules/manager/pnpm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/pnpm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

simplify pnpm extract
  lib/modules/manager/pnpm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/pnpm/extract/index.spec.ts
  lib/modules/manager/pnpm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

simplify yarn extract
  lib/modules/manager/yarn/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/yarn/extract/index.spec.ts
  lib/modules/manager/yarn/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(poetry): More dependency parsing refactoring (#23967)
  lib/modules/manager/poetry/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/poetry/artifacts.ts
  lib/modules/manager/poetry/extract.ts
  lib/modules/manager/poetry/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

npm monorepo
  lib/modules/manager/npm/extract/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

separate validation fn for regex managers
  lib/config/types.ts
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ed/dd7dbddf5c155c83c18d2d17769b401c081236
Due: ls-lint, prettier --cache --ignore-unknown --write

Default package rules now provide Merge Confidence badges for NuGet and Packagist updates
  docs/usage/merge-confidence.md
  lib/config/presets/internal/merge-confidence.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

PRs with Ruby or Scala updates now default to showing Merge Confidence badges.
  docs/usage/merge-confidence.md
  lib/config/presets/internal/merge-confidence.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Corrected spelling of .NET language
  docs/usage/merge-confidence.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Removed Scala from MC badges defaults.
  lib/config/presets/internal/merge-confidence.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: add prettier fix for the modified doc
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

pnpm extract
  lib/modules/manager/pnpm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(flux): extract oci dependencies of type docker (#24185)
  lib/modules/manager/flux/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(platform/github): autodetect GitHub App username and commit email
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/types.ts
  lib/modules/platform/github/user.ts
  lib/util/http/github.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fixed pnpm lockfile + processed PR changes
  lib/modules/datasource/docker/common.ts
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

prettier fix
  lib/modules/platform/github/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

adjust docs
  lib/modules/platform/github/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add multi document in single file support for helm values
  lib/modules/manager/helm-values/__fixtures__/single_file_with_multiple_documents.yaml
  lib/modules/manager/helm-values/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/helm-values/extract.spec.ts
  lib/modules/manager/helm-values/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(git/auth): Support hostrules with username and password when authenticating git commands (#24081)
  lib/modules/manager/git-submodules/extract.spec.ts
  lib/modules/manager/git-submodules/readme.md
  lib/modules/manager/gomod/readme.md
  lib/util/git/auth.spec.ts
  lib/util/git/auth.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Ran prettier
  lib/modules/datasource/docker/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/flux/readme.md
  lib/modules/manager/flux/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(docker): delete newDigest if not pinning Digests
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  09/5afcd0ba712ccb6ed28492b41f3521d77a5186
Due: ls-lint, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
