Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update how-renovate-works.md
  docs/usage/key-concepts/how-renovate-works.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: use docker tag to find most exact changelog
  lib/modules/versioning/docker/index.spec.ts
  lib/modules/versioning/docker/index.ts
  lib/workers/repository/update/pr/changelog/releases.spec.ts
  lib/workers/repository/update/pr/changelog/source.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/pep621): add support for `bumpVersion` option
  docs/usage/configuration-options.md
  lib/modules/manager/pep621/extract.spec.ts
  lib/modules/manager/pep621/extract.ts
  lib/modules/manager/pep621/index.ts
  lib/modules/manager/pep621/schema.ts
  lib/modules/manager/pep621/update.spec.ts
  lib/modules/manager/pep621/update.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert Number.parseInt in rpm versioning
  lib/modules/versioning/rpm/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  88/85fbfbc1584bb77b6e230855fcae3e5f8d3631
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  0d/f540e17c4266d7a6b2fc2018d665d3e7b5c003
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager/poetry): support git rev dependencies
  lib/modules/manager/poetry/index.ts
  lib/modules/manager/poetry/schema.ts
  lib/modules/manager/poetry/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/pep621/update.ts
  lib/modules/manager/pep621/update.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(merge-confidence): add Golang support
  lib/config/presets/internal/merge-confidence.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(merge-confidence): lint fix
  lib/config/presets/internal/merge-confidence.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

more review fixes
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gerrit/utils.spec.ts
  lib/util/http/gerrit.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(merge-confidence): add Golang support (#26369)
  lib/config/presets/internal/merge-confidence.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/pep621): add support for `bumpVersion` option (#26361)
  docs/usage/configuration-options.md
  lib/modules/manager/pep621/extract.spec.ts
  lib/modules/manager/pep621/extract.ts
  lib/modules/manager/pep621/index.ts
  lib/modules/manager/pep621/schema.ts
  lib/modules/manager/pep621/update.spec.ts
  lib/modules/manager/pep621/update.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: create Renovate and changelogs page (#25982)
  docs/usage/key-concepts/.pages
  docs/usage/key-concepts/changelogs.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4b/6867a7ecc88d8efb24122a67a10b9d9ce3ce80
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ef/2278e0eaa949b8694a96e1c8608f3c67fd4f60
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: clarify automerge retry
  docs/usage/known-limitations.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

hex: add depreacted info to release
  lib/modules/datasource/hex/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

validate file config on repo runs
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
  lib/workers/global/config/parse/file.ts
  lib/workers/global/config/parse/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource/nuget): extract latest tag (#26351)
  lib/modules/datasource/nuget/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/nuget/index.spec.ts
  lib/modules/datasource/nuget/v2.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7c/d5ab8e63ae99edf86085e04e307d433b721100
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  dc/614d0b3a630f1465a78563383fb91ca81409b7
Due: ls-lint, prettier --cache --ignore-unknown --write

add extract test cases
  lib/modules/manager/poetry/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/poetry): add support for `bumpVersion` option
  docs/usage/configuration-options.md
  lib/modules/manager/poetry/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/poetry/index.ts
  lib/modules/manager/poetry/schema.spec.ts
  lib/modules/manager/poetry/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

make it more compact
  lib/modules/manager/poetry/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/poetry): add support for `bumpVersion` option (#26377)
  docs/usage/configuration-options.md
  lib/modules/manager/poetry/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/poetry/index.ts
  lib/modules/manager/poetry/schema.spec.ts
  lib/modules/manager/poetry/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d2/536a7cc2cc4af967b1bf6c04af061fe2aedcca
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor the logging messages to include file/env var name
  lib/workers/global/config/parse/env.ts
  lib/workers/global/config/parse/file.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

replace toBe with toMatchObject
  lib/modules/manager/poetry/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

replace toBe with toMatchObject on some other existing tests
  lib/modules/manager/poetry/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: How Renovate Works overview - Basic (#25108)
  docs/usage/key-concepts/.pages
  docs/usage/key-concepts/how-renovate-works.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add optional `.ansible` to regex
  lib/modules/manager/ansible-galaxy/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(pypi): fallback to simple lookup on 403
  lib/modules/datasource/pypi/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/pypi/index.spec.ts
  lib/modules/datasource/pypi/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "replace toBe with toMatchObject on some other existing tests"
  lib/modules/manager/poetry/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/manager/poetry/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove pinDigests, formatting
  lib/modules/manager/poetry/extract.spec.ts
  lib/modules/manager/poetry/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Implemented the possibility for a custom gitlab server to use customPackageNameRegistryUrlSplitter
  lib/modules/datasource/go/base.spec.ts
  lib/modules/datasource/go/base.ts
  lib/types/host-rules.ts
  lib/util/host-rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  07/5a96c00aa53ede32576e924fe81b040789fc14
Due: ls-lint, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
