Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: split backends to new file
  lib/modules/manager/mise/backends.spec.ts
  lib/modules/manager/mise/backends.ts
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/mise/extract.ts
  lib/modules/manager/mise/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: fix nested tests
  lib/modules/manager/mise/backends.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: remove tests with escapes
  lib/modules/manager/mise/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: fix toml escapes in fixtures
  lib/modules/manager/mise/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: fix regex
  lib/modules/manager/mise/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add missing caret
  lib/modules/manager/mise/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d0c0aa7333b0c00582dfc8cc2dbebe7e4f80d0e7
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/modules/manager/gomod/artifacts.ts
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

tests
  lib/modules/manager/gomod/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(git): cloneSubmodulesFilter
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/__snapshots__/index.spec.ts.snap
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/git/types.ts
  lib/workers/repository/init/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: support git url syntax of cargo backended tools
  lib/modules/manager/mise/backends.spec.ts
  lib/modules/manager/mise/backends.ts
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/mise/extract.ts
  lib/modules/manager/mise/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gitea): use configured endpoint in PR cache (#32825)
  lib/modules/platform/gitea/pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: update readme
  lib/modules/manager/mise/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat: support pipx git hash syntax
  lib/modules/manager/mise/backends.ts
  lib/modules/manager/mise/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add test for pipx git url
  lib/modules/manager/mise/backends.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: use g flag for regexes in replaceAll
  lib/modules/manager/mise/backends.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: fix packageName in pipx test
  lib/modules/manager/mise/backends.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add test for unsupported backends
  lib/modules/manager/mise/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: fix unsupported backend test
  lib/modules/manager/mise/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(maven): update body function signature to specify return type
  lib/modules/datasource/maven/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

skip migration of package.json
  lib/workers/repository/config-migration/index.spec.ts
  lib/workers/repository/config-migration/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove jinja templates in poetry pyproject
  lib/modules/manager/poetry/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add template toml test
  lib/util/toml.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove jinja templates in pep62 pyproject
  lib/modules/manager/pep621/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add removeTemplate option
  lib/util/toml.spec.ts
  lib/util/toml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove jinja delimiters
  lib/util/toml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix factory ref bug
  lib/logger/index.spec.ts
  lib/logger/index.ts
  lib/logger/renovate-logger.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update context unit test
  lib/logger/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Export TomlOptions interface
  lib/util/toml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use replaceAll instead of regex global modifier
  lib/util/toml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Removed deprecation date from migrating-secrets page.
  docs/usage/mend-hosted/migrating-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fixed wording in migrating-secrets.md
  docs/usage/mend-hosted/migrating-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(config): remove deprecation date from secrets migration (#33125)
  docs/usage/mend-hosted/migrating-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(config-migration): skip migration of package.json (#33122)
  lib/workers/repository/config-migration/index.spec.ts
  lib/workers/repository/config-migration/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  66dcb61908dfdbc262c0d61861145a6e8240f312
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(gitea): stop PR cache pagination if zero items
  lib/modules/platform/gitea/pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add regex global modifier
  lib/util/toml.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(groups): add io.micrometer group
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add poetry pyproject with template test
  lib/modules/manager/poetry/__fixtures__/pyproject.13.toml
  lib/modules/manager/poetry/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
