Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

docs: update wording
  lib/modules/manager/github-actions/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/config/presets/internal/replacements.ts
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(replacements): add mem to memoize rename (#27847)
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix 2 TODO
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  af/5b08f9f8c9125b2c3328646f2362ad79126312
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5f/7e61d8d9b9c781c449898235e7a78578054f5a
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(config): use enum for config type
  lib/config-validator.ts
  lib/config/migrate-validate.ts
  lib/config/presets/internal/index.spec.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/workers/repository/reconfigure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint
  lib/workers/repository/init/inherited.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config): support inherited org config
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/constants/error-messages.ts
  lib/workers/repository/init/config.ts
  lib/workers/repository/init/inherited.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

globalOnly
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add docs
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

validation
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/workers/repository/index.ts
  lib/workers/repository/init/inherited.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

drop warn
  lib/workers/repository/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

drop optimize
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(manager/gradle): add support for new header used by gradle-consistent-versions plugin
  lib/modules/manager/gradle/extract/consistent-versions-plugin.spec.ts
  lib/modules/manager/gradle/extract/consistent-versions-plugin.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

non-matching group
  lib/modules/manager/gradle/extract/consistent-versions-plugin.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Catch clause for `parent` field schema
  lib/modules/platform/bitbucket/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Infer repo owner from `full_name`
  lib/modules/platform/bitbucket/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove `owner` field
  lib/modules/platform/bitbucket/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: Initialize caches before repository init
  lib/workers/repository/init/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update correct lock files when updating a dependency in multiple inputs
  lib/workers/repository/update/branch/get-updated.spec.ts
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add oci-based helm registries to kustomize manager
  lib/modules/manager/kustomize/__fixtures__/kustomizeOciHelmChart.yaml
  lib/modules/manager/kustomize/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/kustomize/extract.spec.ts
  lib/modules/manager/kustomize/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: reduce experimental flags
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/gradle): add support for new header used by gradle-consistent-versions plugin (#27895)
  lib/modules/manager/gradle/extract/consistent-versions-plugin.spec.ts
  lib/modules/manager/gradle/extract/consistent-versions-plugin.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Initialize caches before repository init (#27897)
  lib/workers/repository/init/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(config): use enum for config type (#27891)
  lib/config-validator.ts
  lib/config/migrate-validate.ts
  lib/config/presets/internal/index.spec.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/workers/repository/reconfigure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  49/971b9af162e95a9aaccef52ca01194baf582f3
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: improve auto actions
  .github/label-actions.yml
  docs/development/minimal-reproductions.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(terragrunt): add support for gitlab-tags datasource
  lib/modules/manager/terragrunt/index.ts
  lib/modules/manager/terragrunt/modules.spec.ts
  lib/modules/manager/terragrunt/modules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/validation.ts
  lib/workers/repository/init/inherited.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(best practices): fix styling
  docs/development/best-practices.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(best practices): fix styling (#27905)
  docs/development/best-practices.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(gitlab): Add coloring info
  lib/modules/platform/gitlab/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/gitlab/readme.md
  lib/modules/platform/gitlab/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/platform/github/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(terragrunt): add support for gitlab-, bitbucket- and gitea-tags datasources
  lib/modules/manager/terragrunt/__fixtures__/2.hcl
  lib/modules/manager/terragrunt/__fixtures__/3.hcl
  lib/modules/manager/terragrunt/__fixtures__/4.hcl
  lib/modules/manager/terragrunt/extract.spec.ts
  lib/modules/manager/terragrunt/index.ts
  lib/modules/manager/terragrunt/modules.spec.ts
  lib/modules/manager/terragrunt/modules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "refactor: Initialize caches before repository init (#27897)"
  lib/workers/repository/init/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: log warning if Repository cache is invalid
  lib/util/cache/repository/impl/base.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(cache): Revert "refactor: Initialize caches before repository init" (#27908)
  lib/workers/repository/init/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
