Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/logger/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: linting fixes
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: remove unused regex method call
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/util/http/cache/package-http-cache-provider.ts
  lib/util/http/cache/package-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/datasource/unity3d-packages/index.ts
  lib/modules/datasource/unity3d-packages/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/datasource/unity3d-packages/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/datasource/unity3d-packages/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip: restore regEx method call
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(pep621): detect uv constraint from `tool.uv.required-version`
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
  lib/modules/manager/pep621/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ensure branch coverage
  lib/modules/manager/pep621/processors/uv.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  403fd6364d3bd3c964a41ab564b47edf5cd51e3d
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7c239fec94053058381d2b731fbaa45676643bcf
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  02aa41b0241c987d4c2135de3dd7b82d0ac47637
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(presets): added fumadocs to mono repo groups (#36781)
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a7371b3207a6fbd8320f315952b117abaa4a6a00
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(pep621): detect uv constraint from `tool.uv.required-version` (#36850)
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
  lib/modules/manager/pep621/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config): variables (#35350)
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/secrets.spec.ts
  lib/config/secrets.ts
  lib/config/types.ts
  lib/constants/error-messages.ts
  lib/util/interpolator.spec.ts
  lib/util/interpolator.ts
  lib/workers/global/config/parse/index.ts
  lib/workers/global/index.ts
  lib/workers/global/initialize.ts
  lib/workers/repository/index.ts
  lib/workers/repository/init/index.spec.ts
  lib/workers/repository/init/index.ts
  lib/workers/repository/init/inherited.ts
  lib/workers/repository/init/merge.ts
  lib/workers/repository/reconfigure/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5adb95593f2e173453b27c198b2c052853701068
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(gomod): implement gomodTidyAll option to update dependent go.mod files
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
  lib/modules/manager/gomod/package-tree.spec.ts
  lib/modules/manager/gomod/package-tree.ts
  lib/modules/manager/gomod/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(gomod): enhance artifact update logic for go.mod and go.sum
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(gomod): improve regex handling for replace directives
  lib/modules/manager/gomod/package-tree.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8769d5d497d0de74d465200ff14267a9d44aa94d
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(config/enabled): add vulnerabilityAlerts as parent
  lib/config/options/index.ts
  lib/config/validation.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config/enabled): add `vulnerabilityAlerts` as parent (#36862)
  lib/config/options/index.ts
  lib/config/validation.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  26cc39cf43fb90ef0766c020462a7b30fbabedc9
Due: ls-lint, prettier --cache --ignore-unknown --write

Try to fetch repo on branchOrTag with either branch or if that fails, by tag
  lib/modules/platform/azure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4d33685f74c28753de40b0c4655c65fa59e5b467
Due: ls-lint, prettier --cache --ignore-unknown --write

Prettier formatting with correct syntax, use of GitVersionType obj
  lib/modules/platform/azure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Rearrange to contain two try catches to not throw error on initial azureApi.gitApi lookup
  lib/modules/platform/azure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  613c1e5df6579e4996c0cf06985f5e8e8af7b201
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(about us): move HonkingGoose to valuable contributions
  docs/usage/about-us.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Move item and return out of scope
  lib/modules/platform/azure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add comment
  lib/modules/platform/azure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
