Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/config/validation.spec.ts
  lib/workers/repository/reconfigure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/repository/reconfigure/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor logs
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/gradle-wrapper): change wrapper task to :wrapper
  lib/modules/manager/gradle-wrapper/artifacts.spec.ts
  lib/modules/manager/gradle-wrapper/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add comment and clarify status codes
  docs/usage/configuration-options.md
  lib/util/http/retry-after.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix comment
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(read-pkg-up-rename): add the rename of `read-pkg-up` to `read-package-up`
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/gradle-wrapper): change wrapper task to :wrapper (#26098)
  lib/modules/manager/gradle-wrapper/artifacts.spec.ts
  lib/modules/manager/gradle-wrapper/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7b/30ba89911ce68c3672e22002076204ea80e68a
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(replacements): add the rename of `read-pkg-up` to `read-package-up` (#26101)
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ba/3bd0187e1227ccaf35089598bdcf8a88ef0708
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(helmfile): make resolving deps in multi-doc files more stable
  lib/modules/manager/helmfile/__fixtures__/multidoc.yaml
  lib/modules/manager/helmfile/extract.spec.ts
  lib/modules/manager/helmfile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/config/options/index.ts
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update README
  lib/modules/manager/tekton/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

4xx
  docs/usage/configuration-options.md
  lib/util/http/retry-after.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add `.gitea/renovate.json` to valid config locations
  docs/usage/configuration-options.md
  docs/usage/getting-started/installing-onboarding.md
  lib/config/app-strings.ts
  lib/workers/repository/init/merge.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): use depName instead of packageName matcher
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): use depName instead of packageName matcher (#26117)
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4a/a8c1a9da34e2c672222f7076f3df5b0dc9f8b9
Due: ls-lint, prettier --cache --ignore-unknown --write

Fix coverage
  lib/util/http/retry-after.spec.ts
  lib/util/http/retry-after.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix lint
  lib/util/http/retry-after.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  33/33455adce318a657a16e3cb63c64b52e876b38
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c4/26975b2b6ff4184d58be7d0c95f34c4a72c79e
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(presets): add russh monorepo
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(helmfile): revert double logging packageName
  lib/modules/manager/helmfile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(helmfile): simplify logging of found repos
  lib/modules/manager/helmfile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(replacements): remove `slim` from `renovate` docker images
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: wrong regex
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/manager/cargo/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: mark npm package as commonjs
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(helmfile): just a small test thing
  lib/modules/manager/helmfile/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gitea): check for disabled issues
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/gitea/schema.spec.ts
  lib/modules/platform/gitea/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(helmfile): make resolving deps in multi-doc files more stable (#26078)
  lib/modules/manager/helmfile/__fixtures__/multidoc.yaml
  lib/modules/manager/helmfile/extract.spec.ts
  lib/modules/manager/helmfile/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add missing property
  lib/modules/platform/gitea/gitea-helper.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: mark npm package as commonjs (#26131)
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

ci: install with frozen
  .github/actions/setup-node/action.yml
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
