Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/bundler/common.ts
  lib/modules/manager/bundler/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cache): add a mutex utility and prevent parallel processing with the same cache key (#30815)
  lib/util/cache/package/decorator.ts
  lib/util/mutex.spec.ts
  lib/util/mutex.ts
  package.json
  pnpm-lock.yaml
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/bundler): improve ruby version detection (#30781)
  lib/modules/manager/bundler/artifacts.spec.ts
  lib/modules/manager/bundler/common.spec.ts
  lib/modules/manager/bundler/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7d253138651fa1f740d061bcf2ddfd5014120e37
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(manager.regex): optionally write regexes as array
  lib/config/options/index.ts
  lib/config/validation.ts
  lib/modules/manager/custom/regex/index.ts
  lib/modules/manager/custom/regex/strategies.ts
  lib/modules/manager/custom/regex/types.ts
  lib/modules/manager/types.ts
  lib/workers/repository/extract/extract-fingerprint-config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(github): Sanitize mentions in commit bodies
  lib/modules/platform/github/scm.spec.ts
  lib/modules/platform/github/scm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/modules/platform/github/scm.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add eslint rule to force typed imports
  .eslintrc.js
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add tests
  package.json
  test/validate-schemas.spec.ts
  tools/schemas/monorepo-schema.json
  tools/schemas/schema.ts
  tools/validate-schemas.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove defn
  tools/schemas/monorepo-schema.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  502e093f59b0c1804d1112564e250f7c2bc3ffd5
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  aa254056ad1a12683adb6dc7bcbaeb7334fb8b8b
Due: ls-lint, prettier --cache --ignore-unknown --write

use deb cdn instead
  lib/modules/datasource/deb/index.spec.ts
  lib/modules/datasource/deb/index.ts
  lib/modules/datasource/deb/readme.md
  lib/modules/datasource/deb/url.spec.ts
  lib/modules/datasource/deb/url.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  dee12aea8d6bdd6b3dbfc605eebfd96f2d323cc3
Due: ls-lint, prettier --cache --ignore-unknown --write

fix linting issue, add test for parallel lookup, fix lookup for packages without homepage
  lib/modules/datasource/deb/index.spec.ts
  lib/modules/datasource/deb/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix import order
  lib/modules/datasource/deb/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1895d0bfbf22af354907ef5e291310d5efbf4416
Due: ls-lint, prettier --cache --ignore-unknown --write

apply suggestions
  docs/usage/configuration-options.md
  docs/usage/self-hosted-configuration.md
  lib/workers/global/config/parse/cli.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  0c85a8c5da412cc02a8e6a8d3f47ca74511421e2
Due: ls-lint, prettier --cache --ignore-unknown --write

apply hack/fix to nested md lists used by mkdocs
  lib/modules/manager/conan/readme.md
  lib/modules/manager/gleam/readme.md
  lib/modules/manager/gomod/readme.md
  lib/modules/platform/codecommit/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: workaround nested list format conflict (#30857)
  lib/modules/manager/conan/readme.md
  lib/modules/manager/gleam/readme.md
  lib/modules/manager/gomod/readme.md
  lib/modules/platform/codecommit/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1408dd16040aebe81a23c0dcda8cfd7434360e99
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: create sidebar entries for Mend-hosted app secrets pages (#30718)
  docs/usage/.pages
  docs/usage/getting-started/private-packages.md
  docs/usage/mend-hosted/.pages
  docs/usage/mend-hosted/app-secrets.md
  docs/usage/mend-hosted/migrating-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: Update images for app-secrets docs
  docs/usage/assets/images/app-settings/add-a-secret.png
  docs/usage/assets/images/app-settings/add-repo-secret.png
  docs/usage/assets/images/app-settings/app-credentials.png
  docs/usage/assets/images/app-settings/encrypted-secrets-error.png
  docs/usage/assets/images/app-settings/org-and-repo-secrets.png
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: Fixed app secrets example. Replace dashes with underscores
  docs/usage/mend-hosted/app-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: Fixed app secrets example.
  docs/usage/mend-hosted/app-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: update app secrets docs (#30859)
  docs/usage/assets/images/app-settings/add-a-secret.png
  docs/usage/assets/images/app-settings/add-repo-secret.png
  docs/usage/assets/images/app-settings/app-credentials.png
  docs/usage/assets/images/app-settings/encrypted-secrets-error.png
  docs/usage/assets/images/app-settings/org-and-repo-secrets.png
  docs/usage/mend-hosted/app-secrets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor(instrumentation): Remove unused span parameter
  lib/instrumentation/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor
  lib/util/cache/package/decorator.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Align cache decorator parameters
  lib/modules/datasource/bitbucket-tags/index.ts
  lib/modules/datasource/galaxy-collection/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(markdown): Use `codeBlock` for `sanitizeMarkdown` test (#30830)
  lib/util/__fixtures__/release-notes.txt
  lib/util/markdown.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(contributing): improve instructions for batch applying review suggestions (#30829)
  .github/contributing.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor(aws): Rename datasources to be consistent with their `id`
  lib/modules/datasource/api.ts
  lib/modules/datasource/aws-machine-image/index.spec.ts
  lib/modules/datasource/aws-machine-image/index.ts
  lib/modules/datasource/aws-rds/index.spec.ts
  lib/modules/datasource/aws-rds/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Rename `CdnJsDatasource` to `CdnjsDatasource`
  lib/modules/datasource/api.ts
  lib/modules/datasource/cdnjs/index.spec.ts
  lib/modules/datasource/cdnjs/index.ts
  lib/modules/manager/cdnurl/extract.ts
  lib/modules/manager/cdnurl/index.ts
  lib/modules/manager/html/extract.ts
  lib/modules/manager/html/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Use separate cache namespace for `GithubReleaseAttachmentsDatasource` class
  lib/modules/datasource/github-release-attachments/index.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
