Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Fix eslint
  lib/util/cache/repository/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: Fix test which breaks with the next version of opentelemetry
  lib/instrumentation/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(http): Remove unused HTTP etag caching implementation (#28000)
  lib/modules/datasource/maven/util.ts
  lib/util/http/bitbucket-server.ts
  lib/util/http/bitbucket.ts
  lib/util/http/gitea.ts
  lib/util/http/github.ts
  lib/util/http/gitlab.ts
  lib/util/http/index.spec.ts
  lib/util/http/index.ts
  lib/util/http/jira.ts
  lib/util/http/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Catch and log some of schema errors
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove unused fields from tests
  lib/modules/datasource/bitbucket-tags/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove more
  lib/modules/datasource/bitbucket-tags/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix eslint
  lib/util/http/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fixes
  lib/util/http/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove unneeded cast
  lib/util/http/cache/abstract-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update nuget.md
  docs/usage/nuget.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(config): expose topLevelOrg, templateOrg to templates (#27997)
  lib/util/template/index.ts
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/workers/repository/init/inherited.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(nuget): add hint for protocol version in NuGet.config (#27933)
  docs/usage/nuget.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(platform): re-attempt platform automerge on github and gitlab (#26567)
  docs/usage/configuration-options.md
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

apply suggestion
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e5/00e5048d9c831d134d3df97cd8a11b8524ba28
Due: ls-lint, prettier --cache --ignore-unknown --write

eslint-fix
  lib/modules/datasource/docker/common.ts
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  eb/f0c7b4d9d47a2e256ab0cef48cf000ff55042e
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(yarn): add COREPACK_ENABLE_UNSAFE_CUSTOM_URLS to env
  lib/util/exec/env.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  lib/modules/platform/bitbucket/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

move
  lib/modules/manager/bundler/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Make HTTP cache stats more compact
  lib/util/stats.spec.ts
  lib/util/stats.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

replace snapshot
  lib/modules/manager/bundler/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/bundler/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: Don't use classes outside of opentelemetry public API
  lib/instrumentation/__mocks__/index.ts
  lib/instrumentation/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(yarn): add COREPACK_ENABLE_UNSAFE_CUSTOM_URLS to env (#28009)
  lib/util/exec/env.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: document support for fine-grained pat (#27346)
  lib/modules/platform/github/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(yarn): improve yarn proxy configuration (#27984)
  docs/usage/self-hosted-experimental.md
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/npm/post-update/yarn.ts
  lib/modules/manager/npm/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(bitbucket): Use schema for repo result validation (#27855)
  lib/modules/datasource/bitbucket-tags/index.spec.ts
  lib/modules/datasource/bitbucket-tags/index.ts
  lib/modules/platform/bitbucket/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/schema.ts
  lib/modules/platform/bitbucket/types.ts
  lib/modules/platform/bitbucket/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: Don't use classes outside of opentelemetry public API (#28012)
  lib/instrumentation/__mocks__/index.ts
  lib/instrumentation/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

String
  lib/workers/repository/updates/branch-name.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: eslint-plugin-node to eslint-plugin-n (#26907)
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/util/stats.spec.ts
  lib/util/stats.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  af/31adbbc684e44e9d6c7a9bf55612ee935afb37
Due: ls-lint, prettier --cache --ignore-unknown --write

apply suggestions
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ignore experimental feature from coverage
  lib/modules/platform/bitbucket-server/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config): Add @babel/eslint-parser to ESLint packages Presets
  lib/config/presets/__snapshots__/index.spec.ts.snap
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/packages.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b8/81173efa1e13aac73498481eed3765bd66fd36
Due: ls-lint, prettier --cache --ignore-unknown --write
