Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

fix: use a union type
  lib/modules/manager/vendir/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  39/50c3fd6a0d81e2003a0e22cfe1b6d7564a22d3
Due: ls-lint, prettier --cache --ignore-unknown --write

Update configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  16/b15ec4a3e32a6370c92b3d163f069b7d56af7c
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: remove extra backtick (#28122)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(datasource): Add Unity3D (#27971)
  lib/modules/datasource/api.ts
  lib/modules/datasource/unity3d/__fixtures__/beta.xml
  lib/modules/datasource/unity3d/__fixtures__/lts.xml
  lib/modules/datasource/unity3d/__fixtures__/no_channel.xml
  lib/modules/datasource/unity3d/__fixtures__/no_item.xml
  lib/modules/datasource/unity3d/__fixtures__/no_title.xml
  lib/modules/datasource/unity3d/__fixtures__/stable.xml
  lib/modules/datasource/unity3d/index.spec.ts
  lib/modules/datasource/unity3d/index.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  77/1cb5f2a48469237f3eb54da81cb55d40ee68b8
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor: remove unneeded type hint
  lib/modules/datasource/nuget/v2.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

type(onboardingNoDeps): boolean to enum
  docs/usage/config-overview.md
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/global/config/parse/index.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "type(onboardingNoDeps): boolean to enum"
  docs/usage/config-overview.md
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/global/config/parse/index.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

type(onboardingNoDeps): boolean -> enum
  docs/usage/config-overview.md
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/global/config/parse/index.spec.ts
  lib/workers/global/config/parse/index.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/github-actions): extract complex github tags
  lib/modules/manager/github-actions/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix non-autodicover mode logic
  lib/workers/global/config/parse/index.spec.ts
  lib/workers/global/config/parse/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update docs/usage/config-overview.md
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update config-overview.md
  docs/usage/config-overview.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add note about additional workflow scope
  lib/modules/platform/github/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/github/readme.md
  lib/modules/platform/github/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor(manager/pip-compile): rename constraint helpers
  lib/modules/manager/pip-compile/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/github-actions): extract complex github tags (#27941)
  lib/modules/manager/github-actions/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  docs/usage/config-overview.md
  docs/usage/self-hosted-configuration.md
  lib/logger/index.ts
  lib/workers/global/config/parse/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

update test
  lib/logger/utils.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(manager/pip-compile): rename constraint helpers (#28138)
  lib/modules/manager/pip-compile/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage: ignore
  lib/logger/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6a/d6022fb20b8b3d4a501bbd1fdfe9a1ba2c1080
Due: ls-lint, prettier --cache --ignore-unknown --write

init
  docs/usage/python.md
  lib/modules/manager/pip_requirements/index.spec.ts
  lib/modules/manager/pip_requirements/index.ts
  lib/modules/manager/pip_requirements/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config): RENOVATE_X_EAGER_GLOBAL_EXTENDS
  docs/usage/self-hosted-experimental.md
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(config): RENOVATE_X_EAGER_GLOBAL_EXTENDS (#28144)
  docs/usage/self-hosted-experimental.md
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  df/fa7b5f06e8780a53cff55aee93e25c25adb598
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: globalExtends merge default
  docs/usage/self-hosted-experimental.md
  lib/workers/global/index.spec.ts
  lib/workers/global/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(python): drop duplicate fileMatch info
  docs/usage/python.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(python): drop duplicate fileMatch info (#28146)
  docs/usage/python.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

PR review feedback
  lib/modules/manager/mix/extract.spec.ts
  lib/modules/manager/mix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(github): mention workflow scope (#28137)
  lib/modules/platform/github/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat: adding depTypes as available to the BranchUpgradeConfig
  lib/workers/repository/updates/generate.ts
  lib/workers/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: cleaning up depTypeList implementation
  lib/util/template/index.spec.ts
  lib/util/template/index.ts
  lib/workers/repository/updates/flatten.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: adding depTypes is available on each branch upgrade object
  lib/workers/repository/updates/__snapshots__/generate.spec.ts.snap
  lib/workers/repository/updates/generate.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: adding to includes handlebards to the documentation
  docs/usage/templates.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor: changing includes to check for arg are valid
  lib/util/template/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: update include handlebars to return when check is executed
  lib/util/template/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/pipenv): Simplify sources handling
  lib/modules/manager/pipenv/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
