Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Coverage
  lib/modules/manager/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Prettier
  lib/modules/manager/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8db0682145577c06b5431b4c3ac45874d5da73a8
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(config/migration): migrate package.json config (#33633)
  lib/workers/repository/config-migration/branch/create.spec.ts
  lib/workers/repository/config-migration/branch/create.ts
  lib/workers/repository/config-migration/index.spec.ts
  lib/workers/repository/config-migration/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  cc69e848228cfcae027d258a8ed3b522bb60aa44
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d9882f2cf2fd27d88b1bff463e4ad18035fe045c
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1fe7ab7b68b07b35e752d7273aff2aaa3145f39c
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  cdc966272941dd57692272c57e78b1b0df0ac611
Due: ls-lint, prettier --cache --ignore-unknown --write

read sourceUrl for Bazel modules
  lib/modules/datasource/bazel/__fixtures__/metadata-no-yanked-versions.json
  lib/modules/datasource/bazel/__fixtures__/metadata-with-yanked-versions.json
  lib/modules/datasource/bazel/index.spec.ts
  lib/modules/datasource/bazel/index.ts
  lib/modules/datasource/bazel/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f6e93cf790ab68c5a60e426add02c9f3eadd0c5e
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(cache): Utils to calculate soft and hard TTL
  lib/config/presets/index.ts
  lib/util/cache/package/decorator.ts
  lib/util/cache/package/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor
  lib/config/presets/index.ts
  lib/util/cache/package/decorator.ts
  lib/util/cache/package/ttl.ts
  lib/util/cache/package/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Comment
  lib/util/cache/package/decorator.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Adjust cache provider class
  lib/util/http/cache/package-http-cache-provider.spec.ts
  lib/util/http/cache/package-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Drop unnecessary replaceString
  lib/modules/manager/nix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix test
  lib/modules/manager/nix/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  lib/util/cache/package/ttl.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add stats
  lib/util/http/cache/package-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cache): Make http cache providers respect `cache-control` header
  lib/util/http/cache/abstract-http-cache-provider.ts
  lib/util/http/cache/package-http-cache-provider.spec.ts
  lib/util/http/cache/repository-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix prettier
  lib/util/http/cache/package-http-cache-provider.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Simplify
  lib/util/http/cache/abstract-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/util/http/cache/abstract-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

WIP: bring back nixpkgs update
  lib/modules/manager/nix/extract.spec.ts
  lib/modules/manager/nix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: parse 'ssh://git@' in pre-commit repo
  lib/modules/manager/pre-commit/__fixtures__/complex.pre-commit-config.yaml
  lib/modules/manager/pre-commit/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/pre-commit/extract.spec.ts
  lib/modules/manager/pre-commit/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  lib/util/http/cache/abstract-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  lib/util/http/cache/abstract-http-cache-provider.ts
  lib/util/http/cache/repository-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggested fix
  lib/modules/datasource/bazel/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/manager/nix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(http): Return stale cache on revalidation errors
  lib/util/http/cache/abstract-http-cache-provider.ts
  lib/util/http/cache/package-http-cache-provider.spec.ts
  lib/util/http/cache/package-http-cache-provider.ts
  lib/util/http/cache/types.ts
  lib/util/http/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add log statement
  lib/util/http/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(npm): Switch to http cache provider
  lib/modules/datasource/npm/get.spec.ts
  lib/modules/datasource/npm/get.ts
  lib/modules/datasource/npm/types.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(http): Stop caching GET responses in memory
  lib/util/http/index.ts
  lib/util/http/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/pre-commit): parse 'ssh://git@' in pre-commit repo (#33850)
  lib/modules/manager/pre-commit/__fixtures__/complex.pre-commit-config.yaml
  lib/modules/manager/pre-commit/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/pre-commit/extract.spec.ts
  lib/modules/manager/pre-commit/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Address PR comments
  lib/modules/datasource/bazel/__fixtures__/metadata-with-yanked-versions.json
  lib/modules/datasource/bazel/index.spec.ts
  lib/modules/datasource/bazel/index.ts
  lib/modules/datasource/bazel/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b2bdd17225d1c6e55dbce8fe7b9def20db187100
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor types
  tools/docs/github-query-items.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update configuration-options.md
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(gradle): add support for implicit test suite dependencies (#33775)
  lib/modules/manager/gradle/parser.spec.ts
  lib/modules/manager/gradle/parser/common.ts
  lib/modules/manager/gradle/parser/dependencies.ts
  lib/modules/manager/gradle/parser/handlers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(azure): improve clarity and formatting in readme for Git installation and API usage
  lib/modules/platform/azure/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write
