Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2c/c19e8442f85556fcaab8d81cc8579b89d54033
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(nuget): adds package source mapping and generate cached NuGet.config without CLI commands (#25052)
  lib/modules/manager/nuget/artifacts.spec.ts
  lib/modules/manager/nuget/artifacts.ts
  lib/modules/manager/nuget/config-formatter.spec.ts
  lib/modules/manager/nuget/config-formatter.ts
  lib/modules/manager/nuget/types.ts
  lib/modules/manager/nuget/util.spec.ts
  lib/modules/manager/nuget/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  65/a69d5829ef4c66e1620f0288ba73cd186359e2
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a1/e5f548d148f96904ca505c08a4c11825f98446
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: warn instead of error
  lib/config/validation.spec.ts
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Updated GettingStarted docs to reference Renovate CE and EE with link to GitHub documentation.
  docs/usage/getting-started/running.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

enable custom registry support
  lib/modules/datasource/galaxy-collection/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/galaxy-collection/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Docs cleaned with prettier
  docs/usage/getting-started/running.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(presets): update java LTS workaround to include Azul Zulu
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add continue keyword
  lib/config/validation.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: improve log when no repository found based on autodiscovery options
  lib/workers/global/autodiscover.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

doc: put the platform host rule note to a new line
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: clarify monorepo preset contribution
  docs/usage/config-presets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add okhttp to monorepo presets
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add new util/hash file and functions
  tools/generate-imports.mjs
  tools/utils/hash.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add okhttp to monorepo presets (#25297)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  58/cc2c073738daca066ed87130099f59630c6d9f
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(autodiscover): improve logging/visibility
  lib/modules/platform/github/index.ts
  lib/workers/global/autodiscover.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  78/2e57302d3703d8f1f4f90756ec85c5d9a507ff
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(github): Reconcile entire GraphQL pages
  lib/util/github/graphql/cache-strategies/abstract-cache-strategy.ts
  lib/util/github/graphql/cache-strategies/memory-cache-strategy.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Edit comment
  lib/util/github/graphql/cache-strategies/abstract-cache-strategy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(github): Reconcile entire GraphQL pages (#25311)
  lib/util/github/graphql/cache-strategies/abstract-cache-strategy.ts
  lib/util/github/graphql/cache-strategies/memory-cache-strategy.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(autodiscover): improve logging/visibility (#25304)
  lib/modules/platform/github/index.ts
  lib/workers/global/autodiscover.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b5/65ee32d462ba81277e8a3dfdd59b88f1936121
Due: ls-lint, prettier --cache --ignore-unknown --write

fix test
  lib/modules/manager/fingerprint.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: typo
  lib/modules/manager/fingerprint.spec.ts
  tools/generate-imports.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove hasha
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

refactor: replace `hasha.fromStream` with new fn `hashStream` (#25046)
  lib/modules/datasource/github-release-attachments/index.ts
  lib/modules/manager/bazel/artifacts.ts
  lib/modules/manager/homebrew/update.ts
  lib/util/hash.spec.ts
  lib/util/hash.ts
  package.json
  pnpm-lock.yaml
  tools/generate-imports.mjs
  tools/utils/hash.mjs
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add option to config
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add platform call to expand group members
  lib/modules/platform/types.ts
  lib/workers/repository/update/pr/participants.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Implement for Gitlab
  lib/modules/platform/gitlab/http.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix (presets): update the document #25236
  docs/usage/.pages
Due: ls-lint, prettier --cache --ignore-unknown --write

Add some unit tests
  lib/workers/repository/update/pr/participants.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update tests
  lib/workers/repository/update/pr/code-owners.spec.ts
  lib/workers/repository/update/pr/participants.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/gitlab/index.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add debug log
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add supported platforms
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Warn on expandCodeownerGroups
  lib/modules/platform/gitlab/index.ts
  lib/workers/repository/init/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove, unnecessary
  lib/workers/repository/update/pr/code-owners.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix pnpm install
  .devcontainer/Dockerfile
Due: ls-lint, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
