Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(datasource/gitlab-packages): added conan packages snapshot
  lib/modules/datasource/gitlab-packages/__snapshots__/index.spec.ts.snap
Due: ls-lint, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/examples/opentelemetry.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update docs/usage/examples/opentelemetry.md
  docs/usage/examples/opentelemetry.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  650cecc80da0fee8ad8a16564ee7dcedfa6e889c
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  eef012758fcdec5b87dc1bfe355e97e1e1bed6b6
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: trim leading v prefix automatically
  lib/modules/manager/mise/backends.spec.ts
  lib/modules/manager/mise/backends.ts
  lib/modules/manager/mise/extract.spec.ts
  lib/modules/manager/mise/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(examples/opentelemetry): use modern components and simplify (#33226)
  docs/usage/examples/opentelemetry.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d043c0201c8bcd9b9e90a3962f964dd7f906a694
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f61b607747469908a1fa72bae87b0016bc5b1407
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c1fca9a08d8cf617fb4e311d57802f0a7ccd5ad5
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: find artifactory timestamp by column
  lib/modules/datasource/artifactory/__fixtures__/releases-as-files.html
  lib/modules/datasource/artifactory/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(23410): eks addon refresh
  lib/modules/datasource/api.ts
  lib/modules/datasource/aws-eks-addon/index.spec.ts
  lib/modules/datasource/aws-eks-addon/index.ts
  lib/modules/datasource/aws-eks-addon/readme.md
  lib/modules/datasource/aws-eks-addon/schema.ts
  lib/util/cache/package/types.ts
  package.json
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(23410): update package json
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

update pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  87303d0ab1a4e3b778d9cb3bb38f195bf3cf258f
Due: ls-lint, prettier --cache --ignore-unknown --write

add test
  lib/workers/repository/update/pr/body/config-description.spec.ts
  lib/workers/repository/update/pr/body/config-description.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  07e65f1ab6e3d31ed5908d7adba58ee5a31222f8
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a6d840b5ed5541db574ad79ba35ac9cb4893aa48
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(23410): update as per linter
  lib/modules/datasource/api.ts
  lib/modules/datasource/aws-eks-addon/index.spec.ts
  lib/modules/datasource/aws-eks-addon/index.ts
  lib/modules/datasource/aws-eks-addon/readme.md
  lib/modules/datasource/aws-eks-addon/schema.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(23410): update dependencies
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(23410): fix linters
  lib/modules/datasource/aws-eks-addon/index.spec.ts
  lib/modules/datasource/aws-eks-addon/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(preset): Add oracle database jdbc and nls monorepo groups
  data/kubernetes-api.json5
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(preset): Add oracle database jdbc and nls monorepo groups
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(23410): added support for versioning
  lib/modules/datasource/aws-eks-addon/readme.md
  lib/modules/datasource/aws-machine-image/index.ts
  lib/modules/versioning/api.ts
  lib/modules/versioning/aws-eks-addon/index.spec.ts
  lib/modules/versioning/aws-eks-addon/index.ts
  lib/modules/versioning/aws-eks-addon/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update kubernetes-api.json5
  data/kubernetes-api.json5
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(preset): Fix axis2 monorepo group
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(preset): Add oracle database jdbc and nls monorepo groups (#33287)
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  594c9ed8e4454b6b973520a175db1732fad8dfd8
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(23410): added tests for schema. prettier-fix
  lib/modules/datasource/aws-eks-addon/index.ts
  lib/modules/datasource/aws-eks-addon/readme.md
  lib/modules/datasource/aws-eks-addon/schema.spec.ts
  lib/modules/datasource/aws-eks-addon/schema.ts
  lib/modules/versioning/aws-eks-addon/index.spec.ts
  lib/modules/versioning/aws-eks-addon/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(23410): fix all tests
  lib/modules/datasource/aws-eks-addon/readme.md
  lib/modules/versioning/aws-eks-addon/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(23410): update package.json deps and loc
  package.json
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(23410): increase code coverage
  lib/modules/datasource/aws-eks-addon/schema.spec.ts
  lib/modules/datasource/aws-machine-image/index.ts
  lib/modules/versioning/aws-eks-addon/index.spec.ts
  lib/modules/versioning/aws-eks-addon/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(23410): prettier fix
  lib/modules/versioning/aws-eks-addon/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update monorepo.json
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Feat(preset): Fix axis2 monorepo group
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(23410): prettier fix
  lib/modules/datasource/aws-eks-addon/index.spec.ts
  lib/modules/datasource/aws-eks-addon/schema.spec.ts
  lib/modules/versioning/aws-eks-addon/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(23410): cover all lines for aws-eks-addon versioning
  lib/modules/versioning/aws-eks-addon/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
