Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

remove unused mocks
  lib/config/presets/npm/index.spec.ts
  lib/modules/datasource/npm/index.spec.ts
  lib/modules/platform/azure/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/getting-started/running.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b1/7ab8a38ed33535674167b5a1d5e4f3ddbe833d
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(managers): remove reference to removed languages
  docs/usage/modules/manager/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(changelog/gitlab): custom endpoint and repository length validation (#23165)
  lib/workers/repository/update/pr/changelog/gitlab/index.spec.ts
  lib/workers/repository/update/pr/changelog/gitlab/source.ts
  lib/workers/repository/update/pr/changelog/source.spec.ts
  lib/workers/repository/update/pr/changelog/source.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  db/e5f09d4bc4be556f6038fe2f054bb2f96877a2
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(managers): remove reference to removed languages (#23177)
  docs/usage/modules/manager/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: drop stale assets
  docs/usage/assets/images/allow-developers-to-merge.png
  docs/usage/assets/images/allow-renovate-bot-to-merge.png
  docs/usage/assets/images/change-renovate-bot-to-maintainer.png
  docs/usage/assets/images/dashboard-install.png
  docs/usage/assets/images/dashboard-login.png
  docs/usage/assets/images/dashboard-settings.png
  docs/usage/assets/images/unprotect-master-branch.png
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(changelog/gitlab): custom endpoint and repository length validation (#23182)
  lib/workers/repository/update/pr/changelog/gitlab/index.spec.ts
  lib/workers/repository/update/pr/changelog/gitlab/source.ts
  lib/workers/repository/update/pr/changelog/source.spec.ts
  lib/workers/repository/update/pr/changelog/source.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: drop stale assets (#23181)
  docs/usage/assets/images/allow-developers-to-merge.png
  docs/usage/assets/images/allow-renovate-bot-to-merge.png
  docs/usage/assets/images/change-renovate-bot-to-maintainer.png
  docs/usage/assets/images/dashboard-install.png
  docs/usage/assets/images/dashboard-login.png
  docs/usage/assets/images/dashboard-settings.png
  docs/usage/assets/images/unprotect-master-branch.png
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: update for v36 (#23161)
  docs/usage/getting-started/running.md
  docs/usage/self-hosted-configuration.md
  readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  fd/c2fba5556eb0124f43648d96df3295330d1ae1
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  0b/cd387b89f866172f43aa536b1ee954502280dc
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(faq): rewrite github hosted app section
  docs/usage/faq.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat: matchPackagePrefixes include packageName
  lib/util/package-rules/package-prefixes.spec.ts
  lib/util/package-rules/package-prefixes.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: matchDepNames for sprintBoot
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: move includeMirrors to global only config
  lib/config/global.ts
  lib/config/types.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
  test/setup.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: matchDepNames for spring boot (#23187)
  lib/config/presets/internal/group.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e0/64eb4361a5ff441764db27ba753eb0c82f95ac
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: remove obsolete link to compatibility presets
  docs/usage/.pages
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: remove obsolete link to compatibility presets (#23190)
  docs/usage/.pages
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: consistently use GlobalConfiguration
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Group Spectre.Console packages
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  45/ae79396c73f0f8a13db550221cf3db5b222a12
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  44/0ea597fcab0fe687882f8170e72a57e4930f89
Due: ls-lint, prettier --cache --ignore-unknown --write

chore(codespaces): Do not auto-run jest
  .devcontainer/devcontainer.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(datasource/helm): Skip helm charts with no listed versions
  lib/modules/datasource/helm/__fixtures__/index_emptypackage.yaml
  lib/modules/datasource/helm/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/helm/index.spec.ts
  lib/modules/datasource/helm/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

mock timers/promises module
  lib/modules/manager/git-submodules/extract.spec.ts
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/gitlab/index.spec.ts
  lib/util/git/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove delay dependency
  package.json
  yarn.lock
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/global/config/parse/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "chore(deps): update dependency aws-sdk-client-mock to v3 (#23172)"
  package.json
  yarn.lock
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Revert "chore(deps): update dependency memfs to v4 (#23173)"
  package.json
  yarn.lock
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

test: fix types
  test/fixtures.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  test/fixtures.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: update smithy types package
  yarn.lock
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a2/f26e99d4a1b59f1ad509922e2a5ca7426bfcc3
Due: ls-lint, prettier --cache --ignore-unknown --write

test: fix types (#23202)
  test/fixtures.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add suggestions
  docs/usage/configuration-options.md
  lib/modules/datasource/custom/index.spec.ts
  lib/modules/datasource/custom/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write
