Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

feat(asdf): Add minikube to asdf manager
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Act on review comments: remove unnecessary configuration elements
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix lint issue
  lib/workers/global/config/parse/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/self-hosted-configuration.md
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/gitlab/index.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(self-hosted): `mergeConfidenceEndpoint` and `mergeConfidenceDatasources` (#28880)
  docs/usage/self-hosted-configuration.md
  docs/usage/self-hosted-experimental.md
  lib/config/global.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/util/merge-confidence/index.spec.ts
  lib/util/merge-confidence/index.ts
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: log when _PROXY values detected
  lib/proxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  04/4dc0fa2807c303a7043c326cec0d8f5fc9c4d1
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(asdf): Add rebar3 to asdf manager (#29188)
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix comments
  docs/usage/self-hosted-configuration.md
  lib/config/decrypt.ts
  lib/config/options/index.ts
  lib/workers/repository/errors-warnings.ts
  lib/workers/repository/update/pr/body/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2e/6c5636eabf6cf6e2b4e0942c4f3ee3263e6a53
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: log when _PROXY values detected (#29191)
  lib/proxy.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(pdm): change pdm update strategy to eager (#29183)
  lib/modules/manager/pep621/artifacts.spec.ts
  lib/modules/manager/pep621/processors/pdm.spec.ts
  lib/modules/manager/pep621/processors/pdm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

bitbucket: enable client TLS based authN/authZ
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket-server/utils.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/gitlab/readme.md
  lib/modules/platform/gitlab/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update readme.md
  lib/modules/platform/gitlab/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  2f/335b61f46c6aed7a1fb0c5c05a6844371ca85d
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(presets): replace `matchPackagePrefix/Patterns` with `matchPackageNames` (#29159)
  lib/config/presets/internal/replacements.ts
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(util/package-rules): allow glob pattens in match{Current,New}Value (#29168)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/util/package-rules/current-value.spec.ts
  lib/util/package-rules/current-value.ts
  lib/util/package-rules/new-value.spec.ts
  lib/util/package-rules/new-value.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(packageRules): prPriority should only be in packageRules
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

move docs
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  56/856d4a46ab007ca118fcd831a76611ea1e9fdd
Due: ls-lint, prettier --cache --ignore-unknown --write

fix comments
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/modules/platform/github/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(packageRules): prPriority should only be in packageRules (#29201)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  70/f1f93823478a369bf7308964c14815cc544048
Due: ls-lint, prettier --cache --ignore-unknown --write

add warnings to Prs from repo problems.
  lib/workers/repository/errors-warnings.spec.ts
  lib/workers/repository/errors-warnings.ts
  lib/workers/repository/update/pr/body/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint-fix
  lib/workers/repository/errors-warnings.spec.ts
  lib/workers/repository/errors-warnings.ts
  lib/workers/repository/update/pr/body/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

try fix test
  lib/workers/repository/errors-warnings.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

try fix test
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
Due: ls-lint, prettier --cache --ignore-unknown --write

Act on CI results: test against a proper value
  lib/modules/manager/asdf/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

rollback snapshot
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
Due: ls-lint, prettier --cache --ignore-unknown --write

rollback
  lib/workers/repository/errors-warnings.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

rollback
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
  lib/workers/repository/errors-warnings.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/manager/gomod/artifacts-extra.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

rollback
  lib/workers/repository/__snapshots__/errors-warnings.spec.ts.snap
  lib/workers/repository/errors-warnings.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
