Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add registryUrl to cache key
  lib/modules/datasource/glasskube-packages/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: simplify cache key function
  lib/modules/datasource/glasskube-packages/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  23/794fc1fd79dfaead234839f5a0e445f040e3ab
Due: ls-lint, prettier --cache --ignore-unknown --write

Only use GitHub releases to update Bazelisk
  lib/modules/manager/bazelisk/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix import
  lib/modules/manager/bazelisk/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Upadte extract
  lib/modules/manager/bazelisk/extract.spec.ts
  lib/modules/manager/bazelisk/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Only use GitHub releases to update Bazelisk (#29847)
  lib/modules/manager/bazelisk/extract.spec.ts
  lib/modules/manager/bazelisk/extract.ts
  lib/modules/manager/bazelisk/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f7/0cbc6c72b017e609afd6d3f09f70ace805c762
Due: ls-lint, prettier --cache --ignore-unknown --write

added return null if both image and repository are undefined
  lib/modules/manager/helm-values/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove extra line in readme
  lib/modules/manager/helm-values/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

More changes
  lib/modules/versioning/nuget/index.spec.ts
  lib/modules/versioning/nuget/index.ts
  lib/modules/versioning/nuget/parser.spec.ts
  lib/modules/versioning/nuget/parser.ts
  lib/modules/versioning/nuget/range.spec.ts
  lib/modules/versioning/nuget/range.ts
  lib/modules/versioning/nuget/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add test
  lib/modules/manager/helm-values/__fixtures__/values_with_image_instead_of_repo.yaml
  lib/modules/manager/helm-values/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

replace test with istanbul ignore statement
  lib/modules/versioning/same-major/index.spec.ts
  lib/modules/versioning/same-major/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(versioning/poetry): improve poetry2semver validation
  lib/modules/versioning/poetry/transform.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(versioning): same major (#28418)
  lib/modules/versioning/api.ts
  lib/modules/versioning/same-major/index.spec.ts
  lib/modules/versioning/same-major/index.ts
  lib/modules/versioning/same-major/readme.md
  lib/util/package-rules/current-version.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

use rm.content to remove expired content
  lib/util/cache/package/file.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ab/392483f68dc568f09a84fb3b26576d4c375efc
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  36/878e841cd864a6daf6040e65d3f414deb53767
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: change cache key
  lib/modules/datasource/glasskube-packages/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  16/6054fce8528600d0c25126cfdec286f6026a98
Due: ls-lint, prettier --cache --ignore-unknown --write

rename to python-runtime
  lib/modules/manager/api.ts
  lib/modules/manager/heroku-runtime/readme.md
  lib/modules/manager/python-runtime/extract.spec.ts
  lib/modules/manager/python-runtime/extract.ts
  lib/modules/manager/python-runtime/index.ts
  lib/modules/manager/python-runtime/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(versioning/poetry): improve poetry2semver validation (#29858)
  lib/modules/versioning/poetry/transform.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  98/e089b0de7af5153e29429e1d7066d253e21ade
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(cache): use `rm.content` to remove expired content (#29860)
  lib/util/cache/package/file.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add `reuse.shouldReuseExistingBranch()` mock implementation
  lib/workers/repository/update/branch/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: fix codestyle error
  lib/modules/datasource/glasskube-packages/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(config options): clarify silent mode behavior
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

rename to runtime-version
  lib/modules/manager/api.ts
  lib/modules/manager/python-runtime/readme.md
  lib/modules/manager/runtime-version/extract.spec.ts
  lib/modules/manager/runtime-version/extract.ts
  lib/modules/manager/runtime-version/index.ts
  lib/modules/manager/runtime-version/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

rename to runtime-version
  lib/modules/manager/runtime-version/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

rename to runtime-version
  lib/modules/manager/runtime-version/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a0/23058514ac91c4fa9a977ebb1a8212e06cd897
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(versioning/semver): rewrite readme
  lib/modules/versioning/semver/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/platform/gerrit/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore: remove non-null assertion in cache key
  lib/modules/datasource/glasskube-packages/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(datasource): add glasskube packages datasource (#29430)
  lib/modules/datasource/api.ts
  lib/modules/datasource/glasskube-packages/__fixtures__/package.yaml
  lib/modules/datasource/glasskube-packages/__fixtures__/package_no_references.yaml
  lib/modules/datasource/glasskube-packages/__fixtures__/versions.yaml
  lib/modules/datasource/glasskube-packages/index.spec.ts
  lib/modules/datasource/glasskube-packages/index.ts
  lib/modules/datasource/glasskube-packages/schema.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(datasource/aws-rds): improve readme
  lib/modules/datasource/aws-rds/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  bb/de8073e8e30b3f266e3f73f2b937bf5236469a
Due: ls-lint, prettier --cache --ignore-unknown --write

Expand the GCV versions.lock regex
  lib/modules/manager/gradle/extract/consistent-versions-plugin.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update consistent-versions-plugin.spec.ts
  lib/modules/manager/gradle/extract/consistent-versions-plugin.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
