Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

fix failing linting step in pipeline
  .github/workflows/build.yml
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

docs(configuration options): `commitMessagePrefix` always appends `:` character
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

viceice review
  lib/modules/manager/nuget/extract.ts
  lib/modules/manager/nuget/update.spec.ts
  lib/modules/manager/nuget/update.ts
  lib/modules/manager/nuget/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add missing file
  lib/modules/manager/nuget/util.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(cdnjs): Use zod schema and `Result` class (#23588)
  lib/modules/datasource/cdnjs/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/cdnjs/index.ts
  lib/modules/datasource/cdnjs/types.ts
  lib/modules/datasource/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Allow massage to occur on package lock version 3
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update pat scopes for Gitea
  lib/modules/platform/gitea/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

remove unnecessary istanbul
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/workers/repository/onboarding/branch/index.ts
  lib/workers/repository/onboarding/branch/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/npm/post-update/npm.ts
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(configuration options): `commitMessagePrefix` always appends `:` character (#23611)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

test: Write test for bad pattern: .md/# (#23609)
  .github/workflows/build.yml
  lib/config/types.ts
  package.json
  test/documentation.spec.ts
  test/website-docs.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: handle unexpected body while fetching plain format
  lib/modules/datasource/custom/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: single version & unexpected body for plain format
  lib/modules/datasource/custom/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: plain format for custom data sources
  lib/modules/datasource/custom/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(preset): add scaffdog monorepo
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update scope 'read:misc' for Gitea version > 1.20.1
  lib/modules/platform/gitea/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Make lockfile version condition more strict
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/modules/datasource/jenkins-plugins/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use table layout for defining PAT scopes
  lib/modules/platform/gitea/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

update tests
  lib/workers/repository/onboarding/branch/rebase.spec.ts
  lib/workers/repository/onboarding/pr/__snapshots__/index.spec.ts.snap
  lib/workers/repository/onboarding/pr/index.spec.ts
  lib/workers/repository/onboarding/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/repository/onboarding/branch/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove platform filter from helper fn
  lib/workers/repository/onboarding/pr/__snapshots__/index.spec.ts.snap
  lib/workers/repository/onboarding/pr/index.spec.ts
  lib/workers/repository/onboarding/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: update authentication for gitea and forgejo for 1.20.x
  lib/modules/platform/gitea/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(preset): add scaffdog monorepo (#23616)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  9a/efc20205282559a737c97154392b427d7133cd
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/modules/platform/gitea/index.md
  lib/modules/platform/gitea/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(platform/Gitea): Update PAT scopes for Gitea (#23615)
  lib/modules/platform/gitea/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(datasource): Amend with suggested changes
  lib/modules/datasource/custom/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(datasource): Move to json5 as code fence
  lib/modules/datasource/custom/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(datasource): Revert to json highlighting and fix k3s example as well
  lib/modules/datasource/custom/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ec/4ed8ff1b1511f27c39d9aa5e4bb4f142098582
Due: ls-lint, prettier --cache --ignore-unknown --write

change versioning from semver to docker
  lib/modules/datasource/github-runners/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add test file for datasource
  lib/modules/datasource/github-runners/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix test data
  lib/modules/manager/github-actions/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/github-actions/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add runner extraction (first draft)
  lib/modules/manager/github-actions/__fixtures__/workflow_5.yml
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix wrong dep pattern
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add github runner datasource
  lib/modules/datasource/api.ts
  lib/modules/datasource/github-runners/index.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
