Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

github.ts: replace the origin in pagination URLs with the server's base url
  lib/util/http/github.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

env var RENOVATE_X_REBASE_PAGINATION_LINKS and tests
  lib/util/http/github.spec.ts
  lib/util/http/github.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

documentation
  docs/usage/self-hosted-experimental.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

replace as with satisfies
  lib/config/migrations/custom/dep-types-migration.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

rename files
  lib/workers/repository/update/pr/set-pr-cache.spec.ts
  lib/workers/repository/update/pr/set-pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

move fingerprint logic to pr-fingerprint.ts
  lib/workers/repository/cache.ts
  lib/workers/repository/update/pr/pr-cache.spec.ts
  lib/workers/repository/update/pr/pr-cache.ts
  lib/workers/repository/update/pr/pr-fingerprint.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update set pr-cache logic
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add new fn getElapsedHours
  lib/modules/datasource/rubygems/versions-datasource.ts
  lib/util/date.spec.ts
  lib/util/date.ts
  lib/workers/repository/process/lookup/filter-checks.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/modules/datasource/rubygems/versions-datasource.ts
  lib/util/date.spec.ts
  lib/util/date.ts
  lib/workers/repository/process/lookup/filter-checks.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: add test for isOCIRegistry null and undefined cases
  lib/modules/manager/helmv3/utils.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: Nest less in updateArtifacts
  lib/modules/manager/helmfile/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor tests
  lib/util/date.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove inaccurate note
  docs/usage/self-hosted-experimental.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Create mend-renovate-app-support.yml
  .github/DISCUSSION_TEMPLATE/mend-renovate-app-support.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Create ideas-general-discussion.yml
  .github/DISCUSSION_TEMPLATE/ideas-general-discussion.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Create questions-answers.yml
  .github/DISCUSSION_TEMPLATE/questions-answers.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Update mend-renovate-app-support.yml
  .github/DISCUSSION_TEMPLATE/mend-renovate-app-support.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Improve hosted app form
  .github/DISCUSSION_TEMPLATE/mend-renovate-app-support.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Improve description
  .github/DISCUSSION_TEMPLATE/mend-renovate-app-support.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Improve questions and answers form
  .github/DISCUSSION_TEMPLATE/questions-answers.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Create basic ideas/discussion form
  .github/DISCUSSION_TEMPLATE/ideas-general-discussion.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Fix Prettier problems
  .github/DISCUSSION_TEMPLATE/ideas-general-discussion.yml
  .github/DISCUSSION_TEMPLATE/mend-renovate-app-support.yml
  .github/DISCUSSION_TEMPLATE/questions-answers.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix: Revert fix(git): unset git-hooks after clone (#19880)
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(cargo): Allow custom env vars to be passed through to cargo update
  lib/modules/manager/cargo/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/cargo/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c4/3a65f192a49ed9dcd29bae9ed16f55dac23985
Due: ls-lint, prettier --cache --ignore-unknown --write

rename targetBranch to baseBranch and remove optional (default) param to pushCommit
  lib/util/git/index.ts
  lib/util/git/types.ts
  lib/workers/repository/config-migration/branch/create.spec.ts
  lib/workers/repository/config-migration/branch/create.ts
  lib/workers/repository/config-migration/branch/rebase.spec.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/onboarding/branch/create.ts
  lib/workers/repository/onboarding/branch/rebase.ts
  lib/workers/repository/update/branch/__snapshots__/commit.spec.ts.snap
  lib/workers/repository/update/branch/commit.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/terraform): do not return registryUrls containing undefined
  lib/modules/manager/terraform/extract.spec.ts
  lib/modules/manager/terraform/extractors/resources/helm-release.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

lint fix
  lib/constants/programming-language.ts
  lib/modules/manager/regex/utils.ts
  lib/modules/versioning/pep440/range.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/terraform): do not return registryUrls containing undefined (#19905)
  lib/modules/manager/terraform/extract.spec.ts
  lib/modules/manager/terraform/extractors/resources/helm-release.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Drop minimal reproduction questions
  .github/DISCUSSION_TEMPLATE/mend-renovate-app-support.yml
  .github/DISCUSSION_TEMPLATE/questions-answers.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  11/27c5e4018f2fdd7883af5e5f59469c187e2a47
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor: remove credential handling
  lib/modules/datasource/npm/yarnrc.spec.ts
  lib/modules/datasource/npm/yarnrc.ts
  lib/modules/manager/npm/extract/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update metadata-manual.ts with additional docker and helm releases.
  lib/modules/datasource/metadata-manual.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add support for scala 3
  lib/modules/manager/sbt/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/sbt/extract.spec.ts
  lib/modules/manager/sbt/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

parse scala version using versioning api
  lib/modules/manager/sbt/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(fleet): warn not error on invalid YAML
  lib/modules/manager/fleet/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  1e/3b1a860468ca6317aac9706a56d02368e359e1
Due: ls-lint, prettier --cache --ignore-unknown --write
