Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b44544b72d432af863d5e1e67b2df70d4bf0d728
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(instrumentation): correctly `async` / `await` Git operations
  lib/util/git/instrument.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): extend jackson monorepo (#37740)
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  92e176a7c43fc6bf037871e1a177fcd1b3298934
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(cache): instrument the cache cleanup
  lib/util/cache/package/file.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(self-hosted): correct indentation of list
  docs/usage/security-and-permissions.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat: Add allowedUnsafeExecution to the global configuration
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: Add allowedUnsafeExecution to the global configuration (#39573)
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4f9d970ad613b22920ea6e6b815a4b967781552a
Due: ls-lint, prettier --cache --ignore-unknown --write

reword
  lib/modules/manager/paket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

typo
  lib/modules/manager/paket/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Remove packageName because equals to depName
  lib/modules/manager/paket/index.spec.ts
  lib/modules/manager/paket/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use isNonEmptyString
  lib/modules/manager/paket/parsers/dependencies-file.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

reduce => loop
  lib/modules/manager/paket/parsers/dependencies-file.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use newlineRegex
  lib/modules/manager/paket/parsers/dependencies-file.ts
  lib/modules/manager/paket/parsers/lock-file.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(instrumentation): handle Promise-like objects as Promises
  lib/instrumentation/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: fix empty notes
  docs/usage/self-hosted-experimental.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

failing
  lib/instrumentation/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(instrumentation): handle Promise-like objects as Promises (#39661)
  lib/instrumentation/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e85bb6e555ce016bf1fcbb9f647b90e65d09c7c0
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(git/instrument): correct types + always `return`
  lib/util/git/instrument.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  7f6fcfbaaaa613252f160b8e33784f1d16bd714f
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(git): report Git operation statistics at end of run
  lib/instrumentation/index.spec.ts
  lib/instrumentation/index.ts
  lib/util/git/span-processor.ts
  lib/util/stats.spec.ts
  lib/util/stats.ts
  lib/workers/repository/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(git): report Git operation statistics at end of run (#39596)
  lib/instrumentation/index.spec.ts
  lib/instrumentation/index.ts
  lib/util/git/span-processor.ts
  lib/util/stats.spec.ts
  lib/util/stats.ts
  lib/workers/repository/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b5cd0317cf0be7a1abbfc12c34f7e3b576031eb7
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor: ensure that configuration options are in alphabetical order
  lib/config/options/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(instrumentation): add links to Semantic Convention docs
  lib/instrumentation/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(instrumentation): simplify type checking
  lib/util/git/instrument.ts
  lib/util/git/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b673d8e7236d3f07856d7014dd8f7f623ca7dffe
Due: ls-lint, prettier --cache --ignore-unknown --write

Updates
  docs/usage/configuration-options.md
  docs/usage/self-hosted-configuration.md
  lib/config/global.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
  lib/modules/manager/gomod/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(dashboard): open all PR controls for schedule and status checks
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(dashboard): open all pending schedule PRs
  lib/workers/repository/dependency-dashboard.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(dashboard): open all awaiting schedule PRs
  lib/workers/repository/__fixtures__/dependency-dashboard-with-10-PR.txt
  lib/workers/repository/__snapshots__/dependency-dashboard.spec.ts.snap
  lib/workers/repository/dependency-dashboard.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(instrumentation): add links to Semantic Convention docs (#39671)
  lib/instrumentation/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update fixes
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(dashboard): open all awaiting schedule PRs
  lib/modules/platform/utils/__fixtures__/issue-body.txt
  lib/modules/platform/utils/read-only-issue-body.spec.ts
  lib/modules/platform/utils/read-only-issue-body.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix order
  lib/modules/platform/utils/__fixtures__/issue-body.txt
Due: ls-lint, prettier --cache --ignore-unknown --write

Address PR comments
  lib/modules/manager/devbox/extract.spec.ts
  lib/modules/manager/devbox/schema.ts
  lib/modules/manager/devbox/tool-versioning.ts
  lib/modules/versioning/devbox/index.spec.ts
  lib/modules/versioning/loose/index.spec.ts
  lib/modules/versioning/python/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: read only issue
  lib/modules/platform/utils/__fixtures__/issue-body.txt
  lib/modules/platform/utils/read-only-issue-body.spec.ts
  lib/modules/platform/utils/read-only-issue-body.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: update scenario to match dependency-dashboard text
  lib/modules/platform/gitlab/__snapshots__/index.spec.ts.snap
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
