Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Add a specific implementation to parse Gitlab CODEOWNERS
  lib/modules/platform/gitlab/code-owners.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/pr/code-owners.spec.ts
  lib/workers/repository/update/pr/code-owners.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add tests
  lib/modules/platform/gitlab/code-owners.spec.ts
  lib/workers/repository/update/pr/code-owners.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix tests after vitest migration
  lib/workers/repository/update/pr/code-owners.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix lint
  lib/config/migrations/migrations-service.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3d7cadeceea085a5116b97bb06e7185e09a00b87
Due: ls-lint, prettier --cache --ignore-unknown --write

Attempt to fix URL
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(docker): Check cacheability for fetched tags
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix Docker datasource auth priority and unused parameter
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  41c043cb687868bbf15c6e233213694d78d0c7f5
Due: ls-lint, prettier --cache --ignore-unknown --write

add docs
  docs/usage/modules/versioning/index.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(cache): Track repeating package cache read access
  lib/util/cache/package/index.ts
  lib/util/stats.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

vibe coded annotation style support
  lib/modules/manager/pip-compile/artifacts.spec.ts
  lib/modules/manager/pip-compile/common.ts
  lib/modules/manager/pip-compile/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor
  lib/util/cache/package/index.ts
  lib/util/stats.ts
  lib/workers/repository/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

move annotation style into common object
  lib/modules/manager/pip-compile/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(gomod): Specs for go.mod directives unrelated to dependencies
  lib/modules/manager/gomod/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gomod): Exclude multi-line `exclude` directives from extraction
  lib/modules/manager/gomod/extract.spec.ts
  lib/modules/manager/gomod/extract.ts
  lib/modules/manager/gomod/line-parser.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(quadlet): Add manager for podman quadlet files
  lib/modules/manager/api.ts
  lib/modules/manager/quadlet/__fixtures__/registry-alias.container
  lib/modules/manager/quadlet/__fixtures__/simple.container
  lib/modules/manager/quadlet/__fixtures__/simple.image
  lib/modules/manager/quadlet/__fixtures__/simple.volume
  lib/modules/manager/quadlet/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/quadlet/extract.spec.ts
  lib/modules/manager/quadlet/extract.ts
  lib/modules/manager/quadlet/index.ts
  lib/modules/manager/quadlet/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8e3204e54752f74e4a87f4b1561b058da7909108
Due: ls-lint, prettier --cache --ignore-unknown --write

adding compressionType support
  lib/config/types.ts
  lib/modules/datasource/custom/index.spec.ts
  lib/modules/datasource/custom/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove +
  lib/modules/datasource/custom/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  lib/modules/datasource/custom/index.spec.ts
  lib/modules/datasource/custom/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix type missing
  lib/modules/datasource/custom/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update readme
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

updating unit test
  lib/modules/datasource/custom/index.spec.ts
  lib/modules/datasource/custom/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update test
  lib/modules/datasource/custom/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(memcache): http requests being garbage collected
  lib/util/cache/memory/index.spec.ts
  lib/util/cache/memory/index.ts
  lib/util/http/cache/memory-http-cache-provider.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

cleaning up tests and fmt
  lib/modules/manager/bazel-module/bazelrc.spec.ts
  lib/modules/manager/bazel-module/bazelrc.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

reverting tests
  lib/modules/manager/bazel-module/bazelrc.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

alphabetical
  lib/config/migrations/migrations-service.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

make generic
  lib/modules/datasource/index.spec.ts
  lib/modules/datasource/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(terraform): consider all docker image types for both resources and data sources
  lib/modules/manager/terraform/extractors/resources/generic-docker-image-ref.ts
  lib/modules/manager/terraform/extractors/resources/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: require node v22.13 (#34524)
  package.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat(datasource/maven)!: use latest and release values as tags (#35515)
  lib/modules/datasource/clojure/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/index.spec.ts
  lib/modules/datasource/index.ts
  lib/modules/datasource/maven/__snapshots__/index.spec.ts.snap
  lib/modules/datasource/maven/index.spec.ts
  lib/modules/datasource/maven/index.ts
  lib/modules/datasource/maven/readme.md
  lib/modules/datasource/maven/s3.spec.ts
  lib/modules/datasource/maven/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(autodiscoverFilter)!: support combined negative matches (#34707)
  docs/usage/self-hosted-configuration.md
  lib/workers/global/autodiscover.spec.ts
  lib/workers/global/autodiscover.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: create new Config Warning issues each time (#35565)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: validate allowedCommands against post-compiled commands (#35564)
  docs/usage/configuration-options.md
  docs/usage/self-hosted-configuration.md
  lib/config/global.ts
  lib/config/migrations/migrations-service.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/global/config/parse/env.ts
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
  lib/workers/repository/update/branch/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  319de90d4fbf97e73451e9e2625ebc7eacd603c4
Due: ls-lint, prettier --cache --ignore-unknown --write

do not persist bearer token in git config as it leads to issues on bitbucket-server behind aws elb #30180
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket-server/utils.spec.ts
  lib/modules/platform/bitbucket-server/utils.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/util/git/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use bold instead of headings
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Remove full stop in list item
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write
