Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

remove skipInstall from config/options
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove skipInstall config option
  docs/usage/self-hosted-configuration.md
  lib/config/types.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/repository/extract/extract-fingerprint-config.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/helmfile/readme.md
  lib/modules/manager/helmfile/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: fb point.
  lib/modules/manager/helmfile/artifacts.spec.ts
  lib/modules/manager/helmfile/artifacts.ts
  lib/modules/manager/helmfile/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): Update fontsource monorepo (#22646)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test: replace `toHaveBeenCalledOnceWith` with `toHaveBeenCalledExactlyOnceWith`
  lib/util/cache/package/decorator.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  da/3846043d62e1735b7e427ef8d800fecd250202
Due: ls-lint, prettier --cache --ignore-unknown --write

Refactor
  jest.config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Replace word binaries with tools
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore: needs-discussion issues are closed as not planned
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore: needs-discussion issues are closed as not planned (#22651)
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat: changelog for conan datasource using artifactory api
  lib/modules/datasource/conan/index.ts
  lib/modules/datasource/conan/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: move isartifactory to shared location
  lib/modules/datasource/common.ts
  lib/modules/datasource/conan/index.ts
  lib/modules/datasource/docker/artifactory.ts
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Updates
  jest.config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config): replace config from branches in baseBranches
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/repository/process/index.spec.ts
  lib/workers/repository/process/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: lint err.
  lib/modules/manager/helmfile/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Extract shards config to json
  .test-shards.json
  jest.config.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci: Extract `setup-test-matrix` job
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

implementation:github
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
  lib/workers/repository/update/pr/pr-fingerprint.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix `ci:fulltest`
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix: use correct github-api option
  lib/modules/platform/github/index.ts
  lib/workers/repository/update/pr/index.spec.ts
  lib/workers/repository/update/pr/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix lint
  lib/modules/platform/github/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix go-import meta header support for Azure DevOps
  lib/modules/datasource/go/base.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add unit test for azure devops import header
  lib/modules/datasource/go/base.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add unit test for detectPlatform
  lib/util/common.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

detect azure platform
  lib/util/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix goImportURL for azure platform
  lib/modules/datasource/go/base.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

prettier
  lib/modules/datasource/go/base.spec.ts
  lib/util/common.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Simplify request using `gh` tool
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Remove unnecessary escaping
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat: workaround for non-existing Eclipse lifecycle-mapping Maven package
  lib/config/presets/internal/workarounds.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

More refactoring
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Fix
  .github/workflows/build.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write
