Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Fix tests
  lib/modules/platform/gerrit/scm.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: hostRules.enabled=false ignored when noAuth=true
  lib/util/http/host-rules.spec.ts
  lib/util/http/host-rules.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: add some information about docs site publishing
  docs/development/docs-site.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs: publishing is indeed automated
  docs/development/docs-site.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat: added support for package.yaml in npm
  lib/modules/manager/npm/__fixtures__/inputs/01.yaml
  lib/modules/manager/npm/__fixtures__/outputs/011.yaml
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/index.ts
  lib/modules/manager/npm/update/dependency/index.spec.ts
  lib/modules/manager/npm/update/dependency/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  95a490c2be28d8b289febcfde8b48cb3ff879863
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: remove console-logs
  lib/modules/manager/npm/update/dependency/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: Fixing P/R comments and some other improvements
  lib/modules/manager/npm/__fixtures__/outputs/011.yaml
  lib/modules/manager/npm/__fixtures__/outputs/012.yaml
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/index.ts
  lib/modules/manager/npm/update/dependency/index.spec.ts
  lib/modules/manager/npm/update/dependency/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bitbucket-server): implement pr cache (#34945)
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket-server/pr-cache.spec.ts
  lib/modules/platform/bitbucket-server/pr-cache.ts
  lib/modules/platform/bitbucket-server/types.ts
  lib/util/cache/repository/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a21a22fceb91487e72bb01f428a390cdf7f13195
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(github-action): fix actions schema
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(flux): always detect deps in values of HelmRelease
  lib/modules/manager/flux/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(github-action): fix actions schema (#35054)
  lib/modules/manager/github-actions/extract.spec.ts
  lib/modules/manager/github-actions/extract.ts
  lib/modules/manager/github-actions/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  89700e8433dbd517d1134404b1d5826ec8267de7
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(gerrit): memCache being used all the time
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/gerrit/client.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

update tests
  lib/modules/platform/azure/index.spec.ts
  lib/modules/platform/azure/index.ts
  lib/modules/platform/azure/pr-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  be598a7ece36462f5ede0b8a409b41fa1a3f8c4e
Due: ls-lint, prettier --cache --ignore-unknown --write

Document through comments the quirks of refreshCache
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/gerrit/client.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update client.ts
  lib/modules/platform/gerrit/client.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: Explicitly disable `memCache` when caching is switched on/off
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/gerrit/client.ts
  lib/modules/platform/github/pr.ts
  lib/modules/platform/gitlab/index.ts
  lib/util/http/github.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove redundant memCache property deletion in GitLab module
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/gerrit/client.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(metadata): add changelog URL for adminer image
  lib/data/changelog-urls.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(flux): always detect deps in values of HelmRelease (#35055)
  lib/modules/manager/flux/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f65d2fb8cf40bc7d46ea7f4846f79da1e7aa6362
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: add a note how to fix minimum release age with GAR's maven (#35025)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

find prs from other authors
  lib/modules/platform/gitea/gitea-helper.spec.ts
  lib/modules/platform/gitea/gitea-helper.ts
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/index.ts
  lib/workers/repository/reconfigure/validate.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(preset): add group:rsbuild
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix tests
  lib/workers/repository/reconfigure/index.spec.ts
  lib/workers/repository/reconfigure/reconfigure-cache.spec.ts
  lib/workers/repository/reconfigure/utils.spec.ts
  lib/workers/repository/reconfigure/validate.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gerrit): memCache being used all the time (#35056)
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/gerrit/client.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  f2fffbf8f5823434f2112bdf7dc2c02c18108b33
Due: ls-lint, prettier --cache --ignore-unknown --write

Disable caching for paginated API requests
  lib/util/http/bitbucket-server.ts
  lib/util/http/bitbucket.ts
  lib/util/http/gitea.ts
  lib/util/http/gitlab.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(maven): Increase cache TTL for successful postprocess checks
  lib/modules/datasource/maven/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/datasource/maven/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(kustomize): Fix artifact inflate option
  lib/config/options/index.ts
  lib/modules/manager/kustomize/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(kustomize): Fix artifact inflate option (#35071)
  lib/config/options/index.ts
  lib/modules/manager/kustomize/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  730988c9687e607fa3600fb50f36006f3ee71cb7
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: Explicitly disable `memCache` when caching is switched on/off (#35060)
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/gerrit/client.ts
  lib/modules/platform/github/pr.ts
  lib/modules/platform/gitlab/index.ts
  lib/util/http/bitbucket-server.ts
  lib/util/http/bitbucket.ts
  lib/util/http/gitea.ts
  lib/util/http/github.ts
  lib/util/http/gitlab.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  db8dda2378141bb129f9428e306d1d5369559589
Due: ls-lint, prettier --cache --ignore-unknown --write
