Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(parser): support JSON5 parsing for URLs containing “.json5”
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update index.ts
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip: add tests
  lib/config/presets/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip: remove extraneous try/catch
  lib/config/presets/gitlab/index.spec.ts
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip: add tests
  lib/config/presets/gitlab/index.spec.ts
  lib/config/presets/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add tests
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4747aaaa9002bb1b6458d5e5f840df6db0ffef2b
Due: ls-lint, prettier --cache --ignore-unknown --write

wip
  lib/modules/datasource/unity3d-packages/__fixtures__/package.json
  lib/modules/datasource/unity3d-packages/index.spec.ts
  lib/modules/datasource/unity3d-packages/index.ts
  lib/modules/datasource/unity3d-packages/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/datasource/unity3d-packages/__fixtures__/package.json
  lib/modules/datasource/unity3d-packages/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix review comments
  lib/util/git/index.ts
  lib/workers/repository/update/pr/code-owners.spec.ts
  lib/workers/repository/update/pr/code-owners.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  73e4b465e92e611c793e3f0b4ce5f607769236bd
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d500ef25c1421158358cb5e06d2bedcc1c8ae1ca
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  0360331b0b695311972893fcc5cb38de64a5e0ed
Due: ls-lint, prettier --cache --ignore-unknown --write

Change junit5 monorepo to junit-framework
  lib/data/monorepo.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

feat: add localstack tooling support with version extraction
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Successfully extract digest and versions
  lib/modules/manager/pre-commit/__fixtures__/pinned.pre-commit-config.yaml
  lib/modules/manager/pre-commit/extract.spec.ts
  lib/modules/manager/pre-commit/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix linting issues
  lib/modules/manager/pre-commit/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

- Fix tests - Added replaceString
  lib/modules/manager/pre-commit/__fixtures__/pinned.pre-commit-config.yaml
  lib/modules/manager/pre-commit/extract.spec.ts
  lib/modules/manager/pre-commit/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix return thingie
  lib/modules/manager/pre-commit/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Don't add digest on failures
  lib/modules/manager/pre-commit/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/asdf): add localstack (#36692)
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6a613b5e210706cdfc10d6440f54656c19bc8b24
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(galaxy-collection): suppress incorrect warning if collection is not found in registry
  lib/modules/datasource/galaxy-collection/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a62d471f45319898b36b0cfa1db8765d1b393f23
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(bazel): Fix early exit for artifact updates
  lib/modules/manager/bazel/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/manager/bazel/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: cover cache key change
  lib/modules/datasource/docker/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(gitlab): allow overriding token used to set pr as approved
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(gitlab): change experimental variable name and add doc and test
  docs/usage/self-hosted-experimental.md
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update self-hosted-experimental.md
  docs/usage/self-hosted-experimental.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore(gitlab): fixed approve test
  lib/modules/platform/gitlab/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bazel): Migrate well-known artifact URLs
  lib/modules/manager/bazel/artifacts.spec.ts
  lib/modules/manager/bazel/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(galaxy-collection): potential type error
  lib/modules/datasource/galaxy-collection/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(bazel): Fix early exit for artifact updates (#36698)
  lib/modules/manager/bazel/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bazel): Migrate well-known artifact URLs (#36699)
  lib/modules/manager/bazel/artifacts.spec.ts
  lib/modules/manager/bazel/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3ab562566595e40e6d93fe7b285978ecd65a0870
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: import ordering
  lib/modules/datasource/docker/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ef2c627f97a03a69deca06657ede5e02fc05bc1e
Due: ls-lint, prettier --cache --ignore-unknown --write

Add preset migrations
  lib/config/migrations/migrations-service.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
