Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,mts,ts}": [
    "oxlint --import-plugin --fix",
    "biome check --write",
    "prettier --write"
  ],
  "!(*.{js,cjs,mjs,mts,ts})": "prettier --ignore-unknown --write"
}

fix(datasource/go): skip empty GOPROXY segments
  lib/modules/datasource/go/goproxy-parser.spec.ts
  lib/modules/datasource/go/goproxy-parser.ts
  lib/modules/datasource/go/releases-goproxy.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(datasource/go): use isTruthy for empty segment filter
  lib/modules/datasource/go/goproxy-parser.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(datasource/go): filter empty segments before mapping
  lib/modules/datasource/go/goproxy-parser.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(platform/github): fetch default branch merge queue status in initRepo
  lib/modules/platform/github/graphql.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/types.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(oxlint): enable nursery rules with zero violations (#44896)
  .oxlintrc.json
Due: ls-lint, prettier

refactor(oxlint): enable no-undef (#44897)
  .oxlintrc.json
Due: ls-lint, prettier

feat(presets): support relative paths inside a preset repo (#45211)
  docs/usage/config-presets.md
  lib/config/presets/index.spec.ts
  lib/config/presets/index.ts
  lib/config/presets/parse.spec.ts
  lib/config/presets/parse.ts
  lib/config/presets/relative.spec.ts
  lib/config/presets/relative.ts
  lib/config/presets/util.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/modules/manager/renovate-config/extract.spec.ts
  lib/modules/manager/renovate-config/extract.ts
Due: ls-lint, markdown-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

feat(config): support base branch patterns via CLI (#45257)
  lib/config/options/index.ts
  lib/workers/global/config/parse/cli.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Inline variable per review feedback
  lib/modules/platform/azure/util.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(oxlint): scope custom JS rules via config overrides
  .oxlintrc.json
  tools/lint/rules/logger-static-message.js
  tools/lint/rules/no-exec-shell-option.js
  tools/lint/rules/no-hardcoded-docs-url.js
  tools/lint/rules/no-new-url.js
  tools/lint/rules/no-stateful-global-regex.js
  tools/lint/rules/no-tools-import.js
  tools/lint/rules/no-unquoted-exec-interpolation.js
  tools/lint/rules/no-unvalidated-pagination-url.js
  tools/lint/rules/prefer-fs-util.js
  tools/lint/rules/prefer-luxon.js
  tools/lint/rules/zod-schema-location.js
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  1d2e37d91d763cdeaf5913565824d3c6c2c2d10a
Due: ls-lint

fix/log-message-trailing-period
  lib/modules/datasource/aws-eks-addon/index.spec.ts
  lib/modules/datasource/maven/util.spec.ts
  lib/modules/manager/custom/jsonata/index.spec.ts
  lib/modules/manager/helmfile/extract.spec.ts
  lib/modules/manager/helmv3/extract.spec.ts
  lib/modules/manager/maven/extract.spec.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/update/dependency/pnpm.spec.ts
  lib/modules/manager/npm/update/dependency/yarn.spec.ts
  lib/modules/platform/forgejo/index.spec.ts
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/schema.spec.ts
  lib/util/common.spec.ts
  lib/util/http/github.spec.ts
  lib/util/http/gitlab.spec.ts
  lib/util/http/got.spec.ts
  lib/workers/repository/config-migration/branch/index.spec.ts
  lib/workers/repository/config-migration/pr/index.spec.ts
  lib/workers/repository/init/index.spec.ts
  lib/workers/repository/init/inherited.spec.ts
  lib/workers/repository/onboarding/pr/index.spec.ts
  lib/workers/repository/reconfigure/validate.spec.ts
  lib/workers/repository/update/branch/artifacts.spec.ts
  lib/workers/repository/update/branch/status-checks.spec.ts
  lib/workers/repository/updates/generate.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix/log-message-trailing-period
  lib/config/validation.spec.ts
  lib/workers/repository/reconfigure/validate.spec.ts
  lib/workers/repository/update/branch/artifacts.spec.ts
  lib/workers/repository/update/branch/status-checks.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix/log-message-trailing-period
  lib/config/validation.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

refactor(oxlint): scope custom JS rules via config overrides (#45266)
  .oxlintrc.json
  tools/lint/rules/logger-static-message.js
  tools/lint/rules/no-exec-shell-option.js
  tools/lint/rules/no-hardcoded-docs-url.js
  tools/lint/rules/no-new-url.js
  tools/lint/rules/no-stateful-global-regex.js
  tools/lint/rules/no-tools-import.js
  tools/lint/rules/no-unquoted-exec-interpolation.js
  tools/lint/rules/no-unvalidated-pagination-url.js
  tools/lint/rules/prefer-fs-util.js
  tools/lint/rules/prefer-is-helpers.js
  tools/lint/rules/prefer-is-object.js
  tools/lint/rules/prefer-luxon.js
  tools/lint/rules/zod-schema-location.js
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

WIP
  .github/workflows/find-dequeued-merge-queue-prs.yml
  tools/find-dequeued-merge-queue-prs.sh
Due: ls-lint, prettier

fix(versioning): satisfy func-style and prefer-at lint rules
  lib/modules/versioning/gradle/index.ts
  lib/modules/versioning/maven/compare.ts
  lib/modules/versioning/maven/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  14604aee77ba3a5795996e8c6159edcbc9a31f3e
Due: ls-lint

Notes added by 'git notes add'
  184f31d8fba1fe3ee3a4518a0f1047c997ae1543
Due: ls-lint

ci: auto-label PRs that have been dequeued from the Merge Queue
  .github/workflows/find-dequeued-merge-queue-prs.yml
  tools/find-dequeued-merge-queue-prs.sh
Due: ls-lint, prettier

fix(manager/pixi): support optional channel options
  lib/modules/manager/pixi/extract.spec.ts
  lib/modules/manager/pixi/extract.ts
  lib/modules/manager/pixi/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix lint error
  lib/modules/manager/terraform/hcl/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

perf(swift): skip registries.json read when no id-form deps
  lib/modules/manager/swift/extract.ts
  lib/modules/manager/swift/index.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  4b81aa83f65e1a6681fe616ce4bfbdf8220cd674
Due: ls-lint

Notes added by 'git notes add'
  72266403b636da56aa63046be6b568020cda0ba5
Due: ls-lint

fix(bun): support package file re-extraction
  lib/modules/manager/bun/extract.spec.ts
  lib/modules/manager/bun/extract.ts
  lib/modules/manager/bun/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Allow leading zeros in semver-coerced versioning for CalVer support
  lib/modules/versioning/semver-coerced/index.spec.ts
  lib/modules/versioning/semver-coerced/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

test(bun): preserve lockfile npmrc lookup coverage
  lib/modules/manager/bun/artifacts.spec.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

ci: auto-label PRs that have been dequeued from the Merge Queue (#45270)
  .github/workflows/find-dequeued-merge-queue-prs.yml
  tools/find-dequeued-merge-queue-prs.sh
Due: ls-lint, prettier

refactor(bun): keep package processing internal
  lib/modules/manager/bun/extract.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(manager/gradle,npm): support package file re-extraction
  lib/modules/manager/bun/extract.spec.ts
  lib/modules/manager/gradle/extract.spec.ts
  lib/modules/manager/gradle/extract.ts
  lib/modules/manager/gradle/index.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix(platform/github): abort branch update when PR is in merge queue (#45252)
  lib/constants/error-messages.ts
  lib/modules/platform/github/graphql.ts
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/github/pr.ts
  lib/modules/platform/github/scm.spec.ts
  lib/modules/platform/github/scm.ts
  lib/modules/platform/github/types.ts
  lib/workers/repository/update/branch/index.spec.ts
  lib/workers/repository/update/branch/index.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

Notes added by 'git notes add'
  c953fafcdcf67da41fd57643429d570b118921b7
Due: ls-lint

fix(manager): validate artifact-resolved versions
  lib/modules/manager/bun/extract.spec.ts
  lib/modules/manager/bun/extract.ts
  lib/modules/manager/gradle/extract.spec.ts
  lib/modules/manager/gradle/extract.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/npm.ts
  lib/modules/manager/npm/extract/pnpm.ts
  lib/modules/manager/npm/extract/post/locked-versions.ts
  lib/modules/manager/npm/extract/yarn.ts
  lib/modules/manager/npm/index.ts
  lib/modules/manager/types.ts
  lib/workers/repository/update/branch/get-updated.spec.ts
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

add jsonforms to repoGroups to enable grouped update
  lib/data/monorepo.json
Due: ls-lint, prettier

refactor(terraform-provider): use LooseRecord for schema packages prop
  lib/modules/datasource/terraform-provider/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write

fix missing comma
  lib/data/monorepo.json
Due: ls-lint, prettier

fix(terraform-provider): import LooseRecord in schema
  lib/modules/datasource/terraform-provider/schema.ts
Due: ls-lint, eslint, prettier, oxlint --import-plugin --fix, biome check --write, prettier --write
