Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: firm up bug report
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d3/7a372356d581ce24dc32d81968818ad284519f
Due: ls-lint, prettier --cache --ignore-unknown --write

chore: label action for invalid
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore: rewording of template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Update .github/label-actions.yml
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore: firm up bug report (#20724)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

more review fixes
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/modules/platform/gerrit/__fixtures__/change-data.json
  lib/modules/platform/gerrit/__snapshots__/index.spec.ts.snap
  lib/modules/platform/gerrit/__snapshots__/utils.spec.ts.snap
  lib/modules/platform/gerrit/client.spec.ts
  lib/modules/platform/gerrit/index.spec.ts
  lib/modules/platform/gerrit/index.ts
  lib/modules/platform/gerrit/scm.spec.ts
  lib/modules/platform/gerrit/scm.ts
  lib/modules/platform/gerrit/types.ts
  lib/modules/platform/gerrit/utils.spec.ts
  lib/modules/platform/gerrit/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/config/options/index.ts
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

onbaording cache
  lib/util/cache/repository/types.ts
  lib/workers/repository/onboarding/branch/check.spec.ts
  lib/workers/repository/onboarding/branch/check.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
  lib/workers/repository/onboarding/branch/index.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.spec.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix type
  lib/util/cache/repository/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add composer artifactAuth for packagist hostType
  docs/usage/configuration-options.md
  lib/modules/manager/composer/artifacts.ts
  lib/modules/manager/composer/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  26/e6da209d6d8512017a762dd5f493df64b37be2
Due: ls-lint, prettier --cache --ignore-unknown --write

fix test
  lib/workers/repository/onboarding/branch/check.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Move isArtifactAuthEnabled from utils
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/composer/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add isArtifactAuthEnabled function to artifacts.ts
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

more review fixes
  lib/modules/platform/gerrit/utils.spec.ts
  lib/modules/platform/gerrit/utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

more review fixes
  lib/modules/platform/gerrit/client.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

more review fixes
  lib/modules/platform/gerrit/client.ts
  lib/util/http/gerrit.spec.ts
  lib/util/http/gerrit.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

address PR comments
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: isBranchModified now compares commit authors to defaultBranch
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/manager/bicep/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(gomod): enable gomodUpdateImportPaths for gopkg.in
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/versioning/azure-rest-api/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/manager/bicep/extract.spec.ts
  lib/modules/versioning/azure-rest-api/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/datasource/azure-bicep-types/index.ts
  lib/modules/manager/bicep/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/datasource/azure-bicep-types/index.ts
  lib/modules/datasource/azure-bicep-types/schema.ts
  lib/modules/versioning/azure-rest-api/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wip
  lib/modules/datasource/azure-bicep-types/index.ts
  lib/modules/manager/bicep/extract.ts
  lib/modules/versioning/azure-rest-api/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  e3/c92d2f0139be2301a80bbb3086c79cbce6f9bd
Due: ls-lint, prettier --cache --ignore-unknown --write

Fix getDockerApiTags for Artifactory Bug
  lib/modules/datasource/docker/common.ts
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: add new option `constraintsFiltering` (#19992)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/datasource/index.spec.ts
  lib/modules/datasource/index.ts
  lib/modules/datasource/pypi/index.spec.ts
  lib/modules/datasource/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(regex): don’t escape forward slash in fileMatch (#19314)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/presets/internal/group.ts
  lib/config/presets/internal/monorepo.ts
  lib/modules/datasource/deno/index.ts
  lib/modules/datasource/go/releases-goproxy.ts
  lib/modules/datasource/hermit/index.ts
  lib/modules/datasource/maven/index.ts
  lib/modules/datasource/pypi/common.ts
  lib/modules/manager/bazelisk/index.ts
  lib/modules/manager/cocoapods/extract.ts
  lib/modules/manager/flux/common.ts
  lib/modules/manager/fvm/index.ts
  lib/modules/manager/github-actions/index.ts
  lib/modules/manager/gitlabci/utils.ts
  lib/modules/manager/gradle/index.ts
  lib/modules/manager/mint/index.ts
  lib/modules/manager/nix/index.ts
  lib/modules/manager/nuget/index.ts
  lib/modules/manager/pre-commit/extract.ts
  lib/modules/manager/puppet/index.ts
  lib/modules/manager/regex/readme.md
  lib/modules/manager/terraform/lockfile/hash.ts
  lib/modules/manager/terraform/lockfile/util.ts
  lib/modules/manager/woodpecker/index.ts
  lib/modules/versioning/kubernetes-api/index.ts
  lib/util/modules.ts
  lib/workers/repository/update/pr/changelog/release-notes.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(versioning)!: bump short ranges to version (#20494)
  lib/modules/versioning/cargo/index.spec.ts
  lib/modules/versioning/composer/index.spec.ts
  lib/modules/versioning/helm/index.spec.ts
  lib/modules/versioning/npm/index.spec.ts
  lib/modules/versioning/npm/range.ts
  lib/modules/versioning/poetry/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config)!: non-zero defaults for PR concurrent, hourly limits (#19958)
  lib/config/options/index.ts
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/config.ts
  lib/modules/platform/codecommit/index.md
  lib/workers/repository/process/limits.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cache): default cacheHardTtlMinutes to 24 hours (#20079)
  lib/config/options/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: fix artifacts tests
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/helmfile/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config): default `dockerImagePrefix` to `containerbase` (#20150)
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/modules/manager/bundler/artifacts.spec.ts
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/cocoapods/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/cocoapods/artifacts.spec.ts
  lib/modules/manager/composer/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gradle-wrapper/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/helmv3/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/maven-wrapper/artifacts.spec.ts
  lib/modules/manager/mix/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/nix/artifacts.spec.ts
  lib/modules/manager/npm/post-update/lerna.spec.ts
  lib/modules/manager/npm/post-update/npm.spec.ts
  lib/modules/manager/npm/post-update/pnpm.spec.ts
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/nuget/artifacts.spec.ts
  lib/modules/manager/pip-compile/artifacts.spec.ts
  lib/modules/manager/pip_requirements/artifacts.spec.ts
  lib/modules/manager/pipenv/__snapshots__/artifacts.spec.ts.snap
  lib/modules/manager/poetry/artifacts.spec.ts
  lib/modules/manager/pub/artifacts.spec.ts
  lib/util/exec/docker/index.spec.ts
  lib/util/exec/docker/index.ts
  lib/util/exec/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(go)!: default GOPROXY (#20081)
  lib/modules/datasource/go/index.spec.ts
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/readme.md
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cache): file cache cleanup (#20061)
  lib/util/cache/package/file.spec.ts
  lib/util/cache/package/file.ts
  lib/util/cache/package/index.ts
  lib/util/cache/package/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat!: default to rangeStrategy=auto, prefer update-lockfile (#19942)
  lib/config/options/index.ts
  lib/config/presets/common.ts
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/config.ts
  lib/config/presets/internal/default.ts
  lib/modules/manager/cargo/index.ts
  lib/modules/manager/cargo/range.spec.ts
  lib/modules/manager/cargo/range.ts
  lib/modules/manager/circleci/extract.ts
  lib/modules/manager/circleci/index.ts
  lib/modules/manager/circleci/range.spec.ts
  lib/modules/manager/circleci/range.ts
  lib/modules/manager/composer/range.spec.ts
  lib/modules/manager/composer/range.ts
  lib/modules/manager/conan/index.ts
  lib/modules/manager/conan/range.spec.ts
  lib/modules/manager/conan/range.ts
  lib/modules/manager/gomod/extract.spec.ts
  lib/modules/manager/gomod/extract.ts
  lib/modules/manager/index.ts
  lib/modules/manager/npm/range.spec.ts
  lib/modules/manager/npm/range.ts
  lib/modules/manager/range.spec.ts
  lib/modules/manager/swift/index.ts
  lib/modules/manager/swift/range.spec.ts
  lib/modules/manager/swift/range.ts
  lib/workers/repository/config-migration/branch/__fixtures__/migrated-data-formatted.json
  lib/workers/repository/config-migration/branch/__fixtures__/migrated-data.json
  lib/workers/repository/config-migration/branch/__fixtures__/migrated-data.json5
  lib/workers/repository/config-migration/branch/__fixtures__/migrated.json
  lib/workers/repository/config-migration/branch/__fixtures__/renovate.json
  lib/workers/repository/config-migration/branch/__fixtures__/renovate.json5
  lib/workers/repository/config-migration/pr/__fixtures__/migrated-data.json
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
