Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs
  lib/modules/datasource/pypi/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore: dangling debug statement
  lib/util/exec/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(label-actions): improve no-slas/no-pings
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

chore: dangling debug statement (#32025)
  lib/util/exec/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  15182a530d4ec35f1232a9aaee96861a3e987865
Due: ls-lint, prettier --cache --ignore-unknown --write

chore(label-actions): improve no-slas/no-pings (#32026)
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Fix linting issues (reported by lint-eslint and lint-prettier jobs)
  lib/modules/manager/nuget/util.spec.ts
  lib/modules/manager/nuget/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix failing test
  lib/modules/manager/nuget/util.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/asdf): add uv plugin
  lib/modules/manager/asdf/upgradeable-tooling.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  da73c267053a1e603c40c6912e65cae6397f0bfd
Due: ls-lint, prettier --cache --ignore-unknown --write

Fix lint-prettier error
  lib/modules/manager/nuget/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix whitespaces
  lib/modules/manager/nuget/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/uv): add support for git sources (#31928)
  lib/modules/manager/pep621/processors/uv.spec.ts
  lib/modules/manager/pep621/processors/uv.ts
  lib/modules/manager/pep621/readme.md
  lib/modules/manager/pep621/schema.ts
  lib/modules/manager/pep621/utils.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  03cf03b2be287f73c6f482bfaa0637d698ce607a
Due: ls-lint, prettier --cache --ignore-unknown --write

Update lib/workers/repository/update/pr/labels.ts
  lib/workers/repository/update/pr/labels.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

apply suggestions
  docs/usage/configuration-options.md
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/github/index.ts
  lib/workers/repository/update/pr/labels.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d535f34890e3ecb449c66ecb7df8b21b41eaef0f
Due: ls-lint, prettier --cache --ignore-unknown --write

github(addLabels): handle errors
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  685cbe40b319618c4f331c27c33aa907438327a9
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(data): automatic update of static data
  data/ubuntu-distro-info.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ff6a284ee236126cb18548afbefa4b141dc298c0
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(platform/github): catch errors addLabels() (#32035)
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  5b078012192e265215159c473b0d2b5a3f8f7435
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  376e09f0b960237e3c4401586194abd19f8f2f4a
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b9dc0fe6a2def24775953eee79a74675644cefdc
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(github): Use matching refs search instead of HEAD requests
  lib/modules/platform/github/branch.spec.ts
  lib/modules/platform/github/branch.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(github): Use matching refs search instead of HEAD requests (#32046)
  lib/modules/platform/github/branch.spec.ts
  lib/modules/platform/github/branch.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  docs/usage/configuration-options.md
  lib/workers/repository/update/pr/labels.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(label-actions): rewrite no-pings
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

docs(timezone): fix typo
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

chore(label-actions): rewrite no-pings (#32051)
  .github/label-actions.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

docs(timezone): fix typo (#32052)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(faq): update Renovate version in example
  docs/usage/faq.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Nodes are not optional
  lib/modules/manager/nix/__fixtures__/flake.7.lock
  lib/modules/manager/nix/extract.ts
  lib/modules/manager/nix/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix custom hosts
  lib/modules/manager/nix/__fixtures__/flake.10.lock
  lib/modules/manager/nix/extract.spec.ts
  lib/modules/manager/nix/extract.ts
  lib/modules/manager/nix/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/update/pr/labels.spec.ts
  lib/workers/repository/update/pr/labels.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/modules/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(lib/data): remove incorrect changelog for psycopg2
  lib/data/changelog-urls.json
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
