Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

Add more complexe test about invalid epoch value
  lib/modules/versioning/deb/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use `parseInt` instead of `Number`
  lib/modules/versioning/deb/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use `localeCompare` for numeric comparison
  lib/modules/versioning/deb/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Verify epoch is not-negative.
  lib/modules/versioning/deb/index.spec.ts
  lib/modules/versioning/deb/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

wrap earlier as per feedback
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

add debug log, new test
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  76/63513dd4edc6ea2fa24a13c44de07c6f169cea
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(manager/gradle): correct execution order for buildscript dependencies in lockfiles
  lib/modules/manager/gradle/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/workers/repository/process/extract-update.spec.ts
  lib/workers/repository/process/extract-update.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/gradle): correct execution order for buildscript dependencies in lockfiles (#20303)
  lib/modules/manager/gradle/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  76/6cc3a70ebc32e57e7df761a9acdefcdde0a4d9
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(presets): add automergeSchedule presets
  lib/config/presets/internal/schedule.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): introduce const variables to make maintenance easier
  lib/config/presets/internal/schedule.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): sort const variables
  lib/config/presets/internal/schedule.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(go): Avoid tag fetching for `v0.0.0`
  lib/modules/datasource/go/index.spec.ts
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/releases-direct.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(go): Avoid tag fetching for `v0.0.0` (#20307)
  lib/modules/datasource/go/index.spec.ts
  lib/modules/datasource/go/index.ts
  lib/modules/datasource/go/releases-direct.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  25/021725a920cfc452bc5256ad7ca0ea8beb0418
Due: ls-lint, prettier --cache --ignore-unknown --write

handle edge-case when using replacement rules with pinDigest enabled, but no currentDigest exists for the dependency
  lib/workers/repository/update/branch/auto-replace.spec.ts
  lib/workers/repository/update/branch/auto-replace.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Never use `Number`
  lib/modules/versioning/deb/index.spec.ts
  lib/modules/versioning/deb/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove useless test copied from loose versioning
  lib/modules/versioning/deb/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets/gitlab): request directly the default branch from the project details to prevent paging problems
  lib/config/presets/gitlab/index.spec.ts
  lib/config/presets/gitlab/index.ts
  lib/types/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Added support for known ECR tokens.
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(bazel): Use auto-replace when possible
  lib/modules/manager/bazel/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/bazel/artifacts.ts
  lib/modules/manager/bazel/extract.ts
  lib/modules/manager/bazel/index.ts
  lib/modules/manager/bazel/rules/go.ts
  lib/modules/manager/bazel/rules/index.spec.ts
  lib/modules/manager/bazel/update.spec.ts
  lib/modules/manager/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Actually, only return the token if no username/password are provided.
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(docker): mention required version for Harbor proxy cache feature
  lib/modules/datasource/docker/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

add comment about pre-processing
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

change log level for vulns without fixes to info
  lib/workers/repository/process/vulnerabilities.spec.ts
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Remove unnecessary call to sanitize tokens.
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(manager/tekton): support step images
  lib/modules/manager/tekton/__fixtures__/multi-doc.yaml
  lib/modules/manager/tekton/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/tekton/extract.spec.ts
  lib/modules/manager/tekton/extract.ts
  lib/modules/manager/tekton/readme.md
  lib/modules/manager/tekton/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Added support for login-password and some logging.
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Initial documentation update.
  docs/usage/docker.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Removed token (bad JSON).
  docs/usage/docker.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Increase logging level for ECR auth method.
  lib/modules/datasource/docker/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add additional test case for pinDigest enabled and a currentDigest present
  lib/workers/repository/update/branch/auto-replace.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

use existing renamedMap
  lib/config/migrations/custom/dotnet-migration.spec.ts
  lib/config/migrations/custom/dotnet-migration.ts
  lib/config/migrations/migrations-service.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/versioning/deb/index.ts
  lib/modules/versioning/deb/readme.md
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets/gitlab): directly request default branch (#20319)
  lib/config/presets/gitlab/index.spec.ts
  lib/config/presets/gitlab/index.ts
  lib/types/platform/gitlab/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(vulnerabilities): add feature-flagged support for OSV (#20226)
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/repository/process/extract-update.spec.ts
  lib/workers/repository/process/extract-update.ts
  lib/workers/repository/process/lookup/index.ts
  lib/workers/repository/process/vulnerabilities.spec.ts
  lib/workers/repository/process/vulnerabilities.ts
  package.json
  yarn.lock
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add more eq tests and simplify parsing logic
  lib/modules/versioning/deb/index.spec.ts
  lib/modules/versioning/deb/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
