Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

ci: add more frozen
  .github/workflows/release-npm.yml
  .github/workflows/update-data.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  4e/ecc008342cf5c08cce4ee57f99fcd100f5ffdd
Due: ls-lint, prettier --cache --ignore-unknown --write

ci: install with frozen (#26135)
  .github/actions/setup-node/action.yml
  .github/workflows/release-npm.yml
  .github/workflows/update-data.yml
  pnpm-lock.yaml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

fix(gitea): check for disabled issues (#26134)
  lib/modules/platform/gitea/gitea-helper.spec.ts
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/index.ts
  lib/modules/platform/gitea/schema.spec.ts
  lib/modules/platform/gitea/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a2/672ef7222d1006d888118e10d85927acf2f903
Due: ls-lint, prettier --cache --ignore-unknown --write

simplify regex handling
  lib/modules/manager/tekton/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

add registry url to gitlabPipelineVersions
  lib/config/presets/internal/regex-managers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix(datasource/custom): fix local registry path
  lib/modules/datasource/custom/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(cargo): support range=update-lockfile (#25983)
  docs/usage/configuration-options.md
  lib/modules/manager/cargo/__fixtures__/lockfile-parsing/Cargo.v1.lock
  lib/modules/manager/cargo/__fixtures__/lockfile-parsing/Cargo.v2.lock
  lib/modules/manager/cargo/__fixtures__/lockfile-parsing/Cargo.v3.lock
  lib/modules/manager/cargo/__fixtures__/lockfile-update/Cargo.1.lock
  lib/modules/manager/cargo/__fixtures__/lockfile-update/Cargo.2.lock
  lib/modules/manager/cargo/__fixtures__/lockfile-update/Cargo.3.lock
  lib/modules/manager/cargo/__fixtures__/lockfile-update/Cargo.toml
  lib/modules/manager/cargo/artifacts.spec.ts
  lib/modules/manager/cargo/artifacts.ts
  lib/modules/manager/cargo/extract.spec.ts
  lib/modules/manager/cargo/extract.ts
  lib/modules/manager/cargo/index.ts
  lib/modules/manager/cargo/locked-version.spec.ts
  lib/modules/manager/cargo/locked-version.ts
  lib/modules/manager/cargo/schema.ts
  lib/modules/manager/cargo/update-locked.spec.ts
  lib/modules/manager/cargo/update-locked.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(presets): add russh monorepo (#26124)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  40/721cd0a83a0e6dddba40c14b37e4fcf6bcc559
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  61/43e24a80b5c41775141e478e6d0c918b8ef17b
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(replacements): remove `slim` from `renovate` docker images (#26128)
  lib/config/presets/internal/replacements.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  57/2fb34e9770f4a04b014af9ba3bf2b0cb37569e
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(datasource/custom): fix local registry path (#26142)
  lib/modules/datasource/custom/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(tekton): support pipelinesascode annotation (#26033)
  lib/modules/manager/tekton/__fixtures__/multi-doc-annotations.yaml
  lib/modules/manager/tekton/extract.spec.ts
  lib/modules/manager/tekton/extract.ts
  lib/modules/manager/tekton/index.ts
  lib/modules/manager/tekton/readme.md
  lib/modules/manager/tekton/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Add logger
  lib/util/http/retry-after.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  8c/170279abe23d204870d42384f01357261df0b7
Due: ls-lint, prettier --cache --ignore-unknown --write

apply changes as per suggestion
  lib/modules/platform/bitbucket-server/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/modules/platform/bitbucket/__snapshots__/index.spec.ts.snap
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/github/__snapshots__/index.spec.ts.snap
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/gitlab/__snapshots__/index.spec.ts.snap
  lib/modules/platform/gitlab/index.spec.ts
  lib/modules/platform/gitlab/index.ts
  lib/modules/platform/types.ts
  lib/workers/repository/reconfigure/index.spec.ts
  lib/workers/repository/reconfigure/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix tests
  lib/modules/platform/bitbucket-server/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove obsolete snap
  lib/modules/platform/gitlab/__snapshots__/index.spec.ts.snap
Due: ls-lint, prettier --cache --ignore-unknown --write

Update readme.md
  lib/modules/platform/azure/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  83/db0346e399b24bc919e82e4c57af78d6ace04c
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b8/8fc274caf4baa6f7f85122b38b2080c460ef2a
Due: ls-lint, prettier --cache --ignore-unknown --write

feat(nuget): Support version ranges
  lib/modules/versioning/nuget/compare.ts
  lib/modules/versioning/nuget/index.ts
  lib/modules/versioning/nuget/parse.spec.ts
  lib/modules/versioning/nuget/parse.ts
  lib/modules/versioning/nuget/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix test
  lib/modules/versioning/nuget/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(azure): fix Azure DevOps and Azure DevOps Server example (#26144)
  lib/modules/platform/azure/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

presets/monorepo: Adjust `smithy-rs` URL
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(config options): add more codeblock titles
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(datasource/jenkins-plugins): support constraints filtering
  docs/usage/configuration-options.md
  lib/modules/datasource/jenkins-plugins/index.spec.ts
  lib/modules/datasource/jenkins-plugins/index.ts
  lib/modules/datasource/jenkins-plugins/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "fix(git): set `submodule.recurse=true` (#26076)"
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(config options): add more codeblock titles (#26154)
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat(datasource/jenkins-plugins): support constraints filtering (#26155)
  docs/usage/configuration-options.md
  lib/modules/datasource/jenkins-plugins/index.spec.ts
  lib/modules/datasource/jenkins-plugins/index.ts
  lib/modules/datasource/jenkins-plugins/types.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

presets/monorepo: Restore old `smithy-rs` URL
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(presets): update smithy-rs monorepo (#26152)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(self-hosting examples): add codeblock titles
  docs/usage/examples/self-hosting.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  c4/43aec1cf0347befd3ebbdbf22ad314772e36de
Due: ls-lint, prettier --cache --ignore-unknown --write

docs(self-hosting examples): add codeblock titles (#26160)
  docs/usage/examples/self-hosting.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(git): Revert "fix(git): set `submodule.recurse=true`" (#26157)
  lib/util/git/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(about us): bump outside contributor number
  docs/usage/about-us.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Path conditions:
  ls-lint: any of: *
  markdown-lint: any of: *.md
  eslint: any of: **/*.{ts,js,mjs,cjs}
  prettier: any of: **/*.{ts,js,mjs,json,md,yml}
  markdownlint-cli2-fix: any of: *.md
  eslint --cache --fix: any of: **/*.{ts,js,mjs,cjs}
  prettier --cache --ignore-unknown --write: any of: *
