Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

feat: expose branch depTypes for templating (#27948)
  lib/util/template/index.ts
  lib/workers/repository/updates/generate.spec.ts
  lib/workers/repository/updates/generate.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Use word "statistics" consistently + prettier fix
  lib/util/stats.spec.ts
  lib/util/stats.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/util/stats.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix test
  lib/util/stats.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(config): make skipInstalls user-configurable (#27949)
  docs/usage/configuration-options.md
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  55/205fbc71c195236868bfe7660c8d751227b9e0
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  3e/97024fe3ee048ec8e244ffce515a926daad7b4
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor: Extract "HttpStats" utility class (#27944)
  lib/util/http/index.ts
  lib/util/stats.spec.ts
  lib/util/stats.ts
  lib/workers/repository/index.ts
  lib/workers/repository/stats.spec.ts
  lib/workers/repository/stats.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(terragrunt): remove obsolete extract test fixtures
  lib/modules/manager/terragrunt/__fixtures__/2.hcl
  lib/modules/manager/terragrunt/__fixtures__/3.hcl
  lib/modules/manager/terragrunt/__fixtures__/4.hcl
  lib/modules/manager/terragrunt/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(sbt): export `extractPackageFile()` for `confirmIfDepUpdated()`
  lib/modules/manager/sbt/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/test): test that manager exports `updateDependency` or `extractPackageFile` when exporting `extractAllPackageFiles`
  docs/development/adding-a-package-manager.md
  lib/modules/manager/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: allow templating of the extends field
  lib/util/template/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

linter fixes
  lib/modules/manager/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix spelling of manager
  docs/development/adding-a-package-manager.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/manager/mix/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply feedback from review
  lib/modules/manager/mix/extract.ts
  lib/util/pretty-time.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: passing tests
  lib/modules/manager/vendir/artifacts.spec.ts
  lib/modules/manager/vendir/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: pr comments
  lib/modules/manager/vendir/__fixtures__/empty-directory.yaml
  lib/modules/manager/vendir/artifacts.spec.ts
  lib/modules/manager/vendir/artifacts.ts
  lib/modules/manager/vendir/extract.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(sbt): export `extractPackageFile()` for `confirmIfDepUpdated()` (#27953)
  lib/modules/manager/sbt/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6c/b7c81da06f1ebeecc3737ef3046d78839b32bc
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(workers/repository): Pass correct lock files when updating a dependency in multiple input files (#27898)
  lib/workers/repository/update/branch/get-updated.spec.ts
  lib/workers/repository/update/branch/get-updated.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(datasource): remove unnecessary PyPI changelog URL overrides (#27725)
  lib/modules/datasource/__snapshots__/metadata.spec.ts.snap
  lib/modules/datasource/metadata-manual.ts
  lib/modules/datasource/metadata.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: check for vendir.locak.yml existence first
  lib/modules/manager/vendir/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  a5/193dafeadd3659d2df07e3718d68755d9ac76b
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: attempt to support docker and install mode
  lib/modules/manager/vendir/artifacts.spec.ts
  lib/modules/manager/vendir/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  42/ee263ab75ebc459dd4067e9ff74193dd63eaa5
Due: ls-lint, prettier --cache --ignore-unknown --write

test(manager): manager need to exports `updateDependency` or `extractPackageFile` when exporting `extractAllPackageFiles` (#27954)
  docs/development/adding-a-package-manager.md
  lib/modules/manager/index.spec.ts
Due: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: Http cache stats
  lib/modules/datasource/npm/get.ts
  lib/util/http/index.ts
  lib/util/stats.spec.ts
  lib/util/stats.ts
  lib/workers/repository/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix prettier
  lib/util/stats.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix eslint
  lib/modules/datasource/npm/get.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(manager/helmfile): use schema for yaml parsing (#27539)
  lib/modules/manager/helmfile/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/helmfile/extract.spec.ts
  lib/modules/manager/helmfile/extract.ts
  lib/modules/manager/helmfile/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

test(instrumentation/reporting): do not load recursively s3 and fs packages
  lib/instrumentation/reporting.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

tests: test for install mode and docker mode
  lib/modules/manager/vendir/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

tests: add test for Temporary Error
  lib/modules/manager/vendir/artifacts.spec.ts
  lib/modules/manager/vendir/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/vendir/extract.ts
  lib/modules/manager/vendir/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

tests: clean up unecessary declarations
  lib/modules/manager/vendir/artifacts.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add DockerDatasource to index.ts
  lib/modules/manager/vendir/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: add complete vendir.yml
  lib/modules/manager/vendir/readme.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update lib/workers/repository/updates/branch-name.ts
  lib/workers/repository/updates/branch-name.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix eslint
  lib/util/http/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
