Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

apply suggestions
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/manager/npm/post-update/npm.ts
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Apply suggestions from code review
  lib/modules/manager/npm/extract/pnpm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Change to for of loop
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/modules/manager/npm/post-update/npm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: lint issue
  lib/modules/manager/npm/extract/pnpm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

remove test
  lib/modules/manager/npm/extract/locked-versions.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: allow dot `.` in GitHub Actions reusable workflow repository name
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(composer): Use schema for parsing
  lib/modules/manager/composer/__snapshots__/extract.spec.ts.snap
  lib/modules/manager/composer/artifacts.ts
  lib/modules/manager/composer/extract.ts
  lib/modules/manager/composer/schema.spec.ts
  lib/modules/manager/composer/schema.ts
  lib/modules/manager/composer/types.ts
  lib/modules/manager/composer/utils.spec.ts
  lib/modules/manager/composer/utils.ts
  lib/util/schema-utils.spec.ts
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix
  lib/modules/manager/composer/update-locked.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(schema-utils): Allow any input for json parsing
  lib/util/schema-utils.spec.ts
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Provide default repo list to reduce verbosity
  lib/modules/manager/composer/schema.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Fix coverage
  lib/modules/manager/composer/artifacts.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(manager/github-actions): allow dot `.` in reusable workflow repository name (#21519)
  lib/modules/manager/github-actions/extract.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  b0/644358034c291c4c23baad2e9e1171dbb47fbd
Due: ls-lint, prettier --cache --ignore-unknown --write

feat: add swc package to monorepo group (#21431)
  lib/config/presets/internal/monorepo.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: add java-maven install-tool support
  lib/util/exec/containerbase.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  d8/400d307c332956071dd178c4773d8fd7c577bc
Due: ls-lint, prettier --cache --ignore-unknown --write

add tests
  lib/modules/manager/npm/extract/locked-versions.spec.ts
  lib/modules/manager/npm/extract/locked-versions.ts
  lib/modules/manager/npm/extract/pnpm.spec.ts
  lib/modules/manager/npm/extract/pnpm.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

rename DependencyVulnerabilities
  lib/workers/repository/process/vulnerabilities.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor
  lib/workers/repository/onboarding/branch/check.ts
  lib/workers/repository/onboarding/branch/index.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(fs): allow `{}` inside paths
  lib/util/fs/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(fs): allow `{}` inside paths (#21530)
  lib/util/fs/util.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(gradle/manager): introduce method to resolve variables
  lib/modules/manager/gradle/parser/common.spec.ts
  lib/modules/manager/gradle/parser/common.ts
  lib/modules/manager/gradle/parser/handlers.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(devcontainer): Fixed errors and added CI workflow
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer.yml
  docs/development/local-development.md
  package.json
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Use install-apt insted of update+install
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  31/a7db6db2995abcb3aa69816cd3e7a6c3202179
Due: ls-lint, prettier --cache --ignore-unknown --write

fix(maven): Support versions containing `+` sign
  lib/modules/versioning/maven/compare.spec.ts
  lib/modules/versioning/maven/compare.ts
  lib/modules/versioning/maven/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(presets): explain how to use presets
  docs/usage/key-concepts/presets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Link to preset page from preset config option
  docs/usage/configuration-options.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Fix Ivy
  lib/modules/versioning/ivy/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Lint fix
  docs/usage/key-concepts/presets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Small fixes
  docs/usage/configuration-options.md
  docs/usage/key-concepts/presets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix(maven): Support versions containing `+` sign (#21533)
  lib/modules/versioning/ivy/index.ts
  lib/modules/versioning/maven/compare.spec.ts
  lib/modules/versioning/maven/compare.ts
  lib/modules/versioning/maven/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  6d/0aeee2b8243870738eeff4af4c6fa1b64b7808
Due: ls-lint, prettier --cache --ignore-unknown --write

docs: remove language reference from add-package-manager
  docs/development/adding-a-package-manager.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Update docs/usage/key-concepts/presets.md
  docs/usage/key-concepts/presets.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

docs(adding-package-manager): add additional optional functions of ManagerAPI interface
  docs/development/adding-a-package-manager.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

refactor
  lib/modules/manager/composer/schema.ts
  lib/util/schema-utils.spec.ts
  lib/util/schema-utils.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
