Repository renovatebot/renovate: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, markdown-lint, eslint, prettier, markdownlint-cli2-fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
    "*": "ls-lint",
    "*.md": "markdown-lint",
    "**/*.{ts,js,mjs,cjs}": "eslint",
    "**/*.{ts,js,mjs,json,md,yml}": "prettier"
}

.lintstagedrc.json:

{
  "*.md": "markdownlint-cli2-fix",
  "**/*.{ts,js,mjs,cjs}": "eslint --cache --fix",
  "*": "prettier --cache --ignore-unknown --write"
}

refactor: remove duplicate dependency names in warning (#24992)
  lib/util/check-token.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  ad/ca94e9649c364883f08d630bc5f799fe47e04d
Due: ls-lint, prettier --cache --ignore-unknown --write

Include package name in warning message
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

more tests
  lib/workers/repository/reconfigure/index.spec.ts
  lib/workers/repository/reconfigure/index.ts
  lib/workers/repository/reconfigure/reconfigure-cache.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Always use 'source' as sourceUrl when available
  lib/modules/datasource/terraform-module/__fixtures__/registry-versions-with-source.json
  lib/modules/datasource/terraform-module/index.spec.ts
  lib/modules/datasource/terraform-module/index.ts
  lib/modules/datasource/terraform-module/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix coverage
  lib/workers/repository/reconfigure/index.spec.ts
  lib/workers/repository/reconfigure/index.ts
  lib/workers/repository/reconfigure/reconfigure-cache.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update .github/contributing.md
  .github/contributing.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

feat: Add support for container image tags
  lib/modules/versioning/ubuntu/index.spec.ts
  lib/modules/versioning/ubuntu/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Change the coypasted links to use a relevant issue number to avoid confusion
  lib/modules/datasource/terraform-module/__fixtures__/registry-versions-with-source.json
  lib/modules/datasource/terraform-module/index.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Run prettier-fix
  lib/modules/datasource/terraform-module/index.spec.ts
  lib/modules/datasource/terraform-module/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  77/088c9f14c584eb5df9c3ff7fea6c8470c20453
Due: ls-lint, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  47/c0b78ccaabe5bddac52c0a6a2ee1b532825eeb
Due: ls-lint, prettier --cache --ignore-unknown --write

refactor(hex): Datasource schema validation
  lib/modules/datasource/hex/index.ts
  lib/modules/datasource/hex/schema.ts
  lib/modules/datasource/hex/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add httpsCertificate, httpsPrivateKey and httpsCertificateAuthority into redactedFields
  lib/util/sanitize.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add httpsCertificate, httpsPrivateKey and httpsCertificateAuthority into redactedFields (#25013)
  lib/util/sanitize.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Notes added by 'git notes add'
  46/70e3b7f959d24babdd3bb59ecb4c73634f3bd8
Due: ls-lint, prettier --cache --ignore-unknown --write

fix: support platform inside detectHostRulesFromEnv
  lib/workers/global/config/parse/host-rules-from-env.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: make hostRulesFromEnv able to pick up https related auth field
  lib/types/host-rules.ts
  lib/workers/global/config/parse/host-rules-from-env.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: allow null value and undefined for validateURL
  lib/util/url.spec.ts
  lib/util/url.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fixup! chore: allow null value and undefined for validateURL
  lib/util/url.spec.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: allow null value and undefined for validateURL (#25014)
  lib/util/url.spec.ts
  lib/util/url.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(lookup): include package name in warning message (#24998)
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add test for https options and platform support
  lib/workers/global/config/parse/host-rules-from-env.spec.ts
  lib/workers/global/config/parse/host-rules-from-env.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add documentation and examples
  docs/usage/self-hosted-configuration.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

fix: remove default case
  lib/workers/global/config/parse/host-rules-from-env.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(github): automatic ghcr.io auth when using github.com
  lib/modules/platform/github/__snapshots__/index.spec.ts.snap
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

merge additionalHostRules
  lib/modules/platform/index.spec.ts
  lib/modules/platform/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Drop status:ready label from admin-only issue form
  .github/ISSUE_TEMPLATE/administration-only.yml
Due: ls-lint, prettier, prettier --cache --ignore-unknown --write

Commenting some todos
  docs/development/issue-labeling.md
  docs/development/triage-guide.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

hostRules rename
  lib/modules/platform/github/__snapshots__/index.spec.ts.snap
  lib/modules/platform/github/index.spec.ts
  lib/modules/platform/github/index.ts
  lib/modules/platform/index.ts
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Update lib/modules/platform/index.ts
  lib/modules/platform/index.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write

Drop status:ready from label docs, update queries
  docs/development/issue-labeling.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Drop status:waiting-on-response from query
  docs/development/issue-labeling.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add two new core:* labels
  docs/development/issue-labeling.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Add new auto:* labels, sort alphabetically
  docs/development/issue-labeling.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

Drop old auto:needs-code-formatting label text
  docs/development/issue-labeling.md
Due: ls-lint, markdown-lint, prettier, markdownlint-cli2-fix, prettier --cache --ignore-unknown --write

comment
  lib/modules/platform/types.ts
Due: ls-lint, eslint, prettier, eslint --cache --fix, prettier --cache --ignore-unknown --write
